Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

add workflow summary links
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

minor improvements
  scripts/bump_cloudbeat.sh
Due: none

ignore shellcheck SC2086
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

fix pr url var
  scripts/bump_cloudbeat.sh
Due: none

Fix AWS S3 functional tests failures (#2006)
  .github/workflows/aws-ci.yml
  .github/workflows/k8s-ci.yml
  deploy/aws/cloudbeat-aws.yml
  tests/test_environments/values/ci-aws-services.yml
Due: none

fix YAML formatting (quoted strings)
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
Due: rain

remove unused parameter
  internal/flavors/benchmark/aws_org_test.go
Due: mage-license-headers, go-test

remove ec_url var
  .github/workflows/test-environment.yml
Due: none

update destroy script
  deploy/test-environments/delete_env.sh
Due: none

add TF_VAR_qa_ec_api_key env var
  .github/workflows/destroy-environment.yml
Due: none

extract pickManagementAccountRole() func
  internal/flavors/benchmark/aws_org.go
Due: mage-license-headers, go-test

add tests for the new function
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_org_test.go
Due: mage-license-headers, go-test

wip
  .github/workflows/sync-rule-templates.yml
Due: none

done
  internal/resources/fetching/fetchers/k8s/process_fetcher.go
Due: mage-license-headers, go-test

Process fetcher improve error logs (#2013)
  internal/resources/fetching/fetchers/k8s/process_fetcher.go
Due: mage-license-headers, go-test

chore: Update .go-version with Golang version 1.21.8
  .go-version
Due: mage-license-headers, go-test

chore: Update hermit with Golang version 1.21.8
  bin/.go-1.21.8.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.21.8
  docs/version.asciidoc
Due: none

chore: Update to elastic/beats@7b24d45f66f9
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@6d8882b5d653
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-467.0.0.pkg
  bin/.gh-2.45.0.pkg
  bin/.just-1.25.2.pkg
  bin/.opa-0.62.1.pkg
  bin/.shellcheck-0.10.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
  bin/shellcheck
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update to elastic/beats@7b24d45f66f9 (#2023)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update Golang version to 1.21.8 (#2022)
  .go-version
  bin/.go-1.21.8.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers, go-test

[updatecli] Update Golang version to 1.21.8 (#2021)
  .go-version
  bin/.go-1.21.8.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers, go-test

add role suffixes to ensure unique IDs
  deploy/azure/ARM-for-single-account.json
Due: none

pass roleGUID as parameter due to template scope
  deploy/azure/ARM-for-single-account.json
Due: none

set explicit scope for the new role
  deploy/azure/ARM-for-single-account.json
Due: none

change roleAssignmentDeployment suffix
  deploy/azure/ARM-for-organization-account.json
Due: none

fix build
  deploy/test-environments/delete_env.sh
Due: none

Fetch AWS Management Account resources only when explicitly selected (#2009)
  deploy/cloudformation/ec2-types.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_org_test.go
  internal/flavors/benchmark/strategy.go
  internal/resources/providers/awslib/iam/iam.go
  internal/resources/providers/awslib/iam/mock_client.go
  internal/resources/providers/awslib/iam/mock_role_getter.go
  internal/resources/providers/awslib/iam/role.go
Due: rain, mage-license-headers, go-test

fix Azure ARM template for organizations
  deploy/azure/ARM-for-organization-account.json
Due: none

generate dev file
  deploy/azure/ARM-for-organization-account.dev.json
Due: none

generate dev file
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-single-account.dev.json
Due: none

Fix Single Account Azure ARM template (#2027)
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: none
