Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

set env elk_version
  .github/workflows/eks-ci.yml
Due: none

add test
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
Due: mage-license-headers, go-test

w
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test

w
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test

wip
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test

add rate limit to asset inventory
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test

wip
  go.mod
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test, go-mod-tidy

wip
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test

Cleanup redundant data after migrating vanilla K8s tests (#2063)
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
  tests/commonlib/io_utils.py
  tests/commonlib/utils.py
  tests/product/tests/conftest.py
  tests/product/tests/data/eks/__init__.py
  tests/product/tests/data/eks/eks_file_system_test_cases.py
  tests/product/tests/data/eks/eks_k8s_object_test_cases.py
  tests/product/tests/data/eks/eks_process_test_cases.py
  tests/product/tests/data/file_system/file_system_test_cases.py
  tests/product/tests/data/k8s_object/__init__.py
  tests/product/tests/data/k8s_object/k8s_object_rules.py
  tests/product/tests/data/k8s_object/k8s_object_test_cases.py
  tests/product/tests/data/process/__init__.py
  tests/product/tests/data/process/process_test_cases.py
  tests/product/tests/test_eks_file_system_rules.py
  tests/product/tests/test_eks_k8s_objects_rules.py
  tests/product/tests/test_eks_process_kubelet_rules.py
  tests/product/tests/test_file_system_rules.py
  tests/product/tests/test_k8s_objects_rules.py
  tests/product/tests/test_process_api_server_rules.py
  tests/product/tests/test_process_controller_manager_rules.py
  tests/product/tests/test_process_etcd_rules.py
  tests/product/tests/test_process_kubelet_rules.py
  tests/product/tests/test_process_scheduler_rules.py
  tests/pyproject.toml
Due: none

fix ci results comment
  .github/workflows/ci.yml
Due: none

clean up
  .github/workflows/ci.yml
Due: none

remove check permission
  .github/workflows/ci.yml
Due: none

fix ci results comment (#2068)
  .github/workflows/ci.yml
Due: none

Cloudformation yml to create elast-agent user and generate direct access key
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

[Release] update version
  version/version.go
Due: mage-license-headers, go-test

add workflow summary links
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

ignore shellcheck SC2086
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

minor improvements
  scripts/bump_cloudbeat.sh
Due: none

add new tag and update delete env script
  deploy/test-environments/delete_env.sh
  deploy/test-environments/main.tf
Due: none

fix pr url var
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

[Create Environment] Add new tag and fix delete env script (#2070)
  deploy/test-environments/delete_env.sh
  deploy/test-environments/main.tf
Due: none

minor improvements to version bump workflow (#1964)
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

chore: Update to elastic/beats@f871b5c5f76b
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.elastic-package-0.99.0.pkg
  bin/.gcloud-470.0.0.pkg
  bin/.golangci-lint-1.57.2.pkg
  bin/.opa-0.63.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/opa
Due: mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update to elastic/beats@f871b5c5f76b (#2071)
  go.mod
  go.sum
Due: go-mod-tidy

Deprecate unused workflows
  .github/workflows/aws-ci.yml
  .github/workflows/azure-ci.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/cnvm-ci.yml
  .github/workflows/gcp-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/unit-test.yml
Due: none

Deprecate unused workflows (#2077)
  .github/workflows/aws-ci.yml
  .github/workflows/azure-ci.yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/cnvm-ci.yml
  .github/workflows/gcp-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/unit-test.yml
Due: none

bump buildkit v0.12.5
  go.mod
  go.sum
Due: go-mod-tidy

cleanup
  go.mod
Due: go-mod-tidy

Bump github.com/moby/buildkit from 0.11.6 to 0.12.5 (#2076)
  go.mod
  go.sum
Due: go-mod-tidy

updates docs with manual notes for qa
  dev-docs/Cloud-Env-Testing.md
Due: none

Update Cloud-Env-Testing.md with images
  dev-docs/Cloud-Env-Testing.md
Due: none

update required parameters docs
  dev-docs/Cloud-Env-Testing.md
Due: none

remove ec url var from weekly
  deploy/weekly-environment/main.tf
Due: none

[Release] Update version to 8.13.2 (#2069)
  version/version.go
Due: mage-license-headers, go-test

add post merge ci workflow
  .ci/scripts/run-agent.sh
  .github/actions/init-integration/action.yml
  .github/workflows/post-merge-ci.yml
  tests/test_environments/agents/elastic-agent-8-13.yml
Due: none

set es host env var
  tests/test_environments/agents/elastic-agent-8-13.yml
Due: none

update workflow and script
  .ci/scripts/run-agent.sh
  .github/workflows/post-merge-ci.yml
Due: none

Update rerun workflow with Tests flow
  .github/workflows/rerun-flaky-workflows.yml
Due: none
