Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

fix merge conflicts
  .github/workflows/cloudformation-ci.yml
  .github/workflows/destroy-environment.yml
  .github/workflows/destroy-expired-environment.yml
  .github/workflows/eks-ci.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
Due: none

fix merge conflicts
  .github/workflows/destroy-environment.yml
  .github/workflows/test-agent-compatibility.yml
  .github/workflows/test-environment.yml
  .github/workflows/test-gcp-dm.yml
  .github/workflows/upgrade-environment.yml
Due: none

fix merge conflicts
  .github/workflows/cloudformation-ci.yml
  .github/workflows/sync-rule-templates.yml
  .github/workflows/test-environment.yml
  .github/workflows/test-gcp-dm.yml
  .github/workflows/upgrade-environment.yml
Due: none

improve function to decode json from string
  .github/workflows/ci.yml
  tests/commonlib/io_utils.py
Due: none

Revert "Add missing ARM Template permissions (read ServicePrincipal) (#2849)"
  deploy/asset-inventory-arm/ARM-for-organization-account.dev.json
  deploy/asset-inventory-arm/ARM-for-organization-account.json
  deploy/asset-inventory-arm/ARM-for-single-account.dev.json
  deploy/asset-inventory-arm/ARM-for-single-account.json
Due: none

enable test case
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Revert changes to ci.yaml from commit 5ace5dc3
  .github/workflows/ci.yml
Due: none

[Asset Inv] Fix ARM templates by reverting #2849 (#3392)
  deploy/asset-inventory-arm/ARM-for-organization-account.dev.json
  deploy/asset-inventory-arm/ARM-for-organization-account.json
  deploy/asset-inventory-arm/ARM-for-single-account.dev.json
  deploy/asset-inventory-arm/ARM-for-single-account.json
Due: none

Fix flaky standalone agent test (#3391)
  tests/commonlib/io_utils.py
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

Fix `type_` test in asset inventory tests (#3332)
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

fix merge conflicts
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

revert changes
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

revert problematic commit from 8.18
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Increase gcp ListAssets timeout and page size (#3250)
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/gcp.go
  internal/flavors/benchmark/gcp_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 8.18.4
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 8.18.4 (#3409)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update version.go
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update .mergify.yml
  .mergify.yml
Due: none

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Update ARM templates
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Bump cloudbeat version (#3412)
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: golangci-lint, mage-license-headers, go-test, generate-arm-dev-templates

Release cloudbeat version (#3413)
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

update cis gcp 2.1
  security-policies/bundle/compliance/cis_gcp/rules/cis_2_1/rule.rego
Due: golangci-lint, mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fix bump-workflow boolean inputs
  .github/workflows/bump-version.yml
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
