Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.9.pkg
  bin/.awscli-2.32.6.pkg
  bin/.elastic-package-0.117.1.pkg
  bin/.gcloud-548.0.0.pkg
  bin/.gh-2.83.1.pkg
  bin/.golangci-lint-2.6.2.pkg
  bin/.just-1.43.1.pkg
  bin/.opa-1.11.0.pkg
  bin/.pre-commit-4.5.0.pkg
  bin/.regal-0.37.0.pkg
  bin/.yq-4.49.2.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/opa
  bin/pre-commit
  bin/regal
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@19eb3e615086
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@fc9026ef8c9c
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@08c82b406ca7
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@889219daac61
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

add
  internal/resources/providers/awslib/s3/provider.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 9.2 - Update Golang version to 1.25.4 (#3685)
  .go-version
  bin/.go-1.25.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update Golang version to 1.25.4 (#3682)
  .go-version
  bin/.go-1.25.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

update version to 8.19.9
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 9.2.3
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 9.1.9
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 9.2.3 (#3689)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

add free disk space on pr action
  .github/workflows/ci-pull_request.yml
Due: none

[Release] Update version to 9.1.9 (#3690)
  .github/workflows/ci-pull_request.yml
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 8.19.9 (#3688)
  .github/workflows/ci-pull_request.yml
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Common pattern for S3 bucket error logs (#3687)
  internal/resources/providers/awslib/s3/provider.go
Due: golangci-lint, mage-license-headers, go-test

bump
  go.mod
  go.sum
Due: go-mod-tidy

.gitignore docs/reference/cloudbeat
  docs/reference/cloudbeat/.gitignore
Due: none

onboard
  renovate.json
Due: none

pre commit
  .pre-commit-config.yaml
Due: none

[ci] add free disk space on pr action (#3694)
  .github/workflows/ci-pull_request.yml
Due: none

Onboard renovate to auto update dependencies (#3695)
  .pre-commit-config.yaml
  renovate.json
Due: none

Bump beats version (#3567)
  .golangci.yaml
  docs/reference/cloudbeat/.gitignore
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/infra/observability/otel.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

add support to deploy qa and staging
  .ci/scripts/determine_vault_path.sh
  .ci/scripts/map_ess_region.sh
  .github/actions/elk-stack/action.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/README.md
  deploy/test-environments/elk-stack/main.tf
  deploy/test-environments/elk-stack/variables.tf
  dev-docs/Cloud-Env-Testing.md
Due: none

comment for simplifying debug session
  .github/workflows/test-environment.yml
Due: none

fix working dir
  .github/workflows/test-environment.yml
Due: none

refactor: use injected loggers instead of global logger creation
  .golangci.yaml
  go.mod
  internal/evaluator/logger.go
  internal/evaluator/logger_test.go
  internal/evaluator/opa.go
  internal/evaluator/opa_test.go
  internal/flavors/publisher_test.go
  internal/infra/clog/clog_test.go
  internal/infra/observability/otel_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/utils/testhelper/helper.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

automerge job
  .github/workflows/auto-approve-renovate-prs.yaml
  renovate.json
Due: none

eof
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

fix provider settings
  deploy/test-environments/elk-stack/main.tf
Due: none

Remove test package from provider.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

restore provider.go from main
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test
