Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

chore: update Go version to 1.16.1
  .go-version
  .golangci.yaml
  bin/.go-1.26.1.pkg
  bin/.golangci-lint-2.11.3.pkg
  bin/.mockery-3.6.4.pkg
  bin/go
  bin/gofmt
  bin/golangci-lint
  bin/mockery
  docs/version.asciidoc
  go.mod
  internal/resources/fetching/fetchers/azure/assets_enricher.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/gcplib/inventory/provider.go
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix(ci): update mockery to v3.6.4 for Go 1.26.1 compatibility
  bin/.mockery-3.6.4.pkg
  bin/mockery
  internal/resources/providers/awslib/role_chaining_mock.go
Due: golangci-lint, mage-license-headers, go-test

asset: rename module to asset_discovery
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

update slack channel
  .buildkite/version-bump-pipeline.yml
Due: none

asset: publish event.dataset
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory] Add event.category and event.module to all events (#4053)
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Add DRA version bump (#4025)
  .buildkite/version-bump-pipeline.yml
  catalog-info.yaml
Due: none

fix: publish cloud-connectors-guardduty CFT to S3
  scripts/publish_cft.sh
Due: none

fix: publish cloud-connectors-guardduty CFT to S3 (#4069)
  scripts/publish_cft.sh
Due: none

update chrome version
  .github/actions/kibana-ftr/action.yml
Due: none

Install Chrome v146 in FTR action (#4083)
  .github/actions/kibana-ftr/action.yml
Due: none

add elastic defend integration
  .github/actions/cdr/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  .gitignore
  deploy/test-environments/cdr/export_terraform_outputs.sh
  deploy/test-environments/cdr/main.tf
  deploy/test-environments/cdr/output.tf
  deploy/test-environments/cdr/terraform.tf
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/modules/aws/ec2-windows/main.tf
  deploy/test-environments/modules/aws/ec2-windows/output.tf
  deploy/test-environments/modules/aws/ec2-windows/terraform.tf
  deploy/test-environments/modules/aws/ec2-windows/variables.tf
  deploy/test-environments/upload_state.sh
  tests/fleet_api/endpoint_package_policy.py
  tests/integrations_setup/data/agent-policy-elastic-defend.json
  tests/integrations_setup/data/elastic-defend-linux.j2
  tests/integrations_setup/data/elastic-defend-windows.j2
  tests/integrations_setup/data/package-policy-elastic-defend.json
  tests/integrations_setup/enroll_elastic_defend_winrm.py
  tests/integrations_setup/install_elastic_defend_integration.py
  tests/poetry.lock
  tests/pyproject.toml
Due: none

update windows host script
  .github/actions/cdr/action.yml
  deploy/test-environments/modules/aws/ec2-windows/main.tf
Due: none

fix linter issues
  deploy/test-environments/cdr/export_terraform_outputs.sh
  tests/commonlib/framework/reporting.py
  tests/fleet_api/endpoint_package_policy.py
  tests/integrations_setup/enroll_elastic_defend_winrm.py
  tests/integrations_setup/install_elastic_defend_integration.py
Due: none

split steps
  .github/actions/cdr/action.yml
Due: none

disable agent enroll for windows
  .github/actions/cdr/action.yml
Due: none

update ami and remove comments
  .github/actions/cdr/action.yml
  deploy/test-environments/cdr/variables.tf
Due: none

update inline script for windows
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/modules/aws/ec2-windows/main.tf
Due: none

add okta integration
  .github/actions/cdr/action.yml
  .github/workflows/test-environment.yml
  .gitignore
  tests/fleet_api/utils.py
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/okta-pkg.json
  tests/integrations_setup/install_okta_integration.py
  tests/integrations_setup/install_wiz_integration.py
Due: none

switch debug to okta
  .github/actions/cdr/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/cdr/export_terraform_outputs.sh
  deploy/test-environments/cdr/main.tf
  deploy/test-environments/cdr/output.tf
  deploy/test-environments/cdr/variables.tf
Due: none

add okta ea
  .github/actions/cdr/action.yml
  .github/workflows/test-environment.yml
  tests/integrations_setup/cdr_wiz_fleet_helpers.py
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/entityanalytics_okta-pkg.json
  tests/integrations_setup/install_entityanalytics_okta_integration.py
  tests/integrations_setup/install_okta_integration.py
Due: none

enable all integrations
  .github/actions/cdr/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/cdr/main.tf
  deploy/test-environments/cdr/output.tf
  deploy/test-environments/cdr/variables.tf
Due: none

disable entity store v1
  .github/actions/cdr/action.yml
Due: none

enable entity store and experimental features
  .github/actions/cdr/action.yml
  .github/actions/elk-stack/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/elk-stack/main.tf
  deploy/test-environments/elk-stack/variables.tf
  deploy/test-environments/modules/ec/main.tf
  deploy/test-environments/modules/ec/variables.tf
  tests/fleet_api/base_call_api.py
  tests/fleet_api/entity_store_api.py
  tests/integrations_setup/enable_entity_store_v2.py
Due: none

fix handling response
  tests/fleet_api/entity_store_api.py
Due: none

add entity store v1/v2 logic
  .github/actions/cdr/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
Due: none

update documentation
  dev-docs/Cloud-Env-Testing.md
Due: none

fix review comments and ci issue
  .github/actions/cdr/action.yml
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/modules/aws/ec2-windows/variables.tf
  tests/fleet_api/entity_store_api.py
  tests/integrations_setup/enable_entity_store_v2.py
  tests/integrations_setup/enroll_elastic_defend_winrm.py
  tests/integrations_setup/install_elastic_defend_integration.py
Due: none

fix switch on entity store logic
  .github/actions/cdr/action.yml
  tests/fleet_api/data_view_api.py
  tests/integrations_setup/enable_entity_store_v2.py
Due: none

fix review comment
  tests/integrations_setup/install_elastic_defend_integration.py
Due: none

Use beats azure package for cloud connectors credential helper
  go.mod
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/auth_provider_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore: Update to elastic/beats@8b17db95a512
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@37a8a640ee02
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@39bdcbe67899
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config, go-mod-tidy

chore: Update to elastic/beats@d9d5d914b7fe
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.19 - Update to elastic/beats@8b17db95a512 (#4087)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 9.2 - Update to elastic/beats@37a8a640ee02 (#4088)
  go.mod
  go.sum
Due: go-mod-tidy

status check
  .github/actions/cdr/action.yml
  tests/fleet_api/base_call_api.py
Due: none

Enable Entity Store v2 and update Entity Analytics feature flags
  .github/actions/elk-stack/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/modules/ec/main.tf
  dev-docs/Cloud-Env-Testing.md
Due: none
