Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

remove event trigger
  .github/workflows/test-agent-compatibility.yml
Due: none

Make mage package verbose (#2183)
  .buildkite/scripts/package.sh
Due: none

add rate limit to asset inventory (#2055)
  go.mod
  internal/flavors/benchmark/gcp.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers, go-test, go-mod-tidy

update default stack version
  .github/workflows/test-environment.yml
Due: none

[Release] update version
  version/version.go
Due: mage-license-headers, go-test

Rollback to a previous beats version to verify when the problem started
  go.mod
  go.sum
Due: go-mod-tidy

update stack version for serverless
  .github/workflows/test-environment.yml
Due: none

update script
  .github/workflows/test-environment.yml
Due: none

Revert "[updatecli] Update to elastic/beats@81f63103678f (#2163)"
  go.mod
  go.sum
Due: go-mod-tidy

disable EKS config 1 ci
  .github/workflows/eks-ci.yml
Due: none

Rollback beats version (#2189)
  go.mod
  go.sum
Due: go-mod-tidy

Disable EKS CI - config 1 (#2191)
  .github/workflows/eks-ci.yml
Due: none

Fix ARM deployment issue for serverless deployment in create environment workflow (#2185)
  .github/workflows/test-environment.yml
Due: none

Backward Compatibility Standalone agent integration test (#2083)
  .ci/scripts/get_versions.py
  .ci/scripts/run_agent.sh
  .github/actions/init-integration/action.yml
  .github/workflows/test-agent-compatibility.yml
  tests/test_environments/agents/elastic-agent-standalone.yml
Due: none

[Release] Update version to 8.13.5 (#2186)
  version/version.go
Due: mage-license-headers, go-test

add AWS RDS types
  internal/inventory/asset.go
Due: mage-license-headers, go-test

add AWS RDS fetcher
  internal/inventory/awsfetcher/fetcher_rds.go
Due: mage-license-headers, go-test

add AWS RDS fetcher mocks
  internal/inventory/awsfetcher/mock_rds_provider.go
Due: mage-license-headers, go-test

add AWS RDS fetcher test
  internal/inventory/awsfetcher/fetcher_rds_test.go
Due: mage-license-headers, go-test

Bum go minor (from 1.22.0 to 1.22.3)
  bin/.go-1.22.3.pkg
  bin/go
  bin/gofmt
  go.mod
Due: mage-license-headers, go-test, go-mod-tidy

Bum go minor (from 1.22.0 to 1.22.3) (#2195)
  bin/.go-1.22.3.pkg
  bin/go
  bin/gofmt
  go.mod
Due: mage-license-headers, go-test, go-mod-tidy

pre-commit: Fix cfn-lint version
  .pre-commit-config.yaml
Due: none

pre-commit: Fix cfn-lint version (#2196)
  .pre-commit-config.yaml
Due: none

chore: Update version.asciidoc with Golang version 1.22.3
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.22.3
  .go-version
Due: mage-license-headers, go-test

chore: Update hermit with Golang version 1.22.3
  bin/.go-1.22.3.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers, go-test

chore: Update go.mod files with 1.22
  go.mod
Due: go-mod-tidy

chore: Update to elastic/beats@3472c7c5e527
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@c77302852ef9
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.elastic-package-0.100.0.pkg
  bin/.gcloud-475.0.0.pkg
  bin/.gh-2.49.1.pkg
  bin/.golangci-lint-1.58.1.pkg
  bin/.pre-commit-3.7.1.pkg
  bin/.yq-4.44.1.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/pre-commit
  bin/yq
Due: mage-license-headers, go-test

[updatecli] Update Golang version to 1.22.3 (#2199)
  .go-version
  bin/.go-1.22.3.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: mage-license-headers, go-test, go-mod-tidy

[updatecli] Update Golang version to 1.22.3 (#2198)
  .go-version
  docs/version.asciidoc
Due: mage-license-headers, go-test

Revert cfn-lint version change
  .pre-commit-config.yaml
Due: none

[updatecli] Update hermit and pre-commit dependencies (#2202)
  bin/.elastic-package-0.100.0.pkg
  bin/.gcloud-475.0.0.pkg
  bin/.gh-2.49.1.pkg
  bin/.golangci-lint-1.58.1.pkg
  bin/.pre-commit-3.7.1.pkg
  bin/.yq-4.44.1.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/pre-commit
  bin/yq
Due: mage-license-headers, go-test

enable RDS fetcher
  internal/inventory/awsfetcher/awsfetchers.go
Due: mage-license-headers, go-test

[updatecli] Update to elastic/beats@c77302852ef9 (#2201)
  go.mod
  go.sum
Due: go-mod-tidy

Revert "[updatecli] Update to elastic/beats@c77302852ef9 (#2201)"
  go.mod
  go.sum
Due: go-mod-tidy
