Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

fix categories to match spec
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/cloud_assets.xlsx
Due: golangci-lint, mage-license-headers, go-test

omit version qualifier on snapshot builds
  .buildkite/scripts/qualifier.sh
Due: none

fix
  .buildkite/scripts/package.sh
Due: none

Add ECH agentless and agent-based installation workflow (#2919)
  .github/workflows/test-ech-agentless.yml
Due: none

add new wf
  .github/workflows/install-integrations.yml
Due: none

[buildkite]: get version qualifier from google bucket (#2950)
  .buildkite/pipeline.yml
  .buildkite/scripts/package.sh
  .buildkite/scripts/publish.sh
  .buildkite/scripts/qualifier.sh
Due: none

modify wfs to support cis and cdr install
  .github/workflows/install-integrations.yml
  .github/workflows/test-environment.yml
Due: none

update wf
  .github/workflows/install-integrations.yml
Due: none

fix it test case categories
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status

add Azure RoleDefinition
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

formatting
  internal/dataprovider/providers/k8s/client_provider.go
  internal/evaluator/logger.go
  internal/flavors/benchmark/k8s_helper.go
  internal/flavors/publisher.go
  internal/inventory/inventory.go
  internal/launcher/launcher.go
  internal/launcher/listener.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher.go
  internal/resources/providers/awslib/all_region_selector.go
  internal/resources/providers/awslib/cached_region_selector.go
  internal/resources/providers/awslib/current_region_selector.go
  internal/resources/providers/awslib/multi_region.go
  internal/resources/providers/azurelib/inventory/mysql_provider_test.go
  internal/resources/providers/azurelib/inventory/postgresql_provider_test.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/utils/testhelper/helper.go
  internal/uniqueness/leaderelection.go
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test

headers
  internal/resources/utils/clog/clog.go
  internal/resources/utils/clog/clog_test.go
Due: golangci-lint, mage-license-headers, go-test

add AddCallerSkip and account for fetcher cancel logs
  internal/resources/fetching/manager/manager.go
  internal/resources/utils/clog/clog.go
Due: golangci-lint, mage-license-headers, go-test

cleanup
  internal/resources/utils/clog/clog.go
Due: golangci-lint, mage-license-headers, go-test

clog changes
  internal/resources/utils/clog/clog.go
Due: golangci-lint, mage-license-headers, go-test

add Error method wrapper
  internal/resources/utils/clog/clog.go
Due: golangci-lint, mage-license-headers, go-test

apply mockery ci patch
  internal/dataprovider/providers/k8s/mock_client_getter_api.go
  internal/flavors/benchmark/mock_strategy.go
  internal/resources/fetching/preset/mock_aws_factory.go
  internal/resources/providers/awslib/mock_account_provider_api.go
  internal/resources/providers/awslib/mock_cross_region_factory.go
  internal/resources/providers/azurelib/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/auth/mock_config_provider_api.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
Due: golangci-lint, mage-license-headers, go-test

add custom logger
  internal/resources/utils/clog/clog.go
  internal/resources/utils/clog/clog_test.go
Due: golangci-lint, mage-license-headers, go-test

update mock/test imports
  internal/dataprovider/providers/k8s/mock_client_getter_api.go
  internal/evaluator/opa_test.go
  internal/flavors/assetinventory/strategy_test.go
  internal/flavors/benchmark/aws_org_test.go
  internal/flavors/benchmark/mock_strategy.go
  internal/flavors/benchmark/strategy_test.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory_test.go
  internal/launcher/launcher_test.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/fetching/preset/mock_aws_factory.go
  internal/resources/providers/awslib/iam/password_policy_test.go
  internal/resources/providers/awslib/mock_account_provider_api.go
  internal/resources/providers/awslib/mock_cross_region_factory.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/awslib/sns/provider_test.go
  internal/resources/providers/azurelib/inventory/mysql_provider_test.go
  internal/resources/providers/azurelib/inventory/postgresql_provider_test.go
  internal/resources/providers/azurelib/inventory/sql_server_provider_test.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/auth/credentials_test.go
  internal/resources/providers/gcplib/auth/mock_config_provider_api.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

update wfs
  .github/workflows/install-integrations.yml
  .github/workflows/test-environment.yml
Due: none

add stack version
  .github/workflows/install-integrations.yml
Due: none

apply ci mocks diff
  internal/dataprovider/providers/k8s/mock_client_getter_api.go
  internal/resources/providers/azurelib/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
Due: golangci-lint, mage-license-headers, go-test

fix conflicts
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

fix conflicts
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/inventory_test.go
  internal/resources/providers/awslib/current_region_selector.go
Due: golangci-lint, mage-license-headers, go-test

update action condition
  .github/actions/cis-agent-based/action.yml
Due: none

8.x - Update to elastic/beats
  go.mod
  go.sum
Due: go-mod-tidy

[main] - Update to elastic/beats
  go.mod
  go.sum
Due: go-mod-tidy

[main] - Update to elastic/beats (#2958)
  go.mod
  go.sum
Due: go-mod-tidy

[8.x] - Update to elastic/beats (#2957)
  go.mod
  go.sum
Due: go-mod-tidy

fix conflicts
  tests/product/tests/data/aws_asset_inventory/test_cases.py
Due: update-rules-status

[Asset Inventory][Azure] Add storage asset fetchers (#2938)
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/mock_provider_api.go
  tests/product/tests/data/azure_asset_inventory/test_cases.py
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
  tests/pyproject.toml
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

[Asset Inventory][Azure] Add storage asset fetchers (#2938)
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/mock_provider_api.go
  tests/product/tests/data/azure_asset_inventory/test_cases.py
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
  tests/pyproject.toml
Due: golangci-lint, mage-license-headers, go-test, update-rules-status
