Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

upgrade golangci-lint
  bin/.golangci-lint-2.9.0.pkg
  bin/golangci-lint
Due: golangci-lint, mage-license-headers, go-test

fix: bump go-viper/mapstructure/v2 to v2.4.0 for CVE-2025-11065
  go.mod
  go.sum
Due: go-mod-tidy

[9.2] Bump github.com/sigstore/sigstore to v1.10.4 (#3953)
  go.mod
  go.sum
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

go mod tidy
  go.mod
  go.sum
Due: go-mod-tidy

Cherry-pick changes from PR #3567 (excluding go.mod/go.sum)
  .golangci.yaml
  docs/reference/cloudbeat/.gitignore
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test

make linter happy
  .golangci.yaml
  internal/config/config.go
  internal/resources/fetching/fetchers/azure/assets_enricher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/gcplib/inventory/provider.go
  scripts/mage/package.go
  version/settings.go
Due: golangci-lint, mage-license-headers, go-test

make linter happy
  internal/dataprovider/providers/k8s/id_provider.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

update go.mod and go.sum
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.19 - Update Golang version to 1.26.0 (#3820)
  .go-version
  .golangci.yaml
  bin/.go-1.26.0.pkg
  bin/.golangci-lint-2.9.0.pkg
  bin/go
  bin/gofmt
  bin/golangci-lint
  docs/version.asciidoc
  internal/config/config.go
  internal/dataprovider/providers/k8s/id_provider.go
  internal/inventory/inventory_test.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_enricher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/gcplib/inventory/provider.go
  scripts/mage/package.go
  version/settings.go
Due: golangci-lint, mage-license-headers, go-test

go mod tidy
  go.mod
Due: go-mod-tidy

[updatecli] 9.2 - Update to elastic/beats@60a9bb995bdc (#3664)
  .golangci.yaml
  docs/reference/cloudbeat/.gitignore
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

bump trivy (required)
  go.mod
  go.sum
  internal/vulnerability/runner.go
  internal/vulnerability/scanner_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

required fixes
  go.mod
  go.sum
Due: go-mod-tidy

fix linter issues
  internal/launcher/listener_test.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
  internal/resources/fetching/manager/manager.go
  internal/resources/providers/awslib/cached_region_selector_test.go
  internal/resources/providers/awslib/multi_region.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/vulnerability/events_creator_test.go
  internal/vulnerability/fetcher_test.go
  internal/vulnerability/replicator_test.go
  internal/vulnerability/snapshot.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

fix linter issues
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/vulnerability/fetcher_test.go
  internal/vulnerability/verifier_test.go
Due: golangci-lint, mage-license-headers, go-test

fix linter issues
  internal/resources/fetching/cycle/cache_test.go
  internal/resources/providers/azurelib/governance/management_group_test.go
Due: golangci-lint, mage-license-headers, go-test

update mockery, re-generate mocks
  bin/.mockery-3.6.3.pkg
  bin/mockery
Due: none

bump github.com/sigstore/rekor
  go.mod
  go.sum
Due: go-mod-tidy

[9.2] Bump github.com/sigstore/rekor to v1.5.0 (#3961)
  go.mod
  go.sum
Due: go-mod-tidy

Remove unnecessary changes kept by merge
  go.mod
Due: go-mod-tidy

Force usage of github.com/go-viper/mapstructure/v2 v2.4.0
  go.mod
  internal/dataprovider/providers/common/data_provider.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Add logger parameters to match updated beats API
  .golangci.yaml
  bin/.go-1.24.11.pkg
  bin/go
  bin/gofmt
  docs/reference/cloudbeat/.gitignore
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test

update tools and versions
  bin/.go-1.25.0.pkg
  bin/.go-1.26.0.pkg
  go.mod
  go.sum
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update packaging workflow
  .github/workflows/packaging.yml
Due: none

add hermit install
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
Due: none

update wf
  .github/workflows/packaging.yml
Due: none

clean symlinks
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
Due: none

add debug step
  .github/workflows/packaging.yml
Due: none

reinstall go
  .github/workflows/packaging.yml
Due: none

add hermit action
  .github/workflows/packaging.yml
Due: none

Remove stale Go 1.26.0 symlinks
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

update go 1.26.0
  bin/.go-1.26.0.pkg
  bin/go
  bin/gofmt
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update go 1.25.5
  bin/.go-1.25.5.pkg
  bin/go
  bin/gofmt
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy
