Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

make gcp provider work concurrently
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

fixes
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

cleaning
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

cleaning and more tests
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Increase gcp ListAssets timeout and page size
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/gcp.go
  internal/flavors/benchmark/gcp_test.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

overwrite through env vars
  internal/config/config.go
  internal/config/config_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

retrier with logs
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add action step to install gcp sa
  .github/actions/cis-agent-based/action.yml
Due: none

update deployment name for service account
  .github/actions/cis-agent-based/action.yml
Due: none

update state file path
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
  deploy/test-environments/upload_state.sh
Due: none

update path
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
Due: none

add another testcase for config
  internal/config/config_test.go
Due: golangci-lint, mage-license-headers, go-test

add should not retry tests on TestGAXCallOptionRetrier
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
Due: golangci-lint, mage-license-headers, go-test

update install cspm gcp script
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

update test environment wf
  .github/workflows/test-environment.yml
Due: none

log errors on env vars parsing
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

add env var
  .github/workflows/upgrade-environment.yml
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

structured logging
  internal/config/config.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
Due: golangci-lint, mage-license-headers, go-test

fix
  internal/config/config.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
Due: golangci-lint, mage-license-headers, go-test

add test to check rule field equality
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

[CSPM] Align rule fields with ECS schema (#3189)
  internal/dataprovider/providers/rule_ecs/data_provider.go
  internal/dataprovider/providers/rule_ecs/data_provider_test.go
  internal/evaluator/evaluator.go
  internal/flavors/benchmark/builder/builder.go
  internal/transformer/events_creator.go
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

fix format
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
Due: golangci-lint, mage-license-headers, go-test

go: bump github.com/open-policy-agent/opa to v1.4.0
  go.mod
  go.sum
Due: go-mod-tidy

go: bump golang to v1.23.9
  bin/.go-1.23.9.pkg
  bin/go
  bin/gofmt
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update go-version file
  .go-version
Due: golangci-lint, mage-license-headers, go-test

[go] Bump golang to v1.23.9 (#3274)
  .go-version
  bin/.go-1.23.9.pkg
  bin/go
  bin/gofmt
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[go] Bump golang to v1.23.9 (#3274)
  .go-version
  bin/.go-1.23.9.pkg
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Update go.mod
  go.mod
Due: go-mod-tidy

Update .go-version
  .go-version
Due: golangci-lint, mage-license-headers, go-test

remove go
  bin/.go-1.23.5.pkg
  bin/.go-1.23.9.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

add go 1.23.9
  bin/.go-1.23.9.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test
