Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

small fix
  security-policies/dev/common.py
Due: none

rm default iss
  deploy/azure/ARM-for-cloud-connectors-identity.json
Due: generate-arm-dev-templates

Cloud connector Azure ARM template (#3505)
  .github/workflows/arm-template-lint.yml
  deploy/azure/ARM-for-cloud-connectors-identity.json
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Rename ARM-for-cloud-connectors-identity.json to ARM-for-cloud-connectors-single-account.json
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

Update arm-template-lint.yml
  .github/workflows/arm-template-lint.yml
Due: none

Rename Cloud Connector ARM file to fit existing practices (#3534)
  .github/workflows/arm-template-lint.yml
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

aws single account: use aws account name if alias is not configured
  internal/flavors/benchmark/aws_org.go
  internal/resources/providers/awslib/identity_provider.go
Due: golangci-lint, mage-license-headers, go-test

update trivy
  go.mod
  go.sum
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update helm
  go.mod
  go.sum
Due: go-mod-tidy

tests
  internal/vulnerability/scanner_test.go
Due: golangci-lint, mage-license-headers, go-test

Update ci.yml
  .github/workflows/ci.yml
Due: none

revert toolchain
  go.mod
Due: go-mod-tidy

[aws single account]: use aws account name if alias is not configured (#3531)
  internal/flavors/benchmark/aws_org.go
  internal/resources/providers/awslib/identity_provider.go
Due: golangci-lint, mage-license-headers, go-test

main(deps): bump aquasecurity/trivy and helm.sh/helm/v3 (#3535)
  go.mod
  go.sum
  internal/vulnerability/runner.go
  internal/vulnerability/scanner_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Status Handler; Expose aws permission issues to user using beats status.
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_org_test.go
  internal/flavors/benchmark/aws_test.go
  internal/flavors/benchmark/azure.go
  internal/flavors/benchmark/builder/builder.go
  internal/flavors/benchmark/builder/builder_test.go
  internal/flavors/benchmark/builder/k8s.go
  internal/flavors/benchmark/gcp.go
  internal/flavors/benchmark/strategy.go
  internal/flavors/benchmark/strategy_test.go
  internal/flavors/posture.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/aws/iam_fetcher_test.go
  internal/resources/fetching/fetchers/aws/kms_fetcher.go
  internal/resources/fetching/fetchers/aws/kms_fetcher_test.go
  internal/resources/fetching/fetchers/aws/logging_fetcher.go
  internal/resources/fetching/fetchers/aws/logging_fetcher_test.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/aws/network_fetcher.go
  internal/resources/fetching/fetchers/aws/network_fetcher_test.go
  internal/resources/fetching/fetchers/aws/rds_fetcher.go
  internal/resources/fetching/fetchers/aws/rds_fetcher_test.go
  internal/resources/fetching/fetchers/aws/s3_fetcher_test.go
  internal/resources/fetching/fetchers/aws/status_report.go
  internal/resources/fetching/manager/manager.go
  internal/resources/fetching/manager/manager_test.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/fetching/preset/aws_preset.go
  internal/resources/fetching/preset/mock_aws_factory.go
  internal/resources/fetching/registry/registry_test.go
  internal/resources/providers/awslib/multi_region.go
  internal/statushandler/mock_status_handler_api.go
  internal/statushandler/status_handler.go
Due: golangci-lint, mage-license-headers, go-test

fix test lint
  internal/statushandler/status_handler_test.go
Due: golangci-lint, mage-license-headers, go-test

statushandler tests
  internal/statushandler/status_handler_test.go
Due: golangci-lint, mage-license-headers, go-test

more tests
  internal/statushandler/status_handler.go
  internal/statushandler/status_handler_test.go
Due: golangci-lint, mage-license-headers, go-test

linter fixes
  internal/statushandler/status_handler_test.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/statushandler/status_handler_test.go
Due: golangci-lint, mage-license-headers, go-test

fix docker file
  scripts/packaging/docker/elastic-agent/Dockerfile
Due: none

testcases
  internal/resources/fetching/fetchers/aws/iam_fetcher_test.go
  internal/resources/fetching/fetchers/aws/status_report_test.go
Due: golangci-lint, mage-license-headers, go-test

cleanup
  internal/statushandler/status_handler.go
Due: golangci-lint, mage-license-headers, go-test

aws org flow: filter only the valid accounts
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_org_test.go
  internal/flavors/benchmark/strategy.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

generate mocks
  internal/resources/providers/awslib/mock_credentials_validator.go
  internal/resources/providers/awslib/mock_credentials_validator_func.go
Due: golangci-lint, mage-license-headers, go-test

expand to asset inventory
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/aws/kms_fetcher.go
  internal/resources/fetching/fetchers/aws/logging_fetcher.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher.go
  internal/resources/fetching/fetchers/aws/network_fetcher.go
  internal/resources/fetching/fetchers/aws/rds_fetcher.go
  internal/resources/providers/awslib/error_handling.go
  internal/resources/providers/awslib/error_handling_test.go
Due: golangci-lint, mage-license-headers, go-test

auto fix
  security-policies/bundle/compliance/cis_aws/rules/cis_2_1_1/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_3_10/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_3_11/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_3_6/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_5/data.yaml
  security-policies/bundle/compliance/cis_gcp/rules/cis_6_2_8/data.yaml
  security-policies/dev/common.py
Due: none

rename FlexibleMySQLDBAssetType
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/resources/fetching/fetchers/azure/assets_enricher_mysql.go
  internal/resources/fetching/fetchers/azure/assets_enricher_mysql_test.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

rename MySQLDBAssetType
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

gofmt
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][Azure] Fix Azure service names (cloud.service.name) (#3466)
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/resources/fetching/fetchers/azure/assets_enricher_mysql.go
  internal/resources/fetching/fetchers/azure/assets_enricher_mysql_test.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test
