Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

cleaning
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

make gcp provider work concurrently
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

split work by projects
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

fix network fetchers and group tests
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Enrich GCP asset types with ECS fields (#2948)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

[Assets Inventory] Add network asset (#3019)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
Due: golangci-lint, mage-license-headers, go-test

use result.evaluation in event.outcome (#3179)
  internal/transformer/events_creator.go
  internal/vulnerability/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

fixes
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

context fix
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
Due: golangci-lint, mage-license-headers, go-test

update helm.sh/helm/v3 to v3.17.3
  go.mod
  go.sum
Due: go-mod-tidy

[go] Bump golang.org/x/crypto to v0.36.0 (#3140)
  go.mod
  go.sum
Due: go-mod-tidy

mergify: support 8.19 and remove support 8.x
  .mergify.yml
Due: none

fix tests
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

mergify: support 8.19 and remove support 8.x (#3203)
  .mergify.yml
Due: none

Fix cft direct token for org: missing user policy to allow role assume
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
Due: rain

[CSPM CFT ORG Direct token] Fix missing initial user policies (#3202)
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
Due: rain

CFT upload: use minor patch version
  scripts/publish_cft.sh
Due: none

CFT upload: use minor patch version (#3211)
  scripts/publish_cft.sh
Due: none

update test runner workflow
  .github/workflows/test-runner.yml
Due: none

[go] Update helm.sh/helm/v3 to v3.17.3 for 9.0 branch (#3200)
  go.mod
  go.sum
Due: go-mod-tidy

[go] Update helm.sh/helm/v3 to v3.17.3 for 8.18 branch (#3199)
  go.mod
  go.sum
Due: go-mod-tidy

Update test runner workflow to support 8.19 branch (#3217)
  .github/workflows/test-runner.yml
Due: none

remove and/or replace 8.x with 8.19 where applicable
  .github/dependabot.yml
  .github/workflows/arm-template-lint.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/unit-test.yml
  .github/workflows/updatecli.yml
  dev-docs/Cloud-Env-Testing.md
Due: none

Update references from 8.x to 8.19 following branch deprecation (#3218)
  .github/dependabot.yml
  .github/workflows/arm-template-lint.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/unit-test.yml
  .github/workflows/updatecli.yml
  dev-docs/Cloud-Env-Testing.md
Due: none

exclude resource.raw from GCP group assets
  internal/transformer/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

add test
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

add nolint
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Remove Azure Username and Password authentication because it's deprecated on sdk 1.9.0
  internal/config/config.go
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/credentials.go
  internal/resources/providers/azurelib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

Update mocks
  internal/resources/providers/azurelib/auth/mock_azure_auth_provider_api.go
Due: golangci-lint, mage-license-headers, go-test
