Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

cleanup
  .github/workflows/ci.yml
Due: none

Omit hermit action in merge code (#2113)
  .github/workflows/ci.yml
Due: none

fix lint step
  .github/workflows/ci.yml
Due: none

fix lint step (#2116)
  .github/workflows/ci.yml
Due: none

update worklfow and script
  .ci/scripts/get_versions.py
  .github/workflows/test-agent-compatibility.yml
Due: none

remove tmate session
  .github/workflows/test-agent-compatibility.yml
Due: none

Update hermit and pre-commit dependencies
  .pre-commit-config.yaml
  bin/.elastic-package-0.99.0.pkg
  bin/.gcloud-471.0.0.pkg
  bin/.gh-2.47.0.pkg
  bin/.golangci-lint-1.57.2.pkg
  bin/.just-1.25.2.pkg
  bin/.kind-0.22.0.pkg
  bin/.opa-0.63.0.pkg
  bin/.pre-commit-3.7.0.pkg
  bin/.shellcheck-0.10.0.pkg
  bin/.shfmt-3.8.0.pkg
  bin/.yq-4.43.1.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/kind
  bin/opa
  bin/pre-commit
  bin/shellcheck
  bin/shfmt
  bin/yq
Due: mage-license-headers, go-test

Update hermit and pre-commit dependencies (#2109)
  .pre-commit-config.yaml
  bin/.elastic-package-0.99.0.pkg
  bin/.gcloud-471.0.0.pkg
  bin/.gh-2.47.0.pkg
  bin/.golangci-lint-1.57.2.pkg
  bin/.just-1.25.2.pkg
  bin/.kind-0.22.0.pkg
  bin/.opa-0.63.0.pkg
  bin/.pre-commit-3.7.0.pkg
  bin/.shellcheck-0.10.0.pkg
  bin/.shfmt-3.8.0.pkg
  bin/.yq-4.43.1.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/kind
  bin/opa
  bin/pre-commit
  bin/shellcheck
  bin/shfmt
  bin/yq
Due: mage-license-headers, go-test

Cloudformation yml to create elast-agent user and generate direct access key
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
  scripts/publish_cft.sh
Due: rain

fmt
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

cloudformation ga
  .github/workflows/cloudformation-ci.yml
Due: none

unique username
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

add aws ci with new credentials
  .github/workflows/cloudformation-ci.yml
Due: none

fix ci
  .github/workflows/cloudformation-ci.yml
Due: none

Update slack channel name
  .github/actions/slack-notification/action.yml
Due: none

update readme
  .github/actions/slack-notification/README.md
Due: none

add service account deployment script
  deploy/deployment-manager/deploy_service_account.sh
  deploy/deployment-manager/service_account.py
  deploy/deployment-manager/service_account.py.schema
Due: none

rename deploy.sh to deploy_compute.sh
  .github/workflows/test-environment.yml
  .github/workflows/test-gcp-dm.yml
  .pre-commit-config.yaml
  justfile
Due: none

fix linters
  deploy/deployment-manager/deploy_compute.sh
  deploy/deployment-manager/deploy_service_account.sh
  deploy/deployment-manager/service_account.py
Due: none

Update slack channel name (#2117)
  .github/actions/slack-notification/README.md
  .github/actions/slack-notification/action.yml
Due: none

fix workflow
  .github/workflows/test-gcp-dm.yml
Due: none

fix workflow (#2120)
  .github/workflows/test-gcp-dm.yml
Due: none

remove events
  .github/workflows/test-agent-compatibility.yml
Due: none

Fix broken dm workflow (#2121)
  .github/workflows/test-gcp-dm.yml
Due: none

Fix broken dm workflow (#2122)
  .github/workflows/test-gcp-dm.yml
Due: none

Increase CNVM timeout
  .github/workflows/ci.yml
Due: none

Increase CNVM timeout (#2124)
  .github/workflows/ci.yml
Due: none

fix workding dir
  .github/workflows/test-gcp-dm.yml
Due: none

add workflow to paths
  .github/workflows/test-gcp-dm.yml
Due: none

drop Host processor from the pipeline
  cmd/root.go
Due: mage-license-headers, go-test

publish host.* data for Azure VMs
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
Due: mage-license-headers, go-test

Revert "[CIS GCP] Add owner label to a deployment manager deployments" (#2114)
  .github/workflows/test-gcp-dm.yml
  deploy/deployment-manager/deploy.sh
Due: none

publish host.* data for GCP CloudCompute Instances
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers, go-test

fix GCP field value extraction
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers, go-test

fix Azure fetcher tests
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers, go-test

pre-commit: use local golangci-lint binary
  .pre-commit-config.yaml
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.regal-0.20.1.pkg
  bin/regal
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
