Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Fix bump-workflow boolean inputs (#3415)
  .github/workflows/bump-version.yml
Due: none

Treat 8.19 as GA release
  .github/dependabot.yml
  .github/workflows/test-runner.yml
  .github/workflows/updatecli.yml
Due: none

Treat 8.19 as GA release (#3416)
  .github/dependabot.yml
  .github/workflows/test-runner.yml
  .github/workflows/updatecli.yml
Due: none

update wf job condition
  .github/workflows/test-runner.yml
Due: none

Update Test Runner workflow (#3423)
  .github/workflows/test-runner.yml
Due: none

skip agentless
  .github/workflows/test-environment.yml
Due: none

fix tests
  tests/commonlib/agents_map.py
  tests/configuration.py
Due: none

fixing sanity tests
  .github/actions/kibana-ftr/action.yml
Due: none

fix
  .github/actions/kibana-ftr/action.yml
Due: none

revert formatting
  .github/actions/kibana-ftr/action.yml
Due: none

chore: Update to elastic/beats@e478cf890792
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.3.pkg
  bin/.awscli-2.27.45.pkg
  bin/.elastic-package-0.112.0.pkg
  bin/.gcloud-528.0.0.pkg
  bin/.gh-2.74.2.pkg
  bin/.golangci-lint-2.2.1.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

APM
  bin/.tilt-0.35.0.pkg
  bin/tilt
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/flavors.go
  internal/flavors/posture.go
  internal/flavors/publisher.go
  internal/flavors/publisher_test.go
  internal/flavors/vulnerability.go
  internal/infra/observability/metrics.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

working
  go.mod
  go.sum
  internal/flavors/posture.go
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Better context
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/posture.go
  internal/flavors/publisher.go
  internal/flavors/publisher_test.go
  internal/flavors/vulnerability.go
  internal/resources/fetching/manager/manager.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

wrappers
  internal/flavors/asset_inventory.go
  internal/flavors/posture.go
  internal/flavors/publisher.go
  internal/flavors/publisher_test.go
  internal/flavors/vulnerability.go
  internal/infra/observability/context.go
  internal/infra/observability/metrics.go
  internal/infra/observability/otel.go
  internal/resources/fetching/manager/manager.go
Due: golangci-lint, mage-license-headers, go-test

OTel
  go.mod
  go.sum
  internal/flavors/flavors.go
  internal/flavors/posture.go
  internal/flavors/publisher.go
  internal/flavors/publisher_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

tidy
  internal/flavors/posture.go
  internal/flavors/publisher.go
  internal/infra/observability/context.go
  internal/infra/observability/otel.go
  internal/resources/fetching/manager/manager.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

merge
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

shutdown/flush
  internal/flavors/posture.go
  internal/infra/observability/context.go
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

WIP
  internal/flavors/publisher.go
  internal/infra/clog/clog.go
  internal/resources/fetching/manager/manager.go
Due: golangci-lint, mage-license-headers, go-test

Add tests and tidy
  internal/flavors/posture.go
  internal/infra/clog/clog.go
  internal/infra/observability/otel.go
  internal/infra/observability/otel_test.go
Due: golangci-lint, mage-license-headers, go-test

rm tilt
  bin/.tilt-0.35.0.pkg
  bin/tilt
Due: none

bump go.mod, reset publisher.go
  go.mod
  go.sum
  internal/flavors/posture.go
  internal/flavors/publisher.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

CLOUD_HOST_NAME
  .github/workflows/test-environment.yml
Due: none

kip agentless again
  .github/actions/kibana-ftr/action.yml
  .github/workflows/test-environment.yml
  tests/configuration.py
Due: none

kip agentless again
  .github/actions/kibana-ftr/action.yml
  .github/workflows/test-environment.yml
Due: none

Improve test, skip OTel when env-var is not set
  internal/flavors/posture.go
  internal/infra/observability/otel.go
  internal/infra/observability/otel_test.go
  internal/resources/fetching/manager/manager.go
Due: golangci-lint, mage-license-headers, go-test

kip agentless again
  .github/actions/kibana-ftr/action.yml
Due: none

fix test_cloud_host_name env error
  .github/actions/kibana-ftr/action.yml
Due: none

Remove envvars init
  go.mod
  internal/flavors/posture.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Instrument opa
  internal/evaluator/opa.go
  internal/flavors/posture.go
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

interface
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

log the default fleet server
  tests/fleet_api/common_api.py
Due: none
