Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

[Asset Inventory][AWS & Azure] Support organization account deployment type (#2591)
  .github/workflows/ci-pull_request.yml
  .github/workflows/publish-cloudformation.yml
  deploy/asset-inventory-arm/.gitignore
  deploy/asset-inventory-arm/ARM-for-organization-account.dev.json
  deploy/asset-inventory-arm/ARM-for-organization-account.json
  deploy/asset-inventory-arm/ARM-for-single-account.dev.json
  deploy/asset-inventory-arm/ARM-for-single-account.json
  deploy/asset-inventory-arm/README.md
  deploy/asset-inventory-arm/generate_dev_template.py
  deploy/asset-inventory-arm/install-agent-dev.sh
  deploy/asset-inventory-arm/install-agent.sh
  deploy/asset-inventory-arm/install_agent_az_cli.sh
  deploy/asset-inventory-cloudformation/.gitignore
  deploy/asset-inventory-cloudformation/README.md
  deploy/asset-inventory-cloudformation/config.go
  deploy/asset-inventory-cloudformation/ec2-types.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
  deploy/asset-inventory-cloudformation/gomain.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/assetinventory/strategy_aws.go
  justfile
  scripts/bump_integration.sh
  scripts/publish_cft.sh
Due: golangci-lint, mage-license-headers, go-test

resolve conflict
  scripts/bump_integration.sh
Due: none

remove unused files
  internal/flavors/assetinventory/strategy.go
  internal/flavors/assetinventory/strategy_aws.go
Due: golangci-lint, mage-license-headers, go-test

redo gomain
  deploy/asset-inventory-cloudformation/gomain.go
Due: golangci-lint, mage-license-headers, go-test

Disable deployment of Asset Inventory for versions below 8.16
  .github/workflows/test-environment.yml
Due: none

Fixing CI
  .github/workflows/ci.yml
  .github/workflows/test-environment.yml
Due: none

Fixing bad substitution
  .github/workflows/test-environment.yml
Due: none

chore: Update to elastic/beats@ca7adea64512
  go.mod
  go.sum
Due: go-mod-tidy

Adding login to az and gcp
  .github/workflows/upgrade-environment.yml
Due: none

bump image
  .github/workflows/ci.yml
Due: none

fix provider references
  internal/inventory/azurefetcher/fetcher_account_test.go
Due: golangci-lint, mage-license-headers, go-test

fix linter issues
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
Due: golangci-lint, mage-license-headers, go-test

remove renamed mock files
  internal/inventory/azurefetcher/mock_subscription_provider.go
  internal/inventory/azurefetcher/mock_subscription_provider_func.go
Due: golangci-lint, mage-license-headers, go-test

add integration test cases for new resources
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status

add new function tests
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

change error handilng for Storage assets
  internal/resources/providers/azurelib/inventory/storage_provider.go
Due: golangci-lint, mage-license-headers, go-test

add new function tests (2nd time)
  internal/inventory/azurefetcher/fetcher_storage_test.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] Update to elastic/beats@775d26d94a5a (#2564)
  go.mod
  go.sum
  internal/resources/providers/awslib/cached_region_selector.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Fix Create Environment agent version for Serverless (#2547)
  .github/workflows/test-environment.yml
Due: none

[updatecli] Update hermit and pre-commit dependencies (#2565)
  .pre-commit-config.yaml
  bin/.gcloud-495.0.0.pkg
  bin/.gh-2.58.0.pkg
  bin/.just-1.36.0.pkg
  bin/.opa-0.69.0.pkg
  bin/.pre-commit-4.0.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
  bin/pre-commit
Due: none

[updatecli] Update Golang version to 1.23.2 (#2581)
  .go-version
  bin/.go-1.23.2.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

feat: replace x/exp with stdlib functions (#2580)
  go.mod
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
  internal/resources/fetching/fetchers/azure/batch_fetcher.go
  internal/resources/fetching/fetchers/azure/batch_fetcher_test.go
  internal/vulnerability/events_creator.go
  scripts/update_assets_md/go.mod
  scripts/update_assets_md/go.sum
  scripts/update_assets_md/main.go
  tools/tools.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

mergify: replace queue action for queue_rules (#2500)
  .mergify.yml
Due: none

Increase LeaseDuration to create stickiness (#2588)
  internal/uniqueness/leaderelection_const.go
Due: golangci-lint, mage-license-headers, go-test

Update version compatibility handling (#2594)
  .github/workflows/weekly-serverless.yml
  deploy/azure/install_agent_az_cli.sh
Due: generate-arm-dev-templates

Skip Azure PostgreSQL tests (#2600)
  security-policies/RULES.md
  tests/product/tests/data/azure/azure_database_service_test_cases.py
Due: update-rules-status

Update k8s integration tests timeout (#2601)
  tests/integration/tests/test_cloudbeat_integration.py
Due: none

fix gh artifacts upload for docker images (#2562)
  .github/actions/docker-images/action.yml
Due: none

Revert "fix gh artifacts upload for docker images" (#2606)
  .github/actions/docker-images/action.yml
Due: none

change formatting
  internal/resources/providers/azurelib/inventory/storage_provider.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] Update hermit and pre-commit dependencies (#2598)
  .pre-commit-config.yaml
  bin/.elastic-package-0.106.0.pkg
  bin/.gcloud-497.0.0.pkg
  bin/.gh-2.59.0.pkg
  bin/.pre-commit-4.0.1.pkg
  bin/.regal-0.28.0.pkg
  bin/.shfmt-3.10.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/pre-commit
  bin/regal
  bin/shfmt
Due: none

update wf
  .github/workflows/test-environment.yml
Due: none

Refactor to action
  .github/actions/stack-asset-inventory-dependency/action.yml
  .github/workflows/ci.yml
  .github/workflows/test-environment.yml
Due: none

Remove trailing space
  .github/actions/stack-asset-inventory-dependency/action.yml
Due: none
