Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

fix: migrate logp observer API for elastic-agent-libs v0.46.1 compatibility
  internal/flavors/publisher_test.go
  internal/infra/clog/clog_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/utils/testhelper/helper.go
Due: golangci-lint, mage-license-headers, go-test

fix: replace yarn kbn bootstrap with pnpm in kibana-ftr action
  .github/actions/kibana-ftr/action.yml
Due: none

fix: migrate evaluator logp observer API for elastic-agent-libs v0.46.1
  internal/evaluator/logger.go
  internal/evaluator/logger_test.go
  internal/evaluator/opa.go
  internal/evaluator/opa_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: remove unused newLogger function from evaluator
  internal/evaluator/logger.go
Due: golangci-lint, mage-license-headers, go-test

fix(deps): update module github.com/googleapis/gax-go/v2 to v2.25.0 (main)
  go.mod
  go.sum
Due: go-mod-tidy

fix: enforce OPA logger level filtering and propagate lvl in WithFields
  internal/evaluator/logger.go
Due: golangci-lint, mage-license-headers, go-test

fix: fix data race in builder tests by replacing time.Sleep with proper lifecycle management
  internal/flavors/benchmark/builder/builder_test.go
Due: golangci-lint, mage-license-headers, go-test

chore: regenerate cloudbeat.reference.yml for elastic-agent-libs v0.46.1 / beats bump
  cloudbeat.reference.yml
Due: mage-config

fix: replace yarn kbn bootstrap with pnpm in kibana-ftr action (#8562)
  .github/actions/kibana-ftr/action.yml
Due: none

fix: fix gci import ordering in 3 files
  cmd/root.go
  internal/flavors/publisher_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 8.19.23
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

update slack channel and team handler
  .buildkite/version-bump-pipeline.yml
Due: none

update slack channel and team handler (#8570)
  .buildkite/version-bump-pipeline.yml
Due: none

fix: pin numpy <2.0.0 to prevent ABI incompatibility with pandas 1.5.3
  security-policies/poetry.lock
  security-policies/pyproject.toml
Due: none

fix: update pylint pre-commit hook and remove deprecated suggestion-mode for v4 compat
  .pre-commit-config.yaml
  tests/pylintrc
Due: none

fix: resolve pylint v4 lint failures in test files
  tests/fleet_api/common_api.py
  tests/integrations_setup/install_agentless_integrations.py
Due: none

feat: publish WII template as cloudformation-federated-identity-aws
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

change team name (#6415)
  catalog-info.yaml
Due: none

[Asset Inventory][AWS] Update EC2, ELB and RDS fetchers for InfoSec (#7277)
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/elb_mock.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/provider_test.go
  internal/resources/providers/awslib/rds/rds.go
Due: golangci-lint, mage-license-headers, go-test

aws: add DNS fallback for ELBv2 IPAddresses
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/elb_v2_mock.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
Due: golangci-lint, mage-license-headers, go-test

fix
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
Due: golangci-lint, mage-license-headers, go-test

chore: disable abandoned dependency reporting in dashboard
  renovate.json
Due: none

[Asset Inventory][AWS] Forward-port #7277 — EC2/ELB/RDS fields for InfoSec (#8229)
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/elb_mock.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/provider_test.go
  internal/resources/providers/awslib/rds/rds.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][AWS] ELBv2: resolve IPAddresses from DNSName when API returns none (#8230)
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/elb_v2_mock.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
Due: golangci-lint, mage-license-headers, go-test

chore: disable abandoned dependency reporting in Renovate dashboard (#8602)
  renovate.json
Due: none

fix(renovate): move sarama disable rule after indirect deps enable rule
  renovate.json
Due: none

fix(renovate): move sarama disable rule after indirect deps enable rule (#8607)
  renovate.json
Due: none

fix(deps): update armpostgresqlflexibleservers test helpers for v5 API rename
  internal/resources/providers/azurelib/inventory/postgresql_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

fix(ci): pass STACK_VERSION to GCP DM findings check steps
  .github/workflows/test-gcp-dm.yml
Due: none

fix(ci): skip long tests on PRs to avoid ECR rate limits
  .github/workflows/ci-pull_request.yml
Due: none

fix(ci): skip long tests on PRs to avoid ECR rate limits (#8648)
  .github/workflows/ci-pull_request.yml
Due: none

fix(ci): resolve backport conflict for unit-test split on 9.4
  .github/workflows/ci-pull_request.yml
Due: none

ci: replace json-watcher with version-bump-dra in the version bump pipeline
  .buildkite/version-bump-pipeline.yml
Due: none

ci: replace json-watcher with version-bump-dra in the version bump pipeline (#8700)
  .buildkite/version-bump-pipeline.yml
Due: none

fix(renovate): disable goja/gopacket replace pins and e2e-testing updates
  renovate.json
Due: none
