Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Bump cloudbeat to 8.14.0
  bin/hermit.hcl
Due: none

Release cloudbeat 8.13.0
  cloudbeat_pr_body
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
  hermit_pr_body
Due: none

fix ec_api_key in logs
  .github/workflows/test-environment.yml
Due: none

fix yaml file
  .github/workflows/test-environment.yml
Due: none

add semi colon
  .github/workflows/test-environment.yml
Due: none

remove semi from then
  .github/workflows/test-environment.yml
Due: none

Bump cloudbeat to 8.14.0
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: mage-license-headers, go-test

Bump cloudbeat to 8.13.0
  bin/hermit.hcl
Due: none

Release cloudbeat 8.13.0
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: none

fix integration bump
  scripts/bump_integration.sh
Due: none

fix cloudbeat prs
  scripts/bump_cloudbeat.sh
Due: none

test integrations pr
  .github/workflows/bump-version.yml
Due: none

fix version bump script (#1942)
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

checkout main for running integration bump script
  .github/workflows/bump-version.yml
Due: none

checkout main for running integration bump script (#1953)
  .github/workflows/bump-version.yml
Due: none

Fix linter
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser_test.go
Due: mage-license-headers, go-test

Finish parse expressions
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern_test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Improve comments
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser.go
Due: mage-license-headers, go-test

Partially implement parse
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern_test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add expression comparison
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern_test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement middle ground solution
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser.go
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser_test.go
  internal/resources/providers/aws_cis/monitoring/monitoring.go
  internal/resources/providers/aws_cis/monitoring/monitoring_test.go
  security-policies/bundle/compliance/cis_aws/rules/cis_4_1/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_1/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_10/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_10/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_11/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_11/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_12/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_12/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_13/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_13/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_14/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_14/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_15/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_15/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_2/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_2/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_3/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_3/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_4/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_4/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_5/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_5/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_6/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_6/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_7/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_7/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_8/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_8/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_9/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_9/test.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern_test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Cloud Watch Comparison Algorithm (#1914)
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser.go
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser_test.go
  internal/resources/providers/aws_cis/monitoring/monitoring.go
  internal/resources/providers/aws_cis/monitoring/monitoring_test.go
  security-policies/bundle/compliance/cis_aws/rules/cis_4_1/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_1/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_10/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_10/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_11/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_11/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_12/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_12/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_13/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_13/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_14/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_14/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_15/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_15/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_2/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_2/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_3/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_3/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_4/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_4/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_5/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_5/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_6/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_6/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_7/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_7/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_8/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_8/test.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_9/rule.rego
  security-policies/bundle/compliance/cis_aws/rules/cis_4_9/test.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern.rego
  security-policies/bundle/compliance/policy/aws_cloudtrail/pattern_test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Make AWS Alias Account Optional
  internal/dataprovider/providers/cloud/data_provider.go
  internal/dataprovider/providers/cloud/data_provider_test.go
  internal/dataprovider/providers/cloud/option.go
  internal/flavors/benchmark/aws_org_test.go
  internal/flavors/vulnerability.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/providers/awslib/account_provider.go
  internal/resources/providers/awslib/account_provider_test.go
  internal/resources/providers/awslib/identity_provider.go
  internal/resources/utils/pointers/pointers.go
Due: mage-license-headers, go-test

Remove pointer
  internal/dataprovider/providers/cloud/data_provider.go
  internal/dataprovider/providers/cloud/data_provider_test.go
  internal/dataprovider/providers/cloud/option.go
  internal/flavors/benchmark/aws_org_test.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/providers/awslib/account_provider.go
  internal/resources/providers/awslib/account_provider_test.go
  internal/resources/providers/awslib/identity_provider.go
  internal/resources/utils/pointers/pointers.go
Due: mage-license-headers, go-test

Make AWS Alias Account Optional (#1931)
  internal/flavors/vulnerability.go
  internal/resources/providers/awslib/identity_provider.go
Due: mage-license-headers, go-test

Release cloudbeat version (#1956)
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: none

Bump cloudbeat version (#1954)
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: mage-license-headers, go-test

remove env var
  .github/workflows/k8s-ci.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
