Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

update go version
  .go-version
Due: golangci-lint, mage-license-headers, go-test

cleanup workflows
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
Due: none

cleanup workflow
  .github/workflows/ci-pull_request.yml
Due: none

[updatecli] 8.19 - Update to elastic/beats@421de3fbaad8 (#3582)
  .github/workflows/packaging.yml
  .go-version
  .golangci.yaml
  bin/.go-1.25.5.pkg
  bin/go
  bin/gofmt
  docs/reference/cloudbeat/.gitignore
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix project metadata request (#3893)
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

go mod
  go.mod
Due: go-mod-tidy

fix project metadata request (#3893)
  go.mod
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update action version and enable debug run
  .github/actions/init-integration/action.yml
  .github/workflows/ci.yml
Due: none

bump elastic-github-actions
  .github/actions/init-integration/action.yml
Due: none

Bump elastic-github-actions (#3963)
  .github/actions/init-integration/action.yml
Due: none

warn protobuf double reg
  .ci/updatecli/scripts/update-mods.sh
  .github/workflows/ci-pull_request.yml
  .pre-commit-config.yaml
Due: none

fix lint errors
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
  internal/flavors/benchmark/strategy_test.go
  internal/processor/add_cluster_id/cluster_helper_test.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
  internal/uniqueness/leaderelection_test.go
Due: golangci-lint, mage-license-headers, go-test

increase timeout
  .pre-commit-config.yaml
Due: none

ignore staticcheck
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

revert unit tests fix and update lib
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
  internal/flavors/benchmark/strategy_test.go
  internal/processor/add_cluster_id/cluster_helper_test.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
  internal/uniqueness/leaderelection_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update credentials.go and tests and enable post-merge testing
  .github/workflows/ci.yml
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

Revert "[9.3] Bump github.com/sigstore/cosign/v2 and github.com/sigstore/reko…"
  go.mod
  go.sum
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

deps fix
  .ci/updatecli/scripts/update-mods.sh
  .github/workflows/ci-pull_request.yml
  .pre-commit-config.yaml
  cmd/root.go
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
  internal/flavors/benchmark/strategy_test.go
  internal/processor/add_cluster_id/cluster_helper_test.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/uniqueness/leaderelection_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

lint ifx
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

revert ci yaml
  .github/workflows/ci.yml
Due: none

fix: bump go-viper/mapstructure/v2 to v2.4.0 for CVE-2025-11065 (#3960)
  go.mod
  internal/dataprovider/providers/common/data_provider.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

current
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/strategy.go
  internal/resources/providers/gcplib/auth/credentials.go
Due: golangci-lint, mage-license-headers, go-test

resolvers
  internal/resources/providers/gcplib/auth/audience.go
  internal/resources/providers/gcplib/auth/organization_parent_resolver.go
  internal/resources/providers/gcplib/auth/parent_resolver.go
  internal/resources/providers/gcplib/auth/project_parent_resolver.go
Due: golangci-lint, mage-license-headers, go-test

mocks and tests
  internal/resources/providers/gcplib/auth/audience_test.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
  internal/resources/providers/gcplib/auth/parent_resolver_mock.go
  internal/resources/providers/gcplib/auth/parent_resolver_test.go
Due: golangci-lint, mage-license-headers, go-test

golangci-lint run
  internal/resources/providers/gcplib/auth/parent_resolver_test.go
Due: golangci-lint, mage-license-headers, go-test

project resolver test
  internal/resources/providers/gcplib/auth/project_parent_resolver_test.go
Due: golangci-lint, mage-license-headers, go-test

Update to new release API endpoints (#3935)
  .github/workflows/updatecli.yml
  llm/cve.md
Due: none

add installing chrome 145
  .github/actions/kibana-ftr/README.md
  .github/actions/kibana-ftr/action.yml
Due: none

Install Chrome v145 in FTR action (#3978)
  .github/actions/kibana-ftr/README.md
  .github/actions/kibana-ftr/action.yml
Due: none

feat: use Cloud Connector ID in GCP Workload Identity Federation session name (#3955)
  internal/config/config.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

feat: add cloud connector ID to GCP Infrastructure Manager Terraform (#3947)
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/variables.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/variables.tf
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
