Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

yq:
  name: format with yq
  entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
  language: system
  args:
  - -i

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

CloudFormation: Rollback deployment if agent installation fails (#1163)
  deploy/cloudformation/README.md
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: yq

fix agent tests (#1166)
  .github/workflows/k8s-ci.yml
  tests/commonlib/elastic_wrapper.py
  tests/deploy/sa-agent-pytest.yml
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

threshold
  flavors/publisher.go
Due: mage-license-headers

goleak defer
  flavors/publisher_test.go
Due: mage-license-headers

print ctx err
  flavors/publisher.go
  flavors/repeater.go
Due: mage-license-headers

Vuln flavor refactor to sub domains (#1142)
  flavors/client.go
  flavors/mock_client.go
  flavors/mock_repeater_func.go
  flavors/publisher.go
  flavors/publisher_test.go
  flavors/repeater.go
  flavors/repeater_test.go
  flavors/vulnerability.go
  vulnerability/events_creator.go
  vulnerability/events_creator_test.go
  vulnerability/scanner.go
  vulnerability/worker.go
  vulnerability/worker_test.go
Due: mage-license-headers

read permission
  .github/workflows/cnvm-ci.yml
Due: none

aws configure
  .github/workflows/cnvm-ci.yml
Due: none

[AWS Orgs] Add EC2 instance to CloudFormation (#1168)
  .github/workflows/publish-cloudformation.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/organization.yml
  flavors/posture.go
  launcher/launcher.go
Due: yq, mage-license-headers

run cloudbeat in background and output logs to file
  .github/workflows/cnvm-ci.yml
Due: none

update unit tests
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/fetching/factory/gcp_factory.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/providers/gcplib/inventory/mock_inventory_service.go
  resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  resources/providers/gcplib/inventory/mock_service_api.go
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

install poetry
  .github/workflows/cnvm-ci.yml
Due: none

poetry prepare
  .github/workflows/cnvm-ci.yml
Due: none

setup python 3.9
  .github/workflows/cnvm-ci.yml
Due: none

python3@3.9
  bin/.python3@3.9.pkg
  bin/pip
  bin/pip3.9
  bin/pydoc3
  bin/pydoc3.9
  bin/python
  bin/python3
  bin/python3-config
  bin/python3.9
  bin/python3.9-config
Due: none

remove python3.9 from action
  .github/workflows/cnvm-ci.yml
Due: none

Revert "python3@3.9"
  bin/.python3@3.10.pkg
  bin/pip
  bin/pip3
  bin/pip3.9
  bin/pydoc3
  bin/pydoc3.9
  bin/python
  bin/python3
  bin/python3-config
  bin/python3.9
  bin/python3.9-config
Due: none

Revert "remove python3.9 from action"
  .github/workflows/cnvm-ci.yml
Due: none

raise coverage
  flavors/benchmark/gcp_test.go
Due: mage-license-headers

fix race condtion in test
  flavors/repeater_test.go
Due: mage-license-headers

Fix race condition in repeater unit test (#1174)
  flavors/repeater_test.go
Due: mage-license-headers

USE_K8S false
  .github/workflows/cnvm-ci.yml
Due: none

use JarvusInnovations/background-action
  .github/workflows/cnvm-ci.yml
Due: none

Revert "use JarvusInnovations/background-action"
  .github/workflows/cnvm-ci.yml
Due: none

tail for 5
  .github/workflows/cnvm-ci.yml
Due: none

Make gcp benchmark dependencies mockable (#1172)
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/fetching/factory/gcp_factory.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/auth/mock_config_provider_api.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_provider_getter.go
  resources/providers/gcplib/inventory/mock_inventory_service.go
  resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  resources/providers/gcplib/inventory/mock_service_api.go
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

prepare for review
  deploy/deployment-manager/README.md
  justfile
  version/policy.go
Due: mage-license-headers

update aws ec2 tests data
  tests/product/tests/data/aws/aws_ec2_test_cases.py
Due: none

add version specific dir
  deploy/deployment-manager/templates/8.10/8.10.0.py
  deploy/deployment-manager/templates/8.10/8.10.0.py.schema
  deploy/deployment-manager/templates/README.md
Due: none

disable pylint for tempkate file
  deploy/deployment-manager/templates/8.10/8.10.0.py
Due: none

align dp with aws
  dataprovider/providers/cloud/data_provider.go
  dataprovider/providers/cloud/data_provider_test.go
  dataprovider/providers/cloud/option.go
  flavors/benchmark/gcp_test.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
Due: mage-license-headers

wait for file
  .github/workflows/cnvm-ci.yml
Due: none

update aws rds tests data
  tests/product/tests/data/aws/aws_rds_test_cases.py
Due: none

add api key asset type
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

update aws s3 tests data
  tests/product/tests/data/aws/aws_s3_test_cases.py
Due: none

wait for file script
  .github/workflows/cnvm-ci.yml
  scripts/wait_for_file.sh
Due: none

typo
  .github/workflows/cnvm-ci.yml
Due: none

[GCP] Add api key asset type (#1179)
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

Revert "gh cli"
  bin/.gh-2.32.0.pkg
  bin/gh
Due: none

add allow utimensat seccomp
  deploy/vulnerability/cloudbeat-vuln-mgmt.yml
Due: none

Path conditions:
  yq: any of: deploy/cloudformation/.*yml
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$
  mage-license-headers: any of: .*.go
