Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

exclude resource.raw from GCP group assets (#3216)
  internal/transformer/events_creator.go
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Add direct access for asset discovery (#3330)
  deploy/asset-inventory-cloudformation/elastic-agent-direct-access-key-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-direct-access-key.yml
  scripts/publish_cft.sh
Due: none

Fix `type_` test
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Fix `type_` test in asset inventory tests (#3332)
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Align asset inventory cloud formation s3 object name with CSPM
  scripts/publish_cft.sh
Due: none

use relevant evidence fields for cis_gcp 2.13 (#3240)
  security-policies/bundle/compliance/cis_gcp/rules/cis_2_13/rule.rego
  security-policies/bundle/compliance/lib/common/common.rego
Due: golangci-lint, mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Attempt to fix update-beats.yml
  .ci/updatecli/updatecli.d/update-beats.yml
Due: none

[updatecli] 9.0 - Update Golang version to 1.24.3 (#3319)
  .go-version
  bin/.go-1.24.3.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

use relevant evidence fields for cis_gcp 2.2 (#3249)
  security-policies/bundle/compliance/cis_gcp/rules/cis_2_2/rule.rego
Due: golangci-lint, mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

[Cloud Security] Align asset inventory cloud formation S3 object name with CSPM naming convention (#3333)
  scripts/publish_cft.sh
Due: none

Fix raw check on asset inventory tests
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Attempt to fix update-beats.yml (#3335)
  .ci/updatecli/updatecli.d/update-beats.yml
Due: none

[Asset Discovery] Fix raw check on asset inventory tests (#3337)
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

chore: Update version.asciidoc with Golang version 1.24.3
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.24.3
  bin/.go-1.24.3.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update .go-version with Golang version 1.24.3
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update go.mod files with 1.24
  go.mod
Due: go-mod-tidy

[updatecli] main - Update Golang version to 1.24.3 (#3318)
  .go-version
  bin/.go-1.24.3.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

Update beats module manually
  go.mod
  go.sum
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Fix jsprocessor
  internal/processor/add_cluster_id/add_cluster_id.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

make gcp provider work concurrently
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

make GCP provider work concurrently (#3152)
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

make GCP provider work concurrently (#3152)
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

load and pass down the namespace to Asset Inventory
  internal/config/config.go
  internal/flavors/assetinventory/strategy.go
  internal/inventory/inventory.go
Due: golangci-lint, mage-license-headers, go-test

publish assets to chosen index
  internal/inventory/inventory.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

fix comment wording to avoid confusion
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory] Add support for namespaces (#3340)
  internal/config/config.go
  internal/flavors/assetinventory/strategy.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

CrossBuild
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

update beats on main
  go.mod
  go.sum
  internal/processor/add_cluster_id/add_cluster_id.go
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

bump trivy
  go.mod
  go.sum
Due: go-mod-tidy

update-beats: Accept `mage config` failures
  .ci/updatecli/scripts/update-beats.sh
Due: none

Revert "bump trivy"
  go.mod
  go.sum
Due: go-mod-tidy

beats d7332ab
  go.mod
  go.sum
Due: go-mod-tidy
