Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers

.pre-commit-config.yaml:

exclude: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
repos:
  ## General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        exclude: (^tests/deploy/k8s-cloudbeat-tests/templates/.*)$
      - id: check-json
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        exclude: cloudbeat.reference.yml

      ## Security
      - id: detect-private-key

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma

  ## Golang hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: golangci-lint
        args: [--fix]

  ## Python
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8 ./tests/ ./fleet_api/
        files: ^(tests|deploy/test-environments/fleet_api)/

  - repo: https://github.com/pycqa/pylint
    rev: v2.15.7
    hooks:
      - id: pylint
        args: [
            "-rn", # Only display messages
            "--rcfile=tests/pylintrc", # Link to your config file
          ]

  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        args: [--line-length=120, --check, --diff]

  - repo: local
    hooks:
      - id: rain
        name: format with rain
        language: system
        entry: rain
        args: [
          "fmt",
          "-w",
        ]
        files: deploy/cloudformation/.*yml

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.80.2
    hooks:
      - id: cfn-python-lint
        files: deploy/cloudformation/.*.yml

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shfmt
        args: ["-i", "4"]
      - id: shellcheck
        files: (deploy/azure/.*sh|scripts/publish_cft.sh)

  - repo: local
    hooks:
      - id: mage-config
        name: mage config
        entry: bash -c 'mage config'
        language: system
        files: (^_meta\/.*|^cloudbeat.*yml)$
        pass_filenames: false
      - id: mage-license-headers
        name: mage AddLicenseHeaders
        entry: bash -c 'mage AddLicenseHeaders'
        language: system
        files: .*.go
        pass_filenames: false

ci(action): remove bump golang
  .ci/bump-golang.yml
  .github/workflows/bump-golang.yml
Due: mage-license-headers

hermit: bump go
  bin/.go-1.20.10.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers

Fix bump-golang pipeline (#1495)
  .ci/bump-golang.yml
  .github/workflows/bump-golang.yml
  .go-version
  bin/.go-1.20.10.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers

Dependabot: Run only on Mondays
  .github/dependabot.yml
Due: none

Dependabot: Run only on Mondays (#1501)
  .github/dependabot.yml
Due: none

run only on main
  .github/workflows/update-beats.yml
Due: none

fix action
  .github/workflows/update-beats.yml
Due: none

shellcheck: Enable for all ci scripts
  .ci/scripts/ecr-images.sh
  .pre-commit-config.yaml
Due: none

replace raise error by logging warning message
  tests/integration/tests/test_sanity_checks.py
Due: none

[Security Policies] Fixing rules after QA
  bundle/compliance/cis_azure/rules/cis_3_10/test.rego
  bundle/compliance/cis_azure/rules/cis_3_2/test.rego
  bundle/compliance/cis_azure/rules/cis_3_7/test.rego
  bundle/compliance/policy/azure/storage_account/ensure_connection.rego
  bundle/compliance/policy/azure/storage_account/ensure_encryption.rego
  bundle/compliance/policy/azure/storage_account/ensure_public_access.rego
Due: mage-license-headers

[Security Policies] Property change
  bundle/compliance/cis_azure/rules/cis_9_4/rule.rego
  bundle/compliance/cis_azure/rules/cis_9_4/test.rego
Due: mage-license-headers

Elastic agent version should be >= cloud formation template version
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

fixes.
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  scripts/publish_cft.sh
Due: rain

Elastic agent version should be >= cloud formation template version (#1381)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  scripts/publish_cft.sh
Due: rain

add common elastic tags to eks cluster
  deploy/eks/simple-cluster.yml
Due: none

gh
  bin/.gh-2.37.0.pkg
  bin/gh
Due: none

cue
  bin/.cue-0.6.0.pkg
  bin/cue
Due: none

eksctl
  bin/.eksctl-0.164.0.pkg
  bin/eksctl
Due: none

adding readme file
  dev-docs/Cloud-Env-Upgrade.md
Due: none

add common elastic tags to eks cluster (#1514)
  deploy/eks/simple-cluster.yml
Due: none

Add bump-beats pipeline (#1494)
  .ci/bump-beats.yml
  .ci/scripts/update-beats.sh
  .github/workflows/update-beats.yml
  .pre-commit-config.yaml
Due: none

bump-beats CI: Fix path
  .github/workflows/update-beats.yml
Due: none

updatecli: fix names and use values
  .ci/updatecli/updatecli.d/bump-golang.yml
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/values.yml
  .github/workflows/bump-golang.yml
  .github/workflows/update-beats.yml
Due: mage-license-headers

updatecli: add what workflow generated the PR
  .ci/updatecli/updatecli.d/bump-golang.yml
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/bump-golang.yml
  .github/workflows/update-beats.yml
Due: mage-license-headers

shellcheck: Enable for all ci scripts (#1504)
  .ci/scripts/ecr-images.sh
  .pre-commit-config.yaml
Due: none

update sleep timeout
  deploy/test-environments/fleet_api/src/upgrade_agents.py
Due: none

avoid notifying if any failures
  .ci/updatecli/values.yml
  .github/workflows/bump-golang.yml
  .github/workflows/update-beats.yml
Due: mage-license-headers

updatecli: fix names and use values (#1517)
  .ci/updatecli/updatecli.d/bump-golang.yml
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/values.yml
  .github/workflows/bump-golang.yml
  .github/workflows/update-beats.yml
Due: mage-license-headers

mage: BuildOpaBundle: Clean-up some leftover code
  magefile.go
Due: mage-license-headers

mage: BuildOpaBundle: Clean-up some leftover code (#1518)
  magefile.go
Due: mage-license-headers

Revert "CloudFormation: Fix missing tags in cloud-security account (#1415)"
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

Address PR comments
  .github/workflows/test-opa-policies.yml
  security-policies/.regal/config.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_10/rule.rego
  security-policies/bundle/compliance/lib/output_validations/output_validations.rego
  security-policies/bundle/compliance/policy/aws_elb/ensure_certificates.rego
Due: mage-license-headers

Revert "CloudFormation: Fix missing tags in cloud-security account" (#1519)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

Add pre-commit hook
  .pre-commit-config.yaml
Due: none

add regal to hermit
  .github/workflows/test-opa-policies.yml
  bin/.regal-0.11.0.pkg
  bin/regal
Due: none

Add serverless dependencies to hermit (#1515)
  bin/.cue-0.6.0.pkg
  bin/.eksctl-0.164.0.pkg
  bin/.gh-2.37.0.pkg
  bin/cue
  bin/eksctl
  bin/gh
Due: none

Update deploy/test-environments/fleet_api/src/upgrade_cnvm.py
  deploy/test-environments/fleet_api/src/upgrade_cnvm.py
Due: none
