Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

more logs
  .github/actions/cdr/action.yml
Due: none

fix(cdr): use agent_policies endpoint for Fleet readiness check
  .github/actions/cdr/action.yml
  .github/workflows/test-environment.yml
Due: none

fix(cdr): use POST /api/fleet/setup for Fleet readiness check
  .github/actions/cdr/action.yml
Due: none

fix(cdr): add Fleet Server readiness check after fleet setup
  .github/actions/cdr/action.yml
Due: none

Create Environment: Enable Entity Store v2 and update Entity Analytics feature flags (#4093)
  .github/actions/elk-stack/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/modules/ec/main.tf
  dev-docs/Cloud-Env-Testing.md
Due: none

fix(cdr): require 3 consecutive Fleet OK responses before proceeding
  .github/actions/cdr/action.yml
  tests/fleet_api/base_call_api.py
Due: none

fix(cdr): increase Fleet stability window and API retry resilience
  .github/actions/cdr/action.yml
  tests/fleet_api/base_call_api.py
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

fix(fleet-api): retry 429s and fail fast on package version fetch errors
  tests/fleet_api/base_call_api.py
  tests/fleet_api/common_api.py
Due: none

chore: increase renovate prHourlyLimit to 10
  renovate.json
Due: none

chore: increase renovate prHourlyLimit to 10 (#4099)
  renovate.json
Due: none

fix(deps): update otel semconv to v1.40.0 to match SDK v1.42.0
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update to elastic/beats@39bdcbe67899 (#4089)
  cloudbeat.reference.yml
  go.mod
  go.sum
  internal/infra/observability/otel.go
Due: golangci-lint, mage-config, mage-license-headers, go-test, go-mod-tidy

[updatecli] 9.3 - Update to elastic/beats@d9d5d914b7fe (#4090)
  go.mod
  go.sum
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Create Environment: Adjust Kibana resources and remove manual Entity Store v2 install
  .github/workflows/test-environment.yml
  deploy/test-environments/modules/aws/ec2/variables.tf
  deploy/test-environments/modules/ec/main.tf
Due: none

chore: enable automerge for approved renovate PRs
  renovate.json
Due: none

Create Environment: Update Entity Store v2 API endpoint and remove manual setting
  .github/workflows/test-environment.yml
  tests/fleet_api/entity_store_api.py
Due: none

remove param
  tests/fleet_api/entity_store_api.py
Due: none

status
  tests/fleet_api/entity_store_api.py
Due: none

fix: increase CNVM CI job timeout from 30 to 75 minutes
  .github/workflows/ci.yml
Due: none

chore: revert renovate.json changes (not part of this fix)
  renovate.json
Due: none

fix: increase CNVM CI job timeout from 30 to 75 minutes (#4285)
  .github/workflows/ci.yml
Due: none

test: upgrade test stack to Elasticsearch and Elastic Agent 9.3.2
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
  tests/test_environments/sa-agent-pytest.yml
Due: none

[Release] add-backport-next
  .mergify.yml
Due: none

Create Environment: Enable Security Hub and configure AWS region
  .github/actions/cdr/action.yml
  deploy/test-environments/modules/ec/main.tf
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/cloudtrail-pkg.json
  tests/integrations_setup/install_cloudtrail_integration.py
Due: none

chore(deps): enable renovate automerge for minor and patch updates
  renovate.json
Due: none

test: update remaining image refs to elastic-agent/elastic-agent:9.3.2
  .github/actions/docker-images/action.yml
  .github/workflows/ci.yml
  .github/workflows/eks-ci.yml
  scripts/packaging/docker/elastic-agent/Dockerfile
  tests/test_environments/k8s-cloudbeat-tests/templates/standalone-agent.yml
Due: none

chore(deps): enable renovate automerge for minor and patch updates (#4311)
  renovate.json
Due: none

test: remove unnecessary disk threshold disable from ES postStart
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

Bump 9.5
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: golangci-lint, mage-license-headers, go-test, generate-arm-dev-templates

test: upgrade test stack to Elasticsearch and Elastic Agent 9.3.2 (#4296)
  .github/actions/docker-images/action.yml
  .github/workflows/ci.yml
  .github/workflows/eks-ci.yml
  scripts/packaging/docker/elastic-agent/Dockerfile
  tests/test_environments/k8s-cloudbeat-tests/templates/standalone-agent.yml
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
  tests/test_environments/sa-agent-pytest.yml
Due: none

Update version
  deploy/asset-inventory-arm/ARM-for-organization-account.dev.json
  deploy/asset-inventory-arm/ARM-for-organization-account.json
  deploy/asset-inventory-arm/ARM-for-single-account.dev.json
  deploy/asset-inventory-arm/ARM-for-single-account.json
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Revert "Update version"
  deploy/asset-inventory-arm/ARM-for-organization-account.dev.json
  deploy/asset-inventory-arm/ARM-for-organization-account.json
  deploy/asset-inventory-arm/ARM-for-single-account.dev.json
  deploy/asset-inventory-arm/ARM-for-single-account.json
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

bump arm version for compute
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

ManagedIdentity bump
  deploy/azure/ARM-for-cloud-connectors-organization-account.json
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

deployments bump
  deploy/azure/ARM-for-cloud-connectors-organization-account.json
  deploy/azure/ARM-for-cloud-connectors-single-account.json
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
