Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Azure section 9 rule fixes (#1715)
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update rules md
  security-policies/README.md
  security-policies/RULES.md
Due: none

removing rebase conflicts
  security-policies/README.md
Due: none

update workflow and docs
  .github/workflows/test-environment.yml
  dev-docs/Cloud-Env-Testing.md
  dev-docs/Cloud-Env-Upgrade.md
Due: none

cis azure 3.11
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/storage.go
  resources/providers/azurelib/inventory/storage_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  resources/utils/maps/maps.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

change retention policy check
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fix path
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

after rebase fixes
  security-policies/README.md
  security-policies/RULES.md
Due: none

[CIS] Azure 3.11 (#1671)
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/storage.go
  resources/providers/azurelib/inventory/storage_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  resources/utils/maps/maps.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_11/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add parent to error log
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

add parent to error log (#1747)
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

Add path to times stat operation non permitted error
  resources/fetching/fetchers/k8s/file_system_fetcher.go
Due: mage-license-headers

Add path to times stat operation non permitted error (#1755)
  resources/fetching/fetchers/k8s/file_system_fetcher.go
Due: mage-license-headers

add slack payload and notification
  .github/workflows/rerun-flaky-workflows.yml
Due: none

fix install azure
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
Due: none

add gcp deployment manager ci test
  .github/workflows/test-gcp-dm.yml
Due: none

try workflow fix
  .github/workflows/test-gcp-dm.yml
Due: none

wip
  .github/workflows/test-gcp-dm.yml
Due: none

remove direct dependency go-git
  go.mod
  magefile.go
Due: mage-license-headers

fix opa test coverage cmd
  .github/workflows/test-opa-coverage.yml
Due: none

fix opa test coverage cmd (#1762)
  .github/workflows/test-opa-coverage.yml
Due: none

remove direct dependency go-git (#1761)
  go.mod
  magefile.go
Due: mage-license-headers

Revert "CloudFormation: Fix missing tags in cloud-security account" (#1744)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

trim coverage score
  .github/workflows/test-opa-coverage.yml
Due: none

lowercase
  .github/workflows/weekly-serverless.yml
Due: none

add percentage symbol
  .github/workflows/test-opa-coverage.yml
Due: none

Addition of azure tests
  .github/workflows/azure-ci.yml
  deploy/azure/cloudbeat-azure.yml
  tests/configuration.py
  tests/product/tests/data/azure/__init__.py
  tests/product/tests/data/azure/azure_app_service_test_cases.py
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_identity_access_management_test_cases.py
  tests/product/tests/data/azure/azure_key_vault_test_cases.py
  tests/product/tests/data/azure/azure_logging_and_monitoring_test_cases.py
  tests/product/tests/data/azure/azure_networking_test_cases.py
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
  tests/product/tests/data/azure_test_case.py
  tests/product/tests/test_azure_app_service_rules.py
  tests/product/tests/test_azure_database_service_rules.py
  tests/product/tests/test_azure_identity_access_management_rules.py
  tests/product/tests/test_azure_key_vault_rules.py
  tests/product/tests/test_azure_logging_and_monitoring_rules.py
  tests/product/tests/test_azure_networking_rules.py
  tests/product/tests/test_azure_storage_account_rules.py
  tests/product/tests/test_azure_virtual_machine_rules.py
Due: none

Implementing Azure CI rule tests (#1695)
  .github/workflows/azure-ci.yml
  deploy/azure/cloudbeat-azure.yml
  tests/configuration.py
  tests/product/tests/data/azure/__init__.py
  tests/product/tests/data/azure/azure_app_service_test_cases.py
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_identity_access_management_test_cases.py
  tests/product/tests/data/azure/azure_key_vault_test_cases.py
  tests/product/tests/data/azure/azure_logging_and_monitoring_test_cases.py
  tests/product/tests/data/azure/azure_networking_test_cases.py
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
  tests/product/tests/data/azure_test_case.py
  tests/product/tests/test_azure_app_service_rules.py
  tests/product/tests/test_azure_database_service_rules.py
  tests/product/tests/test_azure_identity_access_management_rules.py
  tests/product/tests/test_azure_key_vault_rules.py
  tests/product/tests/test_azure_logging_and_monitoring_rules.py
  tests/product/tests/test_azure_networking_rules.py
  tests/product/tests/test_azure_storage_account_rules.py
  tests/product/tests/test_azure_virtual_machine_rules.py
Due: none

Update azure-ci.yml
  .github/workflows/azure-ci.yml
Due: none

retrigger
  .github/workflows/azure-ci.yml
Due: none

Revert "retrigger"
  .github/workflows/azure-ci.yml
Due: none

Revert "Update azure-ci.yml"
  .github/workflows/azure-ci.yml
Due: none

Adding workflow dispatch
  .github/workflows/azure-ci.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
