Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

add gcp deployment manager ci test (#1763)
  .github/workflows/test-gcp-dm.yml
  deploy/deployment-manager/deploy.sh
  deploy/test-environments/delete_env.sh
  deploy/test-environments/delete_gcp_env.sh
Due: none

update cloudformation ci
  .github/workflows/cloudformation-ci.yml
Due: none

change event in cloudformation ci
  .github/workflows/cloudformation-ci.yml
Due: none

comment cleanup cloudformation stack
  .github/workflows/cloudformation-ci.yml
Due: none

bumping time
  .github/workflows/azure-ci.yml
  flavors/benchmark/azure.go
Due: mage-license-headers, go-test

spell
  flavors/benchmark/azure.go
Due: mage-license-headers, go-test

add naming randomization
  .github/workflows/cloudformation-ci.yml
Due: none

update action
  .github/workflows/cloudformation-ci.yml
Due: none

remove cloudformation debugging
  .github/workflows/cloudformation-ci.yml
Due: none

update readme
  tests/README.md
  tests/integrations_setup/README.md
Due: none

shellcheck: Make some easy fixes (#1821)
  .pre-commit-config.yaml
  scripts/make/autopep8_all.sh
  scripts/make/aws_creds_env.sh
  scripts/remote_edit_config.sh
Due: none

index increase
  .github/workflows/azure-ci.yml
Due: none

Implement vulnerability assessment settings provider
  resources/providers/azurelib/inventory/mock_sql_provider_api.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/sql_server_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

Implement vulnerability assessment enricher
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers, go-test

Implement CIS Azure 4.2.2
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_2/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement CIS Azure 4.2.5
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_5/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement CIS Azure 4.2.3
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_3/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement CIS Azure 4.2.4
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/sql_server_provider_test.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_4/test.rego
  security-policies/bundle/compliance/policy/azure/sql_server/ensure_vulnerability_assessment_storage_account.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Update azure-ci.yml
  .github/workflows/azure-ci.yml
Due: none

Update version.go
  version/version.go
Due: mage-license-headers, go-test

[Release] Bump version to 8.12.1 (#1826)
  version/version.go
Due: mage-license-headers, go-test

add common.collect_evidence()
  security-policies/bundle/compliance/lib/common/common.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

test collect_evidence with empty paths
  security-policies/bundle/compliance/lib/common/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

test collect_evidence with out-of-bounds array index
  security-policies/bundle/compliance/lib/common/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

test collect_evidence with invalid paths
  security-policies/bundle/compliance/lib/common/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

test collect_evidence with passing cases
  security-policies/bundle/compliance/lib/common/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

remove comments
  .github/workflows/azure-ci.yml
  flavors/benchmark/azure.go
Due: mage-license-headers, go-test

change comment
  .github/workflows/azure-ci.yml
Due: none

rename variable
  security-policies/bundle/compliance/lib/common/common.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

bump azure cycle duration to 20m
  flavors/benchmark/azure.go
Due: mage-license-headers, go-test

add 5.1.4 rego rule
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_4/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add test for storage account transform
  resources/providers/azurelib/inventory/storage_provider_test.go
Due: mage-license-headers, go-test

fix mockery error
  .mockery.yaml
Due: none

add storage account sub enricher
  flavors/benchmark/azure.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  resources/providers/azurelib/inventory/storage_provider.go
  resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

update rules status table
  security-policies/RULES.md
Due: none
