Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

[pre-commit] use local (hermit) golangci-lint binary (#2130)
  .pre-commit-config.yaml
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Cloudformation yml to create elast-agent user and generate direct access key
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
  scripts/publish_cft.sh
Due: rain

use ::add-mask
  .github/workflows/cloudformation-ci.yml
Due: none

add aws ci with new credentials
  .github/workflows/cloudformation-ci.yml
Due: none

fix ci
  .github/workflows/cloudformation-ci.yml
Due: none

cloudformation ga
  .github/workflows/cloudformation-ci.yml
Due: none

unique username
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

fmt
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

run cloudformation-ci also on push to main branch
  .github/workflows/cloudformation-ci.yml
Due: none

fix typos
  .github/actions/aws-ci/action.yml
  scripts/publish_cft.sh
Due: none

run temporarily from pull_request
  .github/workflows/cloudformation-ci.yml
Due: none

fixes
  .github/actions/aws-ci/action.yml
  .github/workflows/cloudformation-ci.yml
  deploy/aws/cloudbeat-aws.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

restore pull_requst_target
  .github/workflows/cloudformation-ci.yml
Due: none

check if CNVM resources have host section
  tests/integration/tests/test_sanity_checks.py
Due: none

comment out host metadata
  _meta/config/processors.yml.tmpl
  cloudbeat.yml
  deploy/aws/cloudbeat-aws.yml
  deploy/azure/cloudbeat-azure.yml
  deploy/gcp/cloudbeat-gcp.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
Due: mage-config

Cloudformation direct access key (#2123)
  .github/workflows/cloudformation-ci.yml
  deploy/aws/cloudbeat-aws.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
  scripts/publish_cft.sh
Due: rain

Update version.go
  version/version.go
Due: mage-license-headers, go-test

Update .mergify.yml
  .mergify.yml
Due: none

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: none

Bump Hermit to 8.15.0
  bin/hermit.hcl
Due: none

Bump cloudbeat version (#2140)
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: mage-license-headers, go-test

ci: separate lint and unittests
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
Due: none

ci: extract lint and unittests workflow (#2132)
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
Due: none

trigger cf ci
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

add add_host_metadata processor for KSPM
  internal/flavors/posture.go
Due: mage-license-headers, go-test

remove "add_host_metadata" processor for CSPM
  deploy/aws/cloudbeat-aws.yml
  deploy/azure/cloudbeat-azure.yml
  deploy/gcp/cloudbeat-gcp.yml
Due: none

deduplicate GetStringValue() calls
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers, go-test

add tests for Azure unwrapping properties
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers, go-test

add tests for GCP unwrapping properties
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-472.0.0.pkg
  bin/.gh-2.48.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
Due: none

Add correct host info for cloud provider virtual machines (#2126)
  _meta/config/processors.yml.tmpl
  cloudbeat.yml
  cmd/root.go
  deploy/aws/cloudbeat-aws.yml
  deploy/azure/cloudbeat-azure.yml
  deploy/gcp/cloudbeat-gcp.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
  internal/flavors/posture.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: mage-config, mage-license-headers, go-test

Sanity check: CNVM resources must have a `host` section (#2138)
  tests/integration/tests/test_sanity_checks.py
Due: none

fix GCP compute matches
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers, go-test

fix unit tests
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: mage-license-headers, go-test

Fix host info for GCP Compute Instances (#2151)
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: mage-license-headers, go-test

publish user.* data for AWS IAM resources
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
Due: mage-license-headers, go-test

publish user.* data for Azure IAM resources
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
Due: mage-license-headers, go-test

publish user.* data for GCP IAM resources
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers, go-test
