Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

add Transit Gateway Attachment methods
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/ec2/mock_client.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/resources/providers/awslib/ec2/transit_gateway_attachment.go
Due: mage-license-headers, go-test

add Subnet methods
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/ec2/mock_client.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/resources/providers/awslib/ec2/subnet.go
Due: mage-license-headers, go-test

add Network Interface methods
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/ec2/mock_client.go
  internal/resources/providers/awslib/ec2/network_interface.go
  internal/resources/providers/awslib/ec2/provider.go
Due: mage-license-headers, go-test

commit only when staged
  scripts/bump_cloudbeat.sh
Due: none

start working on AWS networking fetcher
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_networking.go
Due: mage-license-headers, go-test

add Internet Gateway methods
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/resources/providers/awslib/ec2/internet_gateway.go
  internal/resources/providers/awslib/ec2/provider.go
Due: mage-license-headers, go-test

Update .mergify.yml
  .mergify.yml
Due: none

Update version.go
  version/version.go
Due: mage-license-headers, go-test

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: none

github-actions(updatecli): use GitHub secrets without vault access (#2224)
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .ci/updatecli/updatecli.d/update-mods.yml
  .github/workflows/updatecli.yml
Due: mage-license-headers, go-test

build a fetcher
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_networking.go
Due: mage-license-headers, go-test

enable AWS Networking fetcher
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/mock_describe_func.go
  internal/inventory/awsfetcher/mock_networking_provider.go
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/ec2/internet_gateway.go
  internal/resources/providers/awslib/ec2/mock_client.go
  internal/resources/providers/awslib/ec2/provider.go
Due: mage-license-headers, go-test

Use substring check for EKS cluster name provider
  internal/resources/providers/awslib/cluster_name_provider.go
Due: mage-license-headers, go-test

sort interface embeds
  internal/resources/providers/awslib/ec2/provider.go
Due: mage-license-headers, go-test

Use substring check for EKS cluster name provider (#2227)
  internal/resources/providers/awslib/cluster_name_provider.go
Due: mage-license-headers, go-test

bump tools gcloud, golangci-lint, just and pre-commit repos
  .pre-commit-config.yaml
  bin/.gcloud-478.0.0.pkg
  bin/.golangci-lint-1.59.0.pkg
  bin/.just-1.27.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
Due: mage-license-headers, go-test

Update hermit and pre-commit dependencies (#2239)
  .pre-commit-config.yaml
  bin/.gcloud-478.0.0.pkg
  bin/.golangci-lint-1.59.0.pkg
  bin/.just-1.27.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
Due: mage-license-headers, go-test

regal: Disable new rules by default
  .pre-commit-config.yaml
  bin/.regal-0.22.0.pkg
  bin/regal
  security-policies/.regal/config.yaml
Due: none

regal: Disable new rules by default (#2240)
  .pre-commit-config.yaml
  bin/.regal-0.22.0.pkg
  bin/regal
  security-policies/.regal/config.yaml
Due: none

chore: Update to elastic/beats@2d687ac9d228
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config, go-mod-tidy

fix breaking changes
  internal/launcher/launcher.go
Due: mage-license-headers, go-test

[updatecli] Update to elastic/beats@2d687ac9d228 (#2231)
  cloudbeat.reference.yml
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: mage-config, mage-license-headers, go-test, go-mod-tidy

add proper ARN prefixes
  internal/resources/providers/awslib/ec2/internet_gateway.go
  internal/resources/providers/awslib/ec2/nat_gateway.go
  internal/resources/providers/awslib/ec2/network_interface.go
  internal/resources/providers/awslib/ec2/transit_gateway_attachment.go
  internal/resources/providers/awslib/ec2/vpc_peering.go
Due: mage-license-headers, go-test

add Internet Gateway test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

add NAT Gateway test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

add Network Interface test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

add Subnet test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

add Transit Gateway Attachment test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

add Transit Gateway test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

add VPC Peering Connection test
  internal/resources/providers/awslib/ec2/provider_test.go
Due: mage-license-headers, go-test

Implement AWS VPC fetcher with sub-resources (#2241)
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/mock_describe_func.go
  internal/inventory/awsfetcher/mock_networking_provider.go
  internal/resources/fetching/fetcher.go
  internal/resources/fetching/fetchers/aws/network_fetcher.go
  internal/resources/fetching/fetchers/aws/network_fetcher_test.go
  internal/resources/providers/awslib/ec2/ec2.go
  internal/resources/providers/awslib/ec2/internet_gateway.go
  internal/resources/providers/awslib/ec2/mock_client.go
  internal/resources/providers/awslib/ec2/mock_elastic_compute.go
  internal/resources/providers/awslib/ec2/nat_gateway.go
  internal/resources/providers/awslib/ec2/network_interface.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/resources/providers/awslib/ec2/provider_test.go
  internal/resources/providers/awslib/ec2/subnet.go
  internal/resources/providers/awslib/ec2/transit_gateway.go
  internal/resources/providers/awslib/ec2/transit_gateway_attachment.go
  internal/resources/providers/awslib/ec2/vpc_peering.go
Due: mage-license-headers, go-test

extend standard retry with 429 http status code (#2223)
  internal/flavors/asset_inventory.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/benchmark/eks_test.go
  internal/flavors/benchmark/strategy.go
  internal/flavors/benchmark/strategy_test.go
  internal/flavors/vulnerability.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/config_provider_test.go
  internal/resources/providers/awslib/mock_config_provider_api.go
  internal/vulnerability/worker.go
Due: mage-license-headers, go-test

rerun-flaky-workflows: Use env vars (#2228)
  .github/workflows/rerun-flaky-workflows.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
