Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Handle password policy not found error (#2540)
  internal/resources/providers/awslib/iam/password_policy.go
  internal/resources/providers/awslib/iam/password_policy_test.go
Due: golangci-lint, mage-license-headers, go-test

use unique deployment name
  .github/workflows/test-environment.yml
Due: none

update inventory integration version
  deploy/cloud/data/package_policy_asset_inventory_azure.json
  tests/integrations_setup/package_policy.py
Due: none

bump hermit to 9.0.0
  bin/hermit.hcl
Due: none

[updatecli] Update Golang version to 1.23.1 (#2531)
  .go-version
  bin/.go-1.23.1.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][Azure] Add test cases and installation script (#2498)
  .github/actions/azure-asset-inventory-ci/action.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
  .github/workflows/test-environment.yml
  deploy/asset-inventory/cloudbeat-azure-asset-inventory.yml
  deploy/cloud/data/agent_policy_asset_inventory_azure.json
  deploy/cloud/data/package_policy_asset_inventory_azure.json
  scripts/bump_integration.sh
  tests/integrations_setup/README.md
  tests/integrations_setup/install_azure_asset_inventory_integration.py
  tests/integrations_setup/package_policy.py
  tests/product/tests/data/azure_asset_inventory/__init__.py
  tests/product/tests/data/azure_asset_inventory/test_cases.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/pyproject.toml
Due: update-rules-status

fix: using the input version for serverless
  .github/workflows/test-environment.yml
Due: none

chore: Update to elastic/beats@7720c900f893
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.27.pkg
  bin/.gcloud-493.0.0.pkg
  bin/.gh-2.57.0.pkg
  bin/.regal-0.27.0.pkg
  bin/aws-iam-authenticator
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/regal
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update golang mod dependencies (#2551)
  go.mod
  go.sum
Due: go-mod-tidy

Disable too-many-positional-arguments pylint
  tests/pylintrc
Due: none

Fix `too-many-positional-arguments` error (#2553)
  tests/pylintrc
Due: none

[updatecli] Update hermit and pre-commit dependencies (#2550)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.27.pkg
  bin/.gcloud-493.0.0.pkg
  bin/.gh-2.57.0.pkg
  bin/.regal-0.27.0.pkg
  bin/aws-iam-authenticator
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/regal
Due: none

[updatecli] Update to elastic/beats@7720c900f893 (#2549)
  go.mod
  go.sum
Due: go-mod-tidy

fix buildkite settings to include 8.x branch
  catalog-info.yaml
Due: none

fix buildkite settings to include 8.x branch (#2557)
  catalog-info.yaml
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

bump hermit to 9.0.0 (#2543)
  bin/hermit.hcl
Due: none

TEST Fix/gh create env serverless version (#2561)
  .github/workflows/test-environment.yml
Due: none

fix gh artifacts upload for docker images
  .github/actions/docker-images/action.yml
Due: none

fix sa deployment and update workflow
  .github/workflows/test-gcp-dm.yml
  deploy/deployment-manager/deploy_service_account.sh
Due: none

chore: Update to elastic/beats@7754a0b07184
  go.mod
  go.sum
Due: go-mod-tidy

Fix GCP deployment manager formatting (#2530)
  .github/workflows/test-gcp-dm.yml
  deploy/deployment-manager/deploy_service_account.sh
Due: none

add support for Azure Queues and Queue Services
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
Due: golangci-lint, mage-license-headers, go-test

add Azure Storage fetcher
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

enable new fetcher
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

fix Subscription ID issue by using name
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

fill TenantID and ResourceGroup for Storage Accounts
  internal/resources/providers/azurelib/inventory/storage_provider.go
Due: golangci-lint, mage-license-headers, go-test

update ASSETS.md
  internal/inventory/ASSETS.md
Due: none

update mocks
  internal/inventory/azurefetcher/mock_account_provider.go
  internal/inventory/azurefetcher/mock_account_provider_func.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/inventory/azurefetcher/mock_storage_provider_func.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

add integration test cases for new resources
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status
