Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

fix(lint): replace os.Exit(m.Run()) with m.Run() in TestMain functions
  internal/dataprovider/providers/k8s/setup_test.go
  internal/flavors/benchmark/setup_test.go
  internal/processor/add_cluster_id/setup_test.go
  internal/resources/fetching/fetchers/aws/setup_test.go
  internal/resources/fetching/fetchers/k8s/setup_test.go
  internal/uniqueness/setup_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: keep new elastic/goja go.sum entry for module graph verification
  go.sum
Due: go-mod-tidy

fix(lint): replace deprecated NewSimpleClientset with NewClientset
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: remove stale go.sum entries pruned by go mod tidy
  go.sum
Due: go-mod-tidy

fix: remove stale mxk/go-flowrate from go.mod pruned by go mod tidy
  go.mod
Due: go-mod-tidy

fix: update k8s fake client usage for v0.35+ compatibility
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
  internal/dataprovider/providers/k8s/setup_test.go
  internal/flavors/benchmark/strategy_test.go
  internal/processor/add_cluster_id/cluster_helper_test.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/setup_test.go
  internal/uniqueness/leaderelection_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: resolve invalid module versions in go.mod and update go.sum
  go.mod
  go.sum
Due: go-mod-tidy

fix: merge main and run go mod tidy for trivy v0.69.3 update
  go.mod
  go.sum
Due: go-mod-tidy

fix: update Azure SDK major version module paths and fix breaking API changes
  go.mod
  go.sum
  internal/resources/providers/azurelib/inventory/app_service_provider.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
  internal/resources/providers/azurelib/inventory/keyvault_provider.go
  internal/resources/providers/azurelib/inventory/keyvault_provider_test.go
  internal/resources/providers/azurelib/inventory/postgresql_provider.go
  internal/resources/providers/azurelib/inventory/postgresql_provider_test.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: revert incompatible elastic package updates, fix module versions
  go.mod
  go.sum
Due: go-mod-tidy

fix: add setup_test.go to all k8s fake client test packages
  internal/flavors/benchmark/setup_test.go
  internal/processor/add_cluster_id/setup_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/aws/setup_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/uniqueness/setup_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: enable GOEXPERIMENT=jsonv2 for trivy v0.69.3 compatibility
  bin/hermit.hcl
Due: none

fix: set GOEXPERIMENT=jsonv2 in hermit env and crossbuild args
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

feat: implement Version Bump Automation Phase 3
  .buildkite/version-bump-pipeline.yml
  .github/workflows/auto-approve-bump-prs.yml
  .github/workflows/bump-version.yml
  .mergify.yml
  scripts/bump_cloudbeat.sh
Due: none

fix: use GITHUB_TOKEN with explicit permissions instead of CLOUDSEC_MACHINE_TOKEN
  .github/workflows/auto-approve-bump-prs.yml
Due: none

fix: use cloudsecmachine (not cloudsecmachine[bot]) in auto-approve condition
  .github/workflows/auto-approve-bump-prs.yml
Due: none

Consolidate IDF auth
  internal/config/config.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/role_chaining.go
  internal/resources/providers/awslib/web_identity.go
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/auth_provider_test.go
  internal/resources/providers/azurelib/auth/credentials.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

fix: revert Python 3.14.3→3.11.4 hermit and go mod tidy to align with 9.4/main
  bin/.python3-3.11.4.pkg
  bin/python3
  bin/python3-config
  bin/python3.11
  bin/python3.11-config
  bin/python3.14
  bin/python3.14-config
  go.mod
  go.sum
Due: go-mod-tidy

fix: revert elastic/goja and openvex/go-vex to align with main/9.4
  go.mod
  go.sum
Due: go-mod-tidy

fix(deps): revert dop251/goja_nodejs to align with 9.4/main (9.3)
  go.mod
  go.sum
Due: go-mod-tidy

fix: update k8s fake client usage for v0.35+ compatibility
  internal/dataprovider/providers/k8s/setup_test.go
  internal/resources/fetching/fetchers/k8s/setup_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: add setup_test.go to all k8s fake client test packages
  internal/flavors/benchmark/setup_test.go
  internal/processor/add_cluster_id/setup_test.go
  internal/resources/fetching/fetchers/aws/setup_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/uniqueness/setup_test.go
Due: golangci-lint, mage-license-headers, go-test

fix(deps): revert dop251/goja_nodejs to align with 9.4/main (9.3) (#5284)
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/setup_test.go
  internal/flavors/benchmark/setup_test.go
  internal/processor/add_cluster_id/setup_test.go
  internal/resources/fetching/fetchers/aws/setup_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/setup_test.go
  internal/uniqueness/setup_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: restore pip/pydoc hermit symlinks for python3 3.11.4
  bin/pip3
  bin/pip3.11
  bin/pip3.14
  bin/pydoc3
  bin/pydoc3.11
  bin/pydoc3.14
Due: none

fix: restore pip/pydoc hermit symlinks for python3 3.11.4 (#5285)
  bin/pip3
  bin/pip3.11
  bin/pip3.14
  bin/pydoc3
  bin/pydoc3.11
  bin/pydoc3.14
Due: none

fix: include hidden files in docker-images artifact upload
  .github/actions/docker-images/action.yml
Due: none

fix: include hidden files in docker-images artifact upload (#5286)
  .github/actions/docker-images/action.yml
Due: none

chore: upgrade trivy to v0.69.3 with GOEXPERIMENT=jsonv2
  .buildkite/scripts/package.sh
  .github/actions/docker-images/action.yml
  .github/workflows/binary-size-monitor.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  go.mod
  go.sum
  justfile
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

feat: add gh CLI + ephemeral token verification step to version-bump pipeline
  .buildkite/scripts/verify-gh-token.sh
  .buildkite/version-bump-pipeline.yml
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
