Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

[updatecli] Update to elastic/beats@9f2f7445453b (#2484)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update golang mod dependencies (#2486)
  go.mod
  go.sum
Due: go-mod-tidy

introduce install script
  deploy/cloud/data/agent_policy_asset_inventory_azure.json
  deploy/cloud/data/package_policy_asset_inventory_azure.json
  tests/integrations_setup/install_azure_asset_inventory_integration.py
  tests/integrations_setup/package_policy.py
Due: none

[ci] show git diff on failure
  .github/workflows/ci-pull_request.yml
Due: none

[ci] fix failure statement
  .github/workflows/ci-pull_request.yml
Due: none

appease isort with magic
  tests/integrations_setup/install_azure_asset_inventory_integration.py
  tests/integrations_setup/package_policy.py
  tests/product/tests/test_azure_asset_inventory.py
Due: update-rules-status

add missing workflows in 8.x
  .github/workflows/arm-template-lint.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/unit-test.yml
Due: none

Add missing workflows in 8.x (#2526)
  .github/workflows/arm-template-lint.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/unit-test.yml
Due: none

wait for es data before running tests
  .github/actions/gcp-asset-inventory-ci/action.yml
  .github/actions/wait-for-es-data/action.yml
Due: none

fix gcp deployment manager formatting
  deploy/deployment-manager/deploy_service_account.sh
  deploy/deployment-manager/service_account.py
Due: none

add more inputs
  .github/actions/wait-for-es-data/action.yml
Due: none

chore: Update version.asciidoc with Golang version 1.23.1
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.23.1
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.23.1
  bin/.go-1.23.1.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update go.mod files with 1.23
  go.mod
Due: go-mod-tidy

chore: Update to elastic/beats@29ccd4834f6c
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@6ab7467ce404
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.17.51.pkg
  bin/.elastic-package-0.104.0.pkg
  bin/.gcloud-492.0.0.pkg
  bin/.gh-2.56.0.pkg
  bin/.golangci-lint-1.61.0.pkg
  bin/.regal-0.26.2.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/regal
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Fix GCP asset inventory CI (#2528)
  .github/actions/gcp-asset-inventory-ci/action.yml
  .github/actions/wait-for-es-data/action.yml
Due: none

[updatecli] Update golang mod dependencies (#2536)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update hermit and pre-commit dependencies (#2535)
  .pre-commit-config.yaml
  bin/.awscli-2.17.51.pkg
  bin/.elastic-package-0.104.0.pkg
  bin/.gcloud-492.0.0.pkg
  bin/.gh-2.56.0.pkg
  bin/.golangci-lint-1.61.0.pkg
  bin/.regal-0.26.2.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/regal
Due: golangci-lint, mage-license-headers, go-test

[updatecli] Update to elastic/beats@6ab7467ce404 (#2534)
  go.mod
  go.sum
Due: go-mod-tidy

Bring back changes
  go.mod
  go.sum
Due: go-mod-tidy

build(deps): Bump modernc.org/sqlite from 1.32.0 to 1.33.1 (#2514)
  go.mod
  go.sum
Due: go-mod-tidy

Handle password policy not found error
  internal/resources/providers/awslib/iam/password_policy.go
  internal/resources/providers/awslib/iam/password_policy_test.go
Due: golangci-lint, mage-license-headers, go-test

Clean up the code
  internal/resources/providers/awslib/iam/password_policy.go
Due: golangci-lint, mage-license-headers, go-test

Add header
  internal/resources/providers/awslib/iam/password_policy_test.go
Due: golangci-lint, mage-license-headers, go-test

install Azure Asset Inventory in CI
  .github/actions/azure-asset-inventory-ci/action.yml
  .github/workflows/ci.yml
  .github/workflows/create-environment.yml
  deploy/asset-inventory/cloudbeat-azure-asset-inventory.yml
  tests/integrations_setup/README.md
Due: none

update bump_integration.sh script
  scripts/bump_integration.sh
Due: none

rename the script back to original
  .github/workflows/test-environment.yml
Due: none

Fix imports
  internal/resources/providers/awslib/iam/password_policy_test.go
Due: golangci-lint, mage-license-headers, go-test
