Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

add serverless mode
  .github/workflows/test-environment.yml
Due: none

update workflow
  .github/workflows/upgrade-environment.yml
Due: none

Revert Azure deletion to delete the whole resource group (#1584)
  deploy/test-environments/delete_env.sh
Due: none

temp action to check aws login using identity
  .github/workflows/upgrade-environment.yml
Due: none

add permissions
  .github/workflows/upgrade-environment.yml
Due: none

revert debug changes
  .github/workflows/upgrade-environment.yml
Due: none

add tests
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
Due: mage-license-headers

chore: Update to elastic/beats@296183ca0d11
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@c1fdb00da13d
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config

chore: Update hermit and pre-commit packages
  bin/.yq-4.40.3.pkg
  bin/yq
Due: none

[updatecli] Update to elastic/beats@c1fdb00da13d (#1594)
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config

[updatecli] Update hermit and pre-commit dependencies (#1595)
  bin/.yq-4.40.3.pkg
  bin/yq
Due: none

first working version of telemetry automation tests
  tests/commonlib/utils.py
  tests/configuration.py
  tests/integration/tests/test_sanity_checks.py
  tests/pyproject.toml
Due: none

first working version of telemetry automation tests
  tests/commonlib/utils.py
Due: none

Azure: Support management groups (#1559)
  dataprovider/providers/cloud/data_provider.go
  dataprovider/providers/cloud/data_provider_test.go
  flavors/benchmark/azure.go
  flavors/benchmark/azure_test.go
  flavors/benchmark/strategy.go
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/fetching/preset/aws_org_preset.go
  resources/fetching/preset/aws_org_preset_test.go
  resources/fetching/preset/azure_preset.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
  resources/providers/azurelib/governance/mock_provider_api.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/mock_service_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/mock_provider_initializer_api.go
  resources/providers/azurelib/provider.go
  resources/utils/strings/strings.go
Due: mage-license-headers

add comment
  .github/workflows/upgrade-environment.yml
Due: none

consistent variable naming
  resources/fetching/fetchers/aws/ecr_fetcher.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/fetchers/aws/iam_fetcher.go
  resources/fetching/fetchers/aws/kms_fetcher.go
  resources/fetching/fetchers/aws/logging_fetcher.go
  resources/fetching/fetchers/aws/monitoring_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/rds_fetcher.go
  resources/fetching/fetchers/aws/s3_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/batch_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/log_sink_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/policies_fetcher.go
  resources/fetching/fetchers/gcp/service_usage_fetcher.go
  resources/fetching/fetchers/k8s/file_system_fetcher.go
  resources/fetching/fetchers/k8s/kube_fetcher.go
  resources/fetching/fetchers/k8s/kube_provider.go
  resources/fetching/fetchers/k8s/process_fetcher.go
  resources/fetching/registry/registry_test.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/provider.go
Due: mage-license-headers

rm todo comment
  resources/fetching/cycle/cache.go
Due: mage-license-headers

[updatecli] Update to elastic/beats@296183ca0d11 (#1593)
  go.mod
  go.sum
Due: none

add slack action
  .ci/slack/create-env-payload.json
  .github/workflows/test-environment.yml
Due: none

update action working dir
  .github/workflows/test-environment.yml
Due: none

Fix upgrade flow issues (#1591)
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
Due: none

add script for generating payload
  .ci/scripts/prepare_slack_data.py
  .github/workflows/test-environment.yml
  .pre-commit-config.yaml
Due: none

update env vars
  .github/workflows/test-environment.yml
Due: none

set temporary url
  .github/workflows/test-environment.yml
Due: none

linting
  tests/commonlib/utils.py
  tests/integration/tests/test_sanity_checks.py
Due: none

remove json file
  .ci/slack/create-env-payload.json
Due: none

update mocks
  resources/providers/azurelib/governance/mock_provider_api.go
  resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers

update payload
  .ci/scripts/prepare_slack_data.py
  .github/workflows/test-environment.yml
Due: none

reformat test file
  tests/integration/tests/test_sanity_checks.py
  tests/integration/tests/test_sanity_telemetry.py
Due: none

update format and refactor payload
  .ci/scripts/prepare_slack_data.py
Due: none

reformat test file
  tests/integration/tests/test_sanity_telemetry.py
Due: none

updade output function
  .ci/scripts/prepare_slack_data.py
Due: none

update slack user and format
  .ci/scripts/prepare_slack_data.py
Due: none

Support account type for Azure
  config/config.go
  deploy/azure/azureARMTemplate-organization.json
Due: mage-license-headers

Copy first
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: none

Azure: Add ARM for management group deployment
  deploy/azure/ARM-for-organization-account.json
Due: none
