Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

go mod tidy
  go.sum
Due: go-mod-tidy

bump Golang to v1.22
  .go-version
  docs/version.asciidoc
  go.mod
Due: mage-license-headers, go-test, go-mod-tidy

bump Golang to v1.22.2 for hermit
  bin/.go-1.22.2.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers, go-test

Bump golang.org/x/net from v0.21.0 to v0.23.0 (8.13 backport) (#2154)
  go.mod
  go.sum
Due: go-mod-tidy

Update go to v1.22 (#2155)
  .go-version
  bin/.go-1.22.2.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: mage-license-headers, go-test, go-mod-tidy

add missing test markers
  tests/pyproject.toml
Due: none

Update go to v1.22.2 (8.13 backport) (#2156)
  .go-version
  bin/.go-1.22.2.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
  tests/pyproject.toml
Due: mage-license-headers, go-test, go-mod-tidy

add missing CNVM test markers
  tests/pyproject.toml
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-473.0.0.pkg
  bin/.opa-0.64.1.pkg
  bin/.regal-0.21.3.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/opa
  bin/regal
Due: none

chore: Update to elastic/beats@81f63103678f
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@2f3a4d298561
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update to elastic/beats@81f63103678f (#2163)
  go.mod
  go.sum
Due: go-mod-tidy

[Release] update version
  version/version.go
Due: mage-license-headers, go-test

Bump hermit cloudbeat version (#2141)
  bin/hermit.hcl
Due: none

[Release] Update version to 8.13.4 (#2166)
  version/version.go
Due: mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-474.0.0.pkg
  bin/.gh-2.49.0.pkg
  bin/.golangci-lint-1.58.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
Due: mage-license-headers, go-test

chore: Update to elastic/beats@4c04c1ad8631
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@ff424ea42bbd
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update to elastic/beats@ff424ea42bbd (#2174)
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-474.0.0.pkg
  bin/.gh-2.49.0.pkg
  bin/.golangci-lint-1.58.0.pkg
  bin/.opa-0.64.1.pkg
  bin/.regal-0.21.3.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/opa
  bin/regal
Due: mage-license-headers, go-test

warn on use-rego-v1
  security-policies/.regal/config.yaml
Due: none

fix rego
  security-policies/.regal/config.yaml
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_8/rule.rego
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_8/test.rego
  security-policies/bundle/compliance/policy/aws_iam/data_adapter.rego
  security-policies/bundle/compliance/policy/gcp/data_adapter.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_admin_without_multiple_roles.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_user_not_editor_or_owner.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Enable linters
  .golangci.yaml
Due: mage-license-headers, go-test

[updatecli] Update hermit and pre-commit dependencies (#2177)
  .golangci.yaml
  .pre-commit-config.yaml
  bin/.gcloud-474.0.0.pkg
  bin/.gh-2.49.0.pkg
  bin/.golangci-lint-1.58.0.pkg
  bin/.opa-0.64.1.pkg
  bin/.regal-0.21.3.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/opa
  bin/regal
  security-policies/.regal/config.yaml
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_8/rule.rego
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_8/test.rego
  security-policies/bundle/compliance/policy/aws_iam/data_adapter.rego
  security-policies/bundle/compliance/policy/gcp/data_adapter.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_admin_without_multiple_roles.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_user_not_editor_or_owner.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add debug line to buildkite package to verify what in the build folder
  .buildkite/scripts/package.sh
Due: none

Add debug line to buildkite package to verify what in the build folder (#2181)
  .buildkite/scripts/package.sh
Due: none

review changes: return instead of redundant assignment
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test

add rate limiter
  go.mod
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers, go-test, go-mod-tidy

add cache
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers, go-test

use sync.Map
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
Due: mage-license-headers, go-test

use cycle period as manager timeout
  internal/flavors/benchmark/gcp.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
Due: mage-license-headers, go-test

fix review comments
  .ci/scripts/get_versions.py
  .ci/scripts/run_agent.sh
  .github/workflows/test-agent-compatibility.yml
Due: none

update trigger to test changes
  .github/workflows/test-agent-compatibility.yml
Due: none

Make mage package verbose
  .buildkite/scripts/package.sh
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
