Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

chore: upgrade trivy to v0.69.3 with GOEXPERIMENT=jsonv2 (#4380)
  .buildkite/scripts/package.sh
  .github/actions/docker-images/action.yml
  .github/workflows/binary-size-monitor.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  go.mod
  go.sum
  internal/resources/providers/awslib/cached_region_selector.go
  justfile
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: remove stale nolint:revive directive in fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

fix: replace x-pack/libbeat/include with explicit imports
  cmd/root.go
  go.mod
  go.sum
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

CSP consolidation
  internal/resources/providers/awslib/config.go
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/auth_provider_test.go
  internal/resources/providers/gcplib/auth/auth_provider.go
Due: golangci-lint, mage-license-headers, go-test

fix: restore //nolint:revive on vmProperties struct
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

fix(lint): inline reflect.Ptr to reflect.Pointer for govet
  internal/resources/providers/awslib/multi_region.go
Due: golangci-lint, mage-license-headers, go-test

change team name
  catalog-info.yaml
Due: none

Pull config values from libbeat
  internal/config/config.go
  internal/flavors/assetinventory/strategy_test.go
  internal/flavors/benchmark/aws_test.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

test action
  .github/workflows/publish-cloudformation.yml
Due: none

fix
  .github/workflows/publish-cloudformation.yml
Due: none

ci: declare workflow-level contents: read on unit-test and ci-pull_request
  .github/workflows/ci-pull_request.yml
  .github/workflows/unit-test.yml
Due: none

Bump to 9.3.6
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 8.19.17
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 9.4.3
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

chore: upgrade trivy to v0.69.3 with GOEXPERIMENT=jsonv2 (#4380)
  .buildkite/scripts/package.sh
  .github/actions/docker-images/action.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  go.mod
  go.sum
  internal/resources/providers/awslib/cached_region_selector.go
  justfile
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

ci: add ActionScope workflow exposure scan
  .github/workflows/actionscope.yml
Due: none

Automate elastic/beats bump like elastic-agent
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/bump-beats-version.yml
  .github/workflows/updatecli.yml
Due: none

ci: remove auto-merge queue rule for version bump PRs
  .mergify.yml
Due: none

ci: fix auto-merge version bump PRs rule to use merge instead of queue
  .mergify.yml
Due: none

ci: fix auto-merge version bump PRs rule to use merge instead of queue (#6678)
  .mergify.yml
Due: none

Automate elastic/beats bump like elastic-agent (#6642)
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/bump-beats-version.yml
  .github/workflows/updatecli.yml
Due: none

Update elastic/beats and drop removed otelconsumer import
  cmd/root.go
  go.mod
  go.sum
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Regenerate cloudbeat.reference.yml for beats bump
  cloudbeat.reference.yml
Due: mage-config

launcher: replace deprecated Manager.Start with PreInit/PostInit
  internal/launcher/launcher.go
Due: golangci-lint, mage-license-headers, go-test

fix(cloudformation): use AWS::Partition for CSPM SecurityAudit ARN
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

Update elastic/beats and drop removed otelconsumer import (#6725)
  cloudbeat.reference.yml
  cmd/root.go
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: golangci-lint, mage-config, mage-license-headers, go-test, go-mod-tidy

[main][Automation] Update elastic/beats to 9f4a6680d1c6
  go.mod
  go.sum
Due: go-mod-tidy

[9.4] Update elastic/beats and align beats-bump automation
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
  cloudbeat.reference.yml
  cmd/root.go
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: golangci-lint, mage-config, mage-license-headers, go-test, go-mod-tidy

[9.3] Update elastic/beats and align beats-bump automation
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
  go.mod
  go.sum
Due: go-mod-tidy

[8.19] Align beats-bump automation config
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
Due: none

ci: declare workflow-level contents: read on 10 read-only workflows
  .github/workflows/arm-template-lint.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/sync-internal-cloudbeat-version.yml
  .github/workflows/sync-rule-templates.yml
  .github/workflows/test-opa-coverage.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

ci: add team Slack mention to version bump pipeline notifications (#6731)
  .buildkite/version-bump-pipeline.yml
Due: none

Update bump-beats-version.yml
  .github/workflows/bump-beats-version.yml
Due: none

add region
  .github/workflows/cdr-infra.yml
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test
