Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

aws: add DNS fallback for ELBv2 IPAddresses
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/elb_v2_mock.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
Due: golangci-lint, mage-license-headers, go-test

[CFT] Add Federated Identity template for Elastic Workload Identity (WII)
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Publish federated-identity-wii-aws template to S3
  scripts/publish_cft.sh
Due: none

Format federated-identity-wii-aws.yml with rain
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

feat(ci): migrate sync-rule-templates to ephemeral GitHub token (#8350)
  .github/workflows/sync-rule-templates.yml
  scripts/common.sh
  scripts/sync_rule_templates.sh
  security-policies/dev/generate_rule_templates.py
Due: none

feat(renovate): migrate beats version bumps from workflow to Renovate
  .github/workflows/bump-beats-version.yml
  Makefile
  go.mod
  renovate.json
Due: go-mod-tidy

fix(renovate): delete orphaned updatecli beats files and run mage config on beats update
  .ci/updatecli/scripts/update-beats.sh
  .ci/updatecli/updatecli.d/update-beats.yml
  Makefile
  renovate.json
Due: none

fix(renovate): simplify beats tracking - extract SHA from pseudo-version
  Makefile
  go.mod
  renovate.json
Due: go-mod-tidy

fix(ci): enable pnpm via corepack before Kibana bootstrap
  .github/actions/kibana-ftr/action.yml
Due: none

fix(renovate): use baseBranch as currentValue, drop annotation comment
  go.mod
  renovate.json
Due: go-mod-tidy

fix
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
Due: golangci-lint, mage-license-headers, go-test

fix(ci): pin exact pnpm version from Kibana packageManager field
  .github/actions/kibana-ftr/action.yml
Due: none

fix(ci): read pnpm version from engines.pnpm, not packageManager
  .github/actions/kibana-ftr/action.yml
Due: none

fix(ci): enable pnpm via corepack before Kibana bootstrap (#8388)
  .github/actions/kibana-ftr/action.yml
Due: none

Address review comments on WII federated identity CFT
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Apply rain formatter to federated-identity-wii-aws.yml
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Collapse WII template inputs to the JWT issuer and subject
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Make the WII role name unique per stack
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

refactor: update autodiscover dependency
  NOTICE.txt
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/client_provider.go
  internal/dataprovider/providers/k8s/client_provider_mock.go
  internal/dataprovider/providers/k8s/cluster_name_provider.go
  internal/flavors/benchmark/eks.go
  internal/flavors/benchmark/k8s.go
  internal/flavors/benchmark/k8s_helper.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  internal/uniqueness/leaderelection.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Bump to 9.5.5
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 9.4.8
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Create the WII OIDC provider with a get-or-create custom resource
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Harden the WII custom resource and tidy the template
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Fix the WII template and finish hardening the custom resource
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

feat(renovate): deprecate updatecli, enable pre-commit manager (#8351)
  .ci/updatecli/scripts/hermit-bump-go.sh
  .ci/updatecli/scripts/update-hermit.sh
  .ci/updatecli/scripts/update-mods.sh
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .ci/updatecli/updatecli.d/update-mods.yml
  .ci/updatecli/values.yml
  .github/workflows/updatecli.yml
  .gitignore
  renovate.json
Due: golangci-lint, mage-license-headers, go-test

Take the deployment facts as parameters and compose the issuer in the template
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

Log the OIDC provider function and simplify its inputs
  deploy/cloudformation/federated-identity-wii-aws.yml
Due: rain

refactor: update autodiscover dependency (#8447)
  NOTICE.txt
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/client_provider.go
  internal/dataprovider/providers/k8s/client_provider_mock.go
  internal/dataprovider/providers/k8s/cluster_name_provider.go
  internal/flavors/benchmark/eks.go
  internal/flavors/benchmark/k8s.go
  internal/flavors/benchmark/k8s_helper.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  internal/uniqueness/leaderelection.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[CFT] Add Federated Identity template for Elastic Workload Identity (WII) (#8385)
  deploy/cloudformation/federated-identity-wii-aws.yml
  scripts/publish_cft.sh
Due: rain

fix: resolve go.sum conflict from cherry-pick
  go.sum
Due: go-mod-tidy

fix: resolve go.mod and go.sum conflicts from cherry-pick
  go.mod
  go.sum
Due: go-mod-tidy

fix: resolve go.mod and go.sum conflicts from cherry-pick
  NOTICE.txt
  go.mod
  go.sum
Due: go-mod-tidy

fix: correct go.sum after go mod tidy
  go.sum
Due: go-mod-tidy

fix: update otelconsumer import path for newer beats version
  cmd/root.go
  go.mod
  go.sum
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: regenerate cloudbeat.reference.yml for newer beats version
  cloudbeat.reference.yml
Due: mage-config

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
