Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Add `related.entities` to asset inventory (#2379)
  internal/inventory/asset.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Downgrade armsecurity because of https://github.com/elastic/cloudbeat/issues/2242
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update to elastic/beats@81bc303d0b8f (#2393)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update hermit and pre-commit dependencies (#2395)
  .pre-commit-config.yaml
  bin/.elastic-package-0.102.0.pkg
  bin/.gcloud-486.0.0.pkg
  bin/.gh-2.54.0.pkg
  bin/.just-1.34.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update golang mod dependencies (#2396)
  go.mod
  go.sum
Due: go-mod-tidy

Update EKS test environment configuration (#2381)
  tests/test_environments/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
  tests/test_environments/values/ci-eks-config-1.yml
Due: none

Consistently use pointers in EC2 provider (#2380)
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/resources/providers/awslib/ec2/provider.go
Due: golangci-lint, mage-license-headers, go-test

Add test verification that related field is present
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Change to `related.entities`
  internal/transformer/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

Add entity.id to findings events
  internal/evaluator/opa_test.go
  internal/resources/fetching/fetcher.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher.go
  internal/resources/fetching/fetchers/aws/elb_fetcher.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/aws/kms_fetcher.go
  internal/resources/fetching/fetchers/aws/logging_fetcher.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher.go
  internal/resources/fetching/fetchers/aws/network_fetcher.go
  internal/resources/fetching/fetchers/aws/rds_fetcher.go
  internal/resources/fetching/fetchers/aws/s3_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/batch_fetcher.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/fetchers/k8s/file_system_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  internal/resources/fetching/fetchers/k8s/process_fetcher.go
  internal/resources/fetching/mock_resource.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/registry/registry_test.go
  internal/transformer/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

Introduce Azure Asset Inventory and fetch Azure Account resources (#2374)
  internal/config/config.go
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/mock_strategy.go
  internal/flavors/assetinventory/strategy.go
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/mock_subscription_provider.go
  internal/inventory/azurefetcher/mock_subscription_provider_func.go
  internal/inventory/testutil/testutil.go
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_subscription_provider_api.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

add resource graph: virtual machines
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

fix name handling
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

enable resource graph fetcher
  internal/inventory/azurefetcher/azurefetchers.go
Due: golangci-lint, mage-license-headers, go-test

update ASSETS.md
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/cloud_assets.xlsx
Due: golangci-lint, mage-license-headers, go-test

Change to `related.entity`
  internal/transformer/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

Rename from `related.entities` to `related.entity`
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Bump trivy to v0.54.1 and fix breaking changes
  go.mod
  go.sum
  internal/flavors/vulnerability.go
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fetch org name only for organization-account
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 8.15.1
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 8.15.1 (#2401)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Rename from `related.entities` to `related.entity` (#2398)
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Implement `related.entity` on CSPM (#2397)
  internal/evaluator/opa_test.go
  internal/resources/fetching/fetcher.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher.go
  internal/resources/fetching/fetchers/aws/elb_fetcher.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/aws/kms_fetcher.go
  internal/resources/fetching/fetchers/aws/logging_fetcher.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher.go
  internal/resources/fetching/fetchers/aws/network_fetcher.go
  internal/resources/fetching/fetchers/aws/rds_fetcher.go
  internal/resources/fetching/fetchers/aws/s3_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/batch_fetcher.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/fetchers/k8s/file_system_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  internal/resources/fetching/fetchers/k8s/process_fetcher.go
  internal/resources/fetching/mock_resource.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/registry/registry_test.go
  internal/transformer/events_creator.go
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

update tests
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Add default cli values of --pkg-relationships
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test

Bump trivy to v0.54.1 and fix breaking changes (#2399)
  go.mod
  go.sum
  internal/flavors/vulnerability.go
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

update VM labels
  .github/workflows/test-environment.yml
Due: none

bump snyk monitored branch on releases
  scripts/bump_cloudbeat.sh
Due: none

chore: Update version.asciidoc with Golang version 1.22.6
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.22.6
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.22.6
  bin/.go-1.22.6.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@cebcf1bbfeac
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@d7ae68c7aa40
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-487.0.0.pkg
  bin/.opa-0.67.1.pkg
  bin/.yq-4.44.3.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/opa
  bin/yq
Due: none

fix shelllint
  scripts/bump_cloudbeat.sh
Due: none

fix license notice
  .buildkite/scripts/generate_notice.py
  go.mod
  go.sum
Due: go-mod-tidy
