Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update hermit with Golang version 1.25.3
  bin/.go-1.25.3.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Delete README_GHSA_ASSESSMENT.md
  README_GHSA_ASSESSMENT.md
Due: none

Delete SECURITY_ASSESSMENT_GHSA-gwrf-jf3h-w649.md
  SECURITY_ASSESSMENT_GHSA-gwrf-jf3h-w649.md
Due: none

Delete VULNERABILITY_MITIGATION_SUMMARY.md
  VULNERABILITY_MITIGATION_SUMMARY.md
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update Go to 1.25.2 for CVE-2025-61725 (net/mail ParseAddress DoS) (#3667)
  .go-version
  bin/.go-1.25.2.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Update Go to 1.24.9 to mitigate GHSA-gwrf-jf3h-w649 (CVE-2025-47906) (#3668)
  .go-version
  bin/.go-1.24.9.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

implement NewAWSConfigOIDCChain NewAWSConfigIRSAChain with the step iface
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/role_chaining.go
  internal/resources/providers/awslib/token_retriever.go
Due: golangci-lint, mage-license-headers, go-test

rm FileTokenRetriever
  internal/resources/providers/awslib/role_chaining.go
  internal/resources/providers/awslib/token_retriever.go
Due: golangci-lint, mage-license-headers, go-test

Refactor functions to accept logger parameters after dependency bumps
  .golangci.yaml
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/infra/observability/otel.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

differentiate env vars
  internal/config/config.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

with region
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

set test envs
  internal/flavors/assetinventory/strategy_test.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

try test
  internal/flavors/benchmark/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

feat: bump elastic-agent-libs and drop observer output
  go.mod
  go.sum
  internal/evaluator/logger_test.go
  internal/evaluator/opa_test.go
  internal/flavors/publisher_test.go
  internal/infra/clog/clog_test.go
  internal/infra/observability/otel_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/utils/testhelper/helper.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

feat: bump beats and resolve compile errors
  go.mod
  go.sum
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/posture.go
  internal/flavors/vulnerability.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[updatecli] main - Update Golang version to 1.25.3 (#3663)
  .go-version
  bin/.go-1.25.3.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

lint: remove unused import and fix tests
  internal/evaluator/opa_test.go
  internal/flavors/benchmark/builder/builder_test.go
  internal/flavors/publisher_test.go
  internal/infra/observability/otel_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

kostas patch
  internal/flavors/benchmark/aws_test.go
  internal/flavors/benchmark/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

[CloudConnectors] Implement AWS OIDC chain (#3675)
  internal/config/config.go
  internal/flavors/assetinventory/strategy_test.go
  internal/flavors/benchmark/aws_test.go
  internal/flavors/benchmark/strategy_test.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/role_chaining.go
Due: golangci-lint, mage-license-headers, go-test

fix
  bin/.go-1.25.2.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 9.2 - Update Golang version to 1.25.3 (#3665)
  .go-version
  bin/.go-1.25.3.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

Update github.com/containerd/containerd
  go.mod
  go.sum
Due: go-mod-tidy

update tags value
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
  .github/workflows/test-environment.yml
  deploy/asset-inventory-cloudformation/gomain.go
  deploy/cloudformation/gomain.go
  deploy/eks/simple-cluster.yml
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/cis/variables.tf
  deploy/test-environments/elk-stack/variables.tf
  deploy/test-environments/modules/aws/cloudtrail/variables.tf
  deploy/test-environments/modules/ec/variables.tf
  tests/commonlib/kubernetes.py
  tests/integrations_setup/configuration_fleet.py
Due: golangci-lint, mage-license-headers, go-test

Fix team label standardization across deployment configurations (#3681)
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
  .github/workflows/test-environment.yml
  deploy/asset-inventory-cloudformation/gomain.go
  deploy/cloudformation/gomain.go
  deploy/eks/simple-cluster.yml
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/cis/variables.tf
  deploy/test-environments/elk-stack/variables.tf
  deploy/test-environments/modules/aws/cloudtrail/variables.tf
  deploy/test-environments/modules/ec/variables.tf
  tests/commonlib/kubernetes.py
  tests/integrations_setup/configuration_fleet.py
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.25.4
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.25.4
  bin/.go-1.25.4.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
