Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Change updatdcli to run monthly (#3030)
  .github/workflows/updatecli.yml
Due: none

[Asset Inventory][Azure] Fix empty `entity.name` field for some resources (#3049)
  internal/inventory/azurefetcher/common.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.x - Update golang mod dependencies (#3051)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update to elastic/beats@b5bf95171d62 (#3050)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update hermit and pre-commit dependencies (#2981)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.30.pkg
  bin/.awscli-2.24.10.pkg
  bin/.elastic-package-0.109.1.pkg
  bin/.gcloud-511.0.0.pkg
  bin/.gh-2.67.0.pkg
  bin/.golangci-lint-1.64.5.pkg
  bin/.kind-0.27.0.pkg
  bin/.opa-1.1.0.pkg
  bin/.regal-0.31.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/kind
  bin/opa
  bin/regal
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: golangci-lint, rain, mage-license-headers, go-test

chore: Update to elastic/beats@160cce6c0535
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.24.14.pkg
  bin/.gcloud-512.0.0.pkg
  bin/.regal-0.31.1.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/regal
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update to elastic/beats@160cce6c0535 (#3066)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update hermit and pre-commit dependencies (#3067)
  .pre-commit-config.yaml
  bin/.awscli-2.24.14.pkg
  bin/.gcloud-512.0.0.pkg
  bin/.regal-0.31.1.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/regal
Due: none

[updatecli] 8.x - Update golang mod dependencies (#3069)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update golang mod dependencies (#3070)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update hermit and pre-commit dependencies (#3068)
  .pre-commit-config.yaml
  bin/.awscli-2.24.14.pkg
  bin/.gcloud-512.0.0.pkg
  bin/.regal-0.31.1.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/regal
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

allowing Serverless UI tests
  .github/workflows/test-environment.yml
Due: none

cloud connectors role chainning
  internal/config/config.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

add cloud connectors config
  internal/config/config.go
  internal/config/config_test.go
Due: golangci-lint, mage-license-headers, go-test

use cloudconnectors init on getIdentity
  internal/flavors/benchmark/aws.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

fix aws config retrier
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

fix duration
  internal/resources/providers/awslib/config.go
  scripts/packaging/docker/elastic-agent/Dockerfile
Due: golangci-lint, mage-license-headers, go-test

add tests
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/benchmark/aws_test.go
Due: golangci-lint, mage-license-headers, go-test

fix chain flow
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

more tests
  internal/flavors/benchmark/aws_test.go
Due: golangci-lint, mage-license-headers, go-test

remove comments
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

make role chaining dynamic
  internal/flavors/benchmark/aws_org.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

cloud connectors role chaining (#2960)
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_test.go
  internal/resources/providers/awslib/config.go
  scripts/packaging/docker/elastic-agent/Dockerfile
Due: golangci-lint, mage-license-headers, go-test

fips build wip
  .buildkite/pipeline.yml
  go.mod
  go.sum
Due: go-mod-tidy

remove build condition
  .buildkite/pipeline.yml
Due: none

notice fix
  .buildkite/scripts/generate_notice.py
Due: none

update beats
  .buildkite/scripts/generate_notice.py
  go.mod
  go.sum
Due: go-mod-tidy

wip
  .buildkite/scripts/package.sh
  go.sum
Due: go-mod-tidy

try mage fix
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

update serverless wf
  .github/workflows/weekly-serverless.yml
  bin/hermit.hcl
  tests/integration/tests/test_sanity_checks.py
  tests/integrations_setup/configuration_fleet.py
Due: none

remove unused
  go.mod
  go.sum
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix str
  tests/integrations_setup/configuration_fleet.py
Due: none

fix lint issues
  .github/workflows/weekly-serverless.yml
Due: none

revert platforms change
  .buildkite/scripts/package.sh
Due: none
