Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

yq:
  name: format with yq
  entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
  language: system
  args:
  - -i

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

update action kind configuration
  .github/workflows/k8s-ci.yml
Due: none

add tags
  deploy/test-environments/fleet_api/src/agents_enrolled.py
  deploy/test-environments/fleet_api/src/state_file_manager.py
Due: none

update action
  .github/workflows/k8s-ci.yml
Due: none

update cloudbeat.yml and job timeout
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
Due: none

Tag elastic-agent created with CloudFormation (#1198)
  .github/workflows/publish-cloudformation.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  scripts/publish_cft.sh
Due: yq

update aws test targets
  .github/workflows/k8s-ci.yml
Due: none

[GCP] Add project management type (#1183)
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

uncomment all test suites
  .github/workflows/k8s-ci.yml
Due: none

remove blank
  scripts/publish_cft.sh
Due: none

remove tmate session
  .github/workflows/k8s-ci.yml
Due: none

tag pattern
  deploy/test-environments/fleet_api/src/agents_enrolled.py
Due: none

concrete tags
  deploy/test-environments/fleet_api/src/install_cnvm_integration.py
  deploy/test-environments/fleet_api/src/install_cspm_integration.py
  deploy/test-environments/fleet_api/src/install_kspm_eks_integration.py
  deploy/test-environments/fleet_api/src/install_kspm_unmanaged_integration.py
Due: none

log tag failure
  deploy/test-environments/fleet_api/src/agents_enrolled.py
Due: none

chore: update github.com/elazarl/goproxy/ext
  go.mod
  go.sum
Due: none

[CloudFormation] Fix replacement of CFT_VERSION on CI (#1203)
  scripts/publish_cft.sh
Due: none

pch
  deploy/test-environments/fleet_api/src/agents_enrolled.py
Due: none

add publish_cft
  .github/workflows/publish-cloudformation.yml
Due: none

fix count
  deploy/test-environments/fleet_api/src/agents_enrolled.py
Due: none

cr
  deploy/test-environments/fleet_api/src/agents_enrolled.py
Due: none

Add publish_cft script as a publish trigger (#1205)
  .github/workflows/publish-cloudformation.yml
Due: none

add asset type
  deploy/gcp/cloudbeat-gcp.yml
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

add data processing type
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

chore: github.com/elazarl/goproxy/ext (#1204)
  go.mod
  go.sum
Due: none

add success log
  deploy/test-environments/fleet_api/src/agents_enrolled.py
Due: none

Test CloudFormation agents tags (#1202)
  deploy/test-environments/fleet_api/src/agents_enrolled.py
  deploy/test-environments/fleet_api/src/install_cnvm_integration.py
  deploy/test-environments/fleet_api/src/install_cspm_integration.py
  deploy/test-environments/fleet_api/src/install_kspm_eks_integration.py
  deploy/test-environments/fleet_api/src/install_kspm_unmanaged_integration.py
  deploy/test-environments/fleet_api/src/state_file_manager.py
Due: none

add sql instance asset type
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

add merge queue ci
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/packaging.yml
Due: none

update yml
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/cnvm-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/unit-test.yml
Due: none

Add data processing type (#1206)
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

AWS functional tests migration (#1190)
  .github/workflows/k8s-ci.yml
  deploy/kustomize/overlays/cloudbeat-aws/cloudbeat.yml
  justfile
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-test-configmap.yml
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
  tests/product/tests/data/aws/aws_ec2_test_cases.py
  tests/product/tests/data/aws/aws_iam_test_cases.py
  tests/product/tests/data/aws/aws_logging_test_cases.py
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
  tests/product/tests/data/aws/aws_rds_test_cases.py
  tests/product/tests/data/aws/aws_s3_test_cases.py
  tests/product/tests/data/aws/aws_vpc_test_cases.py
Due: none

single signature for all cft
  .github/workflows/publish-cloudformation.yml
  scripts/publish_cft.sh
Due: none

usage
  scripts/publish_cft.sh
Due: none

CloudFormation templates have identical signature (#1211)
  .github/workflows/publish-cloudformation.yml
  scripts/publish_cft.sh
Due: none

Add SQL instance asset type (#1209)
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

add fw asset
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

remove unrelated change
  deploy/gcp/cloudbeat-gcp.yml
Due: none

manager mocks
  launcher/mock_manager.go
Due: mage-license-headers

fix tests
  launcher/launcher_test.go
Due: mage-license-headers

CI: Generate mocks and validate diff
  .github/workflows/cloudbeat-ci.yml
  justfile
  scripts/validate-mocks.sh
Due: none

Path conditions:
  yq: any of: deploy/cloudformation/.*yml
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$
  mage-license-headers: any of: .*.go
