Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

cloud connectors aws cloudformation elastic role arn parameter (#3604)
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role.yml
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
Due: rain

bump go 1.24.7
  .go-version
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

bump go in go.mod
  go.mod
Due: go-mod-tidy

[8.18] bump go 1.24.7 (#3606)
  .go-version
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

bump go 1.24.7
  .go-version
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Revert "[8.18] bump go 1.24.7 (#3606)"
  .go-version
  bin/.go-1.24.0.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[8.18] bump beats and backport buildkite separate builders setup
  .buildkite/pipeline.yml
  .buildkite/scripts/package.sh
  .buildkite/scripts/publish.sh
  go.mod
  go.sum
Due: go-mod-tidy

Remove Cloud Connectors ARM parameters where possible (#3588)
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

GH Copilot: Add setup steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Clean up
  .github/workflows/binary-size-monitor.yml
  justfile
  scripts/check-binary-size.sh
Due: none

Change checkout order
  .github/workflows/binary-size-monitor.yml
Due: none

simplify
  .github/workflows/binary-size-monitor.yml
Due: none

fix
  README.md
  docs/binary-size-monitoring.md
Due: none

GH actions: Improve caching
  .ci/scripts/gh-cache.sh
  .github/actions/hermit/action.yml
  .github/workflows/eks-ci.yml
Due: none

use hash, use action
  .github/workflows/copilot-setup-steps.yml
Due: none

Use hermit action
  .github/workflows/binary-size-monitor.yml
Due: none

with: clean: true
  .github/workflows/binary-size-monitor.yml
Due: none

comment
  .github/workflows/binary-size-monitor.yml
Due: none

bump checkout action
  .github/workflows/binary-size-monitor.yml
Due: none

ubuntu-latest
  .github/workflows/binary-size-monitor.yml
Due: none

bc already installed
  .github/workflows/binary-size-monitor.yml
Due: none

set -euo pipefail
  .github/workflows/binary-size-monitor.yml
Due: none

Do not free disk
  .github/actions/hermit/action.yml
  .github/workflows/binary-size-monitor.yml
Due: none

Simplify and lint script
  .ci/scripts/binary-size-compare.sh
Due: none

up
  .ci/scripts/binary-size-compare.sh
Due: none

break line
  .ci/scripts/binary-size-compare.sh
Due: none

Remove redundant variable
  .ci/scripts/binary-size-compare.sh
  .github/workflows/binary-size-monitor.yml
Due: none

simplify
  .ci/scripts/binary-size-compare.sh
Due: none

Reverse checkout order
  .github/workflows/binary-size-monitor.yml
Due: none

Fix: check PR branch again
  .github/workflows/binary-size-monitor.yml
Due: none

GH actions: Improve caching (#3613)
  .ci/scripts/gh-cache.sh
  .github/actions/hermit/action.yml
  .github/workflows/eks-ci.yml
Due: none

Fix conflicts
  .github/workflows/eks-ci.yml
Due: none

Update ARM-for-cloud-connectors-single-account.json
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

Create ARM-for-cloud-connectors-organization-account.json
  deploy/azure/ARM-for-cloud-connectors-organization-account.json
Due: generate-arm-dev-templates

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
