Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

auto fix
  security-policies/dev/common.py
Due: none

Switch from mitchellh/mapstructure to go-viper/mapstructure
  .golangci.yaml
  NOTICE.txt
  go.mod
  go.sum
  internal/dataprovider/providers/common/data_provider.go
  internal/evaluator/opa.go
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/resources/fetching/fetchers/azure/assets_enrincher_virtual_machine.go
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

pre-commit: Use -failfast for short go tests (#3463)
  .pre-commit-config.yaml
Due: none

Switch from mitchellh/mapstructure to go-viper/mapstructure (#3465)
  .golangci.yaml
  NOTICE.txt
  go.mod
  go.sum
  internal/dataprovider/providers/common/data_provider.go
  internal/evaluator/opa.go
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/resources/fetching/fetchers/azure/assets_enrincher_virtual_machine.go
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix
  security-policies/dev/common.py
  security-policies/dev/generate_rule_metadata.py
Due: none

update test cases
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
Due: golangci-lint, mage-license-headers, go-test

update Azure service names
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

remove rollback-on-error flag
  deploy/deployment-manager/deploy_service_account.sh
Due: none

update cloudtrail default package policy
  tests/integrations_setup/data/cloudtrail-pkg.json
Due: none

update Azure cloud.* section
  go.mod
  go.sum
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

add retry mechanism for creating service account
  deploy/deployment-manager/deploy_service_account.sh
Due: none

fix test cases
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
Due: golangci-lint, mage-license-headers, go-test

update script checks
  deploy/deployment-manager/deploy_service_account.sh
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

remove unused linter directive
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

update fetching key
  deploy/deployment-manager/deploy_service_account.sh
Due: none

[Asset Inventory][Azure] Add missing `cloud.*` section information (#3470)
  go.mod
  go.sum
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[Release] Update version to 9.1.1 (#3471)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

update script
  deploy/deployment-manager/deploy_service_account.sh
Due: none

fix lint issues
  deploy/deployment-manager/deploy_service_account.sh
Due: none

Improve assets resources and policies fetching (#3434)
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

[aws]: switch to all region selector for kms provider
  internal/resources/providers/awslib/kms/kms.go
  internal/resources/providers/awslib/kms/provider.go
Due: golangci-lint, mage-license-headers, go-test

[aws]: switch to all region selector for kms provider (#3481)
  internal/resources/providers/awslib/kms/kms.go
  internal/resources/providers/awslib/kms/provider.go
Due: golangci-lint, mage-license-headers, go-test

Apply suggestions from code review
  deploy/deployment-manager/deploy_service_account.sh
Due: none

fix Copilot suggestion
  deploy/deployment-manager/deploy_service_account.sh
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
