Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update version.asciidoc with Golang version 1.24.7
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.24.7
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update .go-version with Golang version 1.24.7
  .go-version
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 9.1 - Update Golang version to 1.24.7 (#3570)
  .go-version
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.7.pkg
  bin/.awscli-2.29.0.pkg
  bin/.elastic-package-0.114.0.pkg
  bin/.gcloud-538.0.0.pkg
  bin/.gh-2.79.0.pkg
  bin/.golangci-lint-2.4.0.pkg
  bin/.jq-1.8.1.pkg
  bin/.just-1.42.4.pkg
  bin/.kind-0.30.0.pkg
  bin/.opa-1.8.0.pkg
  bin/.pre-commit-4.3.0.pkg
  bin/.regal-0.35.1.pkg
  bin/.shellcheck-0.11.0.pkg
  bin/.shfmt-3.12.0.pkg
  bin/.yq-4.47.2.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/jq
  bin/just
  bin/kind
  bin/opa
  bin/pre-commit
  bin/regal
  bin/shellcheck
  bin/shfmt
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update Golang version to 1.24.7 (#3571)
  .go-version
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

Sync versions
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update golang mod dependencies (#3572)
  go.mod
  go.sum
Due: go-mod-tidy

go.mod: Remove unecessary replace directives (#3566)
  go.mod
  go.sum
Due: go-mod-tidy

Remove glog replace directive
  go.mod
  go.sum
Due: go-mod-tidy

Remove glog replace directive (#3573)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] fix backport targets
  .github/workflows/updatecli.yml
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

read active brances from releases api
  .github/workflows/updatecli.yml
Due: none

fix
  .github/workflows/updatecli.yml
Due: none

tmp
  .github/workflows/updatecli.yml
Due: none

Fix golangci-lint
  internal/dataprovider/providers/k8s/id_provider.go
  internal/flavors/benchmark/strategy.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/azurelib/auth/credentials.go
  scripts/mage/package.go
  version/settings.go
Due: golangci-lint, mage-license-headers, go-test

add -M to jq just to be sure
  .github/workflows/updatecli.yml
Due: none

[updatecli] fix backport targets (#3575)
  .github/workflows/updatecli.yml
Due: none

Add contextual-security team with manage access (#3559)
  catalog-info.yaml
Due: none

chore: Update hermit and pre-commit packages
  bin/.awscli-2.30.1.pkg
  bin/.regal-0.36.1.pkg
  bin/aws
  bin/aws_completer
  bin/regal
Due: none

chore: Update to elastic/beats@dff5e4fad692
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@11d6605a053d
  go.mod
  go.sum
Due: go-mod-tidy

strings.Count
  internal/resources/providers/azurelib/auth/auth_provider.go
Due: golangci-lint, mage-license-headers, go-test

CLOUD_CONNECTORS_ID_TOKEN_FILE
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update hermit and pre-commit dependencies (#3581)
  bin/.awscli-2.30.1.pkg
  bin/.regal-0.36.1.pkg
  bin/aws
  bin/aws_completer
  bin/regal
Due: none

Updatecli: Fix go version update
  .ci/updatecli/updatecli.d/update-golang.yml
Due: golangci-lint, mage-license-headers, go-test

feat: build binary with grpcnotrace
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update golang mod dependencies (#3585)
  go.mod
  go.sum
Due: go-mod-tidy

Updatecli: Fix go version update (#3584)
  .ci/updatecli/updatecli.d/update-golang.yml
Due: golangci-lint, mage-license-headers, go-test

tests
  internal/resources/providers/azurelib/auth/auth_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
