Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update version.asciidoc with Golang version 1.26.0
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.26.0
  bin/.go-1.26.0.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.33.19.pkg
  bin/.elastic-package-0.118.0.pkg
  bin/.gcloud-556.0.0.pkg
  bin/.golangci-lint-2.9.0.pkg
  bin/.opa-1.13.1.pkg
  bin/.yq-4.52.2.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/opa
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@d98c356e3dba
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@60a9bb995bdc
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@3ee82b6fcb50
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@421de3fbaad8
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update to elastic/beats@d98c356e3dba (#3624)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 9.3 - Update to elastic/beats@3ee82b6fcb50 (#3824)
  go.mod
  go.sum
Due: go-mod-tidy

set 4.3.6 version
  .github/actions/docker-images/action.yml
Due: none

add param
  .github/actions/docker-images/action.yml
Due: none

revert changes to ci.yml
  .github/workflows/ci.yml
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

return ccid
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/variables.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/variables.tf
Due: none

str
  deploy/infrastructure-manager/gcp-cloud-connectors/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/outputs.tf
Due: none

use ccid
  internal/config/config.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
Due: golangci-lint, mage-license-headers, go-test

test
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

update 9.2 libbeat
  go.mod
  go.sum
Due: go-mod-tidy

ignore exported fields
  docs/reference/cloudbeat/.gitignore
Due: none

updated libbeat/elastic-agent-libs APIs now take a logger.
  go.mod
  go.sum
  internal/flavors/client.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

bump github.com/sigstore/sigstore to v1.10.4
  go.mod
  go.sum
Due: go-mod-tidy

[9.3] Bump github.com/sigstore/sigstore to v1.10.4 (#3952)
  go.mod
  go.sum
Due: go-mod-tidy

bump github.com/sigstore/cosign/v2
  go.mod
  go.sum
Due: go-mod-tidy

go mod tidy
  go.mod
  go.sum
Due: go-mod-tidy

fix otel test
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

[9.3] Bump github.com/sigstore/cosign/v2 and github.com/sigstore/rekor (#3956)
  go.mod
  go.sum
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

skip check on credsjson
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

bump github.com/sigstore/... packages
  go.mod
  go.sum
Due: go-mod-tidy

Fix CI artifact upload after upload-artifact v4.4.0 breaking change (#3942)
  .github/actions/docker-images/action.yml
Due: none

fix nolints
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

revert go version
  go.mod
Due: go-mod-tidy

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
