Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

[Asset Discovery] Rename Type to SubType and Category to Type
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

disable sync cloudbeat version workflow
  .github/workflows/sync-internal-cloudbeat-version.yml
Due: none

logs
  .github/workflows/ci-pull_request.yml
Due: none

remove logs
  .github/workflows/ci-pull_request.yml
Due: none

Disable cloudbeat version sync workflow (#3309)
  .github/workflows/sync-internal-cloudbeat-version.yml
Due: none

Add cloud connectors on asset inventory
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

update input param for job matrix creation
  .github/workflows/test-agent-compatibility.yml
Due: none

update init version
  .github/workflows/test-agent-compatibility.yml
Due: none

Update agent compatibility test workflow (#3314)
  .github/workflows/test-agent-compatibility.yml
Due: none

[Asset Discovery] Rename Type to SubType and Category to Type (#3308)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

Fix Asset Discover Integration Tests
  tests/commonlib/io_utils.py
  tests/commonlib/utils.py
  tests/product/tests/data/asset_inventory_test_case.py
  tests/product/tests/data/aws_asset_inventory/test_cases.py
  tests/product/tests/data/azure_asset_inventory/test_cases.py
  tests/product/tests/data/gcp_asset_inventory/test_cases.py
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Move Attributes to a flattened entity.raw
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Fix Linting issues
  tests/commonlib/utils.py
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Fix Asset Discover Integration Tests (#3315)
  tests/commonlib/io_utils.py
  tests/commonlib/utils.py
  tests/product/tests/data/asset_inventory_test_case.py
  tests/product/tests/data/aws_asset_inventory/test_cases.py
  tests/product/tests/data/azure_asset_inventory/test_cases.py
  tests/product/tests/data/gcp_asset_inventory/test_cases.py
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

[Asset Discovery] Move Attributes to a flattened entity.raw (#3316)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Add `entity.source` to asset discovery
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Add cloud connectors on asset inventory (#3307)
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.24.3
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.24.3
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.24.3
  bin/.go-1.24.3.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update go.mod files with 1.24
  go.mod
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.2.pkg
  bin/.awscli-2.27.26.pkg
  bin/.elastic-package-0.111.0.pkg
  bin/.gcloud-524.0.0.pkg
  bin/.gh-2.74.0.pkg
  bin/.golangci-lint-2.1.6.pkg
  bin/.just-1.40.0.pkg
  bin/.kind-0.29.0.pkg
  bin/.opa-1.5.0.pkg
  bin/.pre-commit-4.2.0.pkg
  bin/.regal-0.34.0.pkg
  bin/.shfmt-3.11.0.pkg
  bin/.yq-4.45.4.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/kind
  bin/opa
  bin/pre-commit
  bin/regal
  bin/shfmt
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

fix typo
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
Due: update-rules-status

Add `entity.source` to asset discovery (#3317)
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Add direct access for asset discovery
  deploy/asset-inventory-cloudformation/elastic-agent-direct-access-key-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-direct-access-key.yml
  scripts/publish_cft.sh
Due: none

Fix naming too long error
  deploy/asset-inventory-cloudformation/elastic-agent-direct-access-key-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-direct-access-key.yml
Due: none

exclude resource.raw from GCP group assets (#3216)
  internal/transformer/events_creator.go
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
