Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

cnvm: Delete snapshots after scanning them (#3090)
  internal/flavors/vulnerability.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/vulnerability/cleaner.go
  internal/vulnerability/cleaner_test.go
  internal/vulnerability/events_creator.go
  internal/vulnerability/mock_replicator_provider.go
  internal/vulnerability/mock_snapshot_cleaner.go
  internal/vulnerability/mock_snapshot_creator_deleter.go
  internal/vulnerability/mock_snapshot_describer.go
  internal/vulnerability/mock_worker_provider.go
  internal/vulnerability/replicator.go
  internal/vulnerability/replicator_test.go
  internal/vulnerability/runner.go
  internal/vulnerability/runner_test.go
  internal/vulnerability/scanner.go
  internal/vulnerability/scanner_test.go
  internal/vulnerability/snapshot.go
  internal/vulnerability/snapshot_test.go
  internal/vulnerability/verifier.go
  internal/vulnerability/verifier_test.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

cnvm: Delete snapshots after scanning them (#3090)
  internal/flavors/vulnerability.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/vulnerability/cleaner.go
  internal/vulnerability/events_creator.go
  internal/vulnerability/mock_replicator_provider.go
  internal/vulnerability/mock_snapshot_cleaner.go
  internal/vulnerability/mock_snapshot_creator_deleter.go
  internal/vulnerability/mock_snapshot_describer.go
  internal/vulnerability/mock_worker_provider.go
  internal/vulnerability/replicator.go
  internal/vulnerability/replicator_test.go
  internal/vulnerability/runner.go
  internal/vulnerability/runner_test.go
  internal/vulnerability/scanner.go
  internal/vulnerability/scanner_test.go
  internal/vulnerability/snapshot.go
  internal/vulnerability/snapshot_test.go
  internal/vulnerability/verifier.go
  internal/vulnerability/verifier_test.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

cnvm: Delete snapshots after scanning them (#3090)
  internal/flavors/vulnerability.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/vulnerability/events_creator.go
  internal/vulnerability/mock_replicator_provider.go
  internal/vulnerability/mock_snapshot_cleaner.go
  internal/vulnerability/mock_snapshot_creator_deleter.go
  internal/vulnerability/mock_snapshot_describer.go
  internal/vulnerability/mock_worker_provider.go
  internal/vulnerability/replicator.go
  internal/vulnerability/replicator_test.go
  internal/vulnerability/runner.go
  internal/vulnerability/runner_test.go
  internal/vulnerability/scanner.go
  internal/vulnerability/scanner_test.go
  internal/vulnerability/snapshot.go
  internal/vulnerability/snapshot_test.go
  internal/vulnerability/verifier.go
  internal/vulnerability/verifier_test.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

merge conflicts [skip actions]
  .github/actions/azure-asset-inventory-ci/action.yml
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/destroy-environment.yml
  .github/workflows/destroy-expired-environment.yml
  .github/workflows/eks-ci.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/test-environment.yml
  .github/workflows/updatecli.yml
  .github/workflows/upgrade-environment.yml
  .github/workflows/weekly-serverless.yml
Due: none

merge conflicts [skip actions]
  .github/actions/azure-asset-inventory-ci/action.yml
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/destroy-environment.yml
  .github/workflows/destroy-expired-environment.yml
  .github/workflows/eks-ci.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/sync-internal-cloudbeat-version.yml
  .github/workflows/test-ech-agentless.yml
  .github/workflows/test-environment.yml
  .github/workflows/updatecli.yml
  .github/workflows/upgrade-environment.yml
  .github/workflows/weekly-serverless.yml
Due: none

merge conflicts [skip actions]
  .github/actions/azure-asset-inventory-ci/action.yml
  .github/workflows/ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/sync-internal-cloudbeat-version.yml
  .github/workflows/test-ech-agentless.yml
  .github/workflows/updatecli.yml
  .github/workflows/upgrade-environment.yml
  .github/workflows/weekly-serverless.yml
Due: none

fix
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

cspm cloud connectors: add cloudformation for the customer remote role
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
  scripts/publish_cft.sh
Due: rain

Add Flaky Test Template
  .github/ISSUE_TEMPLATE/flaky_test.md
Due: none

Add flaky test template
  .github/ISSUE_TEMPLATE/flaky-test.yml
Due: none

Add flaky test template (#3135)
  .github/ISSUE_TEMPLATE/flaky-test.yml
Due: none

tests: Make CollectResourcesAndMatch less flaky
  internal/inventory/testutil/testutil.go
Due: golangci-lint, mage-license-headers, go-test

Update flaky-test.yml descriptions
  .github/ISSUE_TEMPLATE/flaky-test.yml
Due: none

link -> links
  .github/ISSUE_TEMPLATE/flaky-test.yml
Due: none

typo
  .github/ISSUE_TEMPLATE/flaky-test.yml
Due: none

tests: Make CollectResourcesAndMatch less flaky (#3136)
  internal/inventory/testutil/testutil.go
Due: golangci-lint, mage-license-headers, go-test

Update flaky-test.yml descriptions (#3138)
  .github/ISSUE_TEMPLATE/flaky-test.yml
Due: none

bump golang.org/x/crypto to v0.36.0 (latest release)
  go.mod
  go.sum
Due: go-mod-tidy

go mod tidy
  go.sum
Due: go-mod-tidy

do not add --install-servers flag for versions < 9.0
  deploy/asset-inventory-arm/install-agent.sh
Due: none

improve tests & shutdown
  internal/vulnerability/snapshot.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

up
  internal/resources/providers/awslib/ec2/provider.go
Due: golangci-lint, mage-license-headers, go-test

update EKS cluster version
  deploy/test-environments/modules/aws/eks/eks-cluster.tf
Due: none

update wf [skip actions]
  .github/workflows/test-e2e-flow.yml
Due: none

[Asset Inventory][Azure] Do not add --install-servers flag for versions < 9.0 (#3142)
  deploy/asset-inventory-arm/install-agent.sh
Due: none

better coverage
  internal/vulnerability/snapshot.go
  internal/vulnerability/snapshot_test.go
Due: golangci-lint, mage-license-headers, go-test

cover ctx
  internal/vulnerability/snapshot_test.go
Due: golangci-lint, mage-license-headers, go-test

update version and remove oidc config
  deploy/test-environments/modules/aws/eks/eks-cluster.tf
  deploy/test-environments/modules/aws/eks/oidc.tf
Due: none

use iterator / channel wrapper
  internal/resources/providers/awslib/ec2/provider.go
  internal/vulnerability/mock_snapshot_creator_deleter.go
  internal/vulnerability/snapshot.go
  internal/vulnerability/snapshot_test.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
