Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

.pre-commit-config.yaml:

repos:
  ## General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        exclude: (^tests/deploy/k8s-cloudbeat-tests/templates/.*)$
      - id: check-json
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        exclude: cloudbeat.reference.yml

      ## Security
      - id: detect-private-key

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  ## Golang hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-imports
        args: [-local, "github.com/elastic/cloudbeat"]
        exclude: 'mock_.*\.go'
      - id: golangci-lint

  ## Python
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: flake8 ./tests/ ./fleet_api/
        files: ^(tests|deploy/test-environments/fleet_api)/

  - repo: https://github.com/pycqa/pylint
    rev: v2.15.7
    hooks:
      - id: pylint
        args: [
            "-rn", # Only display messages
            "--rcfile=tests/pylintrc", # Link to your config file
          ]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: [--line-length=120, --check, --diff]

  - repo: local
    hooks:
      - id: yq
        name: format with yq
        entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
        language: system
        args: [-i]
        files: deploy/cloudformation/.*yml

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.77.5
    hooks:
      - id: cfn-python-lint
        files: deploy/cloudformation/.*.yml

  - repo: local
    hooks:
      - id: mage-config
        name: mage config
        entry: bash -c 'mage config'
        language: system
        files: (^_meta\/.*|^cloudbeat.*yml)$
        pass_filenames: false
      - id: mage-license-headers
        name: mage AddLicenseHeaders
        entry: bash -c 'mage AddLicenseHeaders'
        language: system
        files: .*.go
        pass_filenames: false

chore: update github.com/aquasecurity/trivy
  go.mod
  go.sum
Due: none

chore: update k8s.io/apiserver
  go.mod
  go.sum
Due: none

chore: update k8s.io/apiextensions-apiserver
  go.mod
  go.sum
Due: none

chore: update k8s.io/cli-runtime
  go.mod
  go.sum
Due: none

chore: update github.com/go-git/go-git/v5
  go.mod
  go.sum
Due: none

chore: update k8s.io/component-base
  go.mod
  go.sum
Due: none

chore: update k8s.io/client-go
  go.mod
  go.sum
Due: none

chore: update k8s.io/api
  go.mod
  go.sum
Due: none

chore: update github.com/containerd/containerd
  go.mod
  go.sum
Due: none

chore: update k8s.io/kubectl
  go.mod
  go.sum
Due: none

chore: update github.com/elastic/beats
  go.mod
  go.sum
Due: none

tidy
  go.mod
  go.sum
Due: none

chore: update dpes
  go.mod
  go.sum
Due: none

update param description
  .github/workflows/test-environment.yml
Due: none

[Create Environment] Add deployment name validation (#1266)
  .github/workflows/test-environment.yml
Due: none

improve onboarding script
  deploy/deployment-manager/compute_engine.py
  deploy/deployment-manager/deploy.sh
Due: none

chore: update dpes (#1268)
  go.mod
  go.sum
Due: none

Update hermit env var version to 8.11.0 (#1261)
  bin/hermit.hcl
Due: none

add developer eks role
  deploy/cloud/modules/provision-eks-cluster/eks-cluster.tf
  deploy/cloud/modules/provision-eks-cluster/main.tf
Due: none

update destroy environment script
  .github/workflows/test-environment.yml
  deploy/test-environments/delete_env.sh
Due: none

add documentation
  deploy/cloud/README.md
  dev-docs/Cloud-Env-Testing.md
Due: none

update delete_env script
  deploy/test-environments/delete_env.sh
Due: none

remove comments
  .github/workflows/test-environment.yml
Due: none

use gotestsum in ci
  .github/workflows/unit-test.yml
  go.mod
  go.sum
Due: none

fetcher common data map
  dataprovider/enrich.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/aws/ecr_fetcher.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/fetchers/aws/iam_fetcher.go
  resources/fetching/fetchers/aws/kms_fetcher.go
  resources/fetching/fetchers/aws/logging_fetcher.go
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/monitoring_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/fetching/fetchers/aws/rds_fetcher.go
  resources/fetching/fetchers/aws/s3_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/k8s/file_system_fetcher.go
  resources/fetching/fetchers/k8s/file_system_fetcher_test.go
  resources/fetching/fetchers/k8s/kube_provider.go
  resources/fetching/fetchers/k8s/process_fetcher.go
  resources/fetching/fetchers/k8s/process_fetcher_test.go
  resources/fetching/registry/registry_test.go
  transformer/events_creator.go
Due: mage-license-headers

test enrich
  dataprovider/enrich.go
  dataprovider/enrich_test.go
  dataprovider/mock_elastic_common_data_provider.go
  resources/fetching/mock_resource.go
Due: mage-license-headers

error handling
  dataprovider/enrich_test.go
Due: mage-license-headers

precommitfix
  dataprovider/enrich_test.go
  evaluator/opa_test.go
  resources/fetching/factory/aws_factory_test.go
  transformer/events_creator.go
Due: mage-license-headers

update remove resource command in the script and readme file
  deploy/cloud/README.md
  deploy/test-environments/delete_env.sh
Due: none

test empty
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
Due: mage-license-headers

Initial drop for CIS Azure
  config/config.go
  deploy/azure/azureARMTemplate.json
  deploy/azure/cloudbeat-azure.yml
  flavors/benchmark/azure.go
  flavors/benchmark/benchmark.go
  go.mod
  go.sum
  resources/fetching/factory/azure_factory.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/providers/azurelib/auth/auth_provider.go
  resources/providers/azurelib/auth/credentials.go
  resources/providers/azurelib/azure.go
  resources/providers/azurelib/identity/identity_provider.go
  resources/providers/azurelib/inventory/provider.go
Due: mage-license-headers

Update dev-docs/Cloud-Env-Testing.md
  dev-docs/Cloud-Env-Testing.md
Due: none

[Create Environment] Add role to EKS cluster for post-provisioning access (#1271)
  .github/workflows/test-environment.yml
  deploy/cloud/README.md
  deploy/cloud/modules/provision-eks-cluster/eks-cluster.tf
  deploy/cloud/modules/provision-eks-cluster/main.tf
  deploy/test-environments/delete_env.sh
  dev-docs/Cloud-Env-Testing.md
Due: none

Update unit-test.yml
  .github/workflows/unit-test.yml
Due: none

[AWS Orgs] CloudFormation: Validate OrganizationalUnitIds
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
Due: yq

[AWS Orgs] CloudFormation: Validate OrganizationalUnitIds (#1285)
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
Due: yq

Use gotestsum in CI (#1272)
  .github/workflows/unit-test.yml
  go.mod
  go.sum
Due: none
