Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Add weekly DRA scheduler to prevent snapshot expiry (#7656)
  .buildkite/README.md
  .buildkite/dra-scheduler-pipeline.yml
  .buildkite/scripts/dra-scheduler.sh
  catalog-info.yaml
Due: none

fix(azure): drive Resource Graph pagination by SkipToken, not ResultTruncated (#7424)
  internal/resources/providers/azurelib/inventory/resource_graph_provider.go
  internal/resources/providers/azurelib/inventory/resource_graph_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

chore(deps): bump github.com/aquasecurity/trivy to v0.71.1 (9.5)
  go.mod
  go.sum
Due: go-mod-tidy

Fix ExternalId output to match the cloud connectors contract
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

chore(deps): bump github.com/aquasecurity/trivy to v0.71.1 (8.19)
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): bump github.com/aquasecurity/trivy to v0.71.1 (9.4)
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): upgrade github.com/containerd/containerd/v2 to v2.2.6 (8.19)
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): upgrade github.com/containerd/containerd/v2 to v2.2.6 (8.19) (#7696)
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): bump github.com/aquasecurity/trivy to v0.71.1 (9.4) (#7692)
  go.mod
  go.sum
Due: go-mod-tidy

chore(deps): bump github.com/aquasecurity/trivy to v0.71.1 (9.5) (#7695)
  go.mod
  go.sum
Due: go-mod-tidy

test: disable WatchListClient feature gate in unit tests
  internal/dataprovider/providers/k8s/setup_test.go
  internal/flavors/benchmark/setup_test.go
  internal/processor/add_cluster_id/setup_test.go
  internal/resources/fetching/fetchers/aws/setup_test.go
  internal/resources/fetching/fetchers/k8s/setup_test.go
  internal/uniqueness/setup_test.go
Due: golangci-lint, mage-license-headers, go-test

chore(deps): bump github.com/aquasecurity/trivy to v0.71.1 (8.19) (#7693)
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/setup_test.go
  internal/flavors/benchmark/setup_test.go
  internal/processor/add_cluster_id/setup_test.go
  internal/resources/fetching/fetchers/aws/setup_test.go
  internal/resources/fetching/fetchers/k8s/setup_test.go
  internal/uniqueness/setup_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Install Chrome v151 in FTR action
  .github/actions/kibana-ftr/action.yml
Due: none

Resolve FTR Chrome major from Kibana chromedriver
  .github/actions/kibana-ftr/README.md
  .github/actions/kibana-ftr/action.yml
Due: none

fix: prevent orphan empty-timestamp S3 env folders
  .github/workflows/create-env-ea.yml
  .github/workflows/test-e2e-flow.yml
  .github/workflows/test-environment.yml
Due: none

chore: remove 9.3 from renovate baseBranches
  renovate.json
Due: none

chore: remove 9.3 backport rule from mergify
  .mergify.yml
Due: none

fix: prevent orphan empty-timestamp S3 env folders (#7698)
  .github/workflows/create-env-ea.yml
  .github/workflows/test-e2e-flow.yml
  .github/workflows/test-environment.yml
Due: none

Auto-sync FTR Chrome from Kibana ChromeDriver (#7697)
  .github/actions/kibana-ftr/README.md
  .github/actions/kibana-ftr/action.yml
Due: none

Remove the ExternalId from the federated identity trust policy (ingest-dev#9116)
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Bump to 9.5.2
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 9.4.6
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

remove 9.3 renovate (#7716)
  .mergify.yml
  renovate.json
Due: none

Bump to 8.19.21
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

fix: stop pinning the OTel resource schema URL
  internal/infra/observability/otel.go
  internal/infra/observability/resource_test.go
Due: golangci-lint, mage-license-headers, go-test

ci: pin security-policies poetry env to python3.11
  .github/actions/hermit/action.yml
Due: none

ci: pin security-policies poetry env to python3.11
  .github/actions/hermit/action.yml
  .github/workflows/ci-pull_request.yml
Due: none

ci: pin security-policies poetry env to python3.11 (#7877)
  .github/actions/hermit/action.yml
Due: none

ci: pin security-policies poetry env to python3.11 (#7880)
  .github/actions/hermit/action.yml
  .github/workflows/ci-pull_request.yml
Due: none

ci: pin security-policies poetry env to python3.11 (#7879)
  .github/actions/hermit/action.yml
Due: none

fix: stop pinning the OTel resource schema URL (#7876)
  internal/infra/observability/otel.go
  internal/infra/observability/resource_test.go
Due: golangci-lint, mage-license-headers, go-test

Remove CSPM/CAI SecurityAudit grant per review
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

fix: add timeout handler to IAM resolver
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][EC2] Add timeout handler to IAM resolver (#7919)
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
