Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Linter common_api.py
  tests/fleet_api/common_api.py
Due: none

Handle sync cloudbeat with snapshots not published
  .github/workflows/sync-internal-cloudbeat-version.yml
  scripts/sync_internal_cloudbeat_version.sh
Due: none

fix: bump main to next minor after minor branch-out
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-minor-merge.sh
  .buildkite/scripts/release/templates/pr-body-bump-main.md
Due: none

refactor: reuse pr_exists() in bump_main_to_next_minor
  .buildkite/scripts/release/post-minor-merge.sh
Due: none

Add EC2 and ELB resource fields for FedRAMP asset inventory
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_mock.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/elb_mock.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/elb_v2_mock.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
Due: golangci-lint, mage-license-headers, go-test

asset_inventory: add Route 53 records
  go.mod
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_route53.go
  internal/inventory/awsfetcher/fetcher_route53_mock.go
  internal/inventory/awsfetcher/fetcher_route53_test.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/route53/provider.go
  internal/resources/providers/awslib/route53/provider_test.go
  internal/resources/providers/awslib/route53/record.go
  internal/resources/providers/awslib/route53/route53.go
  internal/resources/providers/awslib/route53/route53_mock.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

asset_inventory: add EKS
  go.mod
  go.sum
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_eks.go
  internal/inventory/awsfetcher/fetcher_eks_mock.go
  internal/inventory/awsfetcher/fetcher_eks_test.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/eks/cluster.go
  internal/resources/providers/awslib/eks/eks.go
  internal/resources/providers/awslib/eks/eks_mock.go
  internal/resources/providers/awslib/eks/provider.go
  internal/resources/providers/awslib/eks/provider_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: make version bump scripts idempotent on retrigger
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
Due: none

fix: reduce flakiness in TestAssetInventory_Run timing (#7185)
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: make version bump scripts idempotent on retrigger (#7184)
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
Due: none

fix: plug CreatedAt gaps in AWS
  internal/inventory/awsfetcher/fetcher_iam_policy.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user.go
  internal/inventory/awsfetcher/fetcher_s3_bucket.go
  internal/resources/providers/awslib/iam/iam.go
  internal/resources/providers/awslib/iam/user.go
  internal/resources/providers/awslib/s3/provider.go
  internal/resources/providers/awslib/s3/s3.go
Due: golangci-lint, mage-license-headers, go-test

fix: extract common function to helpers
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/tags.go
Due: golangci-lint, mage-license-headers, go-test

fix: resolve RoleARN from ProfileInstance
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_mock.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/resources/providers/awslib/iam/iam.go
  internal/resources/providers/awslib/iam/iam_mock.go
  internal/resources/providers/awslib/iam/instance_profile.go
  internal/resources/providers/awslib/iam/instance_profile_mock.go
Due: golangci-lint, mage-license-headers, go-test

Enrich get build info lin (#7178)
  tests/fleet_api/common_api.py
Due: none

fix: drop hermit.hcl sync from post-minor-merge.sh
  .buildkite/scripts/release/post-minor-merge.sh
  .buildkite/version-bump-pipeline.yml
Due: none

fix: move CreatedAt to attributes
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

fix: skip sync PR when one is already open for the version
  scripts/sync_internal_cloudbeat_version.sh
Due: none

[Cloud Asset Inventory] Add extra resource fields #1 (#6991)
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_mock.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_mock.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/elb_mock.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/elb_v2_mock.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
  internal/resources/providers/awslib/iam/iam.go
  internal/resources/providers/awslib/iam/iam_mock.go
  internal/resources/providers/awslib/iam/instance_profile.go
  internal/resources/providers/awslib/iam/instance_profile_mock.go
  internal/resources/providers/awslib/iam/user.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/rds.go
  internal/resources/providers/awslib/role_chaining_mock.go
  internal/resources/providers/awslib/s3/provider.go
  internal/resources/providers/awslib/s3/s3.go
  internal/resources/providers/awslib/tags.go
Due: golangci-lint, mage-license-headers, go-test

fix: unexport account fields
  internal/inventory/awsfetcher/fetcher_eks.go
  internal/inventory/awsfetcher/fetcher_route53.go
Due: golangci-lint, mage-license-headers, go-test

[Cloud Asset Inventory] Add extra resource fields #2 (EKS & Route 53) (#7183)
  go.mod
  go.sum
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_eks.go
  internal/inventory/awsfetcher/fetcher_eks_mock.go
  internal/inventory/awsfetcher/fetcher_eks_test.go
  internal/inventory/awsfetcher/fetcher_route53.go
  internal/inventory/awsfetcher/fetcher_route53_mock.go
  internal/inventory/awsfetcher/fetcher_route53_test.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/eks/cluster.go
  internal/resources/providers/awslib/eks/eks.go
  internal/resources/providers/awslib/eks/eks_mock.go
  internal/resources/providers/awslib/eks/provider.go
  internal/resources/providers/awslib/eks/provider_test.go
  internal/resources/providers/awslib/route53/provider.go
  internal/resources/providers/awslib/route53/provider_test.go
  internal/resources/providers/awslib/route53/record.go
  internal/resources/providers/awslib/route53/route53.go
  internal/resources/providers/awslib/route53/route53_mock.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: bump main to next minor after minor branch-out (#7186)
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-minor-merge.sh
  .buildkite/scripts/release/templates/pr-body-bump-main.md
  .buildkite/version-bump-pipeline.yml
Due: none

fix: prevent panic when RDS DB instance has a nil DBSubnetGroup
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Handle sync cloudbeat with snapshots not published (#7179)
  .github/workflows/sync-internal-cloudbeat-version.yml
  scripts/sync_internal_cloudbeat_version.sh
Due: none

Add mergify backport rule for 9.5
  .mergify.yml
Due: none

fix: delete stale bump branches before reusing their name
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-minor-merge.sh
Due: none

fix: detect+fail on stale branch instead of deleting it
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-minor-merge.sh
Due: none

ci: remove Mergify auto-merge for version bump PRs
  .mergify.yml
Due: none

remove merge action in version bump PR's
  .mergify.yml
Due: none

ci: remove Mergify auto-merge for version bump PRs (#7228)
  .mergify.yml
Due: none

fix: fail clearly when a stale bump branch already exists
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-minor-merge.sh
Due: none

fix: prevent panic when RDS DB instance has a nil DBSubnetGroup (#7188)
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 9.6.0
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update Azure ARM templates to 9.6.0
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

fix: detect stale bump branches and fail clearly before pushing (#7227)
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-minor-merge.sh
Due: none
