Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

add Classic ELB provider tests
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/provider_test.go
Due: mage-license-headers, go-test

add ELB v2 provider tests
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
Due: mage-license-headers, go-test

Update index to match datastream integration format
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: mage-license-headers, go-test

[Asset Inventory] Update index to match Index Template (#2262)
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: mage-license-headers, go-test

chore: Update hermit with Golang version 1.22.4
  bin/.go-1.22.4.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.22.4
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.22.4
  .go-version
Due: mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-479.0.0.pkg
  bin/.gh-2.50.0.pkg
  bin/.golangci-lint-1.59.1.pkg
  bin/.just-1.28.0.pkg
  bin/.opa-0.65.0.pkg
  bin/.regal-0.23.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/opa
  bin/regal
Due: mage-license-headers, go-test

Add AWS ELB (Classic and V2) to Asset Inventory (#2260)
  go.mod
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/mock_elb_describe_func.go
  internal/inventory/awsfetcher/mock_network_describe_func.go
  internal/inventory/awsfetcher/mock_v1_provider.go
  internal/inventory/awsfetcher/mock_v2_provider.go
  internal/resources/fetching/fetchers/aws/elb_fetcher.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/preset/eks_preset.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/mock_client.go
  internal/resources/providers/awslib/elb/mock_load_balancer_describer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/mock_client.go
  internal/resources/providers/awslib/elb_v2/mock_load_balancer_describer.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
Due: mage-license-headers, go-test, go-mod-tidy

[updatecli] Update Golang version to 1.22.4 (#2264)
  .go-version
  bin/.go-1.22.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers, go-test

[updatecli] Update Golang version to 1.22.4 (#2265)
  .go-version
  bin/.go-1.22.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers, go-test

add new wf
  .ci/scripts/get_expired_envs.sh
  .github/workflows/destroy-environment.yml
  .github/workflows/destroy-expired-environment.yml
Due: none

add event
  .github/workflows/destroy-environment.yml
  .github/workflows/destroy-expired-environment.yml
Due: none

update script
  .ci/scripts/get_expired_envs.sh
  .github/workflows/destroy-expired-environment.yml
Due: none

update script
  .ci/scripts/get_expired_envs.sh
Due: none

[Release] update version
  version/version.go
Due: mage-license-headers, go-test

feat: drop aws-sdk-go v1 dependency (#2259)
  go.mod
  internal/resources/fetching/fetchers/aws/iam_fetcher_test.go
  internal/resources/providers/awslib/iam/policy.go
  internal/resources/providers/awslib/iam/policy_test.go
  internal/vulnerability/fetcher_test.go
  internal/vulnerability/replicator_test.go
  internal/vulnerability/verifier_test.go
  internal/vulnerability/worker_test.go
Due: mage-license-headers, go-test, go-mod-tidy

extend assets with Internet Gateway details
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_networking.go
Due: mage-license-headers, go-test

extend assets with Networking asset details
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_networking.go
Due: mage-license-headers, go-test

update tests
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/inventory_test.go
Due: mage-license-headers, go-test

[Release] Update version to 8.14.2 (#2267)
  version/version.go
Due: mage-license-headers, go-test

Asset Inventory Networking information improvements (#2269)
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/inventory_test.go
Due: mage-license-headers, go-test

add AWS Lambda scaffolding
  go.mod
  go.sum
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/lambda/function.go
  internal/resources/providers/awslib/lambda/lambda.go
  internal/resources/providers/awslib/lambda/provider.go
Due: mage-license-headers, go-test, go-mod-tidy

create a AWS Lambda provider
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/lambda/alias.go
  internal/resources/providers/awslib/lambda/event_source_mapping.go
  internal/resources/providers/awslib/lambda/layer.go
  internal/resources/providers/awslib/lambda/provider.go
Due: mage-license-headers, go-test

add mocks
  internal/resources/providers/awslib/lambda/mock_client.go
  internal/resources/providers/awslib/lambda/mock_lambda.go
Due: mage-license-headers, go-test

enable AWS Lambda fetcher for inventory
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/resources/providers/awslib/lambda/lambda.go
Due: mage-license-headers, go-test

[updatecli] Update hermit and pre-commit dependencies (#2251)
  .pre-commit-config.yaml
  bin/.gcloud-479.0.0.pkg
  bin/.gh-2.50.0.pkg
  bin/.golangci-lint-1.59.1.pkg
  bin/.just-1.28.0.pkg
  bin/.opa-0.65.0.pkg
  bin/.regal-0.23.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/opa
  bin/regal
Due: mage-license-headers, go-test

Upgrade **all** aws-sdk-go-v2 modules
  go.mod
  go.sum
Due: go-mod-tidy

refactor ListAliases function, since it needs parameters
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/mock_lambda_describe_func.go
  internal/inventory/awsfetcher/mock_lambda_provider.go
  internal/resources/providers/awslib/lambda/function.go
  internal/resources/providers/awslib/lambda/lambda.go
  internal/resources/providers/awslib/lambda/mock_lambda.go
  internal/resources/providers/awslib/lambda/provider.go
Due: mage-license-headers, go-test

add tests for lambda.ListFunctions and lambda.ListAliases functions
  internal/resources/providers/awslib/lambda/provider.go
  internal/resources/providers/awslib/lambda/provider_test.go
Due: mage-license-headers, go-test

add tests for lambda.ListLayers and lambda.ListEventSourceMappings functions
  internal/resources/providers/awslib/lambda/provider_test.go
Due: mage-license-headers, go-test

add tests for AWS Lambda fetchers
  internal/inventory/awsfetcher/fetcher_lambda_test.go
Due: mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-480.0.0.pkg
  bin/.gh-2.51.0.pkg
  bin/.just-1.29.1.pkg
  bin/.regal-0.23.1.pkg
  bin/.yq-4.44.2.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/regal
  bin/yq
Due: none

[updatecli] Update hermit and pre-commit dependencies (#2274)
  .pre-commit-config.yaml
  bin/.gcloud-480.0.0.pkg
  bin/.gh-2.51.0.pkg
  bin/.just-1.29.1.pkg
  bin/.regal-0.23.1.pkg
  bin/.yq-4.44.2.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/regal
  bin/yq
Due: none

go mod tidy
  go.sum
Due: go-mod-tidy

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
