Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

debug instructions
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
Due: none

permissions:
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
Due: none

"
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
Due: none

shellcheck
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
Due: none

shfmt
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
Due: none

setup
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

enhance
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

copy entity to user & hosts structs
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

review
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
Due: none

added entity to direct generetion of Host logic
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

Update .github/workflows/destroy-environment.yml
  .github/workflows/destroy-environment.yml
Due: none

Fix Destroy Environment workflow (#3790)
  .github/workflows/destroy-environment.yml
  deploy/test-environments/delete_env.sh
Due: none

fix review comments
  .ci/scripts/retry.sh
  .github/actions/hermit/action.yml
Due: none

fix failed command
  .github/actions/hermit/action.yml
Due: none

Fix OpenTelemetry schema version conflict
  go.mod
  go.sum
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix test
  internal/inventory/gcpfetcher/fetcher_assets_test.go
Due: golangci-lint, mage-license-headers, go-test

added comment for using https as part of the ES host url
  cloudbeat.yml
Due: mage-config

fix typo
  cloudbeat.yml
Due: mage-config

fix pre commit issue
  cloudbeat.yml
Due: mage-config

rollback cloudbeat.yaml changes
  cloudbeat.yml
Due: mage-config

Add retry logic for Hermit initialization (#3775)
  .ci/scripts/retry.sh
  .github/actions/hermit/action.yml
  .github/workflows/binary-size-monitor.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-environment.yml
  .github/workflows/test-opa-coverage.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/updatecli.yml
  .github/workflows/upgrade-environment.yml
Due: none

always create sa
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

add
  renovate.json
Due: none

sep
  renovate.json
Due: none

Add more renovate groups to reduce PRs (#3798)
  renovate.json
Due: none

update
  go.mod
  go.sum
Due: go-mod-tidy

cmd
  .claude/commands/cve.md
Due: none

more
  .claude/commands/cve.md
Due: none

cursor
  .cursor/commands/cve.md
Due: none

ln
  .claude/commands/cve.md
  .cursor/commands/cve.md
  llm/cve.md
Due: none

init
  go.mod
  go.sum
  internal/config/config.go
  internal/resources/providers/gcplib/auth/cloud_connectors.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/gcplib_config.go
  internal/resources/providers/gcplib/service_account_chaining.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

CVE exploration command for vibe coding tools (#3817)
  .claude/commands/cve.md
  .cursor/commands/cve.md
  llm/cve.md
Due: none

redundant
  internal/resources/providers/gcplib/auth/cloud_connectors.go
  internal/resources/providers/gcplib/auth/credentials.go
Due: golangci-lint, mage-license-headers, go-test

copy entity to user & hosts structs (#3791)
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

rm TargetServiceAccount
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.25.5
  bin/.go-1.25.5.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.25.5
  docs/version.asciidoc
Due: none

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
