Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

update script and wf
  .ci/scripts/get_expired_envs.sh
  .github/workflows/destroy-expired-environment.yml
Due: none

update script
  .ci/scripts/get_expired_envs.sh
Due: none

extend AWS SNS provider with ListTopics method
  internal/resources/providers/awslib/sns/mock_client.go
  internal/resources/providers/awslib/sns/mock_sns.go
  internal/resources/providers/awslib/sns/provider.go
  internal/resources/providers/awslib/sns/sns.go
Due: mage-license-headers, go-test

add expiration handling to create env wf
  .ci/scripts/create_env_config.py
  .github/workflows/destroy-expired-environment.yml
  .github/workflows/test-environment.yml
Due: none

update create env wf
  .github/workflows/test-environment.yml
Due: none

disable ui tests flag
  .github/workflows/test-environment.yml
Due: none

implement SNS fetcher for Asset Inventory
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/mock_sns_describe_func.go
  internal/inventory/awsfetcher/mock_sns_provider.go
  internal/resources/fetching/fetcher.go
  internal/resources/providers/aws_cis/monitoring/monitoring.go
  internal/resources/providers/awslib/sns/mock_sns.go
  internal/resources/providers/awslib/sns/provider.go
  internal/resources/providers/awslib/sns/provider_test.go
  internal/resources/providers/awslib/sns/topic.go
Due: mage-license-headers, go-test

enable SNS fetcher for Asset Inventory
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/resources/providers/awslib/sns/provider.go
Due: mage-license-headers, go-test

add SNS fetcher tests
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/awsfetcher/mock_sns_describe_func.go
Due: mage-license-headers, go-test

fix networking fetcher
  internal/inventory/awsfetcher/fetcher_networking.go
Due: mage-license-headers, go-test

remove ARN constructor for Event Source Mappings
  internal/inventory/awsfetcher/awsfetchers.go
  internal/resources/providers/awslib/lambda/event_source_mapping.go
  internal/resources/providers/awslib/lambda/lambda.go
  internal/resources/providers/awslib/lambda/provider.go
  internal/resources/providers/awslib/lambda/provider_test.go
Due: mage-license-headers, go-test

enable destroy environment wf
  .ci/scripts/get_expired_envs.sh
  .github/workflows/destroy-expired-environment.yml
Due: none

update wf
  .github/workflows/destroy-expired-environment.yml
Due: none

remove comment from new wf
  .github/workflows/destroy-expired-environment.yml
Due: none

update new wf
  .github/workflows/destroy-expired-environment.yml
Due: none

fix in case Topic ARN is empty
  internal/resources/providers/awslib/sns/topic.go
Due: mage-license-headers, go-test

refactor: replace custom atomic types with stdlib atomic
  internal/resources/fetching/cycle/cache_test.go
  internal/resources/providers/azurelib/governance/management_group_test.go
Due: mage-license-headers, go-test

lint: update var declaration to fix linter issues
  internal/resources/fetching/cycle/cache_test.go
Due: mage-license-headers, go-test

Add AWS Lambda fetcher to Asset Inventory (#2271)
  go.mod
  go.sum
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/mock_lambda_describe_func.go
  internal/inventory/awsfetcher/mock_lambda_provider.go
  internal/resources/fetching/fetcher.go
  internal/resources/providers/awslib/lambda/alias.go
  internal/resources/providers/awslib/lambda/event_source_mapping.go
  internal/resources/providers/awslib/lambda/function.go
  internal/resources/providers/awslib/lambda/lambda.go
  internal/resources/providers/awslib/lambda/layer.go
  internal/resources/providers/awslib/lambda/mock_client.go
  internal/resources/providers/awslib/lambda/mock_lambda.go
  internal/resources/providers/awslib/lambda/provider.go
  internal/resources/providers/awslib/lambda/provider_test.go
Due: mage-license-headers, go-test, go-mod-tidy

update documentation
  dev-docs/Cloud-Env-Testing.md
Due: none

add SNS fetcher tests
  internal/resources/providers/awslib/sns/topic_test.go
Due: mage-license-headers, go-test

add SNS fetcher tests
  internal/resources/providers/awslib/sns/provider_test.go
Due: mage-license-headers, go-test

rename subcategory to "messaging" for SNS
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
Due: mage-license-headers, go-test

refactor: replace custom atomic types with stdlib atomic (#2280)
  internal/resources/fetching/cycle/cache_test.go
  internal/resources/providers/azurelib/governance/management_group_test.go
Due: mage-license-headers, go-test

fix review comments
  .github/workflows/destroy-expired-environment.yml
  .github/workflows/test-environment.yml
  .github/workflows/weekly-serverless.yml
  dev-docs/Cloud-Env-Testing.md
Due: none

Add AWS SNS to Asset Inventory (#2277)
  internal/inventory/asset.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/awsfetcher/mock_sns_provider.go
  internal/resources/fetching/fetcher.go
  internal/resources/providers/aws_cis/monitoring/monitoring.go
  internal/resources/providers/awslib/sns/mock_client.go
  internal/resources/providers/awslib/sns/mock_sns.go
  internal/resources/providers/awslib/sns/provider.go
  internal/resources/providers/awslib/sns/provider_test.go
  internal/resources/providers/awslib/sns/topic.go
  internal/resources/providers/awslib/sns/topic_test.go
Due: mage-license-headers, go-test

Fix networking fetcher type case (#2278)
  internal/inventory/awsfetcher/fetcher_networking.go
Due: mage-license-headers, go-test

add new wf (#2266)
  .ci/scripts/create_env_config.py
  .ci/scripts/get_expired_envs.sh
  .github/workflows/destroy-environment.yml
  .github/workflows/destroy-expired-environment.yml
  .github/workflows/test-environment.yml
  .github/workflows/weekly-serverless.yml
  dev-docs/Cloud-Env-Testing.md
Due: none

Remove Export from cf direct keys
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

Remove Export from cf direct keys (#2281)
  deploy/cloudformation/elastic-agent-direct-access-key-cspm-organization.yml
  deploy/cloudformation/elastic-agent-direct-access-key-cspm.yml
Due: rain

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-481.0.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
Due: none

[updatecli] Update hermit and pre-commit dependencies (#2287)
  .pre-commit-config.yaml
  bin/.gcloud-481.0.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
Due: none

Fix broken mocks (broken because of new default tracking option on paginators https://github.com/aws/aws-sdk-go-v2/commit/8dddc9c41a16c7f622ba149d5f15b78e33ff7f1c)
  internal/resources/providers/awslib/account_provider_test.go
  internal/resources/providers/awslib/elb/provider_test.go
Due: mage-license-headers, go-test

Revert "Bump andrcuns/allure-publish-action from 2.6.0 to 2.7.0 in /.github/w…"
  .github/workflows/ci.yml
  .github/workflows/eks-ci.yml
Due: none

Revert "Bump andrcuns/allure-publish-action from 2.6.0 to 2.7.0 in /.github/workflows" (#2288)
  .github/workflows/ci.yml
  .github/workflows/eks-ci.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
