Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

.pre-commit-config.yaml:

repos:
  ## General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        exclude: (^tests/deploy/k8s-cloudbeat-tests/templates/.*)$
      - id: check-json
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        exclude: cloudbeat.reference.yml

      ## Security
      - id: detect-private-key

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  ## Golang hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-imports
        args: [-local, "github.com/elastic/cloudbeat"]
        exclude: 'mock_.*\.go'
      - id: golangci-lint

  ## Python
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: flake8 ./tests/ ./fleet_api/
        files: ^(tests|deploy/test-environments/fleet_api)/

  - repo: https://github.com/pycqa/pylint
    rev: v2.15.7
    hooks:
      - id: pylint
        args: [
            "-rn", # Only display messages
            "--rcfile=tests/pylintrc", # Link to your config file
          ]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: [--line-length=120, --check, --diff]

  - repo: local
    hooks:
      - id: yq
        name: format with yq
        entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
        language: system
        args: [-i]
        files: deploy/cloudformation/.*yml

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.77.5
    hooks:
      - id: cfn-python-lint
        files: deploy/cloudformation/.*.yml

  - repo: local
    hooks:
      - id: mage-config
        name: mage config
        entry: bash -c 'mage config'
        language: system
        files: (^_meta\/.*|^cloudbeat.*yml)$
        pass_filenames: false
      - id: mage-license-headers
        name: mage AddLicenseHeaders
        entry: bash -c 'mage AddLicenseHeaders'
        language: system
        files: .*.go
        pass_filenames: false

update mocks
  resources/providers/gcplib/identity/mock_provider_getter.go
Due: mage-license-headers

golangci-lint: Make order of imports deterministic
  .golangci.yaml
  .pre-commit-config.yaml
  flavors/benchmark/gcp.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
  vulnerability/events_creator_test.go
Due: mage-license-headers

Bump libbeat version (#1143)
  .github/workflows/k8s-ci.yml
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
  launcher/launcher_test.go
  processor/add_cluster_id/add_cluster_id.go
Due: mage-config, mage-license-headers

worker disk space cleanup
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
Due: none

fix merge conflicts
  go.mod
  go.sum
Due: none

fix merge conflicts (#1157)
  go.mod
  go.sum
Due: none

fix merge conflicts k8s tests
  .github/workflows/k8s-ci.yml
Due: none

Mergify/bp/8.9/pr 1143 (#1158)
  .github/workflows/k8s-ci.yml
Due: none

Workaround for CSPM CloudFormation url without ACCOUNT_TYPE
  .github/workflows/publish-cloudformation.yml
Due: none

[Release] Update version to 8.9.1 (#1067)
  version/version.go
Due: mage-license-headers

golangci-lint: Make order of imports deterministic (#1154)
  .golangci.yaml
  .pre-commit-config.yaml
  flavors/benchmark/gcp.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
  vulnerability/events_creator_test.go
Due: mage-license-headers

macos-12-xl
  .github/workflows/cnvm-ci.yml
Due: none

Limit permissions
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  resources/providers/awslib/ec2/provider.go
Due: yq, mage-license-headers

Fixing resource lint
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

Fixing rebase
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

Rollback join
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

Rebase mistake
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

Format with rain
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

use easimon/maximize-build-space@master instead
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
Due: none

comment our ES
  .github/workflows/cnvm-ci.yml
Due: none

adjust easimon/maximize-build-space@master params
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
Due: none

adjust easimon/maximize-build-space@master args
  .github/workflows/cloudbeat-ci.yml
Due: none

Destroy environment workflow (#1146)
  .github/workflows/destroy-environment.yml
  deploy/test-environments/delete_env.sh
  dev-docs/Cloud-Env-Testing.md
Due: none

revert to jlumbroso/free-disk-space@main
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
Due: none

skip large packages
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
Due: none

:(
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
Due: none

fix inputs params
  .github/workflows/destroy-environment.yml
Due: none

CloudFormation: Rollback deployment if agent installation fails
  deploy/cloudformation/README.md
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: yq

worker disk space cleanup (#1156)
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
Due: none

Update README.md
  deploy/cloudformation/README.md
Due: none

fix inputs params (#1162)
  .github/workflows/destroy-environment.yml
Due: none

post merge disk cleanup
  .github/workflows/k8s-ci.yml
Due: none

modify auth logic to use adc
  deploy/deployment-manager/gomain.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

adding disk cleanup step to post merge K8s test (#1164)
  .github/workflows/k8s-ci.yml
Due: none

eks clusters migration (#1139)
  .github/workflows/eks-ci.yml
  tests/deploy/aws/eks_config/test-eks-config-1-node-1-10-kubelet-args.conf
  tests/deploy/aws/eks_config/test-eks-config-1-node-1-kubelet-config.json
  tests/deploy/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
  tests/deploy/aws/eks_config/test-eks-config-1-node-2-kubelet-config.json
  tests/deploy/aws/eks_config/test-eks-config-2-node-1-10-kubelet-args.conf
  tests/deploy/aws/eks_config/test-eks-config-2-node-1-kubelet-config.json
  tests/deploy/aws/eks_config/test-eks-config-2-node-2-10-kubelet-args.conf
  tests/deploy/aws/eks_config/test-eks-config-2-node-2-kubelet-config.json
  tests/deploy/k8s-cloudbeat-tests/templates/_eks-psp-failures-pod.yaml
  tests/deploy/k8s-cloudbeat-tests/templates/_eks-psp-pass-pod.yaml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-eks-pytest.yaml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-test-configmap.yml
  tests/deploy/k8s-cloudbeat-tests/templates/eks-results.yml
  tests/deploy/k8s-cloudbeat-tests/values.yaml
  tests/deploy/values/ci-eks-config-1.yml
  tests/deploy/values/ci-eks-config-2.yml
Due: none

Make CollectResourcesWithTimeout less flaky
  resources/fetching/factory/aws_factory_test.go
  resources/utils/testhelper/helper.go
  resources/utils/testhelper/helper_test.go
Due: mage-license-headers

Make CollectResourcesWithTimeout less flaky (#1165)
  resources/fetching/factory/aws_factory_test.go
  resources/utils/testhelper/helper.go
  resources/utils/testhelper/helper_test.go
Due: mage-license-headers

prepare environment for debug
  .github/workflows/k8s-ci.yml
  tests/integration/tests/conftest.py
Due: none

add cleanup action
  .github/workflows/k8s-ci.yml
  .github/workflows/unit-test.yml
  tests/integration/tests/test_standalone_agent_integration.py
Due: none
