Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

fix(azure): drive Resource Graph pagination by SkipToken, not ResultTruncated
  internal/resources/providers/azurelib/inventory/resource_graph_provider.go
  internal/resources/providers/azurelib/inventory/resource_graph_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Simplify federated-identity-aws.yml: grant all permissions unconditionally
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

fix(azure): drive Resource Graph pagination by SkipToken, not ResultTruncated (#7424)
  internal/resources/providers/azurelib/inventory/resource_graph_provider.go
  internal/resources/providers/azurelib/inventory/resource_graph_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Add security posture permissions from integrations#20240 patch sets
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Align per-service permissions with integrations#19405 declarations
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

fix: entity.attributes -> entity.Details
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_eks.go
  internal/inventory/awsfetcher/fetcher_eks_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_route53.go
  internal/inventory/awsfetcher/fetcher_route53_test.go
Due: golangci-lint, mage-license-headers, go-test

fix: gofmt struct alignment after entity.Details rename
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

mock: include mock updates
  internal/resources/providers/awslib/elb/elb_mock.go
Due: golangci-lint, mage-license-headers, go-test

awsfetcher: update ec2, elb, rds fetchers
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/provider_test.go
  internal/resources/providers/awslib/rds/rds.go
Due: golangci-lint, mage-license-headers, go-test

apply review remarks
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

[Cloud Asset Inventory] Fix entity.attribute mapping bug by renaming it to entity.Details (#7473)
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_eks.go
  internal/inventory/awsfetcher/fetcher_eks_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_route53.go
  internal/inventory/awsfetcher/fetcher_route53_test.go
Due: golangci-lint, mage-license-headers, go-test

Add is_managed field to PolicyState to replace fragile ID equality check
  tests/integrations_setup/install_agentless_integrations.py
  tests/integrations_setup/purge_integrations.py
  tests/integrations_setup/state_file_manager.py
Due: none

Upgrade isort pre-commit hook from 6.0.1 to 6.1.0
  .pre-commit-config.yaml
Due: none

Fix isort: declare local modules as known-first-party
  .pre-commit-config.yaml
  tests/fleet_api/managed_integration_api.py
  tests/integrations_setup/install_agentless_integrations.py
  tests/integrations_setup/purge_integrations.py
Due: none

Fix isort: revert config changes, add skip_file to new files
  .pre-commit-config.yaml
  tests/fleet_api/managed_integration_api.py
  tests/integrations_setup/install_agentless_integrations.py
  tests/integrations_setup/purge_integrations.py
  tests/integrations_setup/state_file_manager.py
Due: none

Migrate environment workflow for agentless CSPM setup to /api/fleet/managed_integrations (#7423)
  tests/fleet_api/managed_integration_api.py
  tests/integrations_setup/install_agentless_integrations.py
  tests/integrations_setup/purge_integrations.py
  tests/integrations_setup/state_file_manager.py
Due: none

[Asset Inventory][AWS] Update EC2, ELB and RDS fetchers for InfoSec (#7277)
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/elb_mock.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/provider.go
  internal/resources/providers/awslib/elb/provider_test.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/provider_v2_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/provider_test.go
  internal/resources/providers/awslib/rds/rds.go
Due: golangci-lint, mage-license-headers, go-test

Rework template to grow incrementally from declared permissions
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Add aws_securityhub permissions to the Federated Identity template
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Add aws Config permissions to the Federated Identity template
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Add Amazon Inspector permissions to the Federated Identity template
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Bump to 9.5.1
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Add AWS CloudWatch permissions to the Federated Identity template
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Add all remaining integration permissions to the Federated Identity CFT
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Add aws Config permissions to the Federated Identity CFT
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Remove ElasticAwsSecurityHub — moving to separate PR (ingest-dev#8812)
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Consolidate IDF auth: move AWS/GCP/Azure auth to beats identityfederation package
  internal/config/config.go
  internal/flavors/assetinventory/strategy_test.go
  internal/flavors/benchmark/aws_test.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/role_chaining.go
  internal/resources/providers/awslib/role_chaining_mock.go
  internal/resources/providers/awslib/web_identity.go
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/auth_provider_test.go
  internal/resources/providers/azurelib/auth/credentials.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

Consolidate IDF auth (#4980)
  internal/config/config.go
  internal/flavors/assetinventory/strategy_test.go
  internal/flavors/benchmark/aws_test.go
  internal/resources/providers/awslib/config.go
  internal/resources/providers/awslib/role_chaining.go
  internal/resources/providers/awslib/role_chaining_mock.go
  internal/resources/providers/awslib/web_identity.go
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/auth_provider_test.go
  internal/resources/providers/azurelib/auth/credentials.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

Add weekly DRA scheduler to prevent snapshot artifact expiry
  .buildkite/README.md
  .buildkite/dra-scheduler-pipeline.yml
  .buildkite/scripts/dra-scheduler.sh
  catalog-info.yaml
Due: none

fix: satisfy shfmt and shellcheck for dra-scheduler
  .buildkite/scripts/dra-scheduler.sh
Due: none

Address DRA scheduler review: harden branch derivation and pin yq
  .buildkite/README.md
  .buildkite/scripts/dra-scheduler.sh
Due: none

Add SecurityAudit to combined Federated Identity CFT for CSPM and CAI
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

chore: add 9.5 to renovate baseBranches
  renovate.json
Due: none

chore: add 9.5 to renovate baseBranches (#7659)
  renovate.json
Due: none

Harden dra-scheduler: verify yq checksum, cleanup temps, trim excludes
  .buildkite/README.md
  .buildkite/scripts/dra-scheduler.sh
Due: none

Notify #cloud-sec-ci when the DRA scheduler build fails
  .buildkite/README.md
  .buildkite/dra-scheduler-pipeline.yml
Due: none

Update deploy/cloudformation/federated-identity-aws.yml
  deploy/cloudformation/federated-identity-aws.yml
Due: rain
