Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update version.asciidoc with Golang version 1.23.4
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.23.4
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.23.4
  bin/.go-1.23.4.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@424e2b5e595e
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@cd2d8ab340cc
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@a64168707ade
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.22.12.pkg
  bin/.gh-2.63.2.pkg
  bin/.yq-4.44.6.pkg
  bin/aws
  bin/aws_completer
  bin/gh
  bin/yq
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update hermit and pre-commit dependencies (#2818)
  .pre-commit-config.yaml
  bin/.awscli-2.22.12.pkg
  bin/.gh-2.63.2.pkg
  bin/.yq-4.44.6.pkg
  bin/aws
  bin/aws_completer
  bin/gh
  bin/yq
Due: none

[updatecli] 8.x - Update hermit and pre-commit dependencies (#2817)
  .pre-commit-config.yaml
  bin/.awscli-2.22.12.pkg
  bin/.gh-2.63.2.pkg
  bin/.yq-4.44.6.pkg
  bin/aws
  bin/aws_completer
  bin/gh
  bin/yq
Due: none

bump apimachinery and other k8s packages to v0.31.3
  go.mod
  go.sum
Due: go-mod-tidy

update stack version in wf
  .github/workflows/weekly-serverless.yml
Due: none

update version
  .github/workflows/weekly-serverless.yml
Due: none

[chore][8.16] Bump apimachinery and other k8s packages to v0.31.3 (#2823)
  go.mod
  go.sum
Due: go-mod-tidy

update gcp package input
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/install_agentless_integrations.py
Due: none

Update serverless workflow to use correct stack version (#2824)
  .github/workflows/weekly-serverless.yml
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/install_agentless_integrations.py
Due: none

Agentless GCP CSPM Sanity (#2749)
  .github/workflows/test-environment.yml
  tests/commonlib/agents_map.py
  tests/integration/tests/test_sanity_checks.py
  tests/integrations_setup/install_agentless_integrations.py
Due: none

[Cloud Security] [Agentless] Add the creation of an agentless agent via Agentless API in the GHA Create Environment (new) (#2493)
  .github/workflows/test-environment.yml
  tests/integrations_setup/install_agentless_integrations.py
  tests/integrations_setup/package_policy.py
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.17 - Update Golang version to 1.23.4 (#2813)
  .go-version
  bin/.go-1.23.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update Golang version to 1.23.4 (#2812)
  .go-version
  bin/.go-1.23.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.17 - Update to elastic/beats@cd2d8ab340cc (#2815)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update Golang version to 1.23.4 (#2811)
  .go-version
  bin/.go-1.23.4.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update to elastic/beats@a64168707ade (#2816)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update to elastic/beats@424e2b5e595e (#2814)
  go.mod
  go.sum
Due: go-mod-tidy

[chore][8.17] Bump apimachinery and other k8s packages to v0.31.3 (#2822)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update golang mod dependencies (#2819)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update golang mod dependencies (#2820)
  go.mod
  go.sum
Due: go-mod-tidy

Override notice to github.com/gocsaf/csaf/v3
  .buildkite/scripts/generate_notice.py
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
