Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Update ARM-for-cloud-connectors-organization-account.json
  deploy/azure/ARM-for-cloud-connectors-organization-account.json
Due: generate-arm-dev-templates

Update arm-template-lint.yml
  .github/workflows/arm-template-lint.yml
Due: none

auto fix
  security-policies/bundle/compliance/cis_aws/rules/cis_2_1_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/data.yaml
  security-policies/bundle/compliance/cis_eks/rules/cis_5_4_1/data.yaml
  security-policies/dev/common.py
  security-policies/dev/input/CIS_Amazon_Elastic_Kubernetes_Service_(EKS)_Benchmark_v1.0.1.xlsx
  security-policies/dev/input/CIS_Amazon_Web_Services_Foundations_Benchmark_v1.5.0.xlsx
Due: none

[updatecli] main - Update Golang version to 1.25.1 (#3590)
  .go-version
  bin/.go-1.25.1.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

more updates
  security-policies/bundle/compliance/cis_aws/rules/cis_2_1_2/data.yaml
  security-policies/dev/input/CIS_Amazon_Web_Services_Foundations_Benchmark_v1.5.0.xlsx
Due: none

small fix
  security-policies/dev/input/CIS_Amazon_Elastic_Kubernetes_Service_(EKS)_Benchmark_v1.0.1.xlsx
Due: none

fix docs/version.asciidoc
  docs/version.asciidoc
Due: none

Revert "[8.18] bump go 1.24.7" (#3609)
  .go-version
  bin/.go-1.24.0.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Cloud-connector ARM organization template (#3617)
  .github/workflows/arm-template-lint.yml
  deploy/azure/ARM-for-cloud-connectors-organization-account.json
Due: generate-arm-dev-templates

Update ARM template for cloud-connector permissions (#3616)
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

Delete previous comment
  .github/workflows/binary-size-monitor.yml
Due: none

pr co pilot
  security-policies/dev/common.py
Due: none

Fixing Broken JSON (#3619)
  security-policies/bundle/compliance/cis_aws/rules/cis_2_1_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/data.yaml
  security-policies/bundle/compliance/cis_eks/rules/cis_5_4_1/data.yaml
  security-policies/dev/common.py
  security-policies/dev/input/CIS_Amazon_Elastic_Kubernetes_Service_(EKS)_Benchmark_v1.0.1.xlsx
  security-policies/dev/input/CIS_Amazon_Web_Services_Foundations_Benchmark_v1.5.0.xlsx
Due: none

[8.19] bump go 1.24.7 (#3607)
  .go-version
  bin/.go-1.24.7.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
  go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

OTel: Align span names (#3506)
  internal/flavors/benchmark/aws_org.go
  internal/resources/fetching/manager/manager.go
Due: golangci-lint, mage-license-headers, go-test

feat(OTel): Use global providers
  internal/flavors/benchmark/aws_org.go
  internal/flavors/posture.go
  internal/infra/observability/context.go
  internal/infra/observability/otel.go
  internal/infra/observability/otel_test.go
  internal/resources/fetching/manager/manager.go
  internal/resources/fetching/registry/registry.go
Due: golangci-lint, mage-license-headers, go-test

Validate mocks
  internal/infra/observability/mock_graceful_closer.go
  internal/infra/observability/mock_meter_provider.go
  internal/infra/observability/mock_tracer_provider.go
Due: golangci-lint, mage-license-headers, go-test

go mod tidy
  go.mod
Due: go-mod-tidy

CI: Add workflow to observe binary size with local debugging support (#3611)
  .ci/scripts/binary-size-compare.sh
  .github/actions/hermit/action.yml
  .github/workflows/binary-size-monitor.yml
Due: none

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.25.1
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.25.1
  bin/.go-1.25.1.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@0f58fd09f836
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@b2d160930b8e
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@32b5e5a5e767
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@78243fb0f866
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.31.4.pkg
  bin/.elastic-package-0.115.0.pkg
  bin/.gcloud-540.0.0.pkg
  bin/.gh-2.80.0.pkg
  bin/.golangci-lint-2.5.0.pkg
  bin/.just-1.43.0.pkg
  bin/.opa-1.9.0.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/opa
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

bump 9.3
  .mergify.yml
  bin/hermit.hcl
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] add-backport-next
  .mergify.yml
Due: none

Update hermit.hcl
  bin/hermit.hcl
Due: none
