Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

[Asset Inventory][EC2] Add timeout handler to IAM resolver (#7919)
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
Due: golangci-lint, mage-license-headers, go-test

chore(deps): bump Go to 1.26.6 (8.19)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (9.4)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (9.5)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (main)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (main) (#7951)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (9.5) (#7952)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (9.4) (#7953)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore(deps): bump Go to 1.26.6 (8.19) (#7954)
  .go-version
  bin/.go-1.26.6.pkg
  bin/go
  bin/gofmt
  go.mod
  scripts/update_assets_md/go.mod
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[9.5][Automation] Update elastic/beats to 1988845e4be0
  go.mod
  go.sum
Due: go-mod-tidy

[9.4][Automation] Update elastic/beats to 3785719268ff
  go.mod
  go.sum
Due: go-mod-tidy

[8.19][Automation] Update elastic/beats to 91e59b097692
  go.mod
  go.sum
Due: go-mod-tidy

[Cloud Security Integrations] Add all remaining aws package permissions to the Federated Identity CFT (#7637)
  deploy/cloudformation/federated-identity-aws.yml
  scripts/publish_cft.sh
Due: rain

fix: silence staticcheck SA1019 for trivy Severity field
  internal/vulnerability/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

Add daily Snyk vulnerability scan Buildkite pipeline for cloudbeat
  .buildkite/scripts/vulnerability-scan.sh
  .buildkite/vulnerability-scan-pipeline.yml
  catalog-info.yaml
Due: none

[CFT] Add ElasticAwsSecurityHub policy to federated-identity-aws template
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

chore: disable renovate updates for github.com/elastic/sarama
  renovate.json
Due: none

chore: disable renovate updates for github.com/elastic/sarama (#8032)
  renovate.json
Due: none

Add daily Snyk vulnerability scan Buildkite pipeline for cloudbeat (#8031)
  .buildkite/scripts/vulnerability-scan.sh
  .buildkite/vulnerability-scan-pipeline.yml
  catalog-info.yaml
Due: none

feat: install go in vul scanner
  .buildkite/scripts/vulnerability-scan.sh
Due: none

feat: install go in vul scanner (#8054)
  .buildkite/scripts/vulnerability-scan.sh
Due: none

debug snyk
  .buildkite/scripts/vulnerability-scan.sh
Due: none

increase cpu
  .buildkite/vulnerability-scan-pipeline.yml
Due: none

increase storage
  .buildkite/scripts/vulnerability-scan.sh
  .buildkite/vulnerability-scan-pipeline.yml
Due: none

increase vul pipeline storage (#8057)
  .buildkite/scripts/vulnerability-scan.sh
  .buildkite/vulnerability-scan-pipeline.yml
Due: none

download go mod before monitor starts
  .buildkite/scripts/vulnerability-scan.sh
  .buildkite/vulnerability-scan-pipeline.yml
Due: none

download go mod before monitor starts (#8058)
  .buildkite/scripts/vulnerability-scan.sh
  .buildkite/vulnerability-scan-pipeline.yml
Due: none

improve vulnerability scan go setup
  .buildkite/scripts/vulnerability-scan.sh
Due: none

Expand ElasticAwsCloudwatchLogs policy with missing log actions
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

[CFT] Add ElasticAwsSecurityHub policy to federated-identity-aws template (#8030)
  deploy/cloudformation/federated-identity-aws.yml
Due: rain

Bump to 9.5.3
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

replace release manager with dra-prep-plugin
  .buildkite/pipeline.yml
  .buildkite/scripts/dra-annotate.sh
  .buildkite/scripts/dra-generate.sh
  .buildkite/scripts/publish.sh
  .buildkite/scripts/stage-dra-artifacts.sh
Due: none

fix lint
  .buildkite/scripts/dra-generate.sh
  .buildkite/scripts/stage-dra-artifacts.sh
Due: none

update label for trigger
  .buildkite/scripts/dra-generate.sh
Due: none

ci: add main-branch DRA check for minor version-bump workflow (#7623)
  .buildkite/version-bump-pipeline.yml
Due: none
