Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 8.19.18
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 9.3.7
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

asset_inventory: additional detail
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/rds/rds.go
Due: golangci-lint, mage-license-headers, go-test

Fix golangci-lint violations in asset discovery changes
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/resources/providers/awslib/rds/provider.go
Due: golangci-lint, mage-license-headers, go-test

Remove cache control
  .github/actions/hermit/action.yml
Due: none

Fix hermit cache check and point to test branch
  .github/actions/hermit/action.yml
  .github/workflows/test-runner.yml
Due: none

Fix branch name in test-runner
  .github/workflows/test-runner.yml
Due: none

new name
  .github/workflows/test-runner.yml
Due: none

Bump to 9.4.4
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Hermit bump stale cloudbeat version
  bin/hermit.hcl
Due: none

fix branch name
  .github/workflows/test-runner.yml
Due: none

Bump to 8.19.19
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump to 9.3.8
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Move to interface instead of type
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_mock.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/resources/providers/msgraph/provider.go
  internal/resources/providers/msgraph/provider_mock.go
  internal/resources/providers/msgraph/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Additional tests
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/resources/providers/msgraph/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Update provider_test.go
  internal/resources/providers/msgraph/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

[8.19] Align beats-bump automation config (#6730)
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
Due: none

Mocks
  internal/inventory/azurefetcher/fetcher_activedirectory_mock.go
  internal/resources/providers/msgraph/provider_mock.go
Due: golangci-lint, mage-license-headers, go-test

[9.3] Update elastic/beats and align beats-bump automation
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
  go.mod
  go.sum
Due: go-mod-tidy

[9.4] Update elastic/beats and align beats-bump automation
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
  cloudbeat.reference.yml
  cmd/root.go
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: golangci-lint, mage-config, mage-license-headers, go-test, go-mod-tidy

[9.3] Update elastic/beats and align beats-bump automation (#6729)
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
  go.mod
  go.sum
Due: go-mod-tidy

[9.4] Update elastic/beats and align beats-bump automation (#6728)
  .ci/updatecli/updatecli.d/update-beats.yml
  .github/workflows/updatecli.yml
  cloudbeat.reference.yml
  cmd/root.go
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: golangci-lint, mage-config, mage-license-headers, go-test, go-mod-tidy

Chrome version
  .github/actions/kibana-ftr/action.yml
  .github/workflows/test-runner.yml
Due: none

Branch
  .github/workflows/test-runner.yml
Due: none

just: re-generate mocks
  internal/inventory/awsfetcher/fetcher_elb_mock.go
  internal/resources/providers/awslib/role_chaining_mock.go
Due: golangci-lint, mage-license-headers, go-test

fix install script
  .ci/scripts/install_entity_risk.sh
Due: none

Back to main value for branch execution
  .github/workflows/test-runner.yml
Due: none

update experimental features
  .github/actions/elk-stack/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/create-env-ea.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/elk-stack/main.tf
  deploy/test-environments/elk-stack/variables.tf
  deploy/test-environments/modules/ec/main.tf
  deploy/test-environments/modules/ec/variables.tf
  dev-docs/Cloud-Env-Testing.md
Due: none

fix format issues
  deploy/test-environments/elk-stack/main.tf
Due: none

fix review comments
  .ci/scripts/install_entity_risk.sh
Due: none

Fix EA workflow risk-score maintainer HTTP 500 by using sync run (#7174)
  .ci/scripts/install_entity_risk.sh
  .github/actions/elk-stack/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/create-env-ea.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/elk-stack/main.tf
  deploy/test-environments/elk-stack/variables.tf
  deploy/test-environments/modules/ec/main.tf
  deploy/test-environments/modules/ec/variables.tf
  dev-docs/Cloud-Env-Testing.md
Due: none

update okta package data
  tests/integrations_setup/data/okta-pkg.json
Due: none

Fix Okta Fleet package policy for CDR Create Environment workflow (#7176)
  tests/integrations_setup/data/okta-pkg.json
Due: none

Enrich get_build_info error message
  tests/fleet_api/common_api.py
Due: none

Fix: GH action test-runner.yml (#7175)
  .github/actions/hermit/action.yml
  .github/actions/kibana-ftr/action.yml
  bin/hermit.hcl
Due: none

Linter common_api.py
  tests/fleet_api/common_api.py
Due: none

fix: prevent panic when MS Graph returns AgentIdentityBlueprintPrincipal in service principal list (#7115)
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_mock.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/resources/providers/msgraph/provider.go
  internal/resources/providers/msgraph/provider_mock.go
  internal/resources/providers/msgraph/provider_test.go
Due: golangci-lint, mage-license-headers, go-test
