Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

more fields
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  dataprovider/providers/k8s/option.go
  flavors/benchmark/k8s_helper.go
  flavors/vulnerability.go
  resources/fetching/condition/is_leader.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/fetching/manager/manager_test.go
  resources/fetching/preset/aws_preset.go
  resources/fetching/preset/eks_preset.go
  resources/fetching/preset/k8s_preset.go
  resources/providers/awslib/cloudwatch/logs/logs.go
  resources/providers/awslib/cloudwatch/logs/provider.go
  resources/providers/awslib/cloudwatch/logs/provider_test.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/ec2/volume.go
  resources/providers/awslib/sns/provider.go
  resources/providers/awslib/sns/provider_test.go
  resources/providers/awslib/sns/sns.go
Due: mage-license-headers

validate mocks: Check for untracked files as well
  justfile
Due: none

and now fix
  resources/fetching/fetchers/azure/mock_assets_enricher.go
Due: mage-license-headers

Improve testing on VMs
  bin/README.hermit.md
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/network_security_group_enricher.go
  resources/fetching/fetchers/azure/network_security_group_enricher_test.go
Due: mage-license-headers

Move filter to Enrich to keep code consistency
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg.go
Due: mage-license-headers

Use AssetsEnricher interface
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
Due: mage-license-headers

Add rego constant
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS 6.1 Add network security group rules to VMs extenrsions
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/network_security_group_enricher.go
  resources/fetching/fetchers/azure/network_security_group_enricher_test.go
  resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers

Enrich only VMs (exclude classical ones)
  resources/fetching/fetchers/azure/network_security_group_enricher.go
  resources/fetching/fetchers/azure/network_security_group_enricher_test.go
Due: mage-license-headers

Add 6.1 Rego Rule
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Improve code by not overriding array
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg.go
Due: mage-license-headers

Rollback unnecessary changes
  bin/README.hermit.md
Due: none

Azure CIS 6.1 (#1637)
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg.go
  resources/fetching/fetchers/azure/assets_enrincher_vm_nsg_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/providers/azurelib/inventory/asset.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_1/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

validate mocks: Check for untracked files as well (#1658)
  justfile
  resources/fetching/fetchers/azure/mock_assets_enricher.go
Due: mage-license-headers

Clean up Azure Classical VMS
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers

Clean up Azure Classical VMS (#1660)
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers

Azure: Fix wrong usage of subscription ID
  .golangci.yaml
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
Due: mage-license-headers

remove duplicated code
  tests/agents_map.py
  tests/commonlib/base_call_api.py
  tests/commonlib/fleet_api.py
Due: none

lint
  tests/agents_map.py
Due: none

golangci: Enable revive linter
  .golangci.yaml
  flavors/benchmark/azure.go
  flavors/benchmark/builder/data_provider.go
  flavors/benchmark/builder/id_provider.go
  launcher/launcher_test.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/preset/aws_org_preset_test.go
  resources/providers/awslib/cached_region_selector.go
  resources/providers/awslib/ec2/nacl.go
  resources/providers/awslib/ecr/provider.go
  resources/providers/awslib/multi_region.go
  resources/providers/awslib/multi_region_test.go
Due: mage-license-headers

wrong-import-position
  tests/agents_map.py
Due: none

remove agentless
  tests/integration/tests/test_sanity_checks.py
Due: none

Dependabot: Group download/upload artifact actions
  .github/dependabot.yml
Due: none

Comment out flakky test until we fix it
  flavors/publisher_test.go
Due: mage-license-headers

Comment out flakky test until we fix it (#1673)
  flavors/publisher_test.go
Due: mage-license-headers

Skip long tests when -short flag is set
  .pre-commit-config.yaml
  evaluator/opa_test.go
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/aws_test.go
  flavors/benchmark/builder/benchmark_test.go
  flavors/benchmark/builder/builder_test.go
  flavors/benchmark/builder/k8s_test.go
  flavors/benchmark/eks_test.go
  flavors/benchmark/k8s_test.go
  flavors/publisher_test.go
  flavors/repeater_test.go
  launcher/launcher_test.go
  resources/fetching/cycle/cache_test.go
  resources/fetching/fetchers/k8s/kube_fetcher_test.go
  resources/fetching/manager/manager_test.go
  resources/fetching/preset/aws_org_preset_test.go
  resources/providers/awslib/cached_region_selector_test.go
  resources/providers/azurelib/governance/management_group_test.go
  resources/utils/testhelper/helper.go
  resources/utils/testhelper/helper_test.go
  uniqueness/leaderelection_test.go
  vulnerability/events_creator_test.go
  vulnerability/fetcher_test.go
  vulnerability/replicator_test.go
  vulnerability/runner_test.go
  vulnerability/verifier_test.go
  vulnerability/worker_test.go
Due: mage-license-headers

agent_version
  .github/workflows/upgrade-environment.yml
  tests/configuration.py
  tests/integration/tests/test_sanity_checks.py
Due: none

Skip long tests when -short flag is set (#1674)
  .pre-commit-config.yaml
  evaluator/opa_test.go
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/aws_test.go
  flavors/benchmark/builder/benchmark_test.go
  flavors/benchmark/builder/builder_test.go
  flavors/benchmark/builder/k8s_test.go
  flavors/benchmark/eks_test.go
  flavors/benchmark/k8s_test.go
  flavors/publisher_test.go
  flavors/repeater_test.go
  launcher/launcher_test.go
  resources/fetching/cycle/cache_test.go
  resources/fetching/fetchers/k8s/kube_fetcher_test.go
  resources/fetching/manager/manager_test.go
  resources/fetching/preset/aws_org_preset_test.go
  resources/providers/awslib/cached_region_selector_test.go
  resources/providers/azurelib/governance/management_group_test.go
  resources/utils/testhelper/helper.go
  resources/utils/testhelper/helper_test.go
  uniqueness/leaderelection_test.go
  vulnerability/events_creator_test.go
  vulnerability/fetcher_test.go
  vulnerability/replicator_test.go
  vulnerability/runner_test.go
  vulnerability/verifier_test.go
  vulnerability/worker_test.go
Due: mage-license-headers

chore: Update to elastic/beats@6759826fc71a
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@900137649bcc
  go.mod
  go.sum
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-457.0.0.pkg
  bin/.gh-2.40.1.pkg
  bin/.jq-1.7.1.pkg
  bin/.yq-4.40.5.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/jq
  bin/yq
Due: none

[updatecli] Update to elastic/beats@6759826fc71a (#1676)
  go.mod
  go.sum
Due: none

[updatecli] Update to elastic/beats@900137649bcc (#1677)
  go.mod
  go.sum
Due: none

noqa
  tests/agents_map.py
  tests/integration/tests/test_sanity_checks.py
Due: none

env vars from cnfg
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
Due: none

Add retry mechanism to TestPublisher_HandleEvents
  flavors/publisher_test.go
  go.mod
  go.sum
Due: mage-license-headers

random
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
Due: none

fix linter
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers
