Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

remove periodic-ci workflow
  .github/workflows/periodic-ci.yml
Due: none

fix review comments
  .ci/scripts/build.sh
  dev-docs/Cloudbeat-Deployment.md
  magefile.go
Due: mage-license-headers, go-test

chore: Update to elastic/beats@074c1dd6573e
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  bin/.gh-2.50.0.pkg
  bin/.opa-0.65.0.pkg
  bin/gh
  bin/opa
Due: none

add email for CLA
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .ci/updatecli/updatecli.d/update-mods.yml
Due: mage-license-headers, go-test

add cloudsecmachine email for CI (#2249)
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .ci/updatecli/updatecli.d/update-mods.yml
Due: mage-license-headers, go-test

try
  go.mod
  go.sum
Due: go-mod-tidy

revert some fixes
  dev-docs/Cloudbeat-Deployment.md
  magefile.go
Due: mage-license-headers, go-test

update readme
  dev-docs/Cloudbeat-Deployment.md
Due: none

Remove periodic-ci workflow (#2245)
  .ci/scripts/build.sh
  .github/workflows/periodic-ci.yml
  dev-docs/Cloudbeat-Deployment.md
Due: none

use upstream library for PodSecurityPolicy definition
  go.mod
  go.sum
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
Due: mage-license-headers, go-test, go-mod-tidy

add PSP test case
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: mage-license-headers, go-test

fix test helpers for PSPs
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: mage-license-headers, go-test

disable cgo in cloudbeat binary
  magefile.go
Due: mage-license-headers, go-test

Disable CGO in cloudbeat binary (#2253)
  magefile.go
Due: mage-license-headers, go-test

Update version.go
  version/version.go
Due: mage-license-headers, go-test

Update .mergify.yml
  .mergify.yml
Due: none

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: none

fix git errors and improve formatting
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

review fixes: disable unsecure logging
  scripts/bump_cloudbeat.sh
Due: none

treat PSP as an optional resource
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
Due: mage-license-headers, go-test

Use upstream PSP type definition instead of elastic-agent-autodiscover one (#2252)
  go.mod
  go.sum
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
Due: mage-license-headers, go-test, go-mod-tidy

remove -rf
  scripts/bump_cloudbeat.sh
Due: none

feat: drop aws-sdk-go v1 dependency
  go.mod
  internal/resources/fetching/fetchers/aws/iam_fetcher_test.go
  internal/resources/providers/awslib/iam/policy.go
  internal/resources/providers/awslib/iam/policy_test.go
  internal/vulnerability/fetcher_test.go
  internal/vulnerability/replicator_test.go
  internal/vulnerability/verifier_test.go
  internal/vulnerability/worker_test.go
Due: mage-license-headers, go-test, go-mod-tidy

update Classic ELB provider
  internal/resources/fetching/fetchers/aws/elb_fetcher.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/preset/eks_preset.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb/load_balancer.go
  internal/resources/providers/awslib/elb/mock_client.go
  internal/resources/providers/awslib/elb/mock_load_balancer_describer.go
  internal/resources/providers/awslib/elb/provider.go
Due: mage-license-headers, go-test

create a ELB v2 provider
  go.mod
  internal/inventory/asset.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/elb_v2/load_balancer_v2.go
  internal/resources/providers/awslib/elb_v2/mock_client.go
  internal/resources/providers/awslib/elb_v2/mock_load_balancer_describer.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
Due: mage-license-headers, go-test, go-mod-tidy

add AWS ELB to Asset Inventory
  internal/inventory/awsfetcher/awsfetchers.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/mock_elb_describe_func.go
  internal/inventory/awsfetcher/mock_network_describe_func.go
  internal/inventory/awsfetcher/mock_v1_provider.go
  internal/inventory/awsfetcher/mock_v2_provider.go
Due: mage-license-headers, go-test

[Release] Update version to 8.14.1
  version/version.go
Due: mage-license-headers, go-test

[Release] Update version to 8.14.1 (#2261)
  version/version.go
Due: mage-license-headers, go-test

fix: remove describeFunc mock
  internal/inventory/awsfetcher/mock_describe_func.go
Due: mage-license-headers, go-test

fix bump workflow git errors (#2234)
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none
