Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

comment
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
Due: none

type change
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
Due: none

Fixing parsing
  deploy/test-environments/fleet_api/src/api/common_api.py
Due: none

Azure: Fix missing ECS fields (#1605)
  flavors/benchmark/azure.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
Due: mage-license-headers

fixing lint
  deploy/test-environments/fleet_api/src/api/common_api.py
Due: none

Test environment Azure ARM template and integration configuration changes (#1608)
  deploy/test-environments/fleet_api/src/api/common_api.py
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
  deploy/test-environments/fleet_api/src/package_policy.py
Due: none

Add telemetry automation test
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  tests/commonlib/utils.py
  tests/configuration.py
  tests/integration/tests/test_sanity_telemetry.py
  tests/pyproject.toml
Due: none

Fixing replacement for account type to single account
  deploy/test-environments/fleet_api/src/package_policy.py
Due: none

Fixing replacement for account type to single account (#1610)
  deploy/test-environments/fleet_api/src/package_policy.py
Due: none

cis azure 5.1.3
  flavors/benchmark/azure_test.go
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/insights_batch_fetcher.go
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
  resources/fetching/preset/azure_preset.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_2/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add readPager test
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
Due: mage-license-headers

fix sporadic fail
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
Due: mage-license-headers

Update resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider.go
Due: mage-license-headers

test `GetMetadata()` and `GetElasticCommonData()` calls
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
Due: mage-license-headers

fix
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
Due: mage-license-headers

fix test
  resources/providers/azurelib/inventory/provider_test.go
Due: mage-license-headers

CIS Azure rule 5.1.2 (#1583)
  flavors/benchmark/azure_test.go
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/insights_batch_fetcher.go
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
  resources/fetching/preset/azure_preset.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_2/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update script and workflows
  .ci/scripts/prepare_slack_data.py
  .github/workflows/destroy-environment.yml
  .github/workflows/test-environment.yml
Due: none

rename CR
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement section 9 rules
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/test.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update rules
  security-policies/README.md
  security-policies/RULES.md
Due: none

unused code
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Adding if
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

adding ifs
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CR fixes
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Adding test case
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement section 9 rules (#1533)
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_9/test.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

chore: Update to elastic/beats@b30a5ec82af0
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@be42a3369f94
  go.mod
  go.sum
Due: none

chore: Update hermit and pre-commit packages
  bin/.elastic-package-0.94.0.pkg
  bin/.gh-2.39.2.pkg
  bin/.opa-0.59.0.pkg
  bin/.yq-4.40.4.pkg
  bin/elastic-package
  bin/gh
  bin/opa
  bin/yq
Due: none

[updatecli] Update to elastic/beats@b30a5ec82af0 (#1614)
  go.mod
  go.sum
Due: none

[updatecli] Update to elastic/beats@be42a3369f94 (#1615)
  go.mod
  go.sum
Due: none

[updatecli] Update hermit and pre-commit dependencies (#1616)
  bin/.elastic-package-0.94.0.pkg
  bin/.gh-2.39.2.pkg
  bin/.opa-0.59.0.pkg
  bin/.yq-4.40.4.pkg
  bin/elastic-package
  bin/gh
  bin/opa
  bin/yq
Due: none

FromMap: Add tests
  resources/utils/strings/strings_test.go
Due: mage-license-headers

cis azure 5.1.3 Ensure the Storage Container Storing the Activity Logs is not Publicly Accessible
  resources/fetching/cycle/cache.go
  resources/fetching/cycle/cache_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/utils/strings/strings.go
  resources/utils/strings/strings_test.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_3/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fix test
  resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers

omit checks in FromMap
  resources/utils/strings/strings.go
Due: mage-license-headers

fix
  security-policies/RULES.md
Due: none

tests
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/provider.go
Due: mage-license-headers

CIS Azure 5.1.3
  resources/fetching/cycle/cache.go
  resources/fetching/cycle/cache_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/utils/strings/strings_test.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_3/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata
