Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

revive: Enable redundant-import-alias (#1711)
  .golangci.yaml
  dataprovider/providers/k8s/cluster_name_provider_test.go
  flavors/benchmark/k8s_helper.go
  processor/add_cluster_id/cluster_helper_test.go
  resources/fetching/fetchers/aws/ecr_fetcher.go
  resources/fetching/fetchers/aws/ecr_fetcher_test.go
  resources/fetching/fetchers/aws/elb_fetcher_test.go
  resources/fetching/fetchers/k8s/kube_fetcher_test.go
  uniqueness/leaderelection.go
  uniqueness/leaderelection_test.go
Due: mage-license-headers

update-mods.sh: Build opa bundle first (#1707)
  .ci/updatecli/scripts/update-mods.sh
  .github/workflows/unit-test.yml
  evaluator/opa_test.go
Due: mage-license-headers

chore: Update to elastic/beats@fa40503841e6
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@b59a8f4769c2
  go.mod
  go.sum
Due: none

revive: Enable indent-error-flow rule (#1714)
  .golangci.yaml
  resources/providers/awslib/iam/access_analyzer_test.go
  resources/providers/azurelib/inventory/provider_test.go
Due: mage-license-headers

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: none

Add CIS Azure 6.3
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_3/test.rego
  security-policies/bundle/compliance/policy/azure/virtual_machine/network_rules.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add CIS Azure 6.3 (#1690)
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_3/test.rego
  security-policies/bundle/compliance/policy/azure/virtual_machine/network_rules.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add CIS Azure 6.4
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_4/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add CIS Azure 6.4 (#1691)
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_4/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add wait step to avoid too tight publishing period
  flavors/publisher_test.go
Due: mage-license-headers

Add wait step to avoid too tight publishing period (#1687)
  flavors/publisher_test.go
Due: mage-license-headers

pre-commit: black: auto-reformat (#1688)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update-mods.sh: Revert time-out hack
  .ci/updatecli/scripts/update-mods.sh
Due: none

golangci: Enable gomodguard (#1713)
  .golangci.yaml
  go.mod
  resources/fetching/fetchers/aws/ecr_fetcher.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/fetchers/aws/iam_fetcher_test.go
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/fetching/fetchers/k8s/file_system_fetcher.go
  resources/fetching/fetchers/k8s/file_system_fetcher_test.go
  resources/providers/aws_cis/logging/provider_test.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/iam/user_test.go
  resources/utils/user/user.go
Due: mage-license-headers

revive: Enable cognitive-complexity
  .golangci.yaml
  resources/fetching/preset/aws_org_preset_test.go
  resources/providers/awslib/cluster_name_provider.go
  resources/utils/user/user.go
Due: mage-license-headers

update-mods.sh: Revert time-out hack (#1719)
  .ci/updatecli/scripts/update-mods.sh
Due: none

use disable-(next-)line
  resources/fetching/preset/aws_org_preset_test.go
  resources/providers/awslib/cluster_name_provider.go
  resources/utils/user/user.go
Due: mage-license-headers

enable cyclomatic
  .golangci.yaml
  resources/providers/awslib/iam/user.go
  resources/utils/user/user.go
Due: mage-license-headers

revive: Enable early-return
  .golangci.yaml
  resources/providers/azurelib/inventory/provider.go
  resources/providers/gcplib/auth/credentials.go
Due: mage-license-headers

revive: Enable cognitive-complexity and cyclomatic (#1720)
  .golangci.yaml
  resources/fetching/preset/aws_org_preset_test.go
  resources/providers/awslib/cluster_name_provider.go
  resources/providers/awslib/iam/user.go
  resources/utils/user/user.go
Due: mage-license-headers

skip go-test from pre-commit
  .github/workflows/cloudbeat-ci.yml
Due: none

code review comments fix
  .ci/scripts/prepare_slack_data.py
  .github/actions/slack-notification/slack_payload.py
Due: none

revive: Enable early-return (#1721)
  .golangci.yaml
  resources/providers/azurelib/inventory/provider.go
  resources/providers/gcplib/auth/credentials.go
Due: mage-license-headers

revive: Enable confusing-results and function-result-limit
  .golangci.yaml
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/azure.go
  flavors/benchmark/eks.go
  flavors/benchmark/gcp.go
  flavors/benchmark/k8s.go
  resources/providers/gcplib/inventory/provider.go
  vulnerability/fetcher_test.go
Due: mage-license-headers

deprecated set-output
  .github/workflows/weekly-serverless.yml
Due: none

revive: Enable confusing-results and function-result-limit (#1723)
  .golangci.yaml
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/azure.go
  flavors/benchmark/eks.go
  flavors/benchmark/gcp.go
  flavors/benchmark/k8s.go
  resources/providers/gcplib/inventory/provider.go
  vulnerability/fetcher_test.go
Due: mage-license-headers

revive: Split rules in sections and add comments
  .golangci.yaml
Due: mage-license-headers

updated documentation
  .github/actions/slack-notification/action.yml
  .github/actions/slack-notification/slack_payload.py
Due: none

revive: Split rules in sections and add comments (#1724)
  .golangci.yaml
Due: mage-license-headers

add region comment
  .github/workflows/weekly-serverless.yml
Due: none

Serverless weekly sanity test (#1702)
  .github/workflows/weekly-serverless.yml
Due: none

comment flaky test
  tests/integration/tests/test_sanity_telemetry.py
Due: none

fix format
  tests/integration/tests/test_sanity_telemetry.py
Due: none

fix cleanup statement
  .github/workflows/test-environment.yml
Due: none

exclude cloud-compute
  deploy/test-environments/fleet_api/pyproject.toml
  tests/integration/tests/test_sanity_checks.py
  tests/integration/tests/test_sanity_telemetry.py
  tests/pyproject.toml
Due: none

Comment flaky telemetry test (#1725)
  .github/workflows/test-environment.yml
  deploy/test-environments/fleet_api/pyproject.toml
  tests/integration/tests/test_sanity_checks.py
  tests/integration/tests/test_sanity_telemetry.py
  tests/pyproject.toml
Due: none

Enable prealloc linter
  .golangci.yaml
  deploy/cloudformation/gomain.go
  evaluator/logger.go
  flavors/benchmark/aws_org.go
  resources/fetching/registry/registry.go
  resources/providers/aws_cis/logging/provider.go
  resources/providers/awslib/cloudtrail/provider.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/gcplib/inventory/provider.go
  resources/utils/testhelper/helper.go
Due: mage-license-headers

Enable prealloc linter (#1728)
  .golangci.yaml
  deploy/cloudformation/gomain.go
  evaluator/logger.go
  flavors/benchmark/aws_org.go
  resources/fetching/registry/registry.go
  resources/providers/aws_cis/logging/provider.go
  resources/providers/awslib/cloudtrail/provider.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/iam/policy.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/rds/provider.go
  resources/providers/awslib/rds/provider_test.go
  resources/providers/gcplib/inventory/provider.go
  resources/utils/testhelper/helper.go
Due: mage-license-headers

Fix section 9 rules
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_5/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata
