Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Adding workflow dispatch to Azure CI due to Azure CI retrigger bugs (#1769)
  .github/workflows/azure-ci.yml
Due: none

lower case
  .github/workflows/test-environment.yml
Due: none

Use Cloud Trail ARN when get trail status and event selectors instead of Cloud Trail name
  resources/providers/awslib/cloudtrail/provider.go
Due: mage-license-headers

Apply suggestions from code review
  .github/workflows/rerun-flaky-workflows.yml
Due: none

Use Cloud Trail ARN when get trail status and event selectors (#1759)
  resources/providers/awslib/cloudtrail/provider.go
Due: mage-license-headers

Add rerun workflow (#1685)
  .github/workflows/rerun-flaky-workflows.yml
Due: none

update workflows
  .github/workflows/destroy-environment.yml
  .github/workflows/test-environment.yml
Due: none

Weekly env lower case (#1770)
  .github/workflows/test-environment.yml
  .github/workflows/weekly-serverless.yml
Due: none

add permissions for rerun action
  .github/workflows/rerun-flaky-workflows.yml
Due: none

Add permissions for rerun action (#1773)
  .github/workflows/rerun-flaky-workflows.yml
Due: none

Consider kind and uri on validation of CIS 4.1.3
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Improve code style
  resources/providers/azurelib/inventory/sql_server.go
Due: mage-license-headers

Implement CIS 4.1.3
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/providers/azurelib/inventory/asset.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fetch sql server encryption protector data
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
Due: mage-license-headers

CIS 4.1.3 (#1768)
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS Azure 3.5, 3.13, 3.14
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/providers/azurelib/inventory/storage.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_3_13/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_13/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_13/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_14/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_14/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_14/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_5/test.rego
  security-policies/bundle/compliance/policy/azure/storage_account/ensure_service_log.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS Azure 3.5, 3.13, 3.14 (#1764)
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/provider_test.go
  resources/providers/azurelib/inventory/storage.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_3_13/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_13/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_13/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_14/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_14/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_14/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_3_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_3_5/test.rego
  security-policies/bundle/compliance/policy/azure/storage_account/ensure_service_log.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fetch sql server encryption protector data
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/provider.go
Due: mage-license-headers

Implement CIS 4.1.3
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers

Consider kind and uri on validation of CIS 4.1.3
  resources/providers/azurelib/inventory/provider.go
Due: mage-license-headers

Fetch sql server blob audit policy
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add CIS Azure 4.1.1
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_1/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update user
  .github/workflows/rerun-flaky-workflows.yml
Due: none

CIS Azure 4.1.1 (#1772)
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_1/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_3/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Make Storage Account Enricher best-effort
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
Due: mage-license-headers

add continue-on-error for slack action step
  .github/workflows/destroy-environment.yml
  .github/workflows/rerun-flaky-workflows.yml
  .github/workflows/test-environment.yml
Due: none

[Rerun workflow] update username (#1774)
  .github/workflows/rerun-flaky-workflows.yml
Due: none

[Slack Notification] Update errors handling in workflows (#1778)
  .github/workflows/destroy-environment.yml
  .github/workflows/rerun-flaky-workflows.yml
  .github/workflows/test-environment.yml
Due: none

add gcp deployment manager ci test
  .github/workflows/test-gcp-dm.yml
  deploy/test-environments/delete_env.sh
  deploy/test-environments/delete_gcp_env.sh
Due: none

test pass
  deploy/deployment-manager/deploy.sh
Due: none

test fail
  deploy/deployment-manager/deploy.sh
Due: none

revert unknown role
  deploy/deployment-manager/deploy.sh
Due: none

fix shfmt error
  deploy/test-environments/delete_gcp_env.sh
Due: none

add newline to new bash script
  deploy/test-environments/delete_gcp_env.sh
Due: none

update cleanup step statement
  .github/workflows/test-environment.yml
Due: none

Skip K8s CI
  .github/workflows/k8s-ci.yml
Due: none

Skip K8s CI (#1780)
  .github/workflows/k8s-ci.yml
Due: none

update k8s post merge ci
  .github/workflows/k8s-ci.yml
Due: none

[Create Environment] Update cleanup step statement (#1779)
  .github/workflows/k8s-ci.yml
  .github/workflows/test-environment.yml
Due: none

trim coverage score (#1765)
  .github/workflows/test-opa-coverage.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
