Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Update compute engine script (#3040)
  .github/workflows/test-gcp-dm.yml
  deploy/deployment-manager/compute_engine.py
Due: none

update GCP label
  .github/workflows/test-gcp-dm.yml
Due: none

Update GCP label in GCP Deployment Manager workflow (#3044)
  .github/workflows/test-gcp-dm.yml
Due: none

fix merge conflicts
  deploy/deployment-manager/compute_engine.py
Due: none

Fix cspm gcp installation script (#2985)
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

fix empty names for some Azure resources
  internal/inventory/azurefetcher/common.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@b5bf95171d62
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.30.pkg
  bin/.awscli-2.24.10.pkg
  bin/.elastic-package-0.109.1.pkg
  bin/.gcloud-511.0.0.pkg
  bin/.gh-2.67.0.pkg
  bin/.golangci-lint-1.64.5.pkg
  bin/.kind-0.27.0.pkg
  bin/.opa-1.1.0.pkg
  bin/.regal-0.31.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/kind
  bin/opa
  bin/regal
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Bump hermit cloudbeat version (#2968)
  bin/hermit.hcl
Due: none

[Asset Inventory][Azure] Fix empty `entity.name` field for some resources (#3049)
  internal/inventory/azurefetcher/common.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

Update workflow to fix running UI sanity tests. (#3039)
  .github/actions/elk-stack/action.yml
Due: none

update documentation
  dev-docs/Cloud-Env-Testing.md
Due: none

Fix cloudformation lint issue E1041
  .pre-commit-config.yaml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

[updatecli] main - Update hermit and pre-commit dependencies (#2981)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.30.pkg
  bin/.awscli-2.24.10.pkg
  bin/.elastic-package-0.109.1.pkg
  bin/.gcloud-511.0.0.pkg
  bin/.gh-2.67.0.pkg
  bin/.golangci-lint-1.64.5.pkg
  bin/.kind-0.27.0.pkg
  bin/.opa-1.1.0.pkg
  bin/.regal-0.31.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/kind
  bin/opa
  bin/regal
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: golangci-lint, rain, mage-license-headers, go-test

Fix cloudformation lint issue E1041
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

[updatecli] main - Update golang mod dependencies (#3052)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update hermit and pre-commit dependencies (#2982)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.30.pkg
  bin/.awscli-2.24.10.pkg
  bin/.elastic-package-0.109.1.pkg
  bin/.gcloud-511.0.0.pkg
  bin/.gh-2.67.0.pkg
  bin/.golangci-lint-1.64.5.pkg
  bin/.kind-0.27.0.pkg
  bin/.opa-1.1.0.pkg
  bin/.regal-0.31.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/kind
  bin/opa
  bin/regal
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: golangci-lint, rain, mage-license-headers, go-test

Enrich GCP asset types with ECS fields (#2948)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Fix skipped assets inventory CI (#3008)
  .github/workflows/ci.yml
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status

[Asset Inventory][Azure] Add missing resources and ECS fields required for GA (#2954)
  .github/workflows/ci-pull_request.yml
  internal/flavors/assetinventory/strategy.go
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_activedirectory_provider.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
  internal/resources/providers/msgraph/mock_provider_api.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

fix inconsistencies
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

[Go] Fix a flaky Kubernetes test setup (#2986)
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

[Assets Inventory] Add network asset (#3019)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
Due: golangci-lint, mage-license-headers, go-test

update snyk branch monitoring in bump-version workflow (#2998)
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
Due: none

[Asset Inventory][Azure] Add storage asset fetchers (#2938)
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/mock_provider_api.go
  tests/product/tests/data/azure_asset_inventory/test_cases.py
  tests/product/tests/test_aws_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_gcp_asset_inventory.py
  tests/pyproject.toml
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

Change updatdcli to run monthly (#3030)
  .github/workflows/updatecli.yml
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
