Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update to elastic/beats@f7babd61a94e
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@da630c6fab5a
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@d43b3b7ed9ce
  go.mod
  go.sum
Due: go-mod-tidy

update action
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
  deploy/test-environments/cis/output.tf
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

import latest/previous major
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
Due: none

Update .mergify.yml
  .mergify.yml
Due: none

Update version.go
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Bump cloudbeat to 9.1.0
  bin/hermit.hcl
Due: none

remove uncomments
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
Due: none

lint fix
  scripts/bump_cloudbeat.sh
Due: none

fix versions extraction
  scripts/bump_cloudbeat.sh
Due: none

[updatecli] 9.0 - Update to elastic/beats@da630c6fab5a (#2978)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update to elastic/beats@d43b3b7ed9ce (#2979)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update to elastic/beats@f7babd61a94e (#2980)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update golang mod dependencies (#2983)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update golang mod dependencies (#2984)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 9.0 - Update Golang version to 1.23.6 (#2996)
  .go-version
  bin/.go-1.23.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update Golang version to 1.23.6 (#2995)
  .go-version
  bin/.go-1.23.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.x - Update Golang version to 1.23.6 (#2994)
  .go-version
  bin/.go-1.23.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

checkout poetry.lock & pyproject.toml from main
  tests/poetry.lock
  tests/pyproject.toml
Due: none

remove unused marker
  tests/pyproject.toml
Due: none

add test for BlobContainers
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

update ASSETS.md
  internal/inventory/ASSETS.md
  internal/inventory/cloud_assets.xlsx
Due: none

use mapstructure.Decode
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

unpack properties to struct and test it
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
Due: golangci-lint, mage-license-headers, go-test

skip azure case
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status

fix vars
  .github/workflows/ci.yml
Due: none

add hermit step to assets inventory ci
  .github/workflows/ci.yml
Due: none

fix lint
  .github/workflows/ci.yml
Due: none

remove temp
  .github/workflows/ci.yml
Due: none

lint fix
  .github/workflows/ci.yml
Due: none

add asset type enrichers
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

remove leftovers
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/inventory/gcpfetcher/fetcher_assets_test.go
Due: golangci-lint, mage-license-headers, go-test

Enrich GCP asset types with ECS fields (#2948)
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
