Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

yq:
  name: format with yq
  entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
  language: system
  args:
  - -i

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

Fixing CR
  flavors/benchmark/azure.go
  flavors/benchmark/benchmark.go
Due: mage-license-headers

review changes
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers

move config check to gcp
  config/config.go
  config/config_test.go
  resources/providers/gcplib/auth/credentials.go
Due: mage-license-headers

add shared crm cache
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers

add gcp org support
  config/config.go
  config/config_test.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_provider_getter.go
  resources/providers/gcplib/identity/mock_resource_manager.go
  resources/providers/gcplib/inventory/mock_service_api.go
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers

fix ecs
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
Due: mage-license-headers

make config private
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers

golangci lint skip cache
  .github/workflows/unit-test.yml
Due: none

[GCP] Add support for fetching organization resources (#1262)
  config/config.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_provider_getter.go
  resources/providers/gcplib/identity/mock_resource_manager.go
  resources/providers/gcplib/inventory/mock_service_api.go
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers

Revert "golangci lint skip cache"
  .github/workflows/unit-test.yml
Due: none

success msg
  deploy/deployment-manager/deploy.sh
Due: none

replace timer with go routine
  resources/fetching/registry/dynamic.go
  resources/fetching/registry/dynamic_test.go
Due: mage-license-headers

Update deploy/deployment-manager/README.md
  deploy/deployment-manager/README.md
Due: none

[CIS GCP] Support cloud native organization deployment (#1314)
  deploy/deployment-manager/README.md
  deploy/deployment-manager/compute_engine.py
  deploy/deployment-manager/deploy.sh
Due: none

fix package policy vars to use posture field
  deploy/cloud/data/package_policy_cnvm_aws.json
Due: none

Resource id provider (#1305)
  dataprovider/mock_common_data_provider.go
  dataprovider/mock_id_provider.go
  dataprovider/providers/cloud/data_provider.go
  dataprovider/providers/cloud/data_provider_test.go
  dataprovider/providers/cloud/id_provider.go
  dataprovider/providers/cloud/id_provider_test.go
  dataprovider/providers/common/data_provider.go
  dataprovider/providers/common/data_provider_test.go
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  dataprovider/providers/k8s/id_provider.go
  dataprovider/providers/k8s/id_provider_test.go
  dataprovider/providers/k8s/option.go
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/gcp.go
  flavors/benchmark/k8s.go
  flavors/benchmark/k8s_helper.go
  flavors/benchmark/mock_benchmark.go
  flavors/posture.go
  transformer/events_creator.go
  transformer/events_creator_test.go
  version/version.go
Due: mage-license-headers

Switch to simple non-concurrent approach
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/gcp.go
  flavors/benchmark/k8s.go
  flavors/posture.go
  resources/fetching/manager/manager.go
  resources/fetching/registry/dynamic.go
  resources/fetching/registry/dynamic_test.go
  resources/fetching/registry/mock_registry.go
  resources/fetching/registry/registry.go
  resources/fetching/registry/registry_test.go
Due: mage-license-headers

fix tests
  resources/fetching/manager/manager_test.go
  resources/fetching/registry/mock_option.go
  resources/fetching/registry/mock_updater_func.go
Due: mage-license-headers

add log bucket type
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

cross installation of cfn-signal
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

cross install cspm
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: yq

use assets data for resource name
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

Fix linter
  resources/providers/azurelib/auth/credentials_test.go
Due: mage-license-headers

uncomment
  config/config_test.go
  flavors/benchmark/benchmark_test.go
Due: mage-license-headers

[CIS GCP] Make resource name more friendly (#1329)
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

Addition of CIS Azure benchmark type (#1307)
  config/benchmark.go
  config/config_test.go
  deploy/azure/cloudbeat-azure.yml
Due: mage-license-headers

typo
  config/config.go
Due: mage-license-headers

wrap error
  resources/providers/azurelib/auth/credentials.go
Due: mage-license-headers

fixes
  flavors/benchmark/azure.go
  flavors/benchmark/benchmark.go
Due: mage-license-headers

[AWS Orgs] Update fetchers in each cycle to detect changes in accounts (#1313)
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  flavors/benchmark/k8s.go
  flavors/posture.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/factory/aws_factory_test.go
  resources/fetching/manager/manager.go
  resources/fetching/manager/manager_test.go
  resources/fetching/registry/mock_option.go
  resources/fetching/registry/mock_registry.go
  resources/fetching/registry/mock_updater_func.go
  resources/fetching/registry/registry.go
  resources/fetching/registry/registry_test.go
Due: mage-license-headers

Organize go.mod require blocks
  go.mod
Due: none

Update SDKs
  go.mod
  go.sum
Due: none

Remove go-errors/errors usage
  go.mod
  resources/providers/awslib/ec2/provider.go
Due: mage-license-headers

change signature
  dataprovider/enrich.go
  dataprovider/providers/common/data_provider.go
  evaluator/opa_test.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/aws/ecr_fetcher.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/fetchers/aws/iam_fetcher.go
  resources/fetching/fetchers/aws/kms_fetcher.go
  resources/fetching/fetchers/aws/logging_fetcher.go
  resources/fetching/fetchers/aws/monitoring_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/rds_fetcher.go
  resources/fetching/fetchers/aws/s3_fetcher.go
  resources/fetching/fetchers/k8s/file_system_fetcher.go
  resources/fetching/fetchers/k8s/kube_provider.go
  resources/fetching/fetchers/k8s/process_fetcher.go
  resources/fetching/registry/registry_test.go
Due: mage-license-headers

cr
  resources/fetching/fetchers/aws/kms_fetcher.go
Due: mage-license-headers

fix tests
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
Due: mage-license-headers

[CloudFormation] Verify installation of cfn-signal (#1328)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: yq

bump cis policies version
  version/policy.go
Due: mage-license-headers

Path conditions:
  yq: any of: deploy/cloudformation/.*yml
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$
  mage-license-headers: any of: .*.go
