Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

networkInterfaces bump
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Bump 9.5 (#4312)
  .mergify.yml
  deploy/azure/ARM-for-cloud-connectors-organization-account.json
  deploy/azure/ARM-for-cloud-connectors-single-account.json
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: golangci-lint, mage-license-headers, go-test, generate-arm-dev-templates

fix: add Mergify auto-approve rules for Renovate minor/patch updates
  .mergify.yml
Due: none

feat: add GitHub Actions workflow to auto-approve Renovate PRs
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

feat: add GitHub Actions workflow to auto-approve Renovate PRs (#4314)
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

chore: bump github.com/coreos/go-oidc/v3 to 3.18.0
  go.mod
  go.sum
Due: go-mod-tidy

chore(renovate): update team label to Team:Security-Cloud Services
  renovate.json
Due: none

chore(renovate): update team label to Team:Security-Cloud Services (#4316)
  renovate.json
Due: none

fix(deps): update google.golang.org/grpc to v1.79.3 (9.2)
  go.mod
  go.sum
Due: go-mod-tidy

fix(deps): upgrade google.golang.org/grpc to v1.80.0 (9.2)
  go.mod
  go.sum
Due: go-mod-tidy

fix(deps): upgrade google.golang.org/grpc to v1.80.0 (9.3)
  go.mod
  go.sum
Due: go-mod-tidy

fix(deps): upgrade google.golang.org/grpc to v1.80.0 (9.2) (#4317)
  go.mod
  go.sum
Due: go-mod-tidy

fix(deps): upgrade google.golang.org/grpc to v1.80.0 (9.3) (#4318)
  go.mod
  go.sum
Due: go-mod-tidy

fix: add merge_group trigger to unblock merge queue
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
  .mergify.yml
Due: none

fix: add merge_group trigger to unblock merge queue (#4338)
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
  .mergify.yml
Due: none

chore: use lower instance types for ec2
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/modules/aws/ec2-windows/variables.tf
  deploy/test-environments/modules/aws/ec2/variables.tf
Due: none

update tf var
  deploy/test-environments/manage_infrastructure.sh
Due: none

add exit status handling
  deploy/test-environments/manage_infrastructure.sh
Due: none

Fix destroy environment workflow failure due to missing variable (#4355)
  deploy/test-environments/manage_infrastructure.sh
Due: none

Fix entity store v2 api call
  .github/workflows/test-environment.yml
  tests/fleet_api/entity_store_api.py
Due: none

Disable installation of the cloudtrail integration
  .github/actions/cdr/action.yml
Due: none

refactor script and cdr action
  .ci/scripts/wait_for_kibana_and_fleet.sh
  .github/actions/cdr/action.yml
Due: none

fix linter issues
  .ci/scripts/wait_for_kibana_and_fleet.sh
Due: none

fix review comments
  .ci/scripts/wait_for_kibana_and_fleet.sh
  tests/fleet_api/base_call_api.py
  tests/fleet_api/common_api.py
Due: none

chore: bump test-agent-compatibility.yml to latest supported version
  .github/workflows/test-agent-compatibility.yml
Due: none

use 8.19
  .github/workflows/test-agent-compatibility.yml
Due: none

chore: use lower instance types for ec2 (#4342)
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/modules/aws/ec2-windows/variables.tf
  deploy/test-environments/modules/aws/ec2/variables.tf
Due: none

Add Fleet and Kibana checks in create env workflow (#4092)
  .ci/scripts/wait_for_kibana_and_fleet.sh
  .github/actions/cdr/action.yml
  .github/workflows/test-environment.yml
  tests/fleet_api/base_call_api.py
  tests/fleet_api/common_api.py
  tests/fleet_api/entity_store_api.py
Due: none

update ec2 instance type
  deploy/test-environments/modules/aws/ec2/variables.tf
Due: none

enable cloudtrail integration install
  .github/actions/cdr/action.yml
Due: none

update description
  .github/workflows/cdr-infra.yml
Due: none

chore: bump test-agent-compatibility.yml to latest supported version (#4359)
  .github/workflows/test-agent-compatibility.yml
Due: none

fix: resolve merge conflicts in go.mod for go-oidc/v3 backport to 9.4
  go.mod
Due: go-mod-tidy

fix: resolve merge conflicts in go.mod/go.sum for moby backport to 9.3
  go.mod
  go.sum
Due: go-mod-tidy

fix: resolve merge conflicts in go.mod/go.sum for moby backport to 8.19
  go.mod
  go.sum
Due: go-mod-tidy

chore: run go mod tidy for go-oidc/v3 backport to 9.4
  go.mod
  go.sum
Due: go-mod-tidy

chore: run go mod tidy for moby backport to 9.3
  go.mod
  go.sum
Due: go-mod-tidy

[Create Environment] Follow up fixes on the EA environment with CDR logs (#4284)
  .github/actions/cdr/action.yml
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/modules/ec/main.tf
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/cloudtrail-pkg.json
  tests/integrations_setup/install_cloudtrail_integration.py
Due: none

chore: run go mod tidy for moby backport to 8.19
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
