Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

update tests and add Tables
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/inventory/testutil/testutil.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/mock_provider_api.go
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

add File Shares fetcher
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add Azure File Share fetcher
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

generate mocks
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

remove debug prints
  internal/inventory/testutil/testutil.go
Due: golangci-lint, mage-license-headers, go-test

update ASSETS.md
  internal/inventory/ASSETS.md
  internal/inventory/cloud_assets.xlsx
Due: none

add blob containers
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add tests for blob containers
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

update integration test cases
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status

update ASSETS.md
  internal/inventory/ASSETS.md
Due: none

github-actions: ubuntu-20.04 will be fully retired by April 1, 2025 (#2934)
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/destroy-environment.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/test-environment.yml
  .github/workflows/unit-test.yml
  .github/workflows/upgrade-environment.yml
Due: none

increase timeout and update wf for debug
  .github/workflows/cloudformation-ci.yml
Due: none

update action env var
  .github/workflows/cloudformation-ci.yml
Due: none

update cf workflow and base function
  .github/workflows/cloudformation-ci.yml
  tests/fleet_api/base_call_api.py
Due: none

Fix Cloudformation CI workflow (#2946)
  .github/workflows/cloudformation-ci.yml
  tests/fleet_api/base_call_api.py
Due: none

chore: Update version.asciidoc with Golang version 1.23.5
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.23.5
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.23.5
  bin/.go-1.23.5.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@05e15fcbbbba
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@72b4ed748f87
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@cb345187b1dd
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.23.6.pkg
  bin/.gcloud-507.0.0.pkg
  bin/.just-1.39.0.pkg
  bin/.opa-1.0.1.pkg
  bin/.pre-commit-4.1.0.pkg
  bin/.regal-0.30.2.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
  bin/pre-commit
  bin/regal
Due: none

[updatecli] main - Update Golang version to 1.23.5 (#2949)
  .go-version
  bin/.go-1.23.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.x - Update Golang version to 1.23.5 (#2924)
  .go-version
  bin/.go-1.23.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.17 - Update Golang version to 1.23.5 (#2926)
  .go-version
  bin/.go-1.23.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Update tests/product/tests/test_azure_asset_inventory.py
  tests/product/tests/test_azure_asset_inventory.py
Due: update-rules-status

[buildkite]: get version qualifier from google bucket
  .buildkite/pipeline.yml
  .buildkite/scripts/package.sh
  .buildkite/scripts/publish.sh
  .buildkite/scripts/qualifier.sh
Due: none

omit version qualifier on snapshot builds
  .buildkite/scripts/package.sh
  .buildkite/scripts/publish.sh
Due: none

omit version qualifier on snapshot builds
  .buildkite/scripts/package.sh
  .buildkite/scripts/publish.sh
  .buildkite/scripts/qualifier.sh
Due: none
