Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

modify wf and scripts to support cloudbeat install
  .github/workflows/test-environment.yml
  tests/fleet_api/utils.py
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/cspm-linux.j2
  tests/integrations_setup/install_aws_asset_inventory_integration.py
  tests/integrations_setup/install_az_activity_logs_integration.py
  tests/integrations_setup/install_azure_asset_inventory_integration.py
  tests/integrations_setup/install_cloudtrail_integration.py
  tests/integrations_setup/install_cnvm_integration.py
  tests/integrations_setup/install_cspm_azure_integration.py
  tests/integrations_setup/install_cspm_gcp_integration.py
  tests/integrations_setup/install_cspm_integration.py
  tests/integrations_setup/install_gcp_audit_logs_integration.py
  tests/integrations_setup/install_wiz_integration.py
Due: none

change updatdcli to run monthly
  .github/workflows/updatecli.yml
Due: none

[updatecli] main - Update golang mod dependencies (#3026)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update golang mod dependencies (#3027)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update to elastic/beats@61caa19a696f (#3025)
  go.mod
  go.sum
Due: go-mod-tidy

update cloudformation templates
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

update asset inv templates
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
Due: none

update templates
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

Fix CloudFormation templates to support installation on both 8.x and 9.x versions (#3032)
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

fix merge conflicts
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

update script
  .ci/scripts/run_agent.sh
Due: none

update wf
  .github/workflows/test-environment.yml
Due: none

Add support for bundling Cloudbeat in Agent 9.x within CI workflows and installation scripts. (#3029)
  .ci/scripts/run_agent.sh
  .github/workflows/test-environment.yml
  tests/fleet_api/utils.py
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/cspm-linux.j2
  tests/integrations_setup/install_aws_asset_inventory_integration.py
  tests/integrations_setup/install_az_activity_logs_integration.py
  tests/integrations_setup/install_azure_asset_inventory_integration.py
  tests/integrations_setup/install_cloudtrail_integration.py
  tests/integrations_setup/install_cnvm_integration.py
  tests/integrations_setup/install_cspm_azure_integration.py
  tests/integrations_setup/install_cspm_gcp_integration.py
  tests/integrations_setup/install_cspm_integration.py
  tests/integrations_setup/install_gcp_audit_logs_integration.py
  tests/integrations_setup/install_wiz_integration.py
Due: none

fix merge conflicts
  .github/workflows/test-environment.yml
Due: none

cloud connectors role chainning
  internal/config/config.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

add cloud connectors config
  internal/config/config.go
  internal/config/config_test.go
Due: golangci-lint, mage-license-headers, go-test

fix duration
  internal/resources/providers/awslib/config.go
  scripts/packaging/docker/elastic-agent/Dockerfile
Due: golangci-lint, mage-license-headers, go-test

more tests
  internal/flavors/benchmark/aws_test.go
Due: golangci-lint, mage-license-headers, go-test

fix aws config retrier
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

add tests
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/benchmark/aws_test.go
Due: golangci-lint, mage-license-headers, go-test

use cloudconnectors init on getIdentity
  internal/flavors/benchmark/aws.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

fix chain flow
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

remove comments
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

Update install-agent.sh script (#3023)
  deploy/azure/install-agent-dev.sh
  deploy/azure/install-agent.sh
Due: generate-arm-dev-templates

fix merge conflicts
  deploy/azure/install-agent-dev.sh
  deploy/azure/install-agent.sh
Due: generate-arm-dev-templates

update action
  .github/actions/elk-stack/action.yml
Due: none

make role chaining dynamic
  internal/flavors/benchmark/aws_org.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test

update compute engine script
  deploy/deployment-manager/compute_engine.py
Due: none

fix test gcp dm wf
  .github/workflows/test-gcp-dm.yml
Due: none

Update compute engine script (#3040)
  .github/workflows/test-gcp-dm.yml
  deploy/deployment-manager/compute_engine.py
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
