Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

interface comment
  internal/infra/observability/context.go
Due: golangci-lint, mage-license-headers, go-test

rename
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

Clarify
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

rename
  internal/infra/observability/context.go
  internal/infra/observability/otel.go
Due: golangci-lint, mage-license-headers, go-test

Clarify
  internal/infra/observability/aws.go
Due: golangci-lint, mage-license-headers, go-test

Add expiration support to CDR wf (#3438)
  .github/workflows/cdr-infra.yml
  .github/workflows/test-environment.yml
Due: none

Type-based Fetch span
  internal/resources/fetching/manager/manager.go
  internal/resources/fetching/registry/registry.go
  internal/resources/fetching/registry/registry_test.go
Due: golangci-lint, mage-license-headers, go-test

Add OpenTelemetry (#3430)
  go.mod
  go.sum
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/builder/builder_test.go
  internal/flavors/benchmark/strategy_test.go
  internal/flavors/posture.go
  internal/infra/clog/clog.go
  internal/infra/observability/aws.go
  internal/infra/observability/context.go
  internal/infra/observability/mock_graceful_closer.go
  internal/infra/observability/mock_meter_provider.go
  internal/infra/observability/mock_tracer_provider.go
  internal/infra/observability/otel.go
  internal/infra/observability/otel_test.go
  internal/resources/fetching/manager/manager.go
  internal/resources/fetching/manager/manager_test.go
  internal/resources/fetching/registry/mock_registry.go
  internal/resources/fetching/registry/mock_updater_func.go
  internal/resources/fetching/registry/registry.go
  internal/resources/fetching/registry/registry_test.go
  internal/resources/providers/awslib/config.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

OTel: Generate scopeName with tool
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/scope.go
  internal/resources/fetching/manager/manager.go
  internal/resources/fetching/manager/scope.go
  internal/resources/fetching/registry/registry.go
  internal/resources/fetching/registry/scope.go
  tools/generate_scopename/main.go
Due: golangci-lint, mage-license-headers, go-test

test
  tools/generate_scopename/main_test.go
Due: golangci-lint, mage-license-headers, go-test

initial fix
  security-policies/dev/common.py
Due: none

added newline and tab as well as malformed json in overview
  security-policies/dev/common.py
Due: none

Update Kibana bootstrap command (#3448)
  .github/actions/kibana-ftr/action.yml
Due: none

Remove cloudbeat-root from single-account cspm
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

Remove cloudbeat-root from single-account cspm (#3453)
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

updated rules now with json tag and indentation
  security-policies/bundle/compliance/cis_aws/rules/cis_1_17/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_1_19/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_2_1_2/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_2_1_5/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_3_5/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_3_6/data.yaml
  security-policies/bundle/compliance/cis_aws/rules/cis_3_9/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_15/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_19/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_20/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/data.yaml
  security-policies/bundle/compliance/cis_eks/rules/cis_5_4_1/data.yaml
  security-policies/bundle/compliance/cis_gcp/rules/cis_4_5/data.yaml
  security-policies/bundle/compliance/cis_gcp/rules/cis_6_2_9/data.yaml
Due: none

poc
  security-policies/dev/common.py
  security-policies/dev/generate_rule_metadata.py
Due: none

Update deploy/deployment-manager/set_env.sh
  deploy/deployment-manager/set_env.sh
Due: none

Revert "Update deploy/deployment-manager/set_env.sh"
  deploy/deployment-manager/set_env.sh
Due: none

Revert "Fix all remaining revive linting issues: import shadowing, unchecked type assertions, and missing switch defaults"
  internal/dataprovider/providers/k8s/id_provider.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/builder/builder.go
  internal/flavors/benchmark/strategy.go
  internal/flavors/benchmark/strategy_test.go
  internal/include/include.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_s3_bucket.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory_test.go
  internal/resources/fetching/fetchers/aws/iam_fetcher.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/azurelib/auth/credentials.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/utils/strings/strings.go
  internal/resources/utils/user/user.go
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Revert "Disable import-shadowing rule due to too many results"
  .golangci.yaml
Due: golangci-lint, mage-license-headers, go-test

Revert "Fix formatting issue in process_fetcher_test.go and switch statement in assets_fetcher.go"
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

Restore exhaustive
  .golangci.yaml
Due: golangci-lint, mage-license-headers, go-test

fmt
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

Re-enable exhaustive
  .golangci.yaml
Due: golangci-lint, mage-license-headers, go-test

Revert user.go
  internal/resources/utils/user/user.go
Due: golangci-lint, mage-license-headers, go-test

up
  cmd/root.go
  internal/include/include.go
Due: golangci-lint, mage-license-headers, go-test

Fix
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

pre-commit: Use -failfast for short go tests
  .pre-commit-config.yaml
Due: none

ci-pull_request.yml: Attempt to parallelize
  .github/workflows/ci-pull_request.yml
Due: none

[updatecli] main - Update hermit and pre-commit dependencies (#3427)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.3.pkg
  bin/.awscli-2.27.45.pkg
  bin/.elastic-package-0.112.0.pkg
  bin/.gcloud-528.0.0.pkg
  bin/.gh-2.74.2.pkg
  bin/.golangci-lint-2.2.1.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
