Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

add Azure Entra Groups
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

add Azure Entra Users
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

update Azure Service Principal category
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

fix missing tenant info in Azure
  internal/flavors/assetinventory/strategy.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.17 - Update to elastic/beats@05e15fcbbbba (#2929)
  go.mod
  go.sum
Due: go-mod-tidy

add ECS to Roles
  internal/inventory/azurefetcher/fetcher_activedirectory.go
Due: golangci-lint, mage-license-headers, go-test

add ECS Group fields to Asset definition
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

Fix linting rules
  security-policies/bundle/compliance/lib/common/common.rego
  security-policies/bundle/compliance/policy/aws_eks/ensure_private_access.rego
Due: golangci-lint, mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fix go.mod and go.sum
  go.mod
  go.sum
Due: go-mod-tidy

start filling Azure ECS
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update hermit and pre-commit dependencies (#2931)
  .pre-commit-config.yaml
  bin/.awscli-2.23.6.pkg
  bin/.gcloud-507.0.0.pkg
  bin/.just-1.39.0.pkg
  bin/.opa-1.0.1.pkg
  bin/.pre-commit-4.1.0.pkg
  bin/.regal-0.30.2.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
  bin/pre-commit
  bin/regal
  security-policies/bundle/compliance/lib/common/common.rego
  security-policies/bundle/compliance/policy/aws_eks/ensure_private_access.rego
Due: golangci-lint, mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

[updatecli] 8.x - Update golang mod dependencies (#2933)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update hermit and pre-commit dependencies (#2930)
  .pre-commit-config.yaml
  bin/.awscli-2.23.6.pkg
  bin/.gcloud-507.0.0.pkg
  bin/.just-1.39.0.pkg
  bin/.opa-1.0.1.pkg
  bin/.pre-commit-4.1.0.pkg
  bin/.regal-0.30.2.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
  bin/pre-commit
  bin/regal
  security-policies/bundle/compliance/lib/common/common.rego
  security-policies/bundle/compliance/policy/aws_eks/ensure_private_access.rego
Due: golangci-lint, mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

[updatecli] main - Update golang mod dependencies (#2932)
  go.mod
  go.sum
Due: go-mod-tidy

[Bump workflow] Add condition for integration version bumping
  .github/workflows/bump-version.yml
Due: none

add cloudbeat bump condition
  .github/workflows/bump-version.yml
Due: none

[Bump workflow] Add condition for integration version bumping (#2963)
  .github/workflows/bump-version.yml
Due: none

Update .mergify.yml
  .mergify.yml
Due: none

Update version.go
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Update ARM templates
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Bump cloudbeat version (#2965)
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: golangci-lint, mage-license-headers, go-test, generate-arm-dev-templates

Release cloudbeat version (#2966)
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Bump cloudbeat to 8.18.0
  bin/hermit.hcl
Due: none

Bump cloudbeat version (#2967)
  .mergify.yml
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
  version/version.go
Due: golangci-lint, mage-license-headers, go-test, generate-arm-dev-templates

[mergify] add 8.18 label to main
  .mergify.yml
Due: none

Release cloudbeat version
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

[mergify] add 8.18 label to main (#2969)
  .mergify.yml
Due: none

Release cloudbeat version (#2970)
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

add missing Blob Containers and fetch Labels/Tags where possible
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
Due: golangci-lint, mage-license-headers, go-test

fix existing unit tests for Azure Inventory
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
Due: golangci-lint, mage-license-headers, go-test

reclassify Blob Container Service
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

extract VM properties
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
