Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

yq:
  name: format with yq
  entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
  language: system
  args:
  - -i

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

add permission and update policy
  deploy/deployment-manager/compute_engine.py
  deploy/deployment-manager/service_account.py
  version/policy.go
Due: mage-license-headers

update image version
  tests/deploy/sa-agent-pytest.yml
Due: none

[AWS Orgs] Replace underscore in configuration with hyphen
  config/config.go
  config/config_test.go
  flavors/benchmark/benchmark_test.go
Due: mage-license-headers

update standalone agent yaml
  tests/deploy/sa-agent-pytest.yml
Due: none

[AWS Orgs] Replace underscore in configuration with hyphen (#1167)
  config/config.go
  config/config_test.go
  flavors/benchmark/benchmark_test.go
Due: mage-license-headers

[AWS Orgs] Add EC2 instance to CloudFormation
  .github/workflows/publish-cloudformation.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/organization.yml
  flavors/posture.go
  launcher/launcher.go
Due: yq, mage-license-headers

bump timeout
  .github/workflows/unit-test.yml
Due: none

gcp: NewProvider: Avoid returning nil
  flavors/benchmark/gcp.go
  flavors/posture.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/identity/identity_provider.go
Due: mage-license-headers

timeout
  .github/workflows/unit-test.yml
Due: none

Refactor benchmark.go to remove Dependencies struct
  .github/workflows/unit-test.yml
  .golangci.yaml
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/aws_test.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/eks_test.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  flavors/benchmark/k8s.go
  flavors/benchmark/k8s_test.go
  flavors/benchmark/mock_benchmark.go
  flavors/posture.go
  go.mod
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_identity_provider_getter.go
  resources/providers/gcplib/identity/mock_provider_getter.go
Due: mage-license-headers

Use testhelper.NewLogger in remaining tests
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/providers/awslib/ec2/provider_test.go
  vulnerability/events_creator_test.go
Due: mage-license-headers

use deployment name
  deploy/deployment-manager/compute_engine.py
  deploy/deployment-manager/service_account.py
Due: none

update runner image version
  .github/workflows/k8s-ci.yml
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

update unit tests
  flavors/benchmark/benchmark_test.go
Due: mage-license-headers

add period config and update agent command
  tests/deploy/sa-agent-pytest.yml
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

update query timeout
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

revert changes
  .github/workflows/cnvm-ci.yml
Due: none

disable seccomp
  deploy/vulnerability/cloudbeat-vuln-mgmt.yml
Due: none

Revert "update standalone agent yaml"
  tests/deploy/sa-agent-pytest.yml
Due: none

revert debug changes
  tests/integration/tests/conftest.py
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

disable ssl
  .github/workflows/cnvm-ci.yml
Due: none

v2.1.0 aws
  .github/workflows/cnvm-ci.yml
Due: none

update tests timeout
  tests/integration/tests/test_standalone_agent_integration.py
Due: none

shift gcp auth layer to become a dependency
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/auth/mock_config_provider_api.go
  resources/providers/gcplib/identity/identity_provider.go
Due: mage-license-headers

disable tmate session and re-enable skipped tests
  .github/workflows/k8s-ci.yml
Due: none

Refactor
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
Due: yq

[CNVM] Limit permissions for CloudFormation (#1075)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  resources/providers/awslib/ec2/provider.go
Due: yq, mage-license-headers

add retry on timeout and revert runner image version
  .github/workflows/k8s-ci.yml
  tests/commonlib/elastic_wrapper.py
Due: none

gcp: NewProvider: Avoid returning nil (#1161)
  .github/workflows/unit-test.yml
  flavors/benchmark/gcp.go
  flavors/posture.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/identity/identity_provider.go
Due: mage-license-headers

cr
  flavors/publisher_test.go
Due: mage-license-headers

update unit tests
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_provider_getter.go
Due: mage-license-headers

Update golang-ci-lint settings
  .github/workflows/unit-test.yml
  .golangci.yaml
  processor/add_cluster_id/add_cluster_id.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/providers/awslib/iam/test_data.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/iam/user_test.go
  vulnerability/worker_test.go
Due: mage-license-headers

Lower case single-letter variables
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/gcp.go
Due: mage-license-headers

Use testhelper.NewLogger in remaining tests (#1170)
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/providers/awslib/ec2/provider_test.go
  vulnerability/events_creator_test.go
Due: mage-license-headers

eks checkDependencies
  flavors/benchmark/eks.go
Due: mage-license-headers

typo
  flavors/benchmark/eks.go
Due: mage-license-headers

Refactor benchmark.go to remove `Dependencies` struct (#1169)
  .golangci.yaml
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/aws_test.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/eks_test.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  flavors/benchmark/k8s.go
  flavors/benchmark/k8s_test.go
  flavors/benchmark/mock_benchmark.go
  flavors/posture.go
  go.mod
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_identity_provider_getter.go
  resources/providers/gcplib/identity/mock_provider_getter.go
Due: mage-license-headers

Update golang-ci-lint settings (#1171)
  .github/workflows/unit-test.yml
  .golangci.yaml
  processor/add_cluster_id/add_cluster_id.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/providers/awslib/iam/test_data.go
  resources/providers/awslib/iam/user.go
  resources/providers/awslib/iam/user_test.go
  vulnerability/worker_test.go
Due: mage-license-headers

testhelper logger
  vulnerability/events_creator_test.go
Due: mage-license-headers

Path conditions:
  yq: any of: deploy/cloudformation/.*yml
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$
  mage-license-headers: any of: .*.go
