Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

yq:
  name: format with yq
  entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
  language: system
  args:
  - -i

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

Revert "Trying fix"
  go.mod
  go.sum
Due: none

Revert "Update packages"
  .github/workflows/packaging.yml
Due: none

Revert "Bump ubuntu"
  .github/workflows/packaging.yml
Due: none

Revert "Add TM"
  .github/workflows/packaging.yml
Due: none

Bump beats
  go.mod
  go.sum
Due: none

volumes
  resources/providers/awslib/ec2/provider.go
Due: mage-license-headers

remove shared values from tests
  vulnerability/fetcher_test.go
Due: mage-license-headers

Spelling change
  cloudbeat.reference.yml
  cloudbeat.yml
Due: mage-config

multiple events channel
  flavors/publisher.go
  flavors/publisher_test.go
  vulnerability/events_creator.go
  vulnerability/events_creator_test.go
  vulnerability/scanner.go
  vulnerability/worker.go
  vulnerability/worker_test.go
Due: mage-license-headers

Change snapshot version
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/weekly-enviroment.yml
  dev-docs/Cloudbeat-Deployment.md
  dev-docs/cspm-on-cloud-deployment.md
  tests/deploy/sa-agent-pytest.yml
Due: none

remove close call
  vulnerability/worker_test.go
Due: mage-license-headers

Format CloudFormation with rain
  .github/workflows/publish-cloudformation.yml
  .pre-commit-config.yaml
  bin/.rain-1.4.3.pkg
  bin/rain
  deploy/cloudformation/ec2-types.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  deploy/cloudformation/organization.yml
Due: yq

Revert "Change snapshot version"
  .github/workflows/cloudbeat-ci.yml
  .github/workflows/eks-ci.yml
  .github/workflows/k8s-ci.yml
  .github/workflows/weekly-enviroment.yml
  dev-docs/Cloudbeat-Deployment.md
  dev-docs/cspm-on-cloud-deployment.md
  tests/deploy/sa-agent-pytest.yml
Due: none

cleanup
  vulnerability/worker_test.go
Due: mage-license-headers

update image runner version
  .github/workflows/k8s-ci.yml
Due: none

use env
  .github/workflows/cnvm-ci.yml
Due: none

bump runner image version
  .github/workflows/k8s-ci.yml
Due: none

Revert "use env"
  .github/workflows/cnvm-ci.yml
Due: none

workflow_dispatch
  .github/workflows/cnvm-ci.yml
Due: none

comment tests
  .github/workflows/k8s-ci.yml
Due: none

bump kind node image
  deploy/k8s/kind/kind-multi.yml
Due: none

CloudFormation: Suffix CSPM templates with account type
  .github/workflows/publish-cloudformation.yml
Due: none

rename
  .github/workflows/publish-cloudformation.yml
Due: none

CloudFormation: Suffix CSPM templates with account type (#1152)
  .github/workflows/publish-cloudformation.yml
Due: none

Disable K8s-CI
  .github/workflows/k8s-ci.yml
Due: none

Bump libbeat version (#1143)
  .github/workflows/k8s-ci.yml
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
  launcher/launcher_test.go
  processor/add_cluster_id/add_cluster_id.go
Due: mage-config, mage-license-headers

Format CloudFormation with rain (#1150)
  .pre-commit-config.yaml
  bin/.rain-1.4.3.pkg
  bin/rain
  deploy/cloudformation/ec2-types.yml
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  deploy/cloudformation/organization.yml
Due: yq

cr changes
  dataprovider/providers/cloud/data_provider.go
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/gcp.go
  flavors/vulnerability.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/factory/aws_factory_test.go
  resources/fetching/factory/eks_factory.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/fetchers/aws/elb_fetcher_test.go
  resources/fetching/fetchers/aws/iam_fetcher.go
  resources/fetching/fetchers/aws/iam_fetcher_test.go
  resources/fetching/fetchers/aws/logging_fetcher.go
  resources/fetching/fetchers/aws/logging_fetcher_test.go
  resources/fetching/fetchers/aws/monitoring_fetcher.go
  resources/fetching/fetchers/aws/monitoring_fetcher_test.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/providers/awslib/account_provider.go
  resources/providers/awslib/account_provider_test.go
  resources/providers/awslib/identity_provider.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
Due: mage-license-headers

cr changes 2
  flavors/benchmark/eks.go
Due: mage-license-headers

use kebab case
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

update comments
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

derive sub types from asset type
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

fix test
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: mage-license-headers

Derive GCP sub types from asset type (#1145)
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: mage-license-headers

cr changes 3
  dataprovider/providers/cloud/data_provider.go
  dataprovider/providers/cloud/data_provider_test.go
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/gcp.go
  flavors/vulnerability.go
Due: mage-license-headers

gh cli
  bin/.gh-2.32.0.pkg
  bin/gh
Due: none

lowercase func
  flavors/publisher_test.go
Due: mage-license-headers

cr changes 3
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/benchmark.go
  flavors/benchmark/benchmark_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/gcp.go
  flavors/posture.go
  flavors/vulnerability.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/factory/eks_factory.go
  resources/fetching/fetchers/aws/elb_fetcher.go
  resources/fetching/fetchers/aws/elb_fetcher_test.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/identity/identity_provider.go
  resources/providers/gcplib/identity/identity_provider_test.go
  resources/providers/gcplib/identity/mock_identity_provider_getter.go
  resources/providers/gcplib/identity/mock_resource_manager.go
  resources/providers/gcplib/inventory/provider.go
  resources/providers/gcplib/inventory/provider_test.go
Due: mage-license-headers

[CNVM] Sort EC2 instances by volume size (#1133)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  resources/providers/awslib/ec2/ec2_instance.go
  resources/providers/awslib/ec2/mock_client.go
  resources/providers/awslib/ec2/provider.go
  resources/providers/awslib/ec2/provider_test.go
  resources/providers/awslib/ec2/volume.go
  vulnerability/fetcher.go
  vulnerability/fetcher_test.go
  vulnerability/mock_instances_provider.go
  vulnerability/mock_replicator_provider.go
  vulnerability/mock_worker_provider.go
  vulnerability/replicator.go
  vulnerability/replicator_test.go
  vulnerability/worker.go
  vulnerability/worker_test.go
Due: yq, mage-license-headers

Path conditions:
  yq: any of: deploy/cloudformation/.*yml
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$
  mage-license-headers: any of: .*.go
