Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Implement CIS 4.1.5
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_5/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fetch TDE Props
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
Due: mage-license-headers

CIS Azure 4.1.5 (#1777)
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server.go
  resources/providers/azurelib/inventory/sql_server_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_5/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

chore: Update to elastic/beats@95f0f85a3edd
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@4ed62e67b8a1
  go.mod
  go.sum
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.just-1.22.0.pkg
  bin/.regal-0.15.0.pkg
  bin/just
  bin/regal
Due: none

[updatecli] Update hermit and pre-commit dependencies (#1785)
  .pre-commit-config.yaml
  bin/.just-1.22.0.pkg
  bin/.regal-0.15.0.pkg
  bin/just
  bin/regal
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: none

Make Storage Account Enricher best-effort (#1776)
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
Due: mage-license-headers

Implement CIS Azure 4.1.6
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_6/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_6/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_6/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS Azure 4.1.6 (#1786)
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_6/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_6/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_6/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

[updatecli] Update golang mod dependencies (#1787)
  go.mod
  go.sum
Due: none

updated documentation
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
  deploy/cloud/modules/ec/variables.tf
Due: none

Remove duplicate schedule from dependabot.yml
  .github/dependabot.yml
Due: none

Remove duplicate schedule from dependabot.yml (#1788)
  .github/dependabot.yml
Due: none

add timestamp suffix to deployment name
  .github/workflows/test-gcp-dm.yml
Due: none

exit script if deployment deletion failed
  deploy/test-environments/delete_gcp_env.sh
Due: none

minor chnages;
  .github/workflows/test-gcp-dm.yml
  deploy/test-environments/delete_gcp_env.sh
Due: none

CIS Azure 4.1.5 (#1777)
  .github/workflows/azure-ci.yml
  tests/product/tests/data/azure/azure_app_service_test_cases.py
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_key_vault_test_cases.py
  tests/pyproject.toml
Due: none

go mod tidy
  go.sum
Due: none

Bump beats and elastic-agent-client
  go.mod
  go.sum
Due: none

Embbed providers
  resources/providers/azurelib/provider.go
Due: mage-license-headers

Refactor inventory provider into multiple providers
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/inventory/assets_arg_provider.go
  resources/providers/azurelib/inventory/assets_arg_provider_test.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/sql_server_provider_test.go
  resources/providers/azurelib/inventory/storage.go
  resources/providers/azurelib/inventory/storage_provider.go
  resources/providers/azurelib/inventory/storage_provider_test.go
  resources/providers/azurelib/inventory/storage_test.go
  resources/providers/azurelib/provider.go
Due: mage-license-headers

Rename to ResourceGraphProvider
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/mock_resource_graph_provider_api.go
  resources/providers/azurelib/inventory/mock_sql_provider_api.go
  resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  resources/providers/azurelib/inventory/resource_graph_provider.go
  resources/providers/azurelib/inventory/resource_graph_provider_test.go
  resources/providers/azurelib/provider.go
Due: mage-license-headers

Refactor inventory provider into multiple providers (#1782)
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
  resources/providers/azurelib/inventory/mock_provider_api.go
  resources/providers/azurelib/inventory/mock_resource_graph_provider_api.go
  resources/providers/azurelib/inventory/mock_sql_provider_api.go
  resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  resources/providers/azurelib/inventory/provider.go
  resources/providers/azurelib/inventory/resource_graph_provider.go
  resources/providers/azurelib/inventory/resource_graph_provider_test.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/sql_server_provider_test.go
  resources/providers/azurelib/inventory/storage.go
  resources/providers/azurelib/inventory/storage_provider.go
  resources/providers/azurelib/inventory/storage_provider_test.go
  resources/providers/azurelib/inventory/storage_test.go
  resources/providers/azurelib/provider.go
Due: mage-license-headers

fix review comments
  .github/workflows/test-environment.yml
  deploy/cloud/modules/ec/main.tf
  deploy/test-environments/README.md
  deploy/test-environments/main.tf
  deploy/test-environments/variables.tf
Due: none

update format
  deploy/test-environments/main.tf
Due: none

update beats version
  bin/.go-1.21.5.pkg
  bin/go
  bin/gofmt
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config, mage-license-headers

[Create Environment] Adding ec module (#1742)
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
  deploy/cloud/modules/ec/main.tf
  deploy/cloud/modules/ec/output.tf
  deploy/cloud/modules/ec/terraform.tf
  deploy/cloud/modules/ec/variables.tf
  deploy/test-environments/README.md
  deploy/test-environments/main.tf
  deploy/test-environments/terraform.tf
  deploy/test-environments/variables.tf
  dev-docs/Cloud-Env-Testing.md
  dev-docs/Cloud-Env-Upgrade.md
Due: none

fix test
  vulnerability/scanner.go
  vulnerability/worker_test.go
Due: mage-license-headers

add cnvm id logs
  vulnerability/scanner.go
Due: mage-license-headers

add more ids to logs
  vulnerability/replicator.go
  vulnerability/verifier.go
Due: mage-license-headers

fix test
  vulnerability/verifier_test.go
Due: mage-license-headers

add cnvm id logs (#1798)
  vulnerability/replicator.go
  vulnerability/scanner.go
  vulnerability/verifier.go
  vulnerability/verifier_test.go
  vulnerability/worker_test.go
Due: mage-license-headers

Include flexible psql servers
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_postgresql_provider_api.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_1/rule.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Improve rego helper naming
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement CIS Azure 4.3[2-6]
  resources/providers/azurelib/inventory/asset.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_4/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fetch postgresql configurations
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher_postgresql.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql_test.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_enricher_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_postgresql_provider_api.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  resources/utils/ptrs/pointers.go
Due: mage-license-headers

Lower case psql configuration values to keep it consistent
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
Due: mage-license-headers
