Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

fixes for linters
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
Due: golangci-lint, mage-license-headers, go-test

Fix skipped assets inventory CI (#3008)
  .github/workflows/ci.yml
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: update-rules-status

gci
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][Azure] Add missing resources and ECS fields required for GA (#2954)
  .github/workflows/ci-pull_request.yml
  internal/flavors/assetinventory/strategy.go
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_activedirectory_provider.go
  internal/inventory/cloud_assets.xlsx
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
  internal/resources/providers/msgraph/mock_provider_api.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][Azure] Add missing resources and ECS fields required for GA (#2954)
  .github/workflows/ci-pull_request.yml
  internal/flavors/assetinventory/strategy.go
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_activedirectory_provider.go
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
  internal/resources/providers/msgraph/mock_provider_api.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

Update golangci-lint to 1.64.2
  .golangci.yaml
  bin/.golangci-lint-1.64.2.pkg
  bin/golangci-lint
  cmd/root.go
  deploy/asset-inventory-cloudformation/config.go
  deploy/cloudformation/config.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/eks.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/launcher/launcher.go
  internal/launcher/launcher_test.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/batch_fetcher.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher_test.go
  internal/resources/fetching/fetchers/azure/security_fetcher.go
  internal/resources/providers/awslib/cluster_name_provider.go
  internal/resources/providers/awslib/ec2/provider_test.go
  internal/resources/providers/awslib/securityhub/provider_test.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
  internal/vulnerability/cleaner_test.go
  internal/vulnerability/fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

Update golangci-lint to 1.64.2 (#3012)
  .golangci.yaml
  bin/.golangci-lint-1.64.2.pkg
  bin/golangci-lint
  cmd/root.go
  deploy/asset-inventory-cloudformation/config.go
  deploy/cloudformation/config.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/eks.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/launcher/launcher.go
  internal/launcher/launcher_test.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/aws/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/batch_fetcher.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher_test.go
  internal/resources/fetching/fetchers/azure/security_fetcher.go
  internal/resources/providers/awslib/cluster_name_provider.go
  internal/resources/providers/awslib/ec2/provider_test.go
  internal/resources/providers/awslib/securityhub/provider_test.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
  internal/vulnerability/cleaner_test.go
  internal/vulnerability/fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

add --install-servers flag to CloudFormation templates
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

add --install-servers flag to Azure install script
  deploy/azure/install-agent-dev.sh
  deploy/azure/install-agent.sh
Due: generate-arm-dev-templates

add --install-servers flag to GCP deployment-manager script
  deploy/deployment-manager/compute_engine.py
Due: none

add --install-servers flag to Asset Inventory ARM
  deploy/asset-inventory-arm/install-agent-dev.sh
  deploy/asset-inventory-arm/install-agent.sh
Due: none

add --install-servers flag to Asset Inventory CloudFormation
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
Due: none

break a long line for linters
  deploy/deployment-manager/compute_engine.py
Due: none

[Tests] Fix poetry.lock and pyproject.toml files (#3007)
  tests/poetry.lock
  tests/pyproject.toml
Due: none

change GCP sanity test timeout to 20m
  tests/integration/tests/test_sanity_checks.py
Due: none

Revert "break a long line for linters"
  deploy/deployment-manager/compute_engine.py
Due: none

wrap load_map() in try-catch clause
  tests/integration/tests/test_sanity_checks.py
Due: none

add docstring
  tests/integration/tests/test_sanity_checks.py
Due: none

fix imports
  tests/integration/tests/test_sanity_checks.py
Due: none

revert timeout to 600s
  tests/integration/tests/test_sanity_checks.py
Due: none

Ensure cloudbeat is installed with >= 9.x elastic-agent (#3017)
  deploy/asset-inventory-arm/install-agent-dev.sh
  deploy/asset-inventory-arm/install-agent.sh
  deploy/asset-inventory-cloudformation/elastic-agent-ec2-organization.yml
  deploy/asset-inventory-cloudformation/elastic-agent-ec2.yml
  deploy/azure/install-agent-dev.sh
  deploy/azure/install-agent.sh
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
  deploy/deployment-manager/compute_engine.py
  tests/integration/tests/test_sanity_checks.py
Due: rain, generate-arm-dev-templates

add network asset
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
Due: golangci-lint, mage-license-headers, go-test

Fix cspm gcp installation script (#2985)
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

Fix Create Environment workflow issues (#2988)
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
  deploy/test-environments/cis/output.tf
Due: none

update az install scripts
  deploy/azure/install-agent-dev.sh
  deploy/azure/install-agent.sh
Due: generate-arm-dev-templates

add for debug and testing
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

revert debug template change
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Update install-agent.sh script (#3023)
  deploy/azure/install-agent-dev.sh
  deploy/azure/install-agent.sh
Due: generate-arm-dev-templates

chore: Update to elastic/beats@61caa19a696f
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.30.pkg
  bin/.awscli-2.24.5.pkg
  bin/.elastic-package-0.109.1.pkg
  bin/.gcloud-510.0.0.pkg
  bin/.gh-2.67.0.pkg
  bin/.golangci-lint-1.64.5.pkg
  bin/.kind-0.27.0.pkg
  bin/.opa-1.1.0.pkg
  bin/.regal-0.31.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/kind
  bin/opa
  bin/regal
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy
