Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

chore: Update hermit with Golang version 1.21.5
  bin/.go-1.21.5.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers

chore: Update to elastic/beats@cc8f5a109744
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config

chore: Update to elastic/beats@07392e331b2f
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.14.pkg
  bin/.elastic-package-0.95.0.pkg
  bin/.gcloud-456.0.0.pkg
  bin/.gh-2.40.0.pkg
  bin/.pre-commit-3.6.0.pkg
  bin/.regal-0.14.0.pkg
  bin/aws-iam-authenticator
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/pre-commit
  bin/regal
Due: none

[updatecli] Update to elastic/beats@cc8f5a109744 (#1646)
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config

[updatecli] Update Golang version to 1.21.5 (#1645)
  .go-version
  bin/.go-1.21.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers

[updatecli] Update to elastic/beats@07392e331b2f (#1647)
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config

collapsible benchmarks sections
  security-policies/RULES.md
  security-policies/dev/update_rule_status.py
  security-policies/poetry.lock
Due: none

Fix heading
  security-policies/RULES.md
  security-policies/dev/update_rule_status.py
Due: none

update RULES.md
  security-policies/RULES.md
Due: none

fix title
  security-policies/RULES.md
  security-policies/dev/update_rule_status.py
Due: none

[updatecli] Update Golang version to 1.21.5 (#1644)
  .go-version
  bin/.go-1.21.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers

[Release] update version
  version/version.go
Due: mage-license-headers

update paylod data and switch to slack bot usage
  .ci/scripts/prepare_slack_data.py
  .github/actions/slack-notification/action.yml
  .github/workflows/destroy-environment.yml
Due: none

Disable Azure steps
  .github/workflows/test-environment.yml
  tests/integration/tests/test_sanity_checks.py
Due: none

Temporary disable Azure steps (#1653)
  .github/workflows/test-environment.yml
  tests/integration/tests/test_sanity_checks.py
Due: none

[Release] Update version to 8.11.4 (#1650)
  version/version.go
Due: mage-license-headers

RULES.md collapsible CIS sections (#1649)
  security-policies/RULES.md
  security-policies/dev/update_rule_status.py
  security-policies/poetry.lock
Due: none

Fixing Azure deployment
  .github/workflows/test-environment.yml
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
  tests/integration/tests/test_sanity_checks.py
Due: none

new line
  deploy/test-environments/fleet_api/src/configuration_fleet.py
Due: none

Remove two minus
  .github/workflows/test-environment.yml
Due: none

Fixing Azure deployment (#1655)
  .github/workflows/test-environment.yml
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
  tests/integration/tests/test_sanity_checks.py
Due: none

Fixing Azure deployment (#1655)
  .github/workflows/test-environment.yml
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
Due: none

update slack action
  .github/workflows/test-environment.yml
Due: none

add support for slack users mention
  .github/actions/slack-notification/action.yml
  .github/actions/slack-notification/slack_payload.py
Due: none

update destroy-environment
  .github/workflows/destroy-environment.yml
Due: none

Add ECS orchestrator fields (#1604)
  dataprovider/providers/k8s/data_provider.go
  dataprovider/providers/k8s/data_provider_test.go
  resources/fetching/fetchers/k8s/kube_provider.go
Due: mage-license-headers

cis azure 3.11
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enricher_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers

fix tests
  resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers

rename
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_fetcher.go
Due: mage-license-headers

extract file
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
Due: mage-license-headers

export azure asset enrichers
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account.go
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers

explicit get agents
  tests/agent_param.py
  tests/conftest.py
  tests/integration/tests/test_sanity_checks.py
Due: none

rename
  tests/agents_map.py
Due: none

remove parts
  tests/conftest.py
  tests/integration/tests/test_sanity_checks.py
Due: none

remove agentless
  tests/pyproject.toml
Due: none

logger
  tests/agents_map.py
Due: none

fix review comments
  .ci/scripts/prepare_slack_data.py
  .github/actions/slack-notification/slack_payload.py
Due: none

lint
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
  tests/agents_map.py
  tests/commonlib/fleet_api.py
  tests/conftest.py
  tests/integration/tests/test_sanity_checks.py
Due: none

golangci-lint: Make unused config stricter
  .golangci.yaml
  dataprovider/providers/cloud/data_provider.go
  dataprovider/providers/cloud/data_provider_test.go
  dataprovider/providers/cloud/option.go
  evaluator/debug_logger/factory.go
  evaluator/debug_logger/plugin.go
  flavors/benchmark/aws.go
  flavors/benchmark/aws_org.go
  flavors/benchmark/azure.go
  flavors/benchmark/gcp.go
  flavors/vulnerability.go
  launcher/launcher_test.go
  processor/add_cluster_id/add_cluster_id.go
  processor/add_cluster_id/add_cluster_id_test.go
  resources/fetching/fetchers/aws/network_fetcher.go
  resources/fetching/fetchers/aws/network_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/fetching/manager/manager_test.go
  resources/fetching/registry/registry_test.go
  resources/providers/awslib/cached_region_selector.go
  resources/providers/awslib/cached_region_selector_test.go
  resources/providers/awslib/cloudwatch/cloudwatch.go
  resources/providers/awslib/cloudwatch/provider.go
  resources/providers/awslib/cloudwatch/provider_test.go
  resources/providers/awslib/securityhub/provider.go
  resources/providers/awslib/securityhub/provider_test.go
  uniqueness/leaderelection_test.go
Due: mage-license-headers
