Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

chore: Update version.asciidoc with Golang version 1.26.2
  docs/version.asciidoc
Due: none

chore: Update to elastic/beats@c76f348ee34f
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@12fb790eb7d9
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config, go-mod-tidy

chore: Update to elastic/beats@a5b16a18e218
  go.mod
  go.sum
Due: go-mod-tidy

revert(deps): downgrade github.com/go-json-experiment/json to v1.67.0 (9.3)
  go.mod
  go.sum
Due: go-mod-tidy

revert(deps): downgrade github.com/go-json-experiment/json (9.3) (#5849)
  go.mod
  go.sum
Due: go-mod-tidy

chore: migrate to GitHub native merge queue
  .mergify.yml
  renovate.json
Due: none

chore: remove redundant platformAutomerge (already the default)
  renovate.json
Due: none

chore: migrate to GitHub native merge queue (#5871)
  .mergify.yml
Due: none

chore: sync auto-approve-renovate-prs workflow from main
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

chore: sync auto-approve-renovate-prs workflow to 8.19 (#5872)
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

chore: sync auto-approve-renovate-prs workflow to 9.3 (#5873)
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

chore: sync auto-approve-renovate-prs workflow to 9.4 (#5874)
  .github/workflows/auto-approve-renovate-prs.yaml
Due: none

chore: add merge_group trigger to CI workflows on 9.3
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

chore: add merge_group trigger to CI workflows on 9.3 (#5875)
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

chore: add merge_group trigger to CI workflows on 9.4
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

chore: add merge_group trigger to CI workflows on 9.4 (#5877)
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

[updatecli] 9.4 - Update Golang version to 1.26.2 (#5845)
  docs/version.asciidoc
Due: none

chore: add merge_group trigger to CI workflows on 8.19
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

chore: add merge_group trigger to CI workflows on 8.19 (#5878)
  .github/workflows/ci-pull_request.yml
  .github/workflows/packaging.yml
  .github/workflows/test-opa-policies.yml
  .github/workflows/unit-test.yml
Due: none

chore(renovate): restrict base branches to main, 9.4, 9.3, and 8.19 (#5669)
  .mergify.yml
  renovate.json
Due: none

fix: resolve go.mod conflicts — upgrade trivy to v0.69.3 against 9.4 base
  go.mod
  go.sum
Due: go-mod-tidy

chore: upgrade trivy to v0.69.3 with GOEXPERIMENT=jsonv2 (#4380)
  .buildkite/scripts/package.sh
  .github/actions/docker-images/action.yml
  .github/workflows/binary-size-monitor.yml
  .github/workflows/ci-pull_request.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  go.mod
  go.sum
  justfile
  magefile.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix(lint): suppress SA1019 for deprecated Manager.Start until migration
  internal/launcher/launcher.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.19 - Update to elastic/beats@c76f348ee34f (#5846)
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix: resolve go.mod/go.sum merge conflicts for trivy v0.69.3 backport
  go.mod
  go.sum
Due: go-mod-tidy

fix: run go mod tidy to clean up stale go.sum entries
  go.sum
Due: go-mod-tidy

[updatecli] 9.3 - Update to elastic/beats@12fb790eb7d9 (#5847)
  cloudbeat.reference.yml
  go.mod
  go.sum
  internal/launcher/launcher.go
Due: golangci-lint, mage-config, mage-license-headers, go-test, go-mod-tidy

feat: version bump automation phase 3
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-bump.sh
  .buildkite/scripts/release/post-minor-merge.sh
  .buildkite/scripts/release/templates/pr-body-minor.md
  .buildkite/scripts/release/templates/pr-body-patch.md
  .buildkite/version-bump-pipeline.yml
  .github/workflows/auto-approve-bump-prs.yml
  .mergify.yml
Due: none

feat: implement Version Bump Automation Phase 3 (#4813)
  .buildkite/scripts/release/bump-minor.sh
  .buildkite/scripts/release/bump-patch.sh
  .buildkite/scripts/release/common.sh
  .buildkite/scripts/release/post-bump.sh
  .buildkite/scripts/release/post-minor-merge.sh
  .buildkite/scripts/release/templates/pr-body-minor.md
  .buildkite/scripts/release/templates/pr-body-patch.md
  .buildkite/version-bump-pipeline.yml
  .github/workflows/auto-approve-bump-prs.yml
  .mergify.yml
Due: none

Bump to 9.4.2
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update chrome version
  .github/actions/kibana-ftr/action.yml
Due: none

ci: declare contents:read on test-opa-coverage workflow
  .github/workflows/test-opa-coverage.yml
Due: none

ci: declare contents:read on test-opa-policies workflow
  .github/workflows/test-opa-policies.yml
Due: none

ci: declare contents:read on unit-test workflow
  .github/workflows/unit-test.yml
Due: none

Install Chrome v148 in FTR action (#6253)
  .github/actions/kibana-ftr/action.yml
Due: none
