Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

fix conflicts
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update .go-version with Golang version 1.24.5
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.24.5
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.24.5
  bin/.go-1.24.5.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@391c22839faf
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@092d3d7a2da3
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.4.pkg
  bin/.awscli-2.27.63.pkg
  bin/.elastic-package-0.113.0.pkg
  bin/.gcloud-532.0.0.pkg
  bin/.gh-2.76.2.pkg
  bin/.golangci-lint-2.3.0.pkg
  bin/.jq-1.8.1.pkg
  bin/.just-1.42.4.pkg
  bin/.regal-0.35.1.pkg
  bin/.shfmt-3.12.0.pkg
  bin/.yq-4.47.1.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/jq
  bin/just
  bin/regal
  bin/shfmt
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

Bump glog due to CVE
  go.mod
  go.sum
Due: go-mod-tidy

Replacing and bumping glog due to CVE-2024-45339 (#3499)
  go.mod
  go.sum
Due: go-mod-tidy

make GCP provider work concurrently (#3152)
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

update script
  deploy/deployment-manager/deploy_service_account.sh
Due: none

update test cases
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
Due: golangci-lint, mage-license-headers, go-test

update Azure service names
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
Due: golangci-lint, mage-license-headers, go-test

apply review remarks
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
Due: golangci-lint, mage-license-headers, go-test

update comment
  deploy/deployment-manager/deploy_service_account.sh
Due: none

Fix AWS CloudTrail integration install (#3469)
  tests/integrations_setup/data/cloudtrail-pkg.json
Due: none

Fix GCP deploy manager flakiness (#3468)
  deploy/deployment-manager/deploy_service_account.sh
Due: none

[updatecli] 9.1 - Update Golang version to 1.24.5 (#3489)
  .go-version
  bin/.go-1.24.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

[updatecli] main - Update Golang version to 1.24.5 (#3488)
  .go-version
  bin/.go-1.24.5.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

add entity store scripts
  tests/fleet_api/entity_store_api.py
  tests/fleet_api/kibana_settings.py
  tests/integrations_setup/enable_entity_store.py
Due: none

add
  deploy/azure/cloud-connectors-ARM-role.json
Due: generate-arm-dev-templates

deploy
  deploy/azure/cloud-connectors-ARM-role.json
Due: generate-arm-dev-templates

OTel: Align span names
  internal/flavors/benchmark/aws_org.go
  internal/resources/fetching/manager/manager.go
Due: golangci-lint, mage-license-headers, go-test

parameter issuer
  deploy/azure/cloud-connectors-ARM-role.json
Due: generate-arm-dev-templates

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

fix param
  deploy/azure/cloud-connectors-ARM-role.json
Due: generate-arm-dev-templates

elasticCloudConnectorId
  deploy/azure/cloud-connectors-ARM-role.json
Due: generate-arm-dev-templates

fix lint issues
  tests/fleet_api/entity_store_api.py
  tests/fleet_api/kibana_settings.py
  tests/integrations_setup/enable_entity_store.py
Due: none

fix integration input
  tests/integrations_setup/install_aws_asset_inventory_integration.py
Due: none
