Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update to elastic/beats@2f45bbdd4f1f
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@a9e07e45ec28
  go.mod
  go.sum
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-459.0.0.pkg
  bin/.gh-2.42.0.pkg
  bin/.just-1.23.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: none

enable k8s-ci jobs
  .github/workflows/k8s-ci.yml
Due: none

[updatecli] Update golang mod dependencies (#1820)
  go.mod
  go.sum
Due: none

[updatecli] Update hermit and pre-commit dependencies (#1819)
  .pre-commit-config.yaml
  bin/.gcloud-459.0.0.pkg
  bin/.gh-2.42.0.pkg
  bin/.just-1.23.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
Due: none

[updatecli] Update Golang version to 1.21.6 (#1815)
  .go-version
  bin/.go-1.21.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers

[updatecli] Update Golang version to 1.21.6 (#1816)
  .go-version
  bin/.go-1.21.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers

shellcheck: Include everything, exclude failures (#1810)
  .pre-commit-config.yaml
Due: none

shellcheck: Make some easy fixes
  .pre-commit-config.yaml
  scripts/make/autopep8_all.sh
  scripts/make/aws_creds_env.sh
  scripts/remote_edit_config.sh
Due: none

add workaround to copy test results
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Due: none

Fetch Advanced Threat Protection
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_sql_provider_api.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/sql_server_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers

Add CIS Azure 4.2.1
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_1/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update test-environments workflow
  .github/workflows/k8s-ci.yml
  .github/workflows/test-environment.yml
  tests/integrations_setup/install_agentless_integrations.py
Due: none

CIS Azure 4.2.1 (#1809)
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_sql_provider_api.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/sql_server_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_2_1/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

test
  .github/workflows/azure-ci.yml
  tests/product/tests/data/azure/azure_app_service_test_cases.py
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_identity_access_management_test_cases.py
  tests/product/tests/data/azure/azure_key_vault_test_cases.py
  tests/product/tests/data/azure/azure_logging_and_monitoring_test_cases.py
  tests/product/tests/data/azure/azure_networking_test_cases.py
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
Due: none

fix name
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
Due: none

CIS Azure 8.1, 8.2, 8.3, 8.4
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enricher_keyvault.go
  resources/fetching/fetchers/azure/assets_enricher_keyvault_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/keyvault_provider.go
  resources/providers/azurelib/inventory/keyvault_provider_test.go
  resources/providers/azurelib/inventory/mock_key_vault_provider_api.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add rego 8.2
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/keyvault/ensure_expiration.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add 8.3 8.4
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/test.rego
  security-policies/bundle/compliance/policy/azure/keyvault/ensure_expiration.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fix
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

gci
  resources/fetching/fetchers/azure/assets_enricher_keyvault_test.go
Due: mage-license-headers

cleanup
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/keyvault_provider.go
  resources/providers/azurelib/inventory/keyvault_provider_test.go
Due: mage-license-headers

CIS Azure 8.1, 8.2, 8.3, 8.4 (#1823)
  go.mod
  go.sum
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enricher_keyvault.go
  resources/fetching/fetchers/azure/assets_enricher_keyvault_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/keyvault_provider.go
  resources/providers/azurelib/inventory/keyvault_provider_test.go
  resources/providers/azurelib/inventory/mock_key_vault_provider_api.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_1/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_8_4/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/keyvault/ensure_expiration.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement CIS Azure 4.4.2
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_enricher_mysql.go
  resources/fetching/fetchers/azure/assets_enricher_mysql_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_mysql_provider_api.go
  resources/providers/azurelib/inventory/mysql_provider.go
  resources/providers/azurelib/inventory/mysql_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement rule allowing multiple values and greater than v1.2
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mysql_provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

return poetry install
  .github/workflows/test-environment.yml
Due: none

CIS Azure 4.4.2 (#1811)
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_enricher_mysql.go
  resources/fetching/fetchers/azure/assets_enricher_mysql_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_mysql_provider_api.go
  resources/providers/azurelib/inventory/mysql_provider.go
  resources/providers/azurelib/inventory/mysql_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_4_2/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update file path
  .github/workflows/test-environment.yml
Due: none

remove working dir for eks agent
  .github/workflows/test-environment.yml
Due: none

chore: update dependencies (#1812)
  go.mod
  go.sum
Due: none

remove comments
  tests/product/tests/data/azure/azure_app_service_test_cases.py
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_identity_access_management_test_cases.py
  tests/product/tests/data/azure/azure_key_vault_test_cases.py
  tests/product/tests/data/azure/azure_networking_test_cases.py
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
Due: none

Update azure-ci.yml
  .github/workflows/azure-ci.yml
Due: none

linter
  .github/workflows/azure-ci.yml
Due: none

update flows
  .github/workflows/cloudformation-ci.yml
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
Due: none

Update test_azure_app_service_rules.py
  tests/product/tests/test_azure_app_service_rules.py
Due: none

fixing lint
  tests/product/tests/data/azure/azure_logging_and_monitoring_test_cases.py
  tests/product/tests/test_azure_app_service_rules.py
Due: none

update cloudformation workflow
  .github/workflows/cloudformation-ci.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
