Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: yq, mage-config, mage-license-headers

.pre-commit-config.yaml:

repos:
  ## General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        exclude: (^tests/deploy/k8s-cloudbeat-tests/templates/.*)$
      - id: check-json
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        exclude: cloudbeat.reference.yml

      ## Security
      - id: detect-private-key

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  ## Golang hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-imports
        args: [-local, "github.com/elastic/cloudbeat"]
        exclude: 'mock_.*\.go'
      - id: golangci-lint

  ## Python
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: flake8 ./tests/ ./fleet_api/
        files: ^(tests|deploy/test-environments/fleet_api)/

  - repo: https://github.com/pycqa/pylint
    rev: v2.15.7
    hooks:
      - id: pylint
        args: [
            "-rn", # Only display messages
            "--rcfile=tests/pylintrc", # Link to your config file
          ]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: [--line-length=120, --check, --diff]

  - repo: local
    hooks:
      - id: yq
        name: format with yq
        entry: sh -c 'for file in "$@"; do yq -i "$file"; done'
        language: system
        args: [-i]
        files: deploy/cloudformation/.*yml

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.77.5
    hooks:
      - id: cfn-python-lint
        files: deploy/cloudformation/.*.yml

  - repo: local
    hooks:
      - id: mage-config
        name: mage config
        entry: bash -c 'mage config'
        language: system
        files: (^_meta\/.*|^cloudbeat.*yml)$
        pass_filenames: false
      - id: mage-license-headers
        name: mage AddLicenseHeaders
        entry: bash -c 'mage AddLicenseHeaders'
        language: system
        files: .*.go
        pass_filenames: false

Delete instructions.txt
  deploy/deployment-manager/instructions.txt
Due: none

modify auth logic to use adc
  deploy/deployment-manager/gomain.go
Due: mage-license-headers

add permission and update policy
  deploy/deployment-manager/service_account.py
Due: none

use deployment name
  deploy/deployment-manager/service_account.py
Due: none

add version specific dir
  deploy/deployment-manager/templates/8.10/8.10.0.py
  deploy/deployment-manager/templates/8.10/8.10.0.py.schema
  deploy/deployment-manager/templates/README.md
Due: none

disable pylint for tempkate file
  deploy/deployment-manager/templates/8.10/8.10.0.py
Due: none

add project id to init script
  deploy/deployment-manager/compute_engine.py
Due: none

add script for running manifest
  deploy/deployment-manager/templates/8.10/8.10.0.py
  deploy/deployment-manager/templates/8.10/8.10.0.py.schema
  deploy/deployment-manager/templates/README.md
Due: none

revert cf changes
  deploy/cloudformation/gomain.go
  deploy/deployment-manager/dmconf.yml
Due: mage-license-headers

delete deploy util
  deploy/util/config.go
Due: mage-license-headers

retrieve proj id from adc
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/providers/gcplib/auth/auth_provider.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/auth/mock_config_provider_api.go
  resources/providers/gcplib/auth/mock_google_provider_api.go
Due: mage-license-headers

Delete .gitignore
  deploy/deployment-manager/.gitignore
Due: none

add script overview
  deploy/deployment-manager/tutorial.md
Due: none

add script overview file
  deploy/deployment-manager/tutorial.md
Due: none

remove env var from init script
  deploy/deployment-manager/compute_engine.py
Due: none

revert gomain
  deploy/cloudformation/gomain.go
Due: mage-license-headers

revet unrelevant changes
  deploy/deployment-manager/gomain.go
  deploy/deployment-manager/service_account.py
Due: mage-license-headers

update mock
  resources/providers/gcplib/auth/mock_google_auth_provider_api.go
Due: mage-license-headers

add managed zones to asset fetcher resources
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

[CIS GCP] Get Project id from attached SA (#1194)
  flavors/benchmark/benchmark.go
  flavors/benchmark/gcp.go
  flavors/benchmark/gcp_test.go
  resources/providers/gcplib/auth/auth_provider.go
  resources/providers/gcplib/auth/credentials.go
  resources/providers/gcplib/auth/credentials_test.go
  resources/providers/gcplib/auth/mock_config_provider_api.go
  resources/providers/gcplib/auth/mock_google_auth_provider_api.go
  resources/providers/gcplib/auth/mock_google_provider_api.go
Due: mage-license-headers

tag agents
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm-organization.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: yq

set version tag
  .github/workflows/publish-cloudformation.yml
  scripts/publish_cft.sh
Due: none

usage
  scripts/publish_cft.sh
Due: none

update aws logging and monitoring tests data
  tests/product/tests/data/aws/aws_logging_test_cases.py
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
Due: none

[CIS GCP] Add managed zones type to asset fetcher resources (#1196)
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
Due: mage-license-headers

enable aws cloud tests and update aws test creds
  .github/workflows/k8s-ci.yml
Due: none

disable all tests run to check only aws cloud tests
  .github/workflows/k8s-ci.yml
Due: none

remove timeout and update logging test cases
  .github/workflows/k8s-ci.yml
  tests/product/tests/data/aws/aws_logging_test_cases.py
Due: none

remove comment and add tmate session for debug
  .github/workflows/k8s-ci.yml
  tests/product/tests/data/aws/aws_monitoring_test_cases.py
Due: none

update timeout for debug
  .github/workflows/k8s-ci.yml
Due: none

implement monitor fetcher
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/aws_test.go
  flavors/benchmark/gcp_test.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/factory/gcp_factory.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  resources/providers/gcplib/gcp.go
  resources/providers/gcplib/inventory/mock_service_api.go
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

chore: update golang.org/x/net
  go.mod
  go.sum
Due: none

chore: update golang.org/x/net (#1199)
  go.mod
  go.sum
Due: none

increase coverage
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
Due: mage-license-headers

cr change
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
Due: mage-license-headers

remove default clause
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher_test.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
Due: mage-license-headers

skip s3 tests
  .github/workflows/k8s-ci.yml
  tests/deploy/k8s-cloudbeat-tests/templates/cloudbeat-test-configmap.yml
  tests/deploy/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Due: none

[CIS GCP] Implement monitoring fetcher (#1200)
  flavors/benchmark/aws_org_test.go
  flavors/benchmark/aws_test.go
  flavors/benchmark/gcp_test.go
  resources/fetching/factory/aws_factory.go
  resources/fetching/factory/gcp_factory.go
  resources/fetching/fetcher.go
  resources/fetching/fetchers/gcp/assets_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher.go
  resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  resources/providers/gcplib/gcp.go
  resources/providers/gcplib/inventory/mock_service_api.go
  resources/providers/gcplib/inventory/provider.go
Due: mage-license-headers

update just command
  justfile
Due: none
