Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

feat: update jwx pkg
  go.mod
  go.sum
Due: none

feat: update jwx pkg (#1730)
  go.mod
  go.sum
Due: none

resolve conflicts
  go.sum
Due: none

feat: update beats pkg
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config

chore: Update to elastic/beats@8a20bd2b137a
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@a4aee9ac8162
  go.mod
  go.sum
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-458.0.1.pkg
  bin/.just-1.18.1.pkg
  bin/.opa-0.60.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: none

[updatecli] Update golang mod dependencies (#1738)
  go.mod
  go.sum
Due: none

Update .github/workflows/upgrade-environment.yml
  .github/workflows/upgrade-environment.yml
Due: none

Update dev-docs/Cloud-Env-Upgrade.md
  dev-docs/Cloud-Env-Upgrade.md
Due: none

replace class by dictionary
  .ci/scripts/prepare_slack_data.py
Due: none

[Upgrade workflow] Add input param for released version (#1680)
  .github/workflows/upgrade-environment.yml
  dev-docs/Cloud-Env-Upgrade.md
Due: none

Add slack notification (#1599)
  .ci/scripts/prepare_slack_data.py
  .github/actions/slack-notification/README.md
  .github/actions/slack-notification/action.yml
  .github/actions/slack-notification/slack_payload.py
  .github/workflows/destroy-environment.yml
  .github/workflows/test-environment.yml
  .pre-commit-config.yaml
Due: none

improve evidence field
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fix lint errors
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/rule.rego
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/test.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_not_admin_roles.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fix CIS GCP 1.5
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/rule.rego
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/test.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_not_admin_roles.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add ec module
  .github/workflows/test-environment.yml
  deploy/cloud/modules/ec/main.tf
  deploy/cloud/modules/ec/output.tf
  deploy/cloud/modules/ec/terraform.tf
  deploy/cloud/modules/ec/variables.tf
  deploy/test-environments/main.tf
  deploy/test-environments/terraform.tf
Due: none

update terraform format
  deploy/test-environments/main.tf
Due: none

update ec module format
  deploy/cloud/modules/ec/main.tf
Due: none

feat: update x/crypto pkg
  go.mod
  go.sum
Due: none

update workflow
  .github/workflows/upgrade-environment.yml
  deploy/test-environments/variables.tf
Due: none

updat tf fmt
  deploy/test-environments/variables.tf
Due: none

add comment for evidence mapping
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/rule.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

feat: update x/crypto pkg (#1731)
  go.mod
  go.sum
Due: none

update workflow and tf
  .github/workflows/upgrade-environment.yml
  deploy/cloud/modules/ec/main.tf
  deploy/test-environments/main.tf
  deploy/test-environments/variables.tf
Due: none

add tags
  .github/workflows/destroy-environment.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/main.tf
  deploy/test-environments/variables.tf
Due: none

add ec api key input support
  .github/workflows/upgrade-environment.yml
Due: none

remove duplicate key
  .github/workflows/upgrade-environment.yml
Due: none

[updatecli] Update hermit and pre-commit dependencies (#1737)
  .pre-commit-config.yaml
  bin/.gcloud-458.0.1.pkg
  bin/.just-1.18.1.pkg
  bin/.opa-0.60.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/opa
Due: none

Fix GCP LogMetric asset
  resources/providers/gcplib/inventory/asset.go
Due: mage-license-headers

Fix GCP LogMetric asset (#1726)
  resources/providers/gcplib/inventory/asset.go
Due: mage-license-headers

Revert "CloudFormation: Fix missing tags in cloud-security account" (#1519)
  deploy/cloudformation/elastic-agent-ec2-cnvm.yml
  deploy/cloudformation/elastic-agent-ec2-cspm.yml
Due: rain

fix CIS GCP 1.5 (#1705)
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/rule.rego
  security-policies/bundle/compliance/cis_gcp/rules/cis_1_5/test.rego
  security-policies/bundle/compliance/policy/gcp/iam/ensure_not_admin_roles.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update tf and workflow
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
  deploy/test-environments/main.tf
Due: none
