Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Revert "Bump trivy to v0.54.1 and fix breaking changes (#2399)"
  go.mod
  go.sum
  internal/flavors/vulnerability.go
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

trivy changes
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test

report options
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test

add classification for every Resource Graph asset
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

fix
  internal/flavors/vulnerability.go
Due: golangci-lint, mage-license-headers, go-test

Revert "Bump trivy to v0.54.1 and fix breaking changes" (#2421)
  go.mod
  go.sum
  internal/flavors/vulnerability.go
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

add missing entries to Azure fetcher
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

update mocks
  internal/inventory/azurefetcher/mock_resource_graph_provider.go
Due: golangci-lint, mage-license-headers, go-test

add infra scripts
  deploy/cloud/modules/aws/cloudtrail/main.tf
  deploy/cloud/modules/aws/cloudtrail/outputs.tf
  deploy/cloud/modules/aws/cloudtrail/variables.tf
  deploy/test-environments/main.tf
  deploy/test-environments/output.tf
  deploy/test-environments/variables.tf
  tests/fleet_api/package_policy_api.py
  tests/fleet_api/utils.py
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/cloudtrail-pkg.json
  tests/integrations_setup/install_cloudtrail_integration.py
Due: none

remove todo item
  deploy/cloud/modules/aws/cloudtrail/variables.tf
Due: none

Bump trivy to v0.49.1
  go.mod
  go.sum
Due: go-mod-tidy

fix lint issue
  tests/fleet_api/package_policy_api.py
Due: none

fix format
  deploy/cloud/modules/aws/cloudtrail/main.tf
Due: none

Bump trivy to v0.51.4
  .buildkite/scripts/generate_notice.py
  go.mod
  go.sum
  internal/flavors/vulnerability.go
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Bump trivy to v0.52.2
  go.mod
  go.sum
Due: go-mod-tidy

Temp change the workflow trigger to test changes
  .github/workflows/ci.yml
Due: none

Free up space on runner
  .github/workflows/ci.yml
Due: none

Bump trivy to v0.53.0
  go.mod
  go.sum
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Bump trivy to v0.54.1
  go.mod
  go.sum
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Rollback CI run on target
  .github/workflows/ci.yml
Due: none

add unit test
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
Due: golangci-lint, mage-license-headers, go-test

Clean 'scan cache clean' code and add timeout to it
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test

Bump Trivy to v0.54.1 (#2427)
  .buildkite/scripts/generate_notice.py
  .github/workflows/ci.yml
  go.mod
  go.sum
  internal/flavors/vulnerability.go
  internal/vulnerability/runner.go
  internal/vulnerability/scanner.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Remove armsecurity bump
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update Golang version to 1.22.6 (#2414)
  .go-version
  bin/.go-1.22.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

bump snyk monitored branch on releases
  scripts/bump_cloudbeat.sh
Due: none

fix shelllint
  scripts/bump_cloudbeat.sh
Due: none

test commit
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
Due: none

add secrets
  .github/workflows/bump-version.yml
Due: none

fix secrets
  .github/workflows/bump-version.yml
Due: none

revert tests
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
Due: none

bump beats
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update Golang version to 1.22.6 (#2413)
  .go-version
  bin/.go-1.22.6.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
