Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

fixes
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

make gcp provider work concurrently
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

fix network fetchers and group tests
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

split work by projects
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

fix tests
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

cleaning
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

cleaning and more tests
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

use mapstructre for decoding
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

use result.evaluation in event.outcome
  internal/transformer/events_creator.go
  internal/vulnerability/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

Update README.md
  README.md
Due: none

Update README.md (#3180)
  README.md
Due: none

Fix conflicts
  go.sum
Due: go-mod-tidy

New way of backporting active branches
  .github/workflows/backport-active.yml
  .mergify.yml
Due: none

fix whitespace
  .github/workflows/backport-active.yml
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update .mergify.yml
  .mergify.yml
Due: none

align finding .rule fields with ECS schema
  internal/dataprovider/providers/rule_ecs/data_provider.go
  internal/evaluator/evaluator.go
  internal/flavors/benchmark/builder/builder.go
  internal/transformer/events_creator.go
Due: golangci-lint, mage-license-headers, go-test

add test cases
  internal/dataprovider/providers/rule_ecs/data_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Bump 8.18.1
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

fix existing test cases
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Bump 8.18.1 (#3191)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump 9.0.1
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump 9.0.1 (#3192)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

add license headers
  internal/dataprovider/providers/rule_ecs/data_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

New way of backporting active branches (#3183)
  .github/workflows/backport-active.yml
  .mergify.yml
Due: none

Fix conflict
  .mergify.yml
Due: none

make linter happy
  internal/dataprovider/providers/rule_ecs/data_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

cleaning and fixes
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

fetchers fix
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
