Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

refactor: simplify error handling in GCP Infrastructure Manager deploy script (#3865)
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
Due: none

GCP Infrastructure manager terraform for elastic-agent (#3776)
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/variables.tf
Due: none

GCP Infrastructure manager terraform for credentials json (#3835)
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy.sh
  deploy/infrastructure-manager/gcp-credentials-json/main.tf
  deploy/infrastructure-manager/gcp-credentials-json/outputs.tf
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-credentials-json/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/deploy_service_account.sh
Due: none

Severity UNKNOWN fix
  internal/vulnerability/events_creator_test.go
  internal/vulnerability/scanner.go
  internal/vulnerability/scanner_test.go
Due: golangci-lint, mage-license-headers, go-test

feat: add GCP Infrastructure Manager Terraform modules [9.3] (#3880)
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy.sh
  deploy/infrastructure-manager/gcp-credentials-json/main.tf
  deploy/infrastructure-manager/gcp-credentials-json/outputs.tf
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-credentials-json/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/deploy_service_account.sh
  deploy/infrastructure-manager/gcp-elastic-agent/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/variables.tf
Due: none

feat: add GCP Infrastructure Manager Terraform modules [8.19] (#3882)
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy.sh
  deploy/infrastructure-manager/gcp-credentials-json/main.tf
  deploy/infrastructure-manager/gcp-credentials-json/outputs.tf
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-credentials-json/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/deploy_service_account.sh
  deploy/infrastructure-manager/gcp-elastic-agent/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/variables.tf
Due: none

feat: add GCP Infrastructure Manager Terraform modules [9.2] (#3881)
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy.sh
  deploy/infrastructure-manager/gcp-credentials-json/main.tf
  deploy/infrastructure-manager/gcp-credentials-json/outputs.tf
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-credentials-json/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/deploy_service_account.sh
  deploy/infrastructure-manager/gcp-elastic-agent/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/variables.tf
Due: none

CNVM Severity UNKNOWN Fix (#3885)
  internal/vulnerability/events_creator_test.go
  internal/vulnerability/scanner.go
  internal/vulnerability/scanner_test.go
Due: golangci-lint, mage-license-headers, go-test

fix project metadata request
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

go mod
  go.mod
Due: go-mod-tidy

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.25.6
  bin/.go-1.25.6.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.25.6
  docs/version.asciidoc
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.33.12.pkg
  bin/.elastic-package-0.118.0.pkg
  bin/.gcloud-554.0.0.pkg
  bin/.gh-2.86.0.pkg
  bin/.golangci-lint-2.8.0.pkg
  bin/.just-1.46.0.pkg
  bin/.kind-0.31.0.pkg
  bin/.opa-1.13.1.pkg
  bin/.pre-commit-4.5.1.pkg
  bin/.regal-0.38.1.pkg
  bin/.yq-4.50.1.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/kind
  bin/opa
  bin/pre-commit
  bin/regal
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@5e6d5038c522
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@0a466e094f61
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@9efcde4d7efb
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@b136a71eecf0
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@fcf6c3f20053
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

agent org permissions
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

creds org permissions
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy.sh
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
Due: none

add env vars
  .ci/scripts/create_env_config.py
  .github/workflows/test-environment.yml
Due: none
