Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

re-classify Security Group
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

fix typo
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

re-classify RDS
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

re-classify S3
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

include SNS Topic
  internal/inventory/ASSETS.md
  internal/inventory/cloud_assets.xlsx
Due: none

fix tables
  internal/inventory/ASSETS.md
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

mockery: exclude scripts/
  .mockery.yaml
Due: none

Bump helm
  go.mod
  go.sum
Due: go-mod-tidy

Disable PSP feature leave rules
  deploy/k8s/fleet-managed-agent.yml
  deploy/k8s/standalone-agent.yml
  deploy/kustomize/base/role.yml
  deploy/kustomize/overlays/cloudbeat-vanilla-agent/manifests.yaml
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  tests/commonlib/kubernetes.py
  tests/test_environments/k8s-cloudbeat-tests/templates/cloudbeat-eks-pytest.yaml
  tests/test_environments/k8s-cloudbeat-tests/templates/standalone-agent.yml
  tests/test_environments/k8s-objects-all-cases.yml
  tests/test_environments/mock-pod.yml
  tests/test_environments/sa-agent-pytest.yml
Due: golangci-lint, mage-license-headers, go-test

remove TODO
  .github/workflows/upgrade-environment.yml
Due: none

Bumping elastic-agent-autodiscover
  go.mod
  go.sum
Due: go-mod-tidy

Lint fixes
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

Linter empty space
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

Commenting out CI tests and removing codeblocks from core code
  .github/workflows/ci.yml
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  tests/product/tests/data/k8s/k8s_object_cases.py
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

Comment out EKS PSP
  tests/product/tests/data/eks/eks_k8s_object_test_cases.py
Due: update-rules-status

Remove imports from CI tests
  tests/product/tests/data/eks/eks_k8s_object_test_cases.py
Due: update-rules-status

Update rules coverage
  security-policies/RULES.md
Due: none

Upgrade helm to v3.14.2 (#2356)
  .github/workflows/ci.yml
  deploy/k8s/fleet-managed-agent.yml
  deploy/k8s/standalone-agent.yml
  deploy/kustomize/base/role.yml
  deploy/kustomize/overlays/cloudbeat-vanilla-agent/manifests.yaml
  go.mod
  go.sum
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/kube_provider.go
  security-policies/RULES.md
  tests/commonlib/kubernetes.py
  tests/product/tests/data/eks/eks_k8s_object_test_cases.py
  tests/product/tests/data/k8s/k8s_object_cases.py
  tests/test_environments/k8s-cloudbeat-tests/templates/cloudbeat-eks-pytest.yaml
  tests/test_environments/k8s-cloudbeat-tests/templates/standalone-agent.yml
  tests/test_environments/k8s-objects-all-cases.yml
  tests/test_environments/mock-pod.yml
  tests/test_environments/sa-agent-pytest.yml
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy, update-rules-status

Conflicts resolve
  go.mod
  go.sum
Due: go-mod-tidy

Fixing tidy
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@971af57dfba0
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  bin/.gcloud-485.0.0.pkg
  bin/.opa-0.67.0.pkg
  bin/.pre-commit-3.8.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/opa
  bin/pre-commit
Due: none

chore: Update to elastic/beats@e177fc500b53
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update hermit and pre-commit dependencies (#2367)
  bin/.gcloud-485.0.0.pkg
  bin/.opa-0.67.0.pkg
  bin/.pre-commit-3.8.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/opa
  bin/pre-commit
Due: none

Create ASSETS.md with pre-commit scripts to maintain it (#2354)
  .mockery.yaml
  .pre-commit-config.yaml
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/cloud_assets.xlsx
  internal/inventory/inventory_test.go
  scripts/update_assets_md/go.mod
  scripts/update_assets_md/go.sum
  scripts/update_assets_md/main.go
  tools/tools.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

[updatecli] Update to elastic/beats@e177fc500b53 (#2365)
  go.mod
  go.sum
Due: go-mod-tidy

bump github.com/open-policy-agent/opa-0.67.0
  go.mod
  go.sum
Due: go-mod-tidy

Integrate sanity UI tests with the upgrade workflow (#2350)
  .github/workflows/upgrade-environment.yml
  deploy/cloud/modules/ec/variables.tf
  dev-docs/Cloud-Env-Upgrade.md
Due: none

[updatecli] Update to elastic/beats@971af57dfba0 (#2366)
  go.mod
  go.sum
Due: go-mod-tidy

update go-git version to latest
  go.mod
  go.sum
Due: go-mod-tidy

Update go-git version to latest (#2370)
  go.mod
  go.sum
Due: go-mod-tidy

basic Azure Asset Inventory structure
  internal/config/config.go
  internal/flavors/asset_inventory.go
  internal/inventory/azurefetcher/azurefetchers.go
Due: golangci-lint, mage-license-headers, go-test

add legal
  internal/inventory/azurefetcher/azurefetchers.go
Due: golangci-lint, mage-license-headers, go-test

add ListTenant method
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
Due: golangci-lint, mage-license-headers, go-test

add ListTenant unit tests
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_subscription_provider_api.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

Bump docker cli dependency
  go.mod
  go.sum
Due: go-mod-tidy

Revert "[updatecli] Update to elastic/beats@971af57dfba0 (#2366)"
  go.mod
  go.sum
Due: go-mod-tidy

rename confusing variables & fields
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
