Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

fix linter issues
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
Due: golangci-lint, mage-license-headers, go-test

Added agentless API agent integration
  .github/workflows/test-environment.yml
  tests/commonlib/agents_map.py
  tests/configuration.py
  tests/integrations_setup/install_agentless_agent_integration.py
  tests/integrations_setup/package_policy.py
Due: none

Fix linting
  tests/commonlib/agents_map.py
Due: none

Removed duplicate lint
  tests/integrations_setup/install_agentless_agent_integration.py
Due: none

refactoring to use the agentless integration
  .github/workflows/test-environment.yml
  tests/integrations_setup/install_agentless_agent_integration.py
  tests/integrations_setup/install_agentless_integrations.py
Due: none

adding stream
  tests/integrations_setup/install_agentless_integrations.py
Due: none

Resetting a bad merge
  tests/commonlib/agents_map.py
  tests/configuration.py
Due: none

Fix lint
  tests/integrations_setup/install_agentless_agent_integration.py
Due: none

lint changes
  tests/integrations_setup/package_policy.py
Due: none

uncommenting the GCP
  tests/integrations_setup/install_agentless_integrations.py
Due: none

lint changes
  tests/integrations_setup/install_agentless_integrations.py
Due: none

lint
  tests/integrations_setup/install_agentless_integrations.py
Due: none

fix lint issue
  tests/integrations_setup/install_agentless_integrations.py
Due: none

Linting
  tests/integrations_setup/install_agentless_integrations.py
Due: none

fix python isort linter
  tests/integrations_setup/install_agentless_integrations.py
Due: none

adding agentless to ESS
  .github/workflows/test-environment.yml
Due: none

fix isort
  tests/integrations_setup/install_agentless_integrations.py
Due: none

remove renamed mock files
  internal/inventory/azurefetcher/mock_subscription_provider.go
  internal/inventory/azurefetcher/mock_subscription_provider_func.go
Due: golangci-lint, mage-license-headers, go-test

fix provider references
  internal/inventory/azurefetcher/fetcher_account_test.go
Due: golangci-lint, mage-license-headers, go-test

add new function tests
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add new function tests (2nd time)
  internal/inventory/azurefetcher/fetcher_storage_test.go
Due: golangci-lint, mage-license-headers, go-test

[skip ci] Update hermit
  bin/hermit
Due: none

temp
  internal/flavors/assetinventory/strategy.go
Due: golangci-lint, mage-license-headers, go-test

feat: replace x/exp with stdlib functions
  go.mod
  internal/resources/fetching/fetchers/azure/assets_fetcher.go
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
  internal/resources/fetching/fetchers/azure/batch_fetcher.go
  internal/resources/fetching/fetchers/azure/batch_fetcher_test.go
  internal/vulnerability/events_creator.go
  scripts/update_assets_md/go.mod
  scripts/update_assets_md/go.sum
  scripts/update_assets_md/main.go
  tools/tools.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix resolve compile errors
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.23.2
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.23.2
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.23.2
  bin/.go-1.23.2.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update go.mod files with 1.23
  go.mod
Due: go-mod-tidy

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
