Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Publishing log with event.action (#1894)
  internal/flavors/publisher.go
  internal/flavors/publisher_test.go
  internal/resources/utils/testhelper/helper.go
Due: mage-license-headers, go-test

[updatecli] Update to elastic/beats@5e431f32119e (#1901)
  go.mod
  go.sum
Due: go-mod-tidy

add Azure AppService provider
  internal/resources/providers/azurelib/inventory/appservice_provider.go
Due: mage-license-headers, go-test

go mod tidy
  go.mod
  go.sum
Due: go-mod-tidy

improve Azure AppService provider
  internal/resources/providers/azurelib/inventory/appservice_provider.go
Due: mage-license-headers, go-test

add Azure AppService enricher
  internal/resources/fetching/fetchers/azure/assets_enricher_appservice.go
Due: mage-license-headers, go-test

plug new types into ProviderAPI
  internal/resources/fetching/fetchers/azure/assets_enricher_appservice.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers, go-test

sort ProviderAPI and embed AppService
  internal/resources/providers/azurelib/provider.go
Due: mage-license-headers, go-test

update all Provider structs
  internal/resources/providers/azurelib/provider.go
Due: mage-license-headers, go-test

generate mocks
  internal/resources/providers/azurelib/inventory/mock_app_service_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

enable enricher and change inventory type
  internal/resources/fetching/fetchers/azure/assets_enricher.go
  internal/resources/fetching/fetchers/azure/assets_enricher_appservice.go
Due: mage-license-headers, go-test

fix filenames "appservice" -> "app_service"
  internal/resources/fetching/fetchers/azure/assets_enricher_app_service.go
  internal/resources/providers/azurelib/inventory/app_service_provider.go
Due: mage-license-headers, go-test

add Azure CIS 9.10 rule to security-policies
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add data.yaml for the new rules
  security-policies/bundle/compliance/cis_azure/rules/cis_9_1/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/data.yaml
Due: none

add Azure CIS 9.1 rule to security-policies
  security-policies/bundle/compliance/cis_azure/rules/cis_9_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_1/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add Azure CIS 9.3 rule to security-policies
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update security-policies/RULES.md
  security-policies/README.md
  security-policies/RULES.md
Due: none

rename (List -> Get)WebAppsAuthSettings
  internal/resources/fetching/fetchers/azure/assets_enricher_app_service.go
  internal/resources/providers/azurelib/inventory/app_service_provider.go
  internal/resources/providers/azurelib/inventory/mock_app_service_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

rename azureAppServiceProvider
  internal/resources/providers/azurelib/inventory/app_service_provider.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
Due: mage-license-headers, go-test

add unit tests for app_service_provider
  internal/resources/providers/azurelib/inventory/app_service_provider.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
Due: mage-license-headers, go-test

enrich App Services with full SiteConfig
  internal/resources/providers/azurelib/inventory/app_service_provider.go
Due: mage-license-headers, go-test

fix CIS Azure 9.1 rule
  security-policies/bundle/compliance/cis_azure/rules/cis_9_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_1/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

re-generate mocks
  internal/resources/providers/azurelib/inventory/mock_app_service_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

extend AppService enricher
  internal/resources/fetching/fetchers/azure/assets_enricher_app_service.go
  internal/resources/providers/azurelib/inventory/asset.go
Due: mage-license-headers, go-test

add mock provider for tests
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
Due: mage-license-headers, go-test

improve log wordings
  internal/resources/providers/azurelib/inventory/app_service_provider.go
Due: mage-license-headers, go-test

add first working SiteConfig tests
  internal/resources/providers/azurelib/inventory/app_service_provider.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
Due: mage-license-headers, go-test

update cis_azure.rules.cis_9_3 w/ tests
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add missing fetcher test
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
Due: mage-license-headers, go-test

improve enricher method naming
  internal/resources/fetching/fetchers/azure/assets_enricher_app_service.go
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
  internal/resources/providers/azurelib/inventory/app_service_provider.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
  internal/resources/providers/azurelib/inventory/mock_app_service_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

update cis_azure.rules.cis_9_10 w/ tests
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update rules
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_10/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_3/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

test all other combinations
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
Due: mage-license-headers, go-test

update mocks
  internal/resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers, go-test

fix numbers in RULES.md
  security-policies/RULES.md
Due: none

unpack extensions
  internal/resources/fetching/fetchers/azure/assets_enricher_app_service.go
Due: mage-license-headers, go-test

update RULES.md after merge
  security-policies/RULES.md
Due: none

add & enable IT tests for Azure 9.1, 9.3, and 9.10
  security-policies/RULES.md
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
