Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

test reverting aws sdk
  .github/workflows/cnvm-ci.yml
  go.mod
  go.sum
  resources/providers/awslib/s3/provider_test.go
Due: mage-license-headers

CIS PostgreSQL Configuration Rules (from 4.3.2 to 4.3.6) (#1796)
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_enricher.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql_test.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  resources/fetching/fetchers/azure/assets_enricher_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_postgresql_provider_api.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  resources/utils/ptrs/pointers.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_2/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_3/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_3/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_3/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_4/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_4/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Refactor package name to pointers
  resources/providers/awslib/account_provider.go
  resources/providers/awslib/account_provider_test.go
  resources/providers/awslib/iam/policy.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/resource_graph_provider.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/storage_provider.go
  resources/utils/pointers/pointers.go
  resources/utils/pointers/pointers_test.go
Due: mage-license-headers

Move strings.Dereference to ptrs.Deref
  resources/providers/awslib/account_provider.go
  resources/providers/awslib/account_provider_test.go
  resources/providers/awslib/iam/policy.go
  resources/providers/azurelib/inventory/resource_graph_provider.go
  resources/providers/azurelib/inventory/storage_provider.go
  resources/utils/ptrs/ptrs_test.go
  resources/utils/strings/strings_test.go
Due: mage-license-headers

remove direct dependency go-git (#1761)
  go.mod
  magefile.go
Due: mage-license-headers

update beats version (#1743)
  bin/.go-1.21.5.pkg
  bin/go
  bin/gofmt
  cloudbeat.reference.yml
  cloudbeat.yml
  go.mod
  go.sum
Due: mage-config, mage-license-headers

remove direct dependency go-git
  go.mod
  go.sum
Due: none

fix deps
  go.mod
  go.sum
Due: none

[updatecli] Update to elastic/beats@a4aee9ac8162 (#1736)
  go.mod
  go.sum
Due: none

Move strings.Dereference to ptrs.Deref (#1800)
  resources/providers/awslib/account_provider.go
  resources/providers/awslib/account_provider_test.go
  resources/providers/awslib/iam/policy.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/resource_graph_provider.go
  resources/providers/azurelib/inventory/sql_server_provider.go
  resources/providers/azurelib/inventory/storage_provider.go
  resources/utils/pointers/pointers.go
  resources/utils/pointers/pointers_test.go
  resources/utils/strings/strings_test.go
Due: mage-license-headers

[Release] update version
  version/version.go
Due: mage-license-headers

update aws-sdk-go/service/ebs
  .github/workflows/cnvm-ci.yml
  go.mod
  go.sum
Due: none

[Release] Update version to 8.11.5 (#1804)
  version/version.go
Due: mage-license-headers

go mod tidy
  go.sum
Due: none

use premerge workflow
  .github/workflows/cnvm-ci.yml
Due: none

update aws-sdk-go/service/ebs (#1806)
  .github/workflows/cnvm-ci.yml
  go.mod
  go.sum
Due: none

Convert psql property to lower case to avoid case sensitivity errors
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_1/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_1/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS Azure 4.3.8
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS Azure 4.3.8 (#1797)
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_1/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_8/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

shellcheck: Include everything, exclude failures
  .pre-commit-config.yaml
Due: none

Add name of firewall rule to the extension
  resources/fetching/fetchers/azure/assets_enricher_postgresql_test.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
Due: mage-license-headers

Fetch psql firewall rules (single and flex)
  resources/fetching/fetchers/azure/assets_enricher_postgresql.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_postgresql_provider_api.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
Due: mage-license-headers

Implement CIS 4.3.8
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_7/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_7/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_7/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

CIS Azure 4.3.7 (#1807)
  resources/fetching/fetchers/azure/assets_enricher_postgresql.go
  resources/fetching/fetchers/azure/assets_enricher_postgresql_test.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/mock_postgresql_provider_api.go
  resources/providers/azurelib/inventory/postgresql_provider.go
  resources/providers/azurelib/inventory/postgresql_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_7/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_7/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_7/test.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

creating resources for rules
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_identity_access_management_test_cases.py
  tests/product/tests/data/azure/azure_logging_and_monitoring_test_cases.py
  tests/product/tests/data/azure/azure_networking_test_cases.py
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
Due: none

update dependencies
  go.mod
  go.sum
Due: none

Changes to Azure CI workflow (#1783)
  .github/workflows/azure-ci.yml
  tests/product/tests/data/azure/azure_app_service_test_cases.py
  tests/product/tests/data/azure/azure_database_service_test_cases.py
  tests/product/tests/data/azure/azure_identity_access_management_test_cases.py
  tests/product/tests/data/azure/azure_key_vault_test_cases.py
  tests/product/tests/data/azure/azure_logging_and_monitoring_test_cases.py
  tests/product/tests/data/azure/azure_networking_test_cases.py
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
  tests/product/tests/data/azure/azure_virtual_machine_test_cases.py
  tests/pyproject.toml
Due: none

test
  .github/workflows/azure-ci.yml
Due: none

try
  .github/workflows/azure-ci.yml
  tests/commonlib/utils.py
  tests/product/tests/test_azure_app_service_rules.py
Due: none

test
  .github/workflows/azure-ci.yml
  tests/commonlib/utils.py
  tests/configuration.py
  tests/product/tests/test_azure_app_service_rules.py
Due: none

without teammate
  .github/workflows/azure-ci.yml
Due: none

timeout
  .github/workflows/azure-ci.yml
Due: none

rollback
  tests/configuration.py
Due: none

refactor fleet_api
  .github/workflows/k8s-ci.yml
  .pre-commit-config.yaml
  deploy/test-environments/fleet_api/pyproject.toml
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
  deploy/test-environments/fleet_api/src/upgrade_cnvm.py
  tests/commonlib/agents_map.py
  tests/commonlib/utils.py
  tests/fleet_api/agent_policy_api.py
  tests/fleet_api/base_call_api.py
  tests/fleet_api/common_api.py
  tests/fleet_api/package_policy_api.py
  tests/fleet_api/utils.py
  tests/integration/tests/test_sanity_telemetry.py
  tests/integrations_setup/README.md
  tests/integrations_setup/agents_enrolled.py
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/cspm-linux.j2
  tests/integrations_setup/install_cnvm_integration.py
  tests/integrations_setup/install_cspm_azure_integration.py
  tests/integrations_setup/install_cspm_gcp_integration.py
  tests/integrations_setup/install_cspm_integration.py
  tests/integrations_setup/install_d4c_integration.py
  tests/integrations_setup/install_kspm_eks_integration.py
  tests/integrations_setup/install_kspm_unmanaged_integration.py
  tests/integrations_setup/package_policy.py
  tests/integrations_setup/purge_integrations.py
  tests/integrations_setup/state_file_manager.py
  tests/integrations_setup/upgrade_agents.py
  tests/poetry.lock
  tests/pyproject.toml
Due: none

chore: Update hermit with Golang version 1.21.6
  bin/.go-1.21.6.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers

chore: Update version.asciidoc with Golang version 1.21.6
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.21.6
  .go-version
Due: mage-license-headers

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
