Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

go mod tidy
  go.sum
Due: go-mod-tidy

go: bump github.com/open-policy-agent/opa to v1.4.0
  go.mod
Due: go-mod-tidy

[go] Bump github.com/open-policy-agent/opa to v1.4.0 for 8.18 branch (#3273)
  go.mod
  go.sum
Due: go-mod-tidy

bump github.com/go-jose/go-jose/v4 to v4.0.5
  go.mod
  go.sum
Due: go-mod-tidy

[go][8.18] Bump github.com/go-jose/go-jose/v4 to v4.0.5 (#3288)
  go.mod
  go.sum
Due: go-mod-tidy

[go][9.0] Bump github.com/go-jose/go-jose/v4 to v4.0.5 (#3287)
  go.mod
  go.sum
Due: go-mod-tidy

AWS CSPM ORG: initial operations fix. Use cloudbeat-root role
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_org_test.go
  internal/resources/providers/awslib/identity_provider.go
  internal/resources/providers/awslib/mock_identity_provider_getter.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Create Environment workflow: Add GCP service account Installation (#3264)
  .github/actions/cis-agent-based/action.yml
Due: none

Fix upgrade workflow (#3265)
  .github/actions/cdr/action.yml
  .github/actions/cis-agent-based/action.yml
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
  deploy/test-environments/upload_state.sh
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

fix merge conflicts
  go.mod
  go.sum
Due: go-mod-tidy

update go.sum
  go.sum
Due: go-mod-tidy

update go files
  go.mod
  go.sum
Due: go-mod-tidy

Bump the version used for test environments
  bin/hermit.hcl
Due: none

Bump the version used for test environments (#3301)
  bin/hermit.hcl
Due: none

Increase gcp ListAssets timeout and page size
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/gcp.go
  internal/flavors/benchmark/gcp_test.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

retrier with logs
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add another testcase for config
  internal/config/config_test.go
Due: golangci-lint, mage-license-headers, go-test

overwrite through env vars
  internal/config/config.go
  internal/config/config_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add should not retry tests on TestGAXCallOptionRetrier
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
Due: golangci-lint, mage-license-headers, go-test

fix
  internal/config/config.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
Due: golangci-lint, mage-license-headers, go-test

log errors on env vars parsing
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

structured logging
  internal/config/config.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
Due: golangci-lint, mage-license-headers, go-test

fix format
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
Due: golangci-lint, mage-license-headers, go-test

Increase gcp ListAssets timeout and page size (#3250)
  internal/config/config.go
  internal/config/config_test.go
  internal/flavors/assetinventory/strategy.go
  internal/flavors/benchmark/gcp.go
  internal/flavors/benchmark/gcp_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/resources/providers/gcplib/inventory/mock_provider_initializer_api.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

AWS CSPM ORG: initial operations fix. Use cloudbeat-root role (#3289)
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/aws_org_test.go
  internal/resources/providers/awslib/identity_provider.go
  internal/resources/providers/awslib/mock_identity_provider_getter.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
