Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

fix expected value
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

align principal with cloud assets sheet
  internal/inventory/ASSETS.md
  internal/inventory/cloud_assets.xlsx
Due: none

make linters happier
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@00db46fd853d
  go.mod
  go.sum
Due: go-mod-tidy

update all missing ECS fields
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
Due: golangci-lint, mage-license-headers, go-test

fix test cases
  internal/inventory/azurefetcher/fetcher_account_test.go
Due: golangci-lint, mage-license-headers, go-test

fix cspm gcp install script
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

make test cases race-condition-proof
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
Due: golangci-lint, mage-license-headers, go-test

update script
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

remove redundant todo
  internal/inventory/azurefetcher/fetcher_resource_graph.go
Due: golangci-lint, mage-license-headers, go-test

fix flaky k8s test
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

actually change that to /dev/null
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add helper func test
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
Due: golangci-lint, mage-license-headers, go-test

extend test case
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
Due: golangci-lint, mage-license-headers, go-test

make linter happy
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

make linter happy
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
Due: golangci-lint, mage-license-headers, go-test

skip asset.go in coverage
  .github/workflows/ci-pull_request.yml
Due: none

cover resource-graph file
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
Due: golangci-lint, mage-license-headers, go-test

Fix cspm gcp installation script (#2985)
  tests/integrations_setup/install_cspm_gcp_integration.py
Due: none

update action logic [skip actions]
  .github/actions/cis-agent-based/action.yml
Due: none

mergify: support backport-active-8, backport-active-9, backport-active-all
  .mergify.yml
Due: none

nit
  .mergify.yml
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

mergify: support backport-active-8, backport-active-9, backport-active-all (#2989)
  .mergify.yml
Due: none

[Go] Fix a flaky Kubernetes test setup (#2986)
  internal/dataprovider/providers/k8s/cluster_name_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

add ecs types gen script
  scripts/generate_ecs/go.mod
  scripts/generate_ecs/go.sum
  scripts/generate_ecs/main.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

example usage
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/fetcher_resource_graph.go
  internal/inventory/azurefetcher/fetcher_resource_graph_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

[skip actions] add generated ecs
  internal/ecs/base.go
  internal/ecs/cloud.go
  internal/ecs/container.go
  internal/ecs/event.go
  internal/ecs/host.go
  internal/ecs/network.go
  internal/ecs/organization.go
  internal/ecs/process.go
  internal/ecs/related.go
  internal/ecs/service.go
  internal/ecs/user.go
  internal/ecs/vulnerability.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update .go-version with Golang version 1.23.6
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.23.6
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.23.6
  bin/.go-1.23.6.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test
