Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

add ListSubscriptions and unit tests
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/subscriptions_provider_test.go
  internal/resources/providers/azurelib/inventory/susbcriptions_provider.go
Due: golangci-lint, mage-license-headers, go-test

add first Azure fetcher
  internal/inventory/asset.go
  internal/inventory/azurefetcher/fetcher_account.go
Due: golangci-lint, mage-license-headers, go-test

start a list of Azure fetchers
  internal/flavors/asset_inventory.go
  internal/inventory/azurefetcher/azurefetchers.go
Due: golangci-lint, mage-license-headers, go-test

improve error message
  internal/flavors/asset_inventory.go
Due: golangci-lint, mage-license-headers, go-test

prevent nil pointer dereference on interrupt signal
  internal/flavors/asset_inventory.go
Due: golangci-lint, mage-license-headers, go-test

add licenses and mocks
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/mock_subscription_provider.go
  internal/inventory/azurefetcher/mock_subscription_provider_func.go
  internal/resources/providers/azurelib/inventory/mock_subscription_provider_api.go
  internal/resources/providers/azurelib/mock_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

add ListTenants test
  internal/inventory/azurefetcher/azurefetchers_test.go
  internal/inventory/azurefetcher/fetcher_account_test.go
Due: golangci-lint, mage-license-headers, go-test

add ListSubscriptions test
  internal/inventory/azurefetcher/azurefetchers_test.go
  internal/inventory/azurefetcher/fetcher_account_test.go
Due: golangci-lint, mage-license-headers, go-test

Silence PodSecurityPolicy deprecation warnings (and more) (#2333)
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/client_provider.go
  internal/processor/add_cluster_id/add_cluster_id.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Revert "[updatecli] Update to elastic/beats@971af57dfba0" (#2373)
  go.mod
  go.sum
Due: go-mod-tidy

Bump azidentity@v1.7.0 and azcore@v1.12.0
  go.mod
  go.sum
Due: go-mod-tidy

Bump azidentity@v1.7.0 and azcore@v1.12.0 (#2376)
  go.mod
  go.sum
Due: go-mod-tidy

Bump docker dependency
  go.mod
  go.sum
Due: go-mod-tidy

Bump docker cli dependeny (#2372)
  go.mod
  go.sum
Due: go-mod-tidy

enable config-1
  .github/workflows/eks-ci.yml
Due: none

update ASSETS.md
  internal/inventory/ASSETS.md
Due: none

update configuration
  tests/test_environments/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

remove comment
  .github/workflows/eks-ci.yml
Due: none

move magic strings
  internal/config/benchmark.go
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

refactor code and move it to strategy file
  internal/flavors/asset_inventory.go
  internal/flavors/assetinventory/strategy.go
Due: golangci-lint, mage-license-headers, go-test

move CollectResourcesAndMatch to a common lib
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
  internal/inventory/azurefetcher/azurefetchers_test.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/testutil/testutil.go
Due: golangci-lint, mage-license-headers, go-test

Add `related.entities` to asset inventory
  internal/inventory/asset.go
  internal/inventory/inventory.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

consistently use pointers for EC2 provider
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/resources/providers/awslib/ec2/provider.go
Due: golangci-lint, mage-license-headers, go-test

eks ci - enable config 1 (#2378)
  .github/workflows/eks-ci.yml
  tests/test_environments/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

update env configuration
  tests/test_environments/aws/eks_config/test-eks-config-1-node-2-10-kubelet-args.conf
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

update version and debug
  .github/actions/docker-images/action.yml
  .github/workflows/ci.yml
Due: none

remove node selector
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

update eks config values
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
  tests/test_environments/values/ci-eks-config-1.yml
  tests/test_environments/values/ci-eks-config-2.yml
Due: none

update values
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

revert debug changes
  .github/actions/docker-images/action.yml
  .github/workflows/ci.yml
Due: none

Update upload artifacts action (#2382)
  .github/actions/docker-images/action.yml
  tests/test_environments/k8s-cloudbeat-tests/values.yaml
Due: none

fix linter issue
  tests/integration/tests/test_cloudbeat_integration.py
Due: none

update values
  tests/test_environments/values/ci-eks-config-2.yml
Due: none

Skip integration test (#2384)
  tests/integration/tests/test_cloudbeat_integration.py
Due: none

chore: Update to elastic/beats@81bc303d0b8f
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@76f45fe41cbd
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.elastic-package-0.102.0.pkg
  bin/.gcloud-486.0.0.pkg
  bin/.gh-2.54.0.pkg
  bin/.just-1.34.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
Due: none

add mock_strategy.go
  internal/flavors/assetinventory/mock_strategy.go
Due: golangci-lint, mage-license-headers, go-test
