Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

lint
  internal/resources/providers/azurelib/auth/auth_provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Azure cloud connector credentials (#3561)
  internal/config/config.go
  internal/resources/providers/azurelib/auth/auth_provider.go
  internal/resources/providers/azurelib/auth/auth_provider_test.go
  internal/resources/providers/azurelib/auth/credentials.go
  internal/resources/providers/azurelib/auth/credentials_test.go
  internal/resources/providers/azurelib/auth/mock_azure_auth_provider_api.go
Due: golangci-lint, mage-license-headers, go-test

change
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

chore: Update version.asciidoc with Golang version 1.25.1
  docs/version.asciidoc
Due: none

chore: Update hermit with Golang version 1.25.1
  bin/.go-1.25.1.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@6495466c8868
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  bin/.awscli-2.30.2.pkg
  bin/aws
  bin/aws_completer
Due: none

chore: Update to elastic/beats@f9e625185eff
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@4a47d3ca0f69
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@ab47855089dc
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update hermit and pre-commit dependencies (#3595)
  bin/.awscli-2.30.2.pkg
  bin/aws
  bin/aws_completer
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

predictable guid
  deploy/azure/ARM-for-cloud-connectors-single-account.json
Due: generate-arm-dev-templates

[updatecli] main - Update golang mod dependencies (#3596)
  go.mod
  go.sum
Due: go-mod-tidy

feat: build binary with grpcnotrace (#3587)
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

Fix validate
  justfile
Due: none

run modernize
  internal/config/config.go
  internal/flavors/publisher_test.go
  internal/inventory/inventory_test.go
  internal/resources/fetching/fetchers/k8s/file_system_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser_test.go
  internal/resources/providers/awslib/cached_region_selector_test.go
  internal/resources/providers/awslib/iam/access_analyzer_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/vulnerability/events_creator.go
  internal/vulnerability/events_creator_test.go
  internal/vulnerability/snapshot_test.go
Due: golangci-lint, mage-license-headers, go-test

chore: Fix coverage
  .github/workflows/ci-pull_request.yml
Due: none

run modernize (#3601)
  internal/config/config.go
  internal/flavors/publisher_test.go
  internal/inventory/inventory_test.go
  internal/resources/fetching/fetchers/k8s/file_system_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/providers/aws_cis/monitoring/filter_pattern_parser_test.go
  internal/resources/providers/awslib/cached_region_selector_test.go
  internal/resources/providers/awslib/iam/access_analyzer_test.go
  internal/resources/providers/gcplib/inventory/grpc_rate_limiter_test.go
  internal/vulnerability/events_creator.go
  internal/vulnerability/events_creator_test.go
  internal/vulnerability/snapshot_test.go
Due: golangci-lint, mage-license-headers, go-test

chore: Fix coverage (#3602)
  .github/workflows/ci-pull_request.yml
Due: none

cloud connectors aws cloudformation: make elastic global role parameter with default value
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role.yml
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
Due: rain

linter fixes
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role.yml
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
Due: rain

more descriptive text
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role.yml
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
Due: rain

cloud connectors aws cloudformation elastic role arn parameter (#3604)
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/asset-inventory-cloudformation/cloud-connectors-remote-role.yml
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
Due: rain
