Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.16 - Update to elastic/beats@f17e0828f1de (#2738)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update to elastic/beats@3e9ab5250791 (#2740)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update hermit and pre-commit dependencies (#2741)
  .pre-commit-config.yaml
  bin/.awscli-2.21.3.pkg
  bin/.gh-2.62.0.pkg
  bin/.regal-0.29.2.pkg
  bin/.yq-4.44.5.pkg
  bin/aws
  bin/aws_completer
  bin/gh
  bin/regal
  bin/yq
Due: none

[updatecli] main - Update hermit and pre-commit dependencies (#2742)
  .pre-commit-config.yaml
  bin/.awscli-2.21.3.pkg
  bin/.gh-2.62.0.pkg
  bin/.regal-0.29.2.pkg
  bin/.yq-4.44.5.pkg
  bin/aws
  bin/aws_completer
  bin/gh
  bin/regal
  bin/yq
Due: none

[updatecli] 8.x - Update to elastic/beats@04272dd134a9 (#2739)
  go.mod
  go.sum
Due: go-mod-tidy

update agents mapping
  tests/commonlib/agents_map.py
Due: none

[updatecli] 8.x - Update golang mod dependencies (#2743)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update golang mod dependencies (#2744)
  go.mod
  go.sum
Due: go-mod-tidy

Add directory check
  .github/workflows/bump-version.yml
Due: none

Remove directory check
  .github/workflows/bump-version.yml
Due: none

Debug update
  .github/workflows/bump-version.yml
Due: none

Update .mergify.yml
  .mergify.yml
Due: none

Bring back orginal script
  .github/workflows/bump-version.yml
Due: none

Debug script
  .github/workflows/bump-version.yml
Due: none

Fix bump
  .github/workflows/bump-version.yml
Due: none

Update version.go
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

go mod tidy
  go.sum
Due: go-mod-tidy

iam/user.go: Improve logging
  internal/resources/providers/awslib/iam/user.go
Due: golangci-lint, mage-license-headers, go-test

iam/user.go: Improve logging (#2747)
  internal/resources/providers/awslib/iam/user.go
Due: golangci-lint, mage-license-headers, go-test

modify bk pipeline
  .buildkite/pipeline.yml
  .buildkite/scripts/notify.sh
Due: none

update pipeline
  .buildkite/pipeline.yml
  .buildkite/scripts/notify.sh
Due: none

update pipeline
  .buildkite/scripts/notify.sh
Due: none

update script
  .buildkite/scripts/notify.sh
Due: none

update message
  .buildkite/scripts/notify.sh
Due: none

cspm gcp
  tests/integrations_setup/install_agentless_integrations.py
Due: none

assert
  tests/commonlib/agents_map.py
Due: none

update notification level
  .buildkite/scripts/notify.sh
Due: none

update notification logic
  .buildkite/pipeline.yml
  .buildkite/scripts/notify.sh
Due: none

sanity all agents
  tests/integration/tests/test_sanity_checks.py
Due: none

update statement
  .buildkite/pipeline.yml
Due: none

simulate job filure
  .buildkite/pipeline.yml
Due: none

update pipeline
  .buildkite/pipeline.yml
Due: none

br
  tests/integrations_setup/install_agentless_integrations.py
Due: none

remove test code
  .buildkite/pipeline.yml
Due: none

update bk and script
  .buildkite/pipeline.yml
  .buildkite/scripts/notify.sh
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
