Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

remove TF_VAR_EC_URL environment
  .github/workflows/test-environment.yml
  .github/workflows/test-gcp-dm.yml
  .github/workflows/upgrade-environment.yml
  .github/workflows/weekly-enviroment.yml
  deploy/test-environments/README.md
  deploy/test-environments/delete_env.sh
Due: none

revert timeout and pytest command
  tests/configuration.py
  tests/test_environments/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Due: none

add tmate to debug agent tests
  .github/workflows/k8s-ci.yml
  tests/configuration.py
  tests/test_environments/k8s-cloudbeat-tests/templates/k8s-file-permission-job.yaml
Due: none

revert build job worker image version
  .github/workflows/k8s-ci.yml
  tests/configuration.py
Due: none

remove tmate session
  .github/workflows/k8s-ci.yml
Due: none

update script to work with production env
  .github/workflows/test-environment.yml
Due: none

update script with env variables
  .github/workflows/test-environment.yml
Due: none

remove ec url setting
  .github/workflows/test-environment.yml
Due: none

add back ec url with input
  .github/workflows/test-environment.yml
Due: none

fix syntax
  .github/workflows/test-environment.yml
Due: none

fix inputs syntax
  .github/workflows/test-environment.yml
Due: none

set EC CLOUD API KEY
  .github/workflows/test-environment.yml
Due: none

add ability to destroy environments in qa
  .github/workflows/destroy-environment.yml
Due: none

set env variables for for url
  .github/workflows/destroy-environment.yml
Due: none

remove the slash
  .github/workflows/destroy-environment.yml
Due: none

chore: Update to elastic/beats@3924ac062523
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config, go-mod-tidy

chore: Update to elastic/beats@ac740598b1e8
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config, go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.elastic-package-0.98.0.pkg
  bin/.gcloud-464.0.0.pkg
  bin/.gh-2.44.1.pkg
  bin/.golangci-lint-1.56.2.pkg
  bin/.kind-0.22.0.pkg
  bin/.pre-commit-3.6.2.pkg
  bin/.yq-4.41.1.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/kind
  bin/pre-commit
  bin/yq
Due: mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update to elastic/beats@3924ac062523 (#1961)
  cloudbeat.reference.yml
  go.mod
  go.sum
Due: mage-config, go-mod-tidy

Bump hermit cloudbeat version (#1955)
  bin/hermit.hcl
Due: none

Fix rule 4.1.2 Ensure no Azure SQL Databases allow ingress from 0.0.0.0/0 (ANY IP)
  internal/resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  internal/resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_sql_provider_api.go
  internal/resources/providers/azurelib/inventory/sql_server_provider.go
  internal/resources/providers/azurelib/mock_provider_api.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_2/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add provider testcase uning azure fake
  internal/resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  internal/resources/providers/azurelib/inventory/sql_server_provider.go
  internal/resources/providers/azurelib/inventory/sql_server_provider_test.go
Due: mage-license-headers, go-test

fixes
  internal/resources/providers/azurelib/inventory/sql_server_provider.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_2/rule.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Fix rule CIS Azure rule 4.1.2 (#1959)
  internal/resources/fetching/fetchers/azure/assets_enricher_sql_server.go
  internal/resources/fetching/fetchers/azure/assets_enricher_sql_server_test.go
  internal/resources/fetching/fetchers/azure/assets_fetcher_test.go
  internal/resources/providers/azurelib/inventory/asset.go
  internal/resources/providers/azurelib/inventory/mock_sql_provider_api.go
  internal/resources/providers/azurelib/inventory/sql_server_provider.go
  internal/resources/providers/azurelib/inventory/sql_server_provider_test.go
  internal/resources/providers/azurelib/mock_provider_api.go
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_1_2/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update eks workflow and cloudbeat launcher
  .github/workflows/eks-ci.yml
  tests/test_environments/k8s-cloudbeat-tests/templates/cloudbeat-eks-pytest.yaml
Due: none

[Release] update version
  version/version.go
Due: mage-license-headers, go-test

change case identifiers
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
Due: none

fix 5.1.4 and add integration test
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_5_1_4/test.rego
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add rules.md
  security-policies/RULES.md
Due: none

fix line length
  tests/product/tests/data/azure/azure_storage_account_test_cases.py
Due: none

add role definition to Azure ARM template
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: none

debug failure reflection on CI
  tests/configuration.py
  tests/test_environments/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Due: none

Update tests/test_environments/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
  tests/test_environments/k8s-cloudbeat-tests/templates/tests/cloudbeat-test-pod.yml
Due: none

revert eks agent timeout
  tests/configuration.py
Due: none

remove pull_request event and enable post-merge
  .github/workflows/eks-ci.yml
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
