Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Remove trailing space
  .github/actions/stack-asset-inventory-dependency/action.yml
Due: none

Revert "Remove trailing space"
  .github/actions/stack-asset-inventory-dependency/action.yml
Due: none

Revert "Refactor to action"
  .github/actions/stack-asset-inventory-dependency/action.yml
  .github/workflows/ci.yml
  .github/workflows/test-environment.yml
Due: none

Stack version pull to env
  .github/workflows/ci.yml
Due: none

Fix GCP Labeling in test environment workflow (#2648)
  .github/workflows/test-environment.yml
Due: none

fix gh artifacts upload
  .github/actions/docker-images/action.yml
  .github/actions/k8s-ci/action.yml
  .github/workflows/ci.yml
Due: none

ec2: include full instance id in findings fields
  internal/resources/providers/awslib/ec2/ec2_instance.go
Due: golangci-lint, mage-license-headers, go-test

add test cases
  internal/inventory/gcpfetcher/fetcher_assets.go
  tests/product/tests/data/gcp_asset_inventory/test_cases.py
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

extend Asset Inventory's related.entity field
  internal/inventory/asset.go
  internal/inventory/inventory.go
Due: golangci-lint, mage-license-headers, go-test

Disable deployment of Asset Inventory for versions below 8.16 (#2642)
  .github/workflows/ci.yml
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
Due: none

azure: add integration tests cases (#2649)
  internal/inventory/gcpfetcher/fetcher_assets.go
  tests/product/tests/data/gcp_asset_inventory/test_cases.py
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

implement example flow for GCP Compute Instances
  internal/inventory/asset.go
  internal/inventory/gcpfetcher/fetcher_assets.go
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@00d7161a1d70
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@249d0dc59f82
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.19.1.pkg
  bin/.gcloud-499.0.0.pkg
  bin/.gh-2.60.1.pkg
  bin/.opa-0.70.0.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/opa
Due: none

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

ci: switch container registry to ECR for trivy
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test

[CI] Avoid Trivy DB image pull quota issues (#2667)
  internal/vulnerability/runner.go
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][Azure] Add storage assets (#2576)
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_account.go
  internal/inventory/azurefetcher/fetcher_account_test.go
  internal/inventory/azurefetcher/fetcher_storage.go
  internal/inventory/azurefetcher/fetcher_storage_test.go
  internal/inventory/azurefetcher/mock_account_provider.go
  internal/inventory/azurefetcher/mock_account_provider_func.go
  internal/inventory/azurefetcher/mock_storage_provider.go
  internal/inventory/azurefetcher/mock_storage_provider_func.go
  internal/resources/providers/azurelib/inventory/mock_storage_account_provider_api.go
  internal/resources/providers/azurelib/inventory/storage_provider.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/providers/azurelib/mock_provider_api.go
  tests/product/tests/data/azure_asset_inventory/test_cases.py
Due: golangci-lint, mage-license-headers, go-test, update-rules-status

update assets md
  internal/inventory/ASSETS.md
Due: none

fix race condition issue in testing
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
Due: golangci-lint, mage-license-headers, go-test

make related asset behavior consistent
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
Due: golangci-lint, mage-license-headers, go-test

add strategy tests
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

fix AWS case
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

pass SHORT clause
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

add missing headers
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

set GCP variables
  internal/flavors/assetinventory/strategy_test.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] Update golang mod dependencies (#2566)
  go.mod
  go.sum
Due: go-mod-tidy

Fix breaking change
  internal/resources/providers/awslib/cached_region_selector.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] Update to elastic/beats@249d0dc59f82 (#2597)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update hermit and pre-commit dependencies (#2643)
  .pre-commit-config.yaml
  bin/.awscli-2.19.1.pkg
  bin/.gcloud-499.0.0.pkg
  bin/.gh-2.60.1.pkg
  bin/.opa-0.70.0.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/opa
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
