Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

space
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

ORG_ID
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

fix: add organization-level IAM permissions for GCP deployments (#3930)
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy.sh
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
Due: none

update version - release
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

update version - release 9.3.0 (#3934)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

org
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
Due: none

setup
  deploy/infrastructure-manager/gcp-cloud-connectors/README.md
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/setup.sh
Due: none

feat: add org-level IAM setup and use ORG_ID in GCP cloud connectors (#3936)
  deploy/infrastructure-manager/gcp-cloud-connectors/README.md
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/setup.sh
Due: none

fix lint
  internal/infra/clog/clog.go
  internal/infra/clog/clog_test.go
  internal/resources/providers/aws_cis/logging/provider.go
Due: golangci-lint, mage-license-headers, go-test

check fix
  .buildkite/scripts/package.sh
Due: none

bump versions
  .buildkite/scripts/package.sh
  go.mod
  go.sum
Due: go-mod-tidy

fix setuptools (#3938)
  go.mod
  go.sum
Due: go-mod-tidy

fix merge conflicts
  go.mod
  go.sum
Due: go-mod-tidy

add additional libs
  go.sum
Due: go-mod-tidy

fix build issues
  go.mod
  go.sum
Due: go-mod-tidy

Comment steps for debug and update upload-artifact to 4.4.0 version
  .github/actions/docker-images/action.yml
  .github/workflows/ci.yml
Due: none

bump libbeat and update code
  go.mod
  go.sum
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/client.go
  internal/flavors/vulnerability.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/resources/fetching/fetchers/k8s/kube_fetcher.go
  internal/resources/providers/awslib/config.go
  internal/vulnerability/worker.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

fix project metadata request
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

fixes
  .buildkite/scripts/package.sh
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
Due: golangci-lint, mage-license-headers, go-test

remove cache clear
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
Due: golangci-lint, mage-license-headers, go-test

fix conflicts
  go.mod
Due: go-mod-tidy

fix project metadata request (#3893)
  go.mod
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

chore: Update version.asciidoc with Golang version 1.26.0
  docs/version.asciidoc
Due: none

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.26.0
  bin/.go-1.26.0.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test
