Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

chore: Update version.asciidoc with Golang version 1.25.5
  docs/version.asciidoc
Due: none

chore: Update Go
  .go-version
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit with Golang version 1.25.5
  bin/.go-1.25.5.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.7.10.pkg
  bin/.awscli-2.32.26.pkg
  bin/.elastic-package-0.118.0.pkg
  bin/.gcloud-550.0.0.pkg
  bin/.gh-2.83.2.pkg
  bin/.golangci-lint-2.7.2.pkg
  bin/.just-1.45.0.pkg
  bin/.kind-0.31.0.pkg
  bin/.opa-1.12.1.pkg
  bin/.pre-commit-4.5.1.pkg
  bin/.regal-0.37.0.pkg
  bin/.yq-4.50.1.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/golangci-lint
  bin/gsutil
  bin/just
  bin/kind
  bin/opa
  bin/pre-commit
  bin/regal
  bin/yq
Due: golangci-lint, mage-license-headers, go-test

chore: Update to elastic/beats@ff9d3fa7c5bd
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@95b86b20bf09
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@20cc1af8bb2c
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@0286d5985e53
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@14c60f0c5f91
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

deprecate
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

global aud
  internal/config/config.go
  internal/resources/providers/gcplib/gcplib_config.go
Due: golangci-lint, mage-license-headers, go-test

Fix formatting in cluster-fargate.yml
  deploy/eks/cluster-fargate.yml
Due: none

Fix formatting in cluster-fargate.yml (#3831)
  deploy/eks/cluster-fargate.yml
Due: none

drop chain
  internal/config/config.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/gcplib_config.go
  internal/resources/providers/gcplib/service_account_chaining.go
Due: golangci-lint, mage-license-headers, go-test

fmt
  internal/config/config.go
Due: golangci-lint, mage-license-headers, go-test

mocks
  internal/resources/providers/gcplib/auth/credentials_mock.go
Due: golangci-lint, mage-license-headers, go-test

test
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials.go
Due: golangci-lint, mage-license-headers, go-test

links
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
Due: none

remove key
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/variables.tf
Due: none

Authenticate with remote GCP ServiceAccount for Cloud Connectors (#3818)
  go.mod
  go.sum
  internal/config/config.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

vars
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
Due: none

naming
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
Due: none

naming
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
Due: none

credentials_json
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/deploy_service_account.sh
  deploy/infrastructure-manager/gcp-credentials-json/main.tf
  deploy/infrastructure-manager/gcp-credentials-json/outputs.tf
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-credentials-json/variables.tf
Due: none

GCP Infrastructure manager terraform for elastic-agent (#3776)
  deploy/infrastructure-manager/gcp-elastic-agent/README.md
  deploy/infrastructure-manager/gcp-elastic-agent/deploy.sh
  deploy/infrastructure-manager/gcp-elastic-agent/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/compute_instance/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/service_account/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/main.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/validate_startup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/modules/startup_validation/variables.tf
  deploy/infrastructure-manager/gcp-elastic-agent/outputs.tf
  deploy/infrastructure-manager/gcp-elastic-agent/setup.sh
  deploy/infrastructure-manager/gcp-elastic-agent/variables.tf
Due: none

shfmt
  deploy/infrastructure-manager/gcp-credentials-json/deploy_service_account.sh
Due: none

eof
  deploy/infrastructure-manager/gcp-credentials-json/README.md
  deploy/infrastructure-manager/gcp-credentials-json/setup.sh
  deploy/infrastructure-manager/gcp-credentials-json/variables.tf
Due: none

init
  deploy/infrastructure-manager/gcp-cloud-connectors/README.md
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/target_service_account/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/target_service_account/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/target_service_account/variables.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/variables.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/setup.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/variables.tf
Due: none

fmt
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/variables.tf
Due: none

aws provider
  deploy/infrastructure-manager/gcp-cloud-connectors/README.md
  deploy/infrastructure-manager/gcp-cloud-connectors/deploy.sh
  deploy/infrastructure-manager/gcp-cloud-connectors/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/target_service_account/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/target_service_account/variables.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/main.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/outputs.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/modules/workload_identity/variables.tf
  deploy/infrastructure-manager/gcp-cloud-connectors/variables.tf
Due: none

change trust
  internal/config/config.go
  internal/resources/providers/gcplib/auth/auth_provider.go
  internal/resources/providers/gcplib/auth/credentials.go
  internal/resources/providers/gcplib/auth/credentials_mock.go
  internal/resources/providers/gcplib/auth/credentials_test.go
Due: golangci-lint, mage-license-headers, go-test

lint
  internal/resources/providers/gcplib/auth/auth_provider.go
Due: golangci-lint, mage-license-headers, go-test

report existing resources
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/fetcher_sns.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
