Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Add a wrapper allowing safe evidence collection (#1827)
  security-policies/bundle/compliance/lib/common/common.rego
  security-policies/bundle/compliance/lib/common/test.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

IT tests for MySQL (4.4.2)
  security-policies/RULES.md
  tests/product/tests/data/azure/azure_database_service_test_cases.py
Due: none

IT tests for PostegreSQL (4.3.2, 4.3.3, 4.3.4, 4.3.5, 4.3.6, 4.3.7, 4.3.8)
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/rule.rego
  tests/product/tests/data/azure/azure_database_service_test_cases.py
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add tests to validate bugfix
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

IT tests for SQL servers Cloud Defender (4.2.1)
  security-policies/RULES.md
  tests/product/tests/data/azure/azure_database_service_test_cases.py
Due: none

IT tests for SQL servers (4.1.1, 4.1.3, 4.1.5, 4.1.6)
  security-policies/RULES.md
  tests/product/tests/data/azure/azure_database_service_test_cases.py
Due: none

CSI IT Database Rules (#1886)
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_5/test.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_4_3_6/rule.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  tests/product/tests/data/azure/azure_database_service_test_cases.py
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update rule status
  security-policies/RULES.md
Due: none

2.1.18 Ensure That 'All users with the following roles' is set to 'Owner'
  flavors/benchmark/azure_test.go
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/security_fetcher.go
  resources/fetching/fetchers/azure/security_fetcher_test.go
  resources/fetching/preset/azure_preset.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/keyvault_provider.go
  resources/providers/azurelib/inventory/mock_security_contacts_client.go
  resources/providers/azurelib/inventory/mock_security_contacts_provider_api.go
  resources/providers/azurelib/inventory/security_provider.go
  resources/providers/azurelib/inventory/security_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  resources/utils/maps/maps.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fixes
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/providers/azurelib/inventory/asset.go
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/rule.rego
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

update script path
  .github/workflows/gcp-ci.yml
Due: none

update azure ci and revert event
  .github/workflows/azure-ci.yml
  .github/workflows/gcp-ci.yml
Due: none

[CIS Azure] 2.1.18 (#1883)
  flavors/benchmark/azure_test.go
  go.mod
  go.sum
  resources/fetching/fetcher.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine.go
  resources/fetching/fetchers/azure/assets_enrincher_virtual_machine_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/security_fetcher.go
  resources/fetching/fetchers/azure/security_fetcher_test.go
  resources/fetching/preset/azure_preset.go
  resources/providers/azurelib/inventory/asset.go
  resources/providers/azurelib/inventory/keyvault_provider.go
  resources/providers/azurelib/inventory/mock_security_contacts_client.go
  resources/providers/azurelib/inventory/mock_security_contacts_provider_api.go
  resources/providers/azurelib/inventory/security_provider.go
  resources/providers/azurelib/inventory/security_provider_test.go
  resources/providers/azurelib/mock_provider_api.go
  resources/providers/azurelib/provider.go
  resources/utils/maps/maps.go
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_2_1_18/test.rego
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/policy/azure/data_adapter.rego
Due: mage-license-headers, go-test, go-mod-tidy, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add kind cluster and init file system tests
  .pre-commit-config.yaml
  deploy/k8s/kind/kind-test-files.yml
  tests/product/tests/data/k8s/__init__.py
  tests/product/tests/data/k8s/fs_test_cases.py
  tests/product/tests/data/k8s_test_case.py
  tests/product/tests/test_k8s_file_system_rules.py
  tests/pyproject.toml
  tests/test_environments/k8s-cloudbeat-tests/templates/_k8s-file-permission-job.yaml
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

Fix CIS Azure 9.4 rule (#1887)
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_9_4/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_9_4/test.rego
  tests/product/tests/data/azure/azure_app_service_test_cases.py
Due: mage-license-headers, go-test, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

add all file system tests
  .pre-commit-config.yaml
  security-policies/RULES.md
  tests/product/tests/data/k8s/fs_test_cases.py
  tests/test_environments/k8s-cloudbeat-tests/templates/_k8s-file-permission-job.yaml
Due: none

fix whitespace
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

add bump version workflow
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

shellcheck fix
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

add log context
  flavors/publisher.go
Due: mage-license-headers, go-test

tests
  flavors/publisher_test.go
  resources/utils/testhelper/helper.go
Due: mage-license-headers, go-test

Update azure-ci.yml
  .github/workflows/azure-ci.yml
Due: none

add workflow for version bumps (#1682)
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
  scripts/bump_integration.sh
Due: none

enable pre-commit
  .pre-commit-config.yaml
Due: none

update rules
  security-policies/RULES.md
Due: none

GCP CI - flaky tests fix (#1573)
  .ci/scripts/disable_dynamic_mapping.sh
  .github/workflows/azure-ci.yml
  .github/workflows/gcp-ci.yml
  tests/integration/tests/test_sanity_checks.py
Due: none

move pipeline to internal
  flavors/benchmark/builder/benchmark.go
  internal/pipeline/pipeline.go
  internal/pipeline/pipeline_test.go
Due: mage-license-headers, go-test

move processor to internal
  flavors/flavors.go
  flavors/posture.go
  internal/processor/add_cluster_id/add_cluster_id.go
  internal/processor/add_cluster_id/add_cluster_id_test.go
  internal/processor/add_cluster_id/cluster_helper.go
  internal/processor/add_cluster_id/cluster_helper_test.go
  internal/processor/add_cluster_id/config.go
  internal/processor/add_cluster_id/errors.go
  internal/processor/add_cluster_id/mock_cluster_helper.go
  internal/processor/processors.go
Due: mage-license-headers, go-test

move beater to internal
  cmd/root.go
  internal/beater/beater.go
  internal/beater/validator.go
  internal/beater/validator_test.go
Due: mage-license-headers, go-test

move launcher to internal
  internal/beater/beater.go
  internal/config/config.go
  internal/launcher/errors.go
  internal/launcher/errors_test.go
  internal/launcher/launcher.go
  internal/launcher/launcher_test.go
  internal/launcher/listener.go
  internal/launcher/listener_test.go
  internal/launcher/mock_reloader.go
  internal/launcher/mock_validator.go
Due: mage-license-headers, go-test

move transformer to internal
  flavors/benchmark/builder/builder.go
  internal/transformer/events_creator.go
  internal/transformer/events_creator_test.go
  internal/transformer/opa_results.json
  internal/transformer/transformer.go
  vulnerability/events_creator.go
Due: mage-license-headers, go-test

move uniqueness to internal
  flavors/benchmark/builder/builder_test.go
  flavors/benchmark/builder/k8s.go
  flavors/benchmark/builder/k8s_test.go
  flavors/benchmark/eks.go
  flavors/benchmark/k8s.go
  internal/resources/fetching/condition/is_leader.go
  internal/resources/fetching/preset/eks_preset.go
  internal/resources/fetching/preset/k8s_preset.go
  internal/uniqueness/default_manager.go
  internal/uniqueness/leaderelection.go
  internal/uniqueness/leaderelection_const.go
  internal/uniqueness/leaderelection_test.go
  internal/uniqueness/mock_manager.go
Due: mage-license-headers, go-test

move include to internal
  internal/include/fields.go
  internal/include/include.go
  main.go
Due: mage-license-headers, go-test

move evaluator to internal
  flavors/benchmark/builder/benchmark.go
  flavors/benchmark/builder/benchmark_test.go
  flavors/benchmark/builder/builder.go
  flavors/benchmark/builder/k8s_test.go
  flavors/benchmark/builder/mock_evaluator.go
  flavors/benchmark/builder/mock_transformer.go
  internal/evaluator/debug_logger/factory.go
  internal/evaluator/debug_logger/factory_test.go
  internal/evaluator/debug_logger/plugin.go
  internal/evaluator/evaluator.go
  internal/evaluator/logger.go
  internal/evaluator/logger_test.go
  internal/evaluator/opa.go
  internal/evaluator/opa_test.go
  transformer/events_creator.go
  transformer/events_creator_test.go
Due: mage-license-headers, go-test

fix opa_test.go bundle path
  internal/evaluator/opa_test.go
Due: mage-license-headers, go-test

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
