Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

Add log with test name to not completely loose track
  flavors/publisher_test.go
Due: mage-license-headers

mv commonlib
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
  tests/commonlib/agents_map.py
  tests/conftest.py
  tests/integration/tests/test_sanity_checks.py
Due: none

agentless cfg
  tests/commonlib/agents_map.py
  tests/configuration.py
Due: none

fix linter
  flavors/publisher_test.go
Due: mage-license-headers

add input param
  .github/workflows/upgrade-environment.yml
  dev-docs/Cloud-Env-Upgrade.md
Due: none

precommit
  tests/commonlib/agents_map.py
  tests/integration/tests/test_sanity_checks.py
Due: none

update picture links in doc
  dev-docs/Cloud-Env-Upgrade.md
Due: none

Azure: Fix wrong usage of subscription ID (#1662)
  .golangci.yaml
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  resources/fetching/fetchers/azure/assets_fetcher.go
  resources/fetching/fetchers/azure/assets_fetcher_test.go
  resources/fetching/fetchers/azure/batch_fetcher.go
  resources/fetching/fetchers/azure/batch_fetcher_test.go
  resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
  resources/providers/azurelib/governance/management_group.go
  resources/providers/azurelib/governance/management_group_test.go
Due: mage-license-headers

fix linter
  security-policies/.regal/config.yaml
  security-policies/bundle/compliance/main.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

fix conflict
  resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
Due: mage-license-headers

[updatecli] Update hermit and pre-commit dependencies (#1648)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.14.pkg
  bin/.elastic-package-0.95.0.pkg
  bin/.gcloud-457.0.0.pkg
  bin/.gh-2.40.1.pkg
  bin/.jq-1.7.1.pkg
  bin/.pre-commit-3.6.0.pkg
  bin/.regal-0.14.0.pkg
  bin/.yq-4.40.5.pkg
  bin/aws-iam-authenticator
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/jq
  bin/pre-commit
  bin/regal
  bin/yq
  security-policies/.regal/config.yaml
  security-policies/bundle/compliance/main.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

wait for components
  tests/commonlib/agents_map.py
  tests/integration/tests/test_sanity_checks.py
Due: none

fix conflict
  go.mod
  go.sum
Due: none

add rerun workflow
  .github/workflows/rerun-flaky-workflows.yml
Due: none

120
  tests/integration/tests/test_sanity_checks.py
Due: none

180
  tests/integration/tests/test_sanity_checks.py
Due: none

updatecli: Update go mod dependencies
  .ci/updatecli/scripts/update-mods.sh
  .ci/updatecli/updatecli.d/update-mods.yml
  .github/workflows/updatecli.yml
Due: none

go test ./...
  .ci/updatecli/scripts/update-mods.sh
Due: none

Add Azure CIS 6.2
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_2/test.rego
  security-policies/bundle/compliance/policy/azure/virtual_machine/network_rules.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add relevant comment about definition of port range
  security-policies/bundle/compliance/policy/azure/virtual_machine/network_rules.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Add Azure CIS 6.2 (#1659)
  security-policies/README.md
  security-policies/RULES.md
  security-policies/bundle/compliance/cis_azure/rules/cis_6_2/data.yaml
  security-policies/bundle/compliance/cis_azure/rules/cis_6_2/rule.rego
  security-policies/bundle/compliance/cis_azure/rules/cis_6_2/test.rego
  security-policies/bundle/compliance/policy/azure/virtual_machine/network_rules.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

pre-commit: black: auto-reformat
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Azure: Deploy using dev script
  .pre-commit-config.yaml
  deploy/azure/.gitignore
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/README.md
  deploy/azure/generate_dev_template.py
  deploy/azure/install-agent-dev.sh
  justfile
Due: none

remove line length arg
  .golangci.yaml
Due: mage-license-headers

lint
  tests/integration/tests/test_sanity_checks.py
Due: none

typo
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
Due: none

comment
  tests/integration/tests/test_sanity_checks.py
Due: none

updatecli: Update go mod dependencies (#1686)
  .ci/updatecli/scripts/update-mods.sh
  .ci/updatecli/updatecli.d/update-mods.yml
  .github/workflows/updatecli.yml
Due: none

chore: Update to elastic/beats@66eb91939eb0
  go.mod
  go.sum
Due: none

chore: Update to elastic/beats@8fe2f53bf161
  go.mod
  go.sum
Due: none

update slack action and add documentation
  .github/actions/slack-notification/README.md
  .github/actions/slack-notification/action.yml
  .github/actions/slack-notification/slack_payload.py
Due: none

conditional install agentless
  .github/workflows/test-environment.yml
Due: none

updatecli: Run cron job earlier
  .github/workflows/updatecli.yml
Due: none

comment cron syntax
  .github/workflows/updatecli.yml
Due: none

updatecli: Run cron job earlier (#1694)
  .github/workflows/updatecli.yml
Due: none

fix condition
  .github/workflows/test-environment.yml
Due: none

Update .github/actions/slack-notification/slack_payload.py
  .github/actions/slack-notification/slack_payload.py
Due: none

Add agentless CSPM AWS findings assertion in serverless mode (#1664)
  .github/workflows/test-environment.yml
  .github/workflows/upgrade-environment.yml
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  deploy/test-environments/fleet_api/src/install_agentless_integrations.py
  tests/commonlib/agents_map.py
  tests/configuration.py
  tests/conftest.py
  tests/integration/tests/test_sanity_checks.py
  tests/poetry.lock
Due: none

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
