Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

chore: Update hermit with Golang version 1.23.3
  bin/.go-1.23.3.pkg
  bin/go
  bin/gofmt
Due: golangci-lint, mage-license-headers, go-test

chore: Update version.asciidoc with Golang version 1.23.3
  docs/version.asciidoc
Due: none

chore: Update to elastic/beats@41aa15156190
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@dd6212261c57
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@6be1c24f4fd5
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.awscli-2.19.3.pkg
  bin/.gcloud-500.0.0.pkg
  bin/.gh-2.61.0.pkg
  bin/aws
  bin/aws_completer
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
Due: none

Improve naming to identify branches
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .ci/updatecli/updatecli.d/update-mods.yml
  .github/workflows/updatecli.yml
Due: golangci-lint, mage-license-headers, go-test

chore: Update golang mod dependencies
  go.mod
  go.sum
Due: go-mod-tidy

update fleet api
  tests/fleet_api/common_api.py
  tests/fleet_api/package_policy_api.py
  tests/integrations_setup/install_azure_asset_inventory_integration.py
Due: none

update wf
  .github/workflows/test-environment.yml
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

fix cis action and wf
  .github/actions/cis/action.yml
  .github/workflows/test-environment.yml
Due: none

update cis action
  .github/actions/cis/action.yml
  .github/workflows/test-environment.yml
Due: none

chore: Update to elastic/beats@bfaa70fa9ae8
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  bin/.awscli-2.19.4.pkg
  bin/.golangci-lint-1.62.0.pkg
  bin/.kind-0.25.0.pkg
  bin/aws
  bin/aws_completer
  bin/golangci-lint
  bin/kind
Due: golangci-lint, mage-license-headers, go-test

[updatecli] 8.x - Update golang mod dependencies (#2700)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] Update golang mod dependencies (#2701)
  go.mod
  go.sum
Due: go-mod-tidy

Remove context.TODO from production code
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/vulnerability.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/fetching/preset/aws_preset.go
  internal/resources/fetching/preset/eks_preset.go
  internal/resources/fetching/preset/mock_aws_factory.go
  internal/resources/providers/aws_cis/logging/logging.go
  internal/resources/providers/aws_cis/monitoring/monitoring.go
  internal/resources/providers/awslib/cloudtrail/cloudtrail.go
  internal/resources/providers/awslib/cloudwatch/cloudwatch.go
  internal/resources/providers/awslib/cloudwatch/logs/logs.go
  internal/resources/providers/awslib/configservice/configservice.go
  internal/resources/providers/awslib/ec2/ec2.go
  internal/resources/providers/awslib/ecr/ecr.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/iam/iam.go
  internal/resources/providers/awslib/kms/kms.go
  internal/resources/providers/awslib/lambda/lambda.go
  internal/resources/providers/awslib/mock_cross_region_factory.go
  internal/resources/providers/awslib/multi_region.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/s3/provider.go
  internal/resources/providers/awslib/securityhub/provider.go
  internal/resources/providers/awslib/sns/sns.go
  internal/vulnerability/runner.go
  internal/vulnerability/runner_test.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

Remove context.TODO from production code (#2707)
  internal/flavors/assetinventory/strategy_aws.go
  internal/flavors/benchmark/aws.go
  internal/flavors/benchmark/aws_org.go
  internal/flavors/benchmark/eks.go
  internal/flavors/vulnerability.go
  internal/inventory/awsfetcher/awsfetchers.go
  internal/resources/fetching/preset/aws_org_preset.go
  internal/resources/fetching/preset/aws_org_preset_test.go
  internal/resources/fetching/preset/aws_preset.go
  internal/resources/fetching/preset/eks_preset.go
  internal/resources/fetching/preset/mock_aws_factory.go
  internal/resources/providers/aws_cis/logging/logging.go
  internal/resources/providers/aws_cis/monitoring/monitoring.go
  internal/resources/providers/awslib/cloudtrail/cloudtrail.go
  internal/resources/providers/awslib/cloudwatch/cloudwatch.go
  internal/resources/providers/awslib/cloudwatch/logs/logs.go
  internal/resources/providers/awslib/configservice/configservice.go
  internal/resources/providers/awslib/ec2/ec2.go
  internal/resources/providers/awslib/ecr/ecr.go
  internal/resources/providers/awslib/elb/elb.go
  internal/resources/providers/awslib/elb_v2/elb_v2.go
  internal/resources/providers/awslib/iam/iam.go
  internal/resources/providers/awslib/kms/kms.go
  internal/resources/providers/awslib/lambda/lambda.go
  internal/resources/providers/awslib/mock_cross_region_factory.go
  internal/resources/providers/awslib/multi_region.go
  internal/resources/providers/awslib/multi_region_test.go
  internal/resources/providers/awslib/rds/provider.go
  internal/resources/providers/awslib/s3/provider.go
  internal/resources/providers/awslib/securityhub/provider.go
  internal/resources/providers/awslib/sns/sns.go
  internal/vulnerability/runner.go
  internal/vulnerability/runner_test.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

[updatecli] Update to elastic/beats@bfaa70fa9ae8 (#2704)
  go.mod
  go.sum
Due: go-mod-tidy

Fix lint errors
  .golangci.yaml
  internal/flavors/benchmark/aws_org_test.go
  internal/flavors/benchmark/aws_test.go
  internal/flavors/benchmark/azure.go
  internal/flavors/benchmark/azure_test.go
  internal/flavors/benchmark/eks_test.go
  internal/flavors/benchmark/gcp_test.go
  internal/flavors/benchmark/k8s_test.go
  internal/launcher/launcher_test.go
  internal/resources/fetching/fetchers/azure/assets_enricher_keyvault_test.go
  internal/resources/fetching/fetchers/azure/assets_enricher_storage_account_test.go
  internal/resources/fetching/fetchers/azure/insights_batch_fetcher_test.go
  internal/resources/fetching/fetchers/azure/locations_network_watcher_batch_fetcher_test.go
  internal/resources/fetching/fetchers/azure/security_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/process_fetcher_test.go
  internal/resources/providers/awslib/kms/provider_test.go
  internal/resources/providers/awslib/s3/provider_test.go
  internal/resources/providers/azurelib/inventory/app_service_provider_test.go
  internal/resources/providers/azurelib/inventory/keyvault_provider_test.go
  internal/resources/providers/azurelib/inventory/resource_graph_provider_test.go
  internal/resources/providers/azurelib/inventory/security_provider_test.go
  internal/resources/providers/azurelib/inventory/sql_server_provider_test.go
  internal/resources/providers/azurelib/inventory/storage_provider_test.go
  internal/resources/utils/strings/strings_test.go
  internal/transformer/events_creator_test.go
Due: golangci-lint, mage-license-headers, go-test

Override github.com/xi2/xz license
  .buildkite/scripts/generate_notice.py
  NOTICE.txt
Due: none

Set the license to Unlicense
  .buildkite/scripts/generate_notice.py
  NOTICE.txt
Due: none

Fix notice lint
  NOTICE.txt
Due: none

Override github.com/xi2/xz license (#2711)
  .buildkite/scripts/generate_notice.py
  NOTICE.txt
Due: none

bump version 8160
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

[Release] Update version to 8.16.0 (#2713)
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

update workflow
  .github/workflows/test-environment.yml
Due: none

fix lint issues
  .github/actions/cis/action.yml
Due: none

Improve 8.x Dependency Updates (#2691)
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .ci/updatecli/updatecli.d/update-mods.yml
  .github/dependabot.yml
  .github/workflows/updatecli.yml
Due: golangci-lint, mage-license-headers, go-test

[Asset Inventory][Azure] Add Acitive Directory fetcher to fetch Service Principals (#2625)
  go.mod
  go.sum
  internal/flavors/assetinventory/strategy.go
  internal/flavors/assetinventory/strategy_test.go
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/azurefetcher/azurefetchers.go
  internal/inventory/azurefetcher/fetcher_activedirectory.go
  internal/inventory/azurefetcher/fetcher_activedirectory_test.go
  internal/inventory/azurefetcher/mock_activedirectory_provider.go
  internal/resources/providers/msgraph/mock_provider_api.go
  internal/resources/providers/msgraph/provider.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy
