Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain, mage-config, mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Path conditions:
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)

Fixing lint bash
  deploy/test-environments/delete_env.sh
Due: none

[Release] update version
  version/version.go
Due: mage-license-headers

updatecli: Re-structure pipelines, add hermit (#1503)
  .ci/updatecli/scripts/hermit-bump-go.sh
  .ci/updatecli/scripts/update-beats.sh
  .ci/updatecli/scripts/update-hermit.sh
  .ci/updatecli/updatecli.d/update-beats.yml
  .ci/updatecli/updatecli.d/update-golang.yml
  .ci/updatecli/updatecli.d/update-hermit.yml
  .github/workflows/update-beats.yml
  .github/workflows/updatecli.yml
  bin/goimports
  scripts/make/check_goimports.sh
  scripts/make/goimports.sh
  tools/tools.go
Due: mage-license-headers

chore: Update hermit packages
  bin/.aws-iam-authenticator-0.6.11.pkg
  bin/.awscli-2.13.26.pkg
  bin/.elastic-package-0.91.2.pkg
  bin/.gh-2.38.0.pkg
  bin/.golangci-lint-1.55.2.pkg
  bin/.jq-1.7.pkg
  bin/.kind-0.20.0.pkg
  bin/.opa-0.58.0.pkg
  bin/.regal-0.12.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/elastic-package
  bin/gh
  bin/golangci-lint
  bin/jq
  bin/kind
  bin/opa
  bin/regal
Due: mage-license-headers

chore: Update hermit with Golang version 1.20.11
  bin/.go-1.20.11.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers

chore: Update version.asciidoc with Golang version 1.20.11
  docs/version.asciidoc
Due: none

chore: Update .go-version with Golang version 1.20.11
  .go-version
Due: mage-license-headers

chore: Update to elastic/beats@9b932c47cec8
  go.mod
  go.sum
Due: none

Fix regal
  .pre-commit-config.yaml
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/cis_eks/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

[updatecli] Update to elastic/beats@9b932c47cec8 (#1543)
  go.mod
  go.sum
Due: none

Updatecli: Update pre-commit as well
  .ci/updatecli/scripts/update-hermit.sh
  .ci/updatecli/updatecli.d/update-hermit.yml
Due: none

Updatecli: Update pre-commit as well (#1544)
  .ci/updatecli/scripts/update-hermit.sh
  .ci/updatecli/updatecli.d/update-hermit.yml
Due: none

chore: Update to elastic/beats@9f93f932e9ae
  go.mod
  go.sum
Due: none

[Release] Update version to 8.11.2 (#1539)
  version/version.go
Due: mage-license-headers

[updatecli] Update hermit dependencies (#1541)
  .pre-commit-config.yaml
  bin/.aws-iam-authenticator-0.6.11.pkg
  bin/.awscli-2.13.26.pkg
  bin/.elastic-package-0.91.2.pkg
  bin/.gh-2.38.0.pkg
  bin/.golangci-lint-1.55.2.pkg
  bin/.jq-1.7.pkg
  bin/.kind-0.20.0.pkg
  bin/.opa-0.58.0.pkg
  bin/.regal-0.12.0.pkg
  bin/aws
  bin/aws-iam-authenticator
  bin/aws_completer
  bin/elastic-package
  bin/gh
  bin/golangci-lint
  bin/jq
  bin/kind
  bin/opa
  bin/regal
  security-policies/bundle/compliance/cis_azure/test_data.rego
  security-policies/bundle/compliance/cis_eks/test_data.rego
Due: mage-license-headers, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

Implement Azure deployment and sanity checks (#1520)
  .github/workflows/destroy-environment.yml
  .github/workflows/test-environment.yml
  deploy/cloud/data/agent_policy_cspm_azure.json
  deploy/cloud/data/package_policy_cspm_azure.json
  deploy/test-environments/delete_env.sh
  deploy/test-environments/fleet_api/src/configuration_fleet.py
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
  tests/integration/tests/test_sanity_checks.py
Due: none

update sanity checks query
  tests/integration/tests/test_sanity_checks.py
Due: none

update azure integration
  deploy/test-environments/fleet_api/src/install_cspm_azure_integration.py
  tests/integration/tests/test_sanity_checks.py
Due: none

update test environment
  .github/workflows/test-environment.yml
Due: none

[updatecli] Update Golang version to 1.20.11 (#1542)
  .go-version
  bin/.go-1.20.11.pkg
  bin/go
  bin/gofmt
  docs/version.asciidoc
Due: mage-license-headers

update-hermit: Consider major versions as well
  .ci/updatecli/scripts/update-hermit.sh
Due: none

add version
  .github/workflows/test-environment.yml
Due: none

update-hermit: Consider major versions as well (#1549)
  .ci/updatecli/scripts/update-hermit.sh
Due: none

chore: Update to elastic/beats@921dedec8f7d
  go.mod
  go.sum
Due: none

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.elastic-package-0.92.0.pkg
  bin/.gcloud-454.0.0.pkg
  bin/.just-1.16.0.pkg
  bin/.pre-commit-3.5.0.pkg
  bin/.yq-4.35.2.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/pre-commit
  bin/yq
Due: none

set sanity checks to false for released version
  .github/workflows/upgrade-environment.yml
Due: none

[updatecli] Update Golang version to 1.20.11 (#1542)
  .go-version
  bin/.go-1.20.11.pkg
  docs/version.asciidoc
Due: mage-license-headers

Solve backport go version conflicts
  .go-version
  docs/version.asciidoc
Due: mage-license-headers

[updatecli] Update hermit and pre-commit dependencies (#1552)
  .pre-commit-config.yaml
  bin/.elastic-package-0.92.0.pkg
  bin/.gcloud-454.0.0.pkg
  bin/.just-1.16.0.pkg
  bin/.pre-commit-3.5.0.pkg
  bin/.yq-4.35.2.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/elastic-package
  bin/gcloud
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/pre-commit
  bin/yq
Due: none

Hermit uninstall go-1.20.4 and install go-1.20.11
  bin/.go-1.20.4.pkg
  bin/go
  bin/gofmt
Due: mage-license-headers

Add hermit configuration to dev docs
  dev-docs/Development.md
Due: none

Add hermit configuration to dev docs (#1554)
  dev-docs/Development.md
Due: none

add serverless submodule
  deploy/cloud/modules/serverless/main.tf
  deploy/cloud/modules/serverless/outputs.tf
  deploy/cloud/modules/serverless/terraform.tf
  deploy/cloud/modules/serverless/variables.tf
Due: none

added comment regarding the issue
  .github/workflows/upgrade-environment.yml
Due: none

Update go to 1.21
  .go-version
  bin/.go-1.21.4.pkg
  bin/go
  bin/gofmt
  deploy/cloudformation/config.go
  docs/version.asciidoc
  go.mod
  go.sum
  vulnerability/events_creator.go
Due: mage-license-headers

fix import
  vulnerability/events_creator.go
Due: mage-license-headers

add serverless bool to tf
  deploy/test-environments/main.tf
  deploy/test-environments/output.tf
  deploy/test-environments/variables.tf
Due: none

try pre-commit install
  .github/workflows/cloudbeat-ci.yml
Due: none

add serverless parameter to workflow
  .github/workflows/test-environment.yml
Due: none
