Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

add pull request to trigger wf
  .github/workflows/test-runner.yml
Due: none

update wf
  .github/workflows/test-e2e-flow.yml
Due: none

update format
  deploy/test-environments/modules/aws/eks/eks-cluster.tf
Due: none

update test runner matrix usage
  .github/workflows/test-runner.yml
Due: none

test runner wf - remove dependency
  .github/workflows/test-runner.yml
Due: none

update wfs
  .github/workflows/test-e2e-flow.yml
  .github/workflows/test-runner.yml
Due: none

update workflow
  .github/workflows/test-runner.yml
Due: none

remove job dependency
  .github/workflows/test-runner.yml
Due: none

enable reuse real wfs
  .github/workflows/test-e2e-flow.yml
  .github/workflows/test-runner.yml
Due: none

update docs
  dev-docs/Cloud-Env-Testing.md
Due: none

update docs [skip actions]
  dev-docs/Cloud-Env-Testing.md
Due: none

remove deprecated workflows [skip actions]
  .github/workflows/test-ech-agentless.yml
  .github/workflows/weekly-serverless.yml
Due: none

fix linter issue
  dev-docs/Cloud-Env-Testing.md
Due: none

github-actions: ubuntu-20.04 will be fully retired by April 1, 2025 (#2934)
  .github/workflows/ci.yml
  .github/workflows/cloudformation-ci.yml
  .github/workflows/destroy-environment.yml
  .github/workflows/eks-ci.yml
  .github/workflows/packaging.yml
  .github/workflows/publish-cloudformation.yml
  .github/workflows/test-environment.yml
  .github/workflows/unit-test.yml
  .github/workflows/upgrade-environment.yml
Due: none

cnvm: Delete old snapshots on startup (#3143)
  internal/resources/providers/awslib/ec2/ebs_snapshot.go
  internal/resources/providers/awslib/ec2/provider.go
  internal/vulnerability/mock_snapshot_creator_deleter.go
  internal/vulnerability/snapshot.go
  internal/vulnerability/snapshot_test.go
  internal/vulnerability/worker.go
  internal/vulnerability/worker_test.go
Due: golangci-lint, mage-license-headers, go-test

Update EKS cluster version (#3147)
  deploy/test-environments/modules/aws/eks/eks-cluster.tf
  deploy/test-environments/modules/aws/eks/oidc.tf
Due: none

bump golang.org/x/crypto to v0.36.0 (latest release)
  go.mod
  go.sum
Due: go-mod-tidy

[go] Bump golang.org/x/crypto to v0.36.0 (#3154)
  go.mod
  go.sum
Due: go-mod-tidy

Update to golangci-lint v2
  .golangci.yaml
  .pre-commit-config.yaml
  bin/.golangci-lint-2.0.2.pkg
  bin/golangci-lint
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/aws/kms_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/file_system_fetcher_test.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/uniqueness/leaderelection_test.go
  internal/vulnerability/worker_test.go
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

Revert cfn-python-lint
  .pre-commit-config.yaml
Due: none

remove old flag
  .github/workflows/ci-pull_request.yml
Due: none

Update to golangci-lint v2 (#3155)
  .github/workflows/ci-pull_request.yml
  .golangci.yaml
  .pre-commit-config.yaml
  bin/.golangci-lint-2.0.2.pkg
  bin/golangci-lint
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/resources/fetching/fetchers/aws/ecr_fetcher_test.go
  internal/resources/fetching/fetchers/aws/elb_fetcher_test.go
  internal/resources/fetching/fetchers/aws/kms_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/k8s/file_system_fetcher_test.go
  internal/resources/providers/awslib/elb_v2/provider_v2.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/uniqueness/leaderelection_test.go
  internal/vulnerability/worker_test.go
  magefile.go
Due: golangci-lint, mage-license-headers, go-test

make gcp provider work concurrently
  internal/flavors/benchmark/gcp_test.go
  internal/inventory/gcpfetcher/fetcher_assets.go
  internal/inventory/gcpfetcher/fetcher_assets_test.go
  internal/inventory/gcpfetcher/mock_inventory_provider.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/service_usage_fetcher.go
  internal/resources/fetching/preset/gcp_preset.go
  internal/resources/providers/gcplib/inventory/map_cache.go
  internal/resources/providers/gcplib/inventory/map_cache_test.go
  internal/resources/providers/gcplib/inventory/mock_service_api.go
  internal/resources/providers/gcplib/inventory/mock_type_generator.go
  internal/resources/providers/gcplib/inventory/provider.go
  internal/resources/providers/gcplib/inventory/provider_test.go
  internal/resources/providers/gcplib/inventory/resource_manager.go
  internal/resources/providers/gcplib/inventory/resource_manager_test.go
Due: golangci-lint, mage-license-headers, go-test

fix test
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

remove deployment-type
  .github/workflows/test-e2e-flow.yml
  .github/workflows/test-runner.yml
Due: none

fix tests
  internal/resources/fetching/fetchers/gcp/assets_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/log_sink_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/monitoring_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher_test.go
  internal/resources/fetching/fetchers/gcp/policies_fetcher_test.go
  internal/resources/providers/gcplib/inventory/provider_test.go
Due: golangci-lint, mage-license-headers, go-test

Publish cloudformation from 8.x branch
  .github/workflows/publish-cloudformation.yml
Due: none

Publish cloudformation from 8.x branch (#3174)
  .github/workflows/publish-cloudformation.yml
Due: none

Add support for running ECH and Serverless test workflows on 8.x versions (#3095)
  .github/workflows/test-e2e-flow.yml
  .github/workflows/test-ech-agentless.yml
  .github/workflows/test-runner.yml
  .github/workflows/weekly-serverless.yml
  dev-docs/Cloud-Env-Testing.md
Due: none

update deployment name
  .github/workflows/test-e2e-flow.yml
Due: none

cspm cloud connectors: add cloudformation for the customer remote role (#3129)
  deploy/cloudformation/cloud-connectors-remote-role-organization.yml
  deploy/cloudformation/cloud-connectors-remote-role.yml
  scripts/publish_cft.sh
Due: rain

Update deployment name (#3177)
  .github/workflows/test-e2e-flow.yml
Due: none

fetchers fix
  internal/resources/fetching/fetchers/gcp/assets_fetcher.go
  internal/resources/fetching/fetchers/gcp/networks_fetcher.go
  internal/resources/providers/gcplib/inventory/provider.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
