Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

bump github.com/Azure/azure-sdk-for-go/sdk/azidentity from 1.5.2 to 1.6.0
  go.mod
  go.sum
Due: go-mod-tidy

run go mod tidy
  go.sum
Due: go-mod-tidy

[8.14](backport #2270) Bump github.com/Azure/azure-sdk-for-go/sdk/azidentity from 1.5.2 to 1.6.0 (#2330)
  go.mod
  go.sum
Due: go-mod-tidy

Set buildkite linux image (#2207)
  .buildkite/pipeline.yml
  .buildkite/scripts/package.sh
Due: none

set klog (kubernetes/client-go's logger) level to error
  go.mod
  go.sum
  internal/dataprovider/providers/k8s/client_provider.go
  internal/processor/add_cluster_id/add_cluster_id.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

Fix breaking change https://github.com/mikefarah/yq/issues/1964
  deploy/cloudformation/gomain.go
Due: golangci-lint, mage-license-headers, go-test

add warning if unable to create logger
  internal/dataprovider/providers/k8s/client_provider.go
Due: golangci-lint, mage-license-headers, go-test

fix lint issues
  tests/integrations_setup/README.md
  tests/integrations_setup/install_cspm_azure_integration.py
Due: none

fix issues
  tests/integrations_setup/install_cspm_azure_integration.py
Due: none

azure add creds type
  tests/integrations_setup/install_cspm_azure_integration.py
Due: none

chore: Update to elastic/beats@f3f772f6fe47
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update to elastic/beats@4157c36d6c7c
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update hermit and pre-commit packages
  .pre-commit-config.yaml
  bin/.gcloud-484.0.0.pkg
  bin/.gh-2.53.0.pkg
  bin/.just-1.32.0.pkg
  bin/.regal-0.24.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/regal
Due: none

[updatecli] Update hermit and pre-commit dependencies (#2345)
  .pre-commit-config.yaml
  bin/.gcloud-484.0.0.pkg
  bin/.gh-2.53.0.pkg
  bin/.just-1.32.0.pkg
  bin/.regal-0.24.0.pkg
  bin/bq
  bin/docker-credential-gcloud
  bin/gcloud
  bin/gh
  bin/git-credential-gcloud.sh
  bin/gsutil
  bin/just
  bin/regal
Due: none

update installation script
  tests/integrations_setup/install_cspm_azure_integration.py
Due: none

move all AssetClassification definitions to asset.go
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_ec2_instance.go
  internal/inventory/awsfetcher/fetcher_ec2_instance_test.go
  internal/inventory/awsfetcher/fetcher_elb.go
  internal/inventory/awsfetcher/fetcher_elb_test.go
  internal/inventory/awsfetcher/fetcher_iam_policy.go
  internal/inventory/awsfetcher/fetcher_iam_policy_test.go
  internal/inventory/awsfetcher/fetcher_iam_role.go
  internal/inventory/awsfetcher/fetcher_iam_role_test.go
  internal/inventory/awsfetcher/fetcher_lambda.go
  internal/inventory/awsfetcher/fetcher_lambda_test.go
  internal/inventory/awsfetcher/fetcher_networking.go
  internal/inventory/awsfetcher/fetcher_rds.go
  internal/inventory/awsfetcher/fetcher_rds_test.go
  internal/inventory/awsfetcher/fetcher_s3_bucket_test.go
  internal/inventory/awsfetcher/fetcher_sns.go
  internal/inventory/awsfetcher/fetcher_sns_test.go
Due: golangci-lint, mage-license-headers, go-test

Fix Azure package installation script (#2338)
  tests/integrations_setup/README.md
  tests/integrations_setup/install_cspm_azure_integration.py
Due: none

Fix Azure ARM Template: missing resources
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

lint fix
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

revert and skip linter
  .github/workflows/arm-template-lint.yml
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

fix dev
  deploy/azure/ARM-for-single-account.dev.json
Due: generate-arm-dev-templates

update upgrade workflow
  .github/workflows/upgrade-environment.yml
  deploy/cloud/modules/ec/variables.tf
Due: none

Fix Azure ARM Template: missing resources (#2347)
  .github/workflows/arm-template-lint.yml
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

Downgrade docker and elastic-agent-autodiscover
  go.mod
  go.sum
Due: go-mod-tidy

make EC2 instance SubType compliant with docs
  internal/inventory/asset.go
  internal/inventory/inventory_test.go
Due: golangci-lint, mage-license-headers, go-test

add cloud_assets.xlsx and script
  internal/inventory/cloud_assets.xlsx
  scripts/update_assets_md/go.mod
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

add generator to pre-commit config
  .pre-commit-config.yaml
  go.mod
  go.sum
  scripts/update_assets_md/main.go
  tools/tools.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

add generated ASSETS.md
  internal/inventory/ASSETS.md
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

update workflow
  .github/workflows/test-environment.yml
Due: none

update documentation
  dev-docs/Cloud-Env-Upgrade.md
Due: none

move dependencies to scripts/update_assets_md
  .pre-commit-config.yaml
  go.mod
  go.sum
  scripts/update_assets_md/go.sum
  scripts/update_assets_md/main.go
  tools/tools.go
Due: golangci-lint, mage-license-headers, go-test, go-mod-tidy

break it down by categories
  internal/inventory/ASSETS.md
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

update AWS IAM mapping
  internal/inventory/asset.go
  internal/inventory/awsfetcher/fetcher_iam_user.go
  internal/inventory/awsfetcher/fetcher_iam_user_test.go
  scripts/update_assets_md/main.go
Due: golangci-lint, mage-license-headers, go-test

re-classify AWS IAM resources
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

add NAT Gateway
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
  internal/inventory/cloud_assets.xlsx
Due: golangci-lint, mage-license-headers, go-test

re-classify ACL
  internal/inventory/ASSETS.md
  internal/inventory/asset.go
Due: golangci-lint, mage-license-headers, go-test

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
