Repository elastic/cloudbeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, rain, mage-config, mage-license-headers, go-test, go-mod-tidy, generate-arm-dev-templates, opa-fmt, opa-check, opa-test, update-rules-status, update-rule-metadata

golangci-lint:
  name: Run golangci-lint
  entry: bash -c 'golangci-lint run'
  language: system
  pass_filenames: false

rain:
  name: format with rain
  language: system
  entry: rain
  args:
  - fmt
  - -w

mage-config:
  name: mage config
  entry: bash -c 'mage config'
  language: system
  pass_filenames: false

mage-license-headers:
  name: mage AddLicenseHeaders
  entry: bash -c 'mage AddLicenseHeaders'
  language: system
  pass_filenames: false

go-test:
  name: Run short unit tests
  entry: bash -c 'go test -short -timeout 100ms ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: bash -c 'go mod tidy'
  language: system
  pass_filenames: false

generate-arm-dev-templates:
  name: Generate ARM dev templates
  entry: bash -c 'deploy/azure/generate_dev_template.py --template-type single-account && deploy/azure/generate_dev_template.py --template-type organization-account'
  language: python
  pass_filenames: false

opa-fmt:
  name: OPA fmt
  description: Formats Rego policy using opa fmt
  entry: opa fmt
  args:
  - -w
  language: system

opa-check:
  name: OPA check
  description: Check syntax of staged Rego files
  entry: opa check
  args:
  - -S
  - ./security-policies/bundle/compliance
  pass_filenames: false
  language: system

opa-test:
  name: OPA test
  description: Runs OPA unit tests on rego source files
  entry: opa test
  args:
  - -b
  - ./security-policies/bundle
  pass_filenames: false
  language: system

update-rules-status:
  name: Update rule status
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/update_rule_status.py
  pass_filenames: false
  language: system

update-rule-metadata:
  name: Update rule metadata
  description: Update rule status in rules_table.md
  require_serial: true
  entry: poetry run -C security-policies python security-policies/dev/generate_rule_metadata.py
  pass_filenames: false
  language: system

update script
  .buildkite/scripts/notify.sh
Due: none

[Release] update version
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

update documentation
  tests/integrations_setup/README.md
Due: none

rename functions to target "base branch"
  scripts/bump_cloudbeat.sh
Due: none

bump CLOUDBEAT_VERSION in bin/hermit.hcl to 8.0.0
  bin/hermit.hcl
Due: none

add a script to sync versions
  scripts/sync_internal_cloudbeat_version.sh
Due: none

Add WIZ integration to the CDR flow (#2758)
  .github/actions/cdr/action.yml
  .github/workflows/test-environment.yml
  deploy/test-environments/cdr/main.tf
  deploy/test-environments/cdr/output.tf
  deploy/test-environments/cdr/variables.tf
  deploy/test-environments/upload_state.sh
  tests/integrations_setup/README.md
  tests/integrations_setup/configuration_fleet.py
  tests/integrations_setup/data/wiz-pkg.json
  tests/integrations_setup/install_wiz_integration.py
Due: none

[updatecli] 8.17 - Update to elastic/beats@9ec41eaf68ed (#2759)
  go.mod
  go.sum
Due: go-mod-tidy

resolve merge conflicts
  tests/integrations_setup/README.md
Due: none

update sync_script
  scripts/sync_internal_cloudbeat_version.sh
Due: none

add new workflow
  .github/workflows/sync-internal-cloudbeat-version.yml
Due: none

[updatecli] main - Update to elastic/beats@6d1c81ecae3e (#2760)
  go.mod
  go.sum
Due: go-mod-tidy

[Cloud Security] [Agentless] Add the creation of an agentless agent via Agentless API in the GHA Create Environment (new) (#2493)
  .github/workflows/test-environment.yml
  tests/integrations_setup/install_agentless_integrations.py
  tests/integrations_setup/package_policy.py
Due: none

fix ess deployments always serverless
  .github/workflows/test-environment.yml
Due: none

Fix ESS deployments created with Serverless (#2771)
  .github/workflows/test-environment.yml
Due: none

[updatecli] 8.x - Update to elastic/beats@f5df794c531a (#2761)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] main - Update golang mod dependencies (#2765)
  go.mod
  go.sum
Due: go-mod-tidy

[updatecli] 8.x - Update golang mod dependencies (#2764)
  go.mod
  go.sum
Due: go-mod-tidy

add minor fixes and validate base branch
  .github/workflows/bump-version.yml
  scripts/bump_cloudbeat.sh
Due: none

fix function name
  scripts/sync_internal_cloudbeat_version.sh
Due: none

test: increase verbosity of setup step
  .github/workflows/bump-version.yml
Due: none

test: use a different incrementation technique
  .github/workflows/bump-version.yml
Due: none

test: allow debug branch
  scripts/bump_cloudbeat.sh
Due: none

Update version.go
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Update .mergify.yml
  .mergify.yml
Due: none

Update ARM templates
  deploy/azure/ARM-for-organization-account.dev.json
  deploy/azure/ARM-for-organization-account.json
  deploy/azure/ARM-for-single-account.dev.json
  deploy/azure/ARM-for-single-account.json
Due: generate-arm-dev-templates

test: change version to 8x
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump cloudbeat to 8.99.999
  bin/hermit.hcl
Due: none

test: change minor to something that exists
  version/version.go
Due: golangci-lint, mage-license-headers, go-test

Bump cloudbeat to 8.15.999
  bin/hermit.hcl
Due: none

fix fleet api
  tests/fleet_api/agent_policy_api.py
  tests/fleet_api/base_call_api.py
  tests/fleet_api/common_api.py
  tests/fleet_api/package_policy_api.py
Due: none

Path conditions:
  golangci-lint: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  rain: any of: deploy/cloudformation/.*yml, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-config: any of: (^_meta\/.*|^cloudbeat.*yml)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  mage-license-headers: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-test: any of: .*.go, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  go-mod-tidy: any of: (go.mod|go.sum), but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  generate-arm-dev-templates: any of: deploy/azure/.*, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-fmt: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-check: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  opa-test: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rules-status: any of: (.*\.rego|tests\/product\/.*\.py)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
  update-rule-metadata: any of: (\.rego)$, but not: (bin/(activate-)?hermit)|(scripts/make/gimme/.*)
